<div class="comment-form-container">
    <form id="frm-comment" method="post">
        <div class="input-row _resp"><h3>Responder comentario</h3></div>
        <div class="input-row">
            <input type="hidden" name="id_nota" id="id_nota" value="<?=$this->id_nota?>" /> 
            <input type="hidden" name="seccion" id="seccion" value="<?=$this->seccion?>" /> 
            <input type="hidden" name="comment_id" id="commentId" value="0" /> 
            <input class="input-field" type="text" name="name" id="name" placeholder="Nombre" />
        </div>
        <div class="input-row">
            <textarea class="input-field" type="text" name="comment" id="comment" placeholder="Agregar comentario"></textarea>
        </div>
        <div>
            <input type="button" class="btn-submit" id="submitButton" value="Publicar" />
            <div id="comment-message">Comentario ha sido agregado exitosamente!</div>
        </div>
        <div style="clear:both"></div>
    </form>
</div>
<div id="output"></div>

<script>

$(document).ready(function() {

    $("#comment-message").css('display', 'none');
    $("._resp").hide();
    listComment();
});

    function postReply(commentId) {
        $("._resp").show();
        $('#commentId').val(commentId);
        $("#name").focus();
    }

    $("#submitButton").click(function() {
        
        $("#comment-message").css('display', 'none');
        var str = $("#frm-comment").serialize();

        $.ajax({
            url : _root_+"coment/coment_add",
            data : str,
            type : 'post',
            success : function(response) {
                    var result = eval('(' + response + ')');
                    if (response) {
                        $("._resp").hide();
                        $("#comment-message").css('display', 'inline-block');
                        $("#name").val("");
                        $("#comment").val("");
                        $("#commentId").val(0);
                        listComment();
                    } else {
                        alert("Failed to add comments !");
                        return false;
                    }
            }
        });
    });



    function listComment() {
            
        $.post(
            _root_+"coment/coment_list",
            function(data) {
                var data = JSON.parse(data);

                var comments = "";
                var replies = "";
                var item = "";
                var parent = -1;
                var results = new Array();

                var list = $("<ul class='outer-comment'>");
                var item = $("<li>").html(comments);

                for (var i = 0; (i < data.length); i++) {
                    var commentId = data[i]['id'];
                    parent = data[i]['id_comentario_padre'];

                    if (parent == "0") {
                        comments = "<div class='comment-row'>"
                                        + "<div class='comment-info'><span class='commet-row-label'>de</span> <span class='posted-by'>"
                                        + data[i]['usuario']
                                        + " </span> <span class='commet-row-label'>a las</span> <span class='posted-at'>"
                                        + data[i]['fecha'] + "</span></div>"
                                        + "<div class='comment-text'>" + data[i]['comentario'] + "</div>"
                                        + "<div><a class='btn-reply' onClick='postReply(" + commentId + ")'>Responder</a></div>"
                                        + "</div>";

                        var item = $("<li>").html(comments);
                        list.append(item);
                        var reply_list = $('<ul>');
                        item.append(reply_list);
                        listReplies(commentId, data, reply_list);
                    }
            }
            $("#output").html(list);
        });
    }

    function listReplies(commentId, data, list) {
        
        for (var i = 0; (i < data.length); i++) {
            if (commentId == data[i].id_comentario_padre) {
                    var comments = "<div class='comment-row'>"
                                    + " <div class='comment-info'><span class='commet-row-label'>de</span> <span class='posted-by'>"
                                    + data[i]['usuario']
                                    + " </span> <span class='commet-row-label'>a las</span> <span class='posted-at'>"
                                    + data[i]['fecha'] + "</span></div>"
                                    + "<div class='comment-text'>" + data[i]['comentario'] + "</div>"                                    
                                    + "</div>";
                    var item = $("<li>").html(comments);
                    var reply_list = $('<ul>');
                    list.append(item);
                    item.append(reply_list);
                    listReplies(data[i].id, data, reply_list);
            }
        }
    }


</script>