<form name="comentario" id="comentarios_ajax" method="post">
    <input id="autor_id" value="" type="hidden">
    <input id="post_id" value="" type="hidden">
    <textarea id="comentario">Mi primer comentarios con ajax</textarea>
    <input value="Comentar" type="submit">
</form>
<div id="listaComentarios"></div>



<script>
$(document).ready(function() {
    /*Obtenemos el evento Submit, este ejecuta cuando el usuario hace click al boton comentar
    #comentario_ajax es el id del formulario de donde tratamos de enviar el comentario, si tu formulario tiene otro id tenes que cambiar este acontinucion*/
    $("#comentarios_ajax").submit(function() {
        var autor_id = $("#autor_id").val();
        var post_id = $("#post_id").val();
        var comentario = $("#comentario").val();
        var cadena = 'autor_id='+autor_id+'&post_id='+post_id+'&comentario='+encodeURIComponent(comentario);
        $.ajax({ 
            type: "POST", 
            url: _root_+"coment/comentar", 
            data: cadena,
            cache: false, 
            success: function(datos){ 
                if (datos) { 
                     $("#listaComentarios").append(datos); 
                }
            }
        });
        return false;
    });
});
</script>