.contenido .col-lg-8, .contenido .col-lg-4{
    padding: 0;
  }
  .bloq_dest{
    height: 260px;
    border:1px dashed #999;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    background: #c8f1f1;
  }
  .aa{
    height: 600px;
    /*height: auto;*/
    overflow-y:auto;
    text-align: center;
    list-style: none;
}
.ab{
    height: 325px;
    overflow: hidden;
    text-align: center;
    list-style: none;
}
.tt{
    margin-bottom: 5px;
    cursor: move;
     z-index:9;
}
.destello{
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
    padding: 2px;
}
.gg{
    overflow-x:auto;
}
.yyy{
    height: 185px;
    overflow-y:auto;
	text-align: center;
	list-style: outside none none;
    z-index: 99999;
}
.xxx, .xxxgal, .xxxvid{
	background-color:#c8f1f1;
    border: 1px dashed #999;
    height: 250px;
    list-style: outside none none;
    overflow: hidden;    
    /*padding: 30px;*/
    text-align: center;

}

.xxxvid{
    height: 220px;
}

.xxxgal{
	overflow-y: auto;
}

.xxx img{
	width:70%;
    display: block;
    margin: auto;
}

.xxxvid div.jwplayer, .xxxvid video, .xxxvid iframe{
	width:40% !important;
}
.ccc{
    cursor: move;
}
.aaau{                        
    height: 185px;
    overflow-y:auto;
    overflow-x:hidden;
	text-align: center;
	list-style: outside none none;
}


.cccaa{
    cursor: move;
    padding: 15px;
}
.xxxau{
    height: 85px;
    overflow: hidden;
    padding: 3px;
}
.aavv{
    height: 500px;
    overflow-y:auto;
    list-style: none;
	cursor: move;
}
.aavv li{
	position:relative;
	z-index:9;
}
.aavv iframe{
	position:relative;
	z-index:0;
}
.aavv h4{
	text-align:center;
}

.abvv{
    height: 500px;
    overflow: hidden;
    list-style: none;
}


.cccvv{
    cursor: move;
}