<script>
$(document).ready(function() {

	$('#filter').hide();
	
	$('.btAvatar').on('click', function(){
		$('#popUpAvatar').fadeIn(200);
	})

  	$('#popUpAvatar .close').on('click', function(){
		$('#popUpAvatar').fadeOut(200);
	})

  // $("#fecha_nacimiento").mask("99/99/9999",{placeholder:"mm/dd/yyyy"});
		
	$('#btEditar').click(function(){

		if($('#nombre').val()==''){
          // alert("Debe ingresar un email");
          $('.error').html("Debe ingresar un nombre").fadeIn('slow');
          $("#nombre").focus();
          return false;
        }

        if($('#email').val()==''){
          // alert("Debe ingresar un email");
          $('.error').html("Debe ingresar un email").fadeIn('slow');
          $("#email").focus();
          return false;
        }

        if($('#password').val()==''){
          // alert("Debe ingresar un password");
          $('.error').html("Debe ingresar una contraseña").fadeIn('slow');
          $("#password").focus();
          return false;
        }

        if($('#repetir_password').val()==''){
          // alert("Debe ingresar un password");
          $('.error').html("Debe ingresar repetir contraseña").fadeIn('slow');
          $("#repetir_password").focus();
          return false;
        }
        
        if($('#repetir_password').val() != $('#password').val()){
          // alert("Debe ingresar un password");
          $('.error').html("Contraseña y repetir contraseña no coinciden").fadeIn('slow');
          $("#password").val('');
          $("#repetir_password").val('');
          $("#password").focus();
          return false;
        }
		
		
		/*if ($("#numero_cliente").val() == "") {
	        alert("Debe completar el campo numero de cliente");
	        $("#numero_cliente").val('');
	        $('#numero_cliente').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	      }

            
       	if ($("#razon_social").val() == "") {
	        alert("Debe completar el campo razon social");
	        $("#razon_social").val('');
	        $('#razon_social').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	      }

	    if ($("#email").val() == "") {
	        alert("Debe completar el campo email");
	        $("#email").val('');
	        $('#email').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	      }

	    if ($("#password").val() == "") {
	        alert("Debe completar el campo password");
	        $("#password").val('');
	        $('#password').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	    }*/

     /* if($('._load_img_final_thumb').children().length == 0){
        alert("Debe seleccionar una imagen");
        return false; 
      }*/

      	var datastring = $('#editar_trabajo').serialize();
	    //alert(url)
	    $.ajax({
	        type: 'POST',
	        url: _root_+"perfil/editar",
	        data: datastring,
	        beforeSend: function(){
	          //$('#juego').html('<option>Cargando...</option>');
	        },        
	        success: function(data){
	            if(data=='ok'){
	                $('.error').html('').fadeOut('fast');
	                $('.ok').html('Los cambios se guardaron exitosamente').fadeIn('slow');
	                setTimeout(function() {
	                      window.location.href = _root_ + "perfil";
	                  }, 1000);
	                
	            }else{
	                $('.error').html(data).fadeIn('slow');
	            }
	          
	        }
	    });
					
			
	return true;
		
	
	});
	
	
	
});

</script>

<section>
	<div id="perfil" class="wp">
		<h2>Mi Perfil</h2>
		<div class="col cs">
			<a class="btAvatar" href="javascript:void(0);">	
				<?php $_img = admin::traerDataImagenPorIdentificador($this->_sess->get('carga_user'),'user');?>
		        <?php if($_img !=''):?>
		        <div class="avatar" style="background-image: url(<?= $this->_conf['base_url'] . "public/img/subidas/user/". $_img->path ?>)">
		        <?php else:?>
		        <div class="avatar" style="background-image: url(<?php echo $_params['ruta_img']?>avatar.svg)">
		        <?php endif?>	
		        	
					<img src="<?php echo $_params['ruta_img']?>ico-foto.ico" alt="Cambiar Foto">
				
				</div>
			</a>
			<div class="name"><?=$this->user['nombre']?></div>
			<h3>Mis Puntos:</h3>
			<div class="ptos"><?=$this->total?> <strong>Ptos.</strong></div>
		</div>
		<?php //print_r($this->user) ?>
		<div class="col">
			<form id="editar_trabajo" action="" method="POST" role="form" >
                <input type="hidden" name="envio01" value="1" />
                <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
				<input class="farmacia" type="text" name="razon_social" id="razon_social" placeholder="<?php echo $this->user['nombre']?>" value="<?php echo $this->user['razon_social']?>" disabled="">
				<label for="nombre">Nombre</label><label for="email">Email</label>
				<input type="text" name="nombre" id="nombre" placeholder="Violeta" value="<?php echo $this->user['nombre']?>">
				<input type="email" name="email" id="email" placeholder="violeta.perez@gmail.com" value="<?php echo $this->user['email']?>">
				<label for="password">Cambiar Password</label><label for="repetir_password">Repetir Password</label>
				<input type="password" name="password" id="password" placeholder="Nuevo password" value="<?php echo $this->user['password']?>">
				<input type="password" name="repetir_password" id="repetir_password" placeholder="Repetir password" value="<?php echo $this->user['password']?>">
				<!-- <button>Actualizar</button> -->
				 <input type="button" id="btEditar" name="cargar" value="Actualizar" />
			</form>
			<div class="ok"></div>
			<div class="error"></div>
		</div>
	</div>
	<!-- CONTACTO -->
	<div id="contacto">
		<h2>Consultas</h2>
		<p>Comunicate con nosotras completando el formulario, atenderemos todas tus dudas.</p>
		<form id="formContacto" action="" method="POST">
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido de la Aliada" value="<?=$this->user['nombre']?>" required="" readonly>
            <input type="text" id="numero_cliente" name="numero_cliente" placeholder="Número de Cliente" value="<?=$this->user['numero_cliente']?>" required="" readonly>
            <input type="email" id="email" name="email" required="" placeholder="Email" value="<?=$this->user['email']?>" readonly>
            <input type="text" id="nombre_farmacia" name="nombre_farmacia" placeholder="<?php echo $this->user['nombre']?>" value="<?=$this->user['razon_social']?>" required="" readonly>
            <textarea id="consulta" name="consulta" requided="" placeholder="Consulta"></textarea>
            <input type="button" name="bt_contacto" id="bt_contacto" value="ENVIAR">
           <!--  <button>ENVIAR</button> -->
        </form>
        <div class="ok"></div>
        <div class="error"></div>
		<hr>
		<div class="info">
			<div class="wp">
				<div class="post data">
					<h3>Contacto</h3>
			        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:aliadas@delsud.com.ar">aliadas@delsud.com.ar</a></p>

			        <p><i class="fa fa-phone" aria-hidden="true"></i> Conmutador General<br>
			        (011) 4309-9100 int. 705</p>

			        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Humberto Primo 1868, Capital Federal.
			        Buenos Aires, Argentina </p>
				</div>
                <div class="post">
                    <h3>Instagram Post</h3>
                    <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/3fb6c459990856d5af0a8b0f58affc57.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

                </div> 
			</div>
		</div>
	</div>
	
</section>

<div id="popUpAvatar" style="display: none;">
	<div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
	<script>
		Dropzone.options.myAwesomeDropzone = {
			autoProcessQueue: false,
			paramName: 'file',
			parallelUploads: 1,
			maxFiles: 1,
			maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
			dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
			acceptedFiles: 'image/*',
	   
			init: function() {

				var myDropzone = this;
				var maxImageWidth = <?=$this->_conf['formatos_img']['user']['ancho']?>, 
						maxImageHeight = <?=$this->_conf['formatos_img']['user']['alto']?>,
						maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;

				myDropzone.on("addedfile", function(file) {
					file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
				});

				this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
					e.preventDefault();
					e.stopPropagation();                                
					
					
					
					//alert("llego");
					myDropzone.processQueue();
					//$("#_car_imgg .recortar_img").fadeOut('slow');
				});

				this.on("thumbnail", function(file) {
					
				})
				
				
				this.on("queuecomplete", function(file) {
					this.removeAllFiles(file);
				});
				this.on("maxfilesexceeded", function(file){
					this.removeFile(file);
				});
				this.on("error", function(file) {
					//alert(file);
					if (file.width < maxImageWidth || file.height < maxImageHeight) {
						//file.rejectDimensions();
						this.removeFile(file);
						alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
						return false;
					}
					if(file.size > 1024*1024*2){
						//2MB
						this.removeFile(file);
						alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
						return false;
					}
				});
				this.on("success", function(file) {
					this.removeAllFiles(file);
					img_final();
				});
			}
		};
   

        function img_final(){
            var url= _root_ + "perfil/traerImagenfinal/user";
            $.ajax({
                url:url,
                contentType:"application/x-www-form-urlencoded",
                dataType:"html",
                error:function(){
                    alert("La conexion se ha perdido.");
                },
    
                ifModified:false,
                processData:true,
                success:function(datas){
                    // $("._load_img_final_thumb").html(datas).fadeIn("slow");
                   $(".avatar").css("background-image", "url("+datas+")");  
                   $('#popUpAvatar').fadeOut('slow');
                },
                type:"POST",
                timeout:3000
            });
        }
	
    </script>
	<form class="dropzone" id="my-awesome-dropzone" action="<?=$this->_conf['base_url']?>perfil/cargImg/user/<?=$this->_sess->get('carga_user')?>">
        <input type="hidden" name="envio_img_princip" value="1">
        <div class="dropzone-previews"></div>
        <button type="submit" >Cargar</button>
    </form>
    <p class="text-danger"> 
        <small>Tamaño: <strong><?=$this->_conf['formatos_img']['user']['ancho']?> x <?=$this->_conf['formatos_img']['user']['alto']?> px</strong></small>
        <br>
        <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>   
    </p>
</div>






<!-- 

  
<div class="row wrapper wrapper-content">  
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Editar perfil</h5>
                        </div>
                        <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" >
                        <input type="hidden" name="envio01" value="1" />
                        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">


                        
                        
                        
                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Numero Cliente</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="numero_cliente" name="numero_cliente" placeholder="Numero cliente" value="<?php echo $this->user['numero_cliente']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Razon Social</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="razon_social" name="razon_social" placeholder="Razon social" value="<?php echo $this->user['razon_social']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Ciudad</label>
                                <div class="col-lg-9">
                                   <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad" value="<?php echo $this->user['ciudad']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Provincia</label>
                                <div class="col-lg-9">
                                 <input type="text" class="form-control" id="provincia" name="provincia" placeholder="Provincia" value="<?php echo $this->user['provincia']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Nombre</label>
                                <div class="col-lg-9">
                                 <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" value="<?php echo $this->user['nombre']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Fecha Nacimiento</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="Fecha Nacimiento" value="<?php echo $this->user['fecha_nacimiento']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="<?php echo $this->user['email']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Contraseña</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="password" name="password" placeholder="Contraseña" value="<?php echo $this->user['password']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">
	                        <div class="form-group">
	                          <label for="video" class="col-lg-2 control-label">Avatar</label>
	                          <div class="col-lg-2">
	                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img">
	                                 Cargar Imagen
	                              </button>
	                          </div>
	                          <div class="col-lg-6">
	                            <div class="list-group aa conexionThumb _load_img_final_thumb" id="bloque_imgs_usuario">
	                              <?php $_img = admin::traerDataImagenPorIdentificador($this->_sess->get('carga_user'),'user');?>
	                              <?php if($_img !=''):?>
	                              <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/user/". $_img->path ?>"  class="img-thumbnail">
	                              <?php endif?>
	                            </div>
	                          </div>                                      
	                        </div>
	                      </div> 
                       

                        <div class="ibox-content">
                          <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-6">
                                      <input type="button" class="btn btn-success" id="btEditar" name="cargar" value="Guardar" />
                                      <br>
                                      <div class="ok"></div>
                                      <div class="error"></div>
                                    </div>                                                                       
                                </div>
                                
                             
                            </div>                            
                        </div>

                        


                       </form> 
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>




<div class="modal inmodal fade" id="_car_img" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imagen</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone3 = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 1,
						maxFiles: 1,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var maxImageWidth = <?=$this->_conf['formatos_img']['user']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['user']['alto']?>,
   								maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								
								
								
								//alert("llego");
								myDropzone.processQueue();
								//$("#_car_imgg .recortar_img").fadeOut('slow');
							});
			
							this.on("thumbnail", function(file) {
								
							})
							
							
							this.on("queuecomplete", function(file) {
								this.removeAllFiles(file);
							});
							this.on("maxfilesexceeded", function(file){
								this.removeFile(file);
							});
							this.on("error", function(file) {
								//alert(file);
								if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
							});
							this.on("success", function(file) {
								this.removeAllFiles(file);
								img_final();
							});
						}
					};
               

	                function img_final(){
	                    var url= _root_ + "perfil/traerImagenfinal/user";
	                    $.ajax({
	                        url:url,
	                        contentType:"application/x-www-form-urlencoded",
	                        dataType:"html",
	                        error:function(){
	                            $("._load_img_final_thumb").html("La conexion se ha perdido.");
	                        },
	            
	                        ifModified:false,
	                        processData:true,
	                        success:function(datas){
	                            $("._load_img_final_thumb").html(datas).fadeIn("slow");
	                           // $("#_car_imgg .ambito_recorte").html('');
	                            //$(".finalizar_proceso").show();
	                            $('#_car_img').modal('hide');
	                        },
	                        type:"POST",
	                        timeout:3000
	                    });
	                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone3" action="<?=$this->_conf['base_url']?>perfil/cargImg/user/<?=$this->_sess->get('carga_user')?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                      
                                                        
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                                <small>Tamaño: <strong><?=$this->_conf['formatos_img']['user']['ancho']?> x <?=$this->_conf['formatos_img']['user']['alto']?> px</strong></small>
                                <br>
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>   
                            </p>
                        </div>
                    </div>
                    
                 
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>
 -->