<script>
$(document).ready(function() {
	
  

  $("#fecha_nacimiento").mask("99/99/9999",{placeholder:"mm/dd/yyyy"});
		
	$('#btEditar').click(function(){
		
		
		if ($("#numero_cliente").val() == "") {
	        alert("Debe completar el campo numero de cliente");
	        $("#numero_cliente").val('');
	        $('#numero_cliente').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	      }

            
       	if ($("#razon_social").val() == "") {
	        alert("Debe completar el campo razon social");
	        $("#razon_social").val('');
	        $('#razon_social').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	      }

	    if ($("#email").val() == "") {
	        alert("Debe completar el campo email");
	        $("#email").val('');
	        $('#email').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	      }

	    if ($("#password").val() == "") {
	        alert("Debe completar el campo password");
	        $("#password").val('');
	        $('#password').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	    }

     /* if($('._load_img_final_thumb').children().length == 0){
        alert("Debe seleccionar una imagen");
        return false; 
      }*/

      	var datastring = $('#editar_trabajo').serialize();
	    //alert(url)
	    $.ajax({
	        type: 'POST',
	        url: _root_+"perfil/editar",
	        data: datastring,
	        beforeSend: function(){
	          //$('#juego').html('<option>Cargando...</option>');
	        },        
	        success: function(data){
	            if(data=='ok'){
	                $('.error').html('').fadeOut('fast');
	                $('.ok').html('Los cambios se guardaron exitosamente').fadeIn('slow');
	                setTimeout(function() {
	                      window.location.href = _root_ + "perfil";
	                  }, 1000);
	                
	            }else{
	                $('.error').html(data).fadeIn('slow');
	            }
	          
	        }
	    });
					
			
	return true;
		
	
	});
	
	
	
});

</script>

 <div class="wrapper wrapper-content">  
    <div class="ibox-title">  
        <h2>Puntos totales: <?=$this->total?></h2>              
    </div>
    <!-- <div class="ibox-content forum-container">
        <div class="row">
            <div class="col-lg-2">
                <form role="form" method="post" action="<?= $this->_conf['url_enlace']. 'administrador/mapas/supermercados'?>" name="_img_noticias">
                    <input type="hidden" name="_buscador_super" value="1">
                    <div class="btn-group">
                        <div class="input-group m-b">
                            <input type="text" class="form-control m-b" name="_busqueda">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                     <i class="fa fa-search"></i>
                                </button> 
                            </span> 
                            
                        </div>
                    </div>
                </form>
          </div>
      </div> 
    </div>-->


    <div class="ibox-content forum-container">
    	
    	<h4>Puntos ganados</h4>
        <?php if($this->puntos):?>
        <?php foreach($this->puntos as $datos):?>

        <div class="forum-item">
            <div class="row">
                <div class="col-md-10">                    
                  
                	<?php $_juego = home::traerPorTablaJuego($datos['id_juego'],$datos['tabla_juegos']);?>
                    <h4><strong><?=home::convertirCaracteres($_juego['titulo'])?></strong></h4>
                    <?php $_tipo = home::traerTipoJuego($datos['id_tipo_juego']);?>
                    <small>Tipo juego: <?=$_tipo['nombre']?></small>  
                    <br>
                    <small>Puntos: <?=$datos['puntos']?></small>    
                    <br>
                    <small>Fecha de juego: <?=date("d-m-Y", strtotime($datos['fecha']));?></small>             
                    
                </div>               
            </div>
        </div>
        <?php endforeach?> 
        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>

        <h4>Puntos canjeados</h4>
		<?php if($this->puntos_canjeados):?>
        <?php foreach($this->puntos_canjeados as $datos):?>

        <div class="forum-item">
            <div class="row">
                <div class="col-md-10">                    
                  
                	<?php $_prod = home::traerClubaliadaStatic($datos['id_clubaliadas']);?>
                    <h4><strong><?=home::convertirCaracteres($_prod['titulo'])?></strong></h4>                    
                    <small>Puntos: <?=$datos['puntos']?></small>    
                    <br>
                    <small>Fecha de canje: <?=date("d-m-Y", strtotime($datos['fecha']));?></small>             
                    
                </div>               
            </div>
        </div>
        <?php endforeach?> 
        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>


    </div>
  
</div>