/*Bitacora*/
.wpContentBitacora{
    width: 100%;
    max-height: 460px;
    overflow-x: auto;
    margin-top: 50px;
}
.wpContentBitacora .row{
    display: flex;
    min-height: 60px;
    /*margin-bottom: 10px;*/
    background: #f8f6f7;
    color:#6c6a6b;
    padding: 10px 20px;
    border-radius: 24px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
   /* margin-right: 25px*/
   margin:0 0 10px 0;
   /*width: 70%;*/
}
.wpContentBitacora .row .cell strong{display: block;}
.wpContentBitacora .row .cell {margin:0 5px;}
.verBit, .verBit:visited, .verBit:active{display: inline-block;width: 160px;margin-top: 40px;line-height: 35px;text-align: center;background-color: #ec2a32;color:#FFF;border-radius: 20px;font-weight: 800;text-decoration: none;float:right; transition: all ease-out .3s;}
.volverBit, .volverBit:visited, .volverBit:active{display: inline-block;width: 160px;margin-top: 40px;line-height: 35px;text-align: center;background-color: #ec2a32;color:#FFF;border-radius: 20px;font-weight: 800;text-decoration: none;}
.verBit:hover, .volverBit:hover{background-color: #aa0d13;color:#FFF; text-decoration: none;}
/*--*/

.aa{
    height: 325px;
    overflow-y:auto;
    text-align: center;
    list-style: none;
}
.ab{
    height: 325px;
    overflow: hidden;
    text-align: center;
    list-style: none;
}
.tt{
    margin-bottom: 5px;
    cursor: move;
}
._alpha{
	background-color:#ccc;
	border:1px solid #999;
}
.destello{
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
    padding: 2px;
}
.gg{
    overflow-x:auto;
}
.yyy{
    height: 185px;
    overflow-y:auto;
	text-align: center;
	list-style: outside none none;
    z-index: 99999;
}
.xxx, .xxxgal, .xxxvid{
	background-color:#c8f1f1;
    border: 1px dashed #999;
    height: 185px;
    list-style: outside none none;
    overflow: hidden;    
    padding: 3px;
    text-align: center;
}
.xxxvid{
    height: 220px;
}
.xxxgal{
	overflow-y: auto;
	min-height: 350px;
}
/*.xxx img{
	width:40%;
}*/
.xxxvid div.jwplayer, .xxxvid video, .xxxvid iframe{
	width:40% !important;
}
.ccc{
    cursor: move;
}
.aaau{   
    background-color:#c8f1f1;
    border: 1px dashed #999;                     
    height: 300px;
    overflow-y:auto;
    overflow-x:hidden;
	text-align: center;
	list-style: outside none none;
    padding: 2%;
}
.cccaa{
    cursor: move;
    padding: 15px;
}
.xxxau{
    height: 85px;
    overflow: hidden;
    padding: 3px;
}
.aavv{
    height: 500px;
    overflow-y:auto;
    list-style: none;
	cursor: move;
}
.aavv li{
	position:relative;
	z-index:9;
}
.aavv iframe{
	position:relative;
	z-index:0;
}
.aavv h4{
	text-align:center;
}
.abvv{
    height: 500px;
    overflow: hidden;
    list-style: none;
}
.cccvv{
    cursor: move;
}
.contenido_totem{
}
.content{
    height:300px;
    overflow-y:auto;
    overflow-x:hidden;
}
.cont_asig{
    background-color: #eaeaea;
    padding: 20px;
    width: 45%;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #999;
    margin-right: 20px;
    text-align: left;
}
.cont_totem{
    background-color: #eaeaea;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #999;
    margin-right: 20px;
    text-align: left;
}
.cont_asig hr{
    border: 0;
    border-top: 1px solid #ccc;
}
.cont_contenido{
    background-color: #eaeaea;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid #999;
    margin-right: 20px;
    overflow-y:auto;
    cursor: move;
    position: relative;
    overflow: hidden;
}

.cont_contenido h3,
.aaau .cont_totem h3{position: relative;z-index: 1;color:#FFF;text-shadow: 0 0 10px rgba(0,0,0,.8)}
.cont_contenido .img,
.aaau .cont_totem .img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;left: 0
}
.aaau .cont_totem{
    position: relative;
    overflow: hidden;
}
/*.drag_totem{
    max-height:400px;
    height:auto;
    overflow-y:auto;
}*/

/*fast select*/

.fstElement{
    width: 100%;
    font-size: 12px !important;
}
.fstMultipleMode .fstControls{
    width: 100% !important;
}
.fstMultipleMode .fstQueryInput{
    font-size: 12px !important;
}
.fstChoiceItem,.fstResultItem{
    font-size: 12px !important;
}
