<script src="https://cdn.ckeditor.com/4.5.11/standard-all/ckeditor.js"></script>
<script>
$(document).ready(function() {

  $('#tags').tagsInput({
     placeholder: 'Agregar Tags',
     removeWithBackspace: true,
     <?php if($this->tags):?>
    'autocomplete': {
      source: [
        <?php foreach ($this->tags as $val):?>
         "<?=$val['nombre']?>", 
        <?php endforeach?>        
      ]
      <?php endif?>
    }
  });
  
    
  $('#cargar_trabajo').submit(function(){
    
    
      for (instance in CKEDITOR.instances) {
          CKEDITOR.instances[instance].updateElement();
      }


     /* $('input[type=checkbox]:checked').each(function() {
          console.log("Checkbox " + $(this).prop("id") +  " (" + $(this).val() + ") Seleccionado");
      });*/

      /*var $fields = $(this).find('input[type=checkbox]:checked');
      if (!$fields.length) {
            alert('Debe seleccionar al menos una categoria');
            return false; 
        }*/

            
      if ($("#titulo").val() == "") {
        alert("Debe completar el campo titulo");
        $("#titulo").val('');
        $('#titulo').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

      if ($("#puntos").val() == "") {
        alert("Debe completar el campo puntos aliadas");
        $("#puntos").val('');
        $('#puntos').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }
/*
     if ($("#monto").val() == "") {
        alert("Debe completar el campo monto");
        $("#monto").val('');
        $('#monto').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }*/

    /*  if($('._load_img_final_thumb').children().length == 0){
        alert("Debe seleccionar una imagen");
        return false; 
      }*/
      
      /*var _vig_desde = $("#vigencia_desde").val();
      _vig_desde = convertDateFormat(_vig_desde);
      var _vig_hasta = $("#vigencia_hasta").val();
      _vig_hasta = convertDateFormat(_vig_hasta);
      
      var _desde = new Date(_vig_desde);
      var _hasta = new Date(_vig_hasta);
      console.log(_desde);
      console.log(_hasta);
      if (_desde >= _hasta) {
        alert("La fecha de inicio debe ser menor que la de finalizacion");
        $("#vigencia_desde").val('');
        $('#vigencia_desde').focus();     
        return false; 
      } */      
      
      return true;
    
  
  });
  
  
  
});

</script>


<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Club Aliadas</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>


<div class="row wrapper wrapper-content">  
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Cargar Club Aliadas</h5>
                        </div>
                        <form class="form-horizontal" id="cargar_trabajo" action="" method="POST" role="form" enctype="multipart/form-data">
                        <input type="hidden" name="envio01" value="1" />        
                        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>"> 

                        
                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Titulo</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="<?php if(isset($this->data['titulo'])) echo $this->data['titulo']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Puntos aliadas</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="puntos" name="puntos" placeholder="Puntos aliadas" value="<?php if(isset($this->data['puntos'])) echo $this->data['puntos']?>">
                                </div>
                            </div>
                        </div>

                        <!-- <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Monto</label>
                                <div class="col-lg-9">
                                  <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">$</span>
                                    <input type="text" class="form-control" id="monto" name="monto" placeholder="Monto" value="<?php if(isset($this->data['monto'])) echo $this->data['monto']?>">
                                  </div>
                                </div>
                            </div>
                        </div> -->


                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Descripcion</label>
                                <div class="col-lg-9">
                                    <textarea class="form-control" id="descripcion" name="descripcion"><?php if(isset($this->data['descripcion'])) echo $this->data['descripcion']?></textarea>
                                      <script>
                                          CKEDITOR.replace('descripcion', {
                                              extraPlugins: 'colorbutton'
                                          });
                                      </script>
                                </div>
                            </div>
                        </div>
                        
                        
                      
                      <div class="ibox-content">
                        <div class="row">
                          <label for="video" class="col-lg-2 control-label">Imagen</label>
                          <div class="col-lg-2">
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img">
                                 Cargar Imagen
                              </button>
                          </div>
                          <div class="col-lg-6">
                            <div class="list-group aa conexionThumb _load_img_final_thumb" id="bloque_imgs_usuario">
                            <?php $_img = admin::traerDataImagenPorIdentificador($this->_sess->get('carga_actual'),'clubaliadas');?>
                            <?php //echo "<pre>";print_r($_img);echo "</pre>";?>
                            <?php if($_img !=''):?>                            
                            <img src="<?=$this->_conf['base_url']?>public/img/subidas/clubaliadas/<?=$_img->path?>"  class="img-thumbnail">
                            <?php endif?>
                            </div>
                          </div>                                      
                        </div>
                      </div> 

                      <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Tags</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags" value="<?php if(isset($this->data['tags'])) echo $this->data['tags']?>">
                                <small>agregar tag separados por ,</small>
                              </div>
                          </div>
                      </div>


                       

                        <div class="ibox-content">
                          <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-2">
                                      <input type="submit" class="btn btn-success" id="validatex" nname="cargar" value="Guardar" />                                        
                                    </div>                                                                       
                                </div>
                                
                            
                            </div>                            
                        </div>
                       </form> 
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>



<div class="modal inmodal fade" id="_car_img" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imagen</h4>
            </div>
            <div class="modal-body">
            <script>

              


              Dropzone.options.myAwesomeDropzone3 = {
                  autoProcessQueue: false,
                  paramName: 'file',
                  parallelUploads: 1,
                  maxFiles: 1,
                  maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
                  dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
                  acceptedFiles: 'image/*',
                 
                  init: function() {
            
                    var myDropzone = this;
                    var maxImageWidth = <?=$this->_conf['formatos_img']['clubaliadas']['ancho']?>, 
                        maxImageHeight = <?=$this->_conf['formatos_img']['clubaliadas']['alto']?>,
                        maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
            
                    myDropzone.on("addedfile", function(file) {
                      file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
                    });
            
                    this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                      e.preventDefault();
                      e.stopPropagation();                                
                      
                      
                      
                      //alert("llego");
                      myDropzone.processQueue();
                      //$("#_car_imgg .recortar_img").fadeOut('slow');
                    });
            
                    this.on("thumbnail", function(file) {
                      /*if(file.width > file.height){
                        //file.rejectDimensions();
                        this.removeFile(file);
                        alert("La orientación de la imagen debe ser vertical");
                        return false;
                      }*/
                      
                      if (file.width < maxImageWidth || file.height < maxImageHeight) {
                        // file.rejectDimensions();
                        this.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }
                      
                      /*if (file.width > maxImageWidth || file.height > maxImageHeight) {
                        //file.rejectDimensions();
                        this.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }*/
                    })
                    
                    /*this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final();});
                    this.on("maxfilesexceeded", function(file){this.removeFile(file);});
                    this.on("error", function(file) {alert(file)});*/
                    //this.on("complete", function(file) {this.removeAllFiles(file);});
                    this.on("queuecomplete", function(file) {
                      this.removeAllFiles(file);
                    });
                    this.on("maxfilesexceeded", function(file){
                      this.removeFile(file);
                    });
                    this.on("error", function(file) {
                      //alert(file);
                      if (file.width < maxImageWidth || file.height < maxImageHeight) {
                        //file.rejectDimensions();
                        this.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }
                      if(file.size > 1024*1024*2){
                        //2MB
                        this.removeFile(file);
                        alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
                        return false;
                      }
                    });
                    this.on("success", function(file) {
                      this.removeAllFiles(file);
                      // img_final();
                      $(".img_ajustes").fadeIn('slow');
                    });
                  }/*,
                  accept: function(file, done) {
                    file.acceptDimensions = done;
                    file.rejectDimensions = function() {
                      //$("#_car_imgg .recortar_img").fadeOut('slow');
                      done('La imagen tiene un formato ilegal');
                    };
                  },*/
              };
               
                      
              $(document).ready(function(){

                  $("a[rel='_recortar']").click(function(){
                      
                      $("#_load").show();
                      $(".ambito_recorte").load( _root_ + "administrador/imagenes/recortarimagennuevo/cargar/1/clubaliadas");

                      setTimeout(function() {
                          $('#contenedor').slideUp('fast');
                          $("#_load").hide();
                          $(".img_ajustes").slideUp("slow");
                          $(".img_recortar").show();
                      }, 3000);
                  });

                  $("a[rel='_recorte_auto']").click(function(){
                      
                      $("#_load").show();
                      var url=  _root_ + "administrador/imagenes/recortar_imagen_auto/cargar/clubaliadas";
                      
                      $.ajax({
                          type: "POST",
                          url: url,
                          //data: $("#formulario").serialize(),
                          success: function(data){
                              $('#contenedor').slideUp('fast');
                              $("#_load").hide();
                              $(".img_ajustes").slideUp("slow");
                              setTimeout(function() {img_final('1');}, 1000);
                          }
                      });
                      return false;
                  });
              });

              function img_final(_inst){
                  var url= _root_ + "administrador/imagenes/traerimagenfinal/" + _inst;
                  $.ajax({
                      url:url,
                      //data: "_ident=" + _id,
                      contentType:"application/x-www-form-urlencoded",
                      dataType:"html",
                      error:function(){
                          $("._load_img_final").html("ERROR: imposible cargar la imágen.");
                      },

                      ifModified:false,
                      processData:true,
                      success:function(datas){
                          $("._load_img_final").html(datas);
                          $("._load_img_final").fadeIn("slow");
                      },
                      type:"POST",
                      timeout:3000
                  });
              }
        
              function consolidar_imagen(_valor){
                if(_valor == 1){
                    var url= _root_ + "administrador/imagenes/consolidarimagen";
                }else{
                    var url= _root_ + "administrador/imagenes/cancelarimagen";
                }
                        
                $.ajax({
                    url:url,
                    contentType:"application/x-www-form-urlencoded",
                    dataType:"html",
                    error:function(){
                        $("._load_img_final").html("La conexion se ha perdido.");
                    },            
                    ifModified:false,
                    processData:true,
                    success:function(datas){
                      if(datas!='no'){
                        $("._load_img_final_thumb").html(datas);
                      }
                        $("._load_img_final").fadeOut("fast");
                        // $("#_car_img").modal("hide");
                        $("#_car_img .close").click();
                        $('#contenedor').slideDown('fast');
                    },
                    type:"POST",
                    timeout:3000
                });
              }
             
       
        
        
        
              </script>
              <div class="loader"></div>
              <div id="contenedor">
          
                  <form class="form-inline dropzone" id="my-awesome-dropzone3" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgNuevo/clubaliadas/<?=$this->_sess->get('carga_actual')?>">
                      <input type="hidden" name="envio_img_princip" value="1">
                    
                                                      
                      <div class="dropzone-previews"></div>
                      <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                  </form>
                  <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                  
                   <hr> 
                   
                  <div class="row">
                      <div class="col-lg-12">
                          <p class="text-danger"> 
                              <small>Tamaño: <strong><?=$this->_conf['formatos_img']['clubaliadas']['ancho']?> x <?=$this->_conf['formatos_img']['clubaliadas']['alto']?> px</strong></small>
                              <br>
                              <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>   
                          </p>
                      </div>
                  </div>
              </div>

              <div class="row img_ajustes" style="display:none;">
                  <hr>
                   <div class="col-lg-12">
                    
                      <a href="javascript:void(0);" rel="_recortar" class="btn btn-success"> 
                          Recorte manual
                      </a>
                      &nbsp;&nbsp;
                      
                      <a href="javascript:void(0);" class="btn btn-info" rel="_recorte_auto">
                         Recorte automático
                         <div id="_respp"></div>
                      </a>
                      &nbsp;&nbsp;
                      <span id="_load" style="display:none">
                        <img src="<?=$this->_conf['base_url']. 'public/img/ajax-loader.gif'?>">
                      </span>
                  </div>
              </div>
              
              <div class="row img_recortar" style="display:none;">
                  <div class="col-lg-12">
                      <div class="ibox float-e-margins">
                          <div class="ibox-content ambito_recorte"></div>
                      </div>
                  </div>
              </div>
              <div class="row _load_img_final" style="display:none;"></div>


          </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
      </div>
    </div>
</div>


<!-- <div class="modal inmodal fade" id="_car_img" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imagen</h4>
            </div>
            <div class="modal-body">
      <script>
          Dropzone.options.myAwesomeDropzone3 = {
            autoProcessQueue: false,
            paramName: 'file',
            parallelUploads: 1,
            maxFiles: 1,
            maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
            dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
            acceptedFiles: 'image/*',
           
            init: function() {
      
              var myDropzone = this;
              var maxImageWidth = <?=$this->_conf['formatos_img']['clubaliadas']['ancho']?>, 
                  maxImageHeight = <?=$this->_conf['formatos_img']['clubaliadas']['alto']?>,
                  maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
      
              myDropzone.on("addedfile", function(file) {
                file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
              });
      
              this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                e.preventDefault();
                e.stopPropagation();                                
                
                
                
                //alert("llego");
                myDropzone.processQueue();
                //$("#_car_imgg .recortar_img").fadeOut('slow');
              });
      
              this.on("thumbnail", function(file) {
                /*if(file.width > file.height){
                  //file.rejectDimensions();
                  this.removeFile(file);
                  alert("La orientación de la imagen debe ser vertical");
                  return false;
                }*/
                
                
                
                /*if (file.width > maxImageWidth || file.height > maxImageHeight) {
                  //file.rejectDimensions();
                  this.removeFile(file);
                  alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                  return false;
                }*/
              })
              
              /*this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final();});
              this.on("maxfilesexceeded", function(file){this.removeFile(file);});
              this.on("error", function(file) {alert(file)});*/
              //this.on("complete", function(file) {this.removeAllFiles(file);});
              this.on("queuecomplete", function(file) {
                this.removeAllFiles(file);
              });
              this.on("maxfilesexceeded", function(file){
                this.removeFile(file);
              });
              this.on("error", function(file) {
                //alert(file);
                if (file.width < maxImageWidth || file.height < maxImageHeight) {
                  //file.rejectDimensions();
                  this.removeFile(file);
                  alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                  return false;
                }

                if(file.size > 1024*1024*2){
                  //2MB
                  this.removeFile(file);
                  alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
                  return false;
                }
              });
              this.on("success", function(file) {
                this.removeAllFiles(file);
                img_final();
              });
            }/*,
            accept: function(file, done) {
              file.acceptDimensions = done;
              file.rejectDimensions = function() {
                //$("#_car_imgg .recortar_img").fadeOut('slow');
                done('La imagen tiene un formato ilegal');
              };
            },*/
          };
               
                      
              
        
                function img_final(){
                    var url= _root_ + "administrador/imagenes/traerImagenfinalLanzamientos/clubaliadas";
                    $.ajax({
                        url:url,
                        contentType:"application/x-www-form-urlencoded",
                        dataType:"html",
                        error:function(){
                            $("._load_img_final_thumb").html("La conexion se ha perdido. <a href='" + _root_ + "administrador/imagenes'>Reinicie el proceso.</a>");
                        },
            
                        ifModified:false,
                        processData:true,
                        success:function(datas){
                            $("._load_img_final_thumb").html(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
                            //$(".finalizar_proceso").show();
                            $('#_car_img').modal('hide');
                        },
                        type:"POST",
                        timeout:3000
                    });
                }
        
        
        
        
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone3" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImg/clubaliadas/<?=$this->_sess->get('carga_actual')?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                      
                                                        
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                              <small>Tamaño: <strong><?=$this->_conf['formatos_img']['clubaliadas']['ancho']?> x <?=$this->_conf['formatos_img']['clubaliadas']['alto']?> px</strong></small>
                                <br>
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>        
                            </p>
                        </div>
                    </div>
                    
                 
                    
                </div>
          </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
      </div>
    </div>
</div> -->


















