<div class="alert alert-danger">
                            <a class="close" data-dismiss="alert">x</a>
                            <h4>Opci&oacute;n Bot&oacute;n 'Seguir a ...' de twitter</h4>
                            <p>
                                Si el usuario posee Twitter y desea que en sus notas aparezca el bot&oacute;n 'Seguir', debe seguir los pasos detallados a continuaci&oacute;n. 
                            </p>
                                
                            <p>
                            	<ul class="list-group">
  									<li class="list-group-item">
                                    	1 - Haga click en el siguiente <a href="https://twitter.com/about/resources/buttons#follow" target="_blank">enlace</a>
                                    </li>
                                    <li class="list-group-item">
                                    	2 - En donde dice '<em>Elegir un bot&oacute;n</em>', seleccionar '<em>Seguir</em>'.
                                    </li>
                                    <li class="list-group-item">
                                    	3 - En '<em>Opciones de botones</em>' colocar el el usuario, dejar solo seleccionado la opci&oacute;n '<em>Mostrar nombre de usuario</em>'
                                    </li>
                                    <li class="list-group-item">
                                    	4 - A continuaci&oacute;n, seleccione el c&oacute;digo que se genera en la casilla de la derecha ('<em>Previsualizaci&oacute;n y c&oacute;digo</em>')
                                    </li>
                                    <li class="list-group-item">
                                    	5 -  Para terminar, pegue el c&oacute;digo en el campo a continuaci&oacute;n.
                                    </li>
                                </ul>
                            </p>
                            <br>
                            <p>
                            	<input class="form-control" type="text" name="autor_twitter" id="autor_twitter" />
                            </p>
                            <br>
                            <ul class="list-group">
  								<li class="list-group-item">
                                	6 - El proceso ha finalizado.
                           		</li>
                            </ul>
                            
                        </div>