.navbar {
position: relative;
min-height: 50px;
padding-right: 15px;
padding-left: 15px;
margin-bottom: 20px;
background-color: #eee;
border-radius: 4px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
position: fixed;
right: 0;
left: 0;
z-index: 1030;
border-radius: 0;
}
.navbar-fixed-top {
top: 0;
}
.pie {
background: #9C9
}
.container {
max-width: 1170px;
}
.navbar-nav {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}
.nav > li {
display: block;
position: relative;
}
.navbar-nav > li {
    float: left;
}
.navbar-text {
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0 15px;
}
.pull-right {
    float: right !important;
}
.col-lg-4 {
    width: 33.3333%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.col-lg-7 {
    width: 58.3333%;
}