/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
.fondo{ background:#000;}
	
	}
/* Medium devices (tablets, 992px and up) */
@media (min-width: 992px) {
.fondo{ background:#999;}	
 }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
	/* -- GENERALES -- */
	.error
	{
		border-color:red;
		border-style:solid;
		border-width:1px;
		
	}
	.color_blanco{ color:#fff !important}
	.flotar_derecha{ float:right !important}
	
	/* -- NOTIIA AMPLIADA OFF LINE -- */
	.marca-copete{
		border-left:3px #0CF solid;
		padding-left:5px;
		font-weight:bold;
	}
	
	/* -- CARROUSEL --*/
	.carousel .item {
	  height: 500px;
	  background-color: #777;
	}
	.carousel-inner > .item > img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  min-width: 100%;
	  height: 500px;
	}
	
	
	/* -- ANCHOS DE POP UP -- */
	.pop_grande{ width:1200px;}
	
	
	/* -- ADMINISTRADOR -- */
	.fondo{}
	.contenido{}
	.menu_secundario{ border:1px solid #FCC;}
	.pie{ background:#313035}
	
	.formulario_back{ background:#fff; padding:13px 0 13px 0px;}
	.formulario_back:hover{ background:#E0E0E0;}
	
	.navbar-default .navbar-nav>li>a {color:#fff}
	.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color:#fff}
	
	
	/*--== Cargador de imagenes ==--*/
	.modal_imagenes{ width:800px;}
	.modal_datos_grales{ width:1000px;}
	
	
	/* CARGADOR */
	.fileinput-button {
	  position: relative;
	  overflow: hidden;
	}
	.fileinput-button input {
	  position: absolute;
	  top: 0;
	  right: 0;
	  margin: 0;
	  opacity: 0;
	  filter: alpha(opacity=0);
	  transform: translate(-300px, 0) scale(4);
	  font-size: 23px;
	  direction: ltr;
	  cursor: pointer;
	}
	.fileupload-buttonbar .btn,
	.fileupload-buttonbar .toggle {
	  margin-bottom: 5px;
	}
	.progress-animated .progress-bar,
	.progress-animated .bar {
	  background: url('../img/progressbar.gif') !important;
	  filter: none;
	}
	.fileupload-loading {
	  float: right;
	  width: 32px;
	  height: 32px;
	  background: url('../img/loading.gif') center no-repeat;
	  background-size: contain;
	  display: none;
	}
	.fileupload-processing .fileupload-loading {
	  display: block;
	}
	.files audio,
	.files video {
	  max-width: 300px;
	}
	
	/*EDITOR CHICO*/
	.cleditorMain {
		border:1px solid #ccc; 
		height: 130px;
		padding:0 1px 1px; 
		background-color:white;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	.cleditorMain iframe {border:none; margin:0; padding:0}
	.cleditorMain textarea {border:none; margin:0; padding:0; overflow-y:scroll; font:10pt Arial,Verdana; resize:none; outline:none /* webkit grip focus */}
	.cleditorToolbar {background: url('../img/toolbar.gif') repeat}
	.cleditorGroup {float:left; height:26px}
	.cleditorButton {float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('../img/buttons.gif')}
	.cleditorDisabled {opacity:0.3; filter:alpha(opacity=30)}
	.cleditorDivider {float:left; width:1px; height:23px; margin:1px 0 1px 0; background:#ccc}
	.cleditorPopup {border:solid 1px #999; background-color:white; color:#333; position:absolute; font:10pt Arial,Verdana; cursor:default; z-index:10000}
	.cleditorList div {padding:2px 4px 2px 4px}
	.cleditorList p,
	.cleditorList h1,
	.cleditorList h2,
	.cleditorList h3,
	.cleditorList h4,
	.cleditorList h5,
	.cleditorList h6,
	.cleditorList font {padding:0; margin:0; background-color:Transparent}
	.cleditorColor {width:150px; padding:1px 0 0 1px}
	.cleditorColor div {float:left; width:14px; height:14px; margin:0 1px 1px 0}
	.cleditorPrompt {background-color:#F6F7F9; padding:4px; font-size:8.5pt}
	.cleditorPrompt input,
	.cleditorPrompt textarea {font:8.5pt Arial,Verdana;}
	.cleditorMsg {background-color:#FDFCEE; width:150px; padding:4px; font-size:8.5pt}
	
	/*EDITOR GRANDE*/
	.cleditorGrandeMain {
		border:1px solid #ccc; 
		height: 500px;
		padding:0 1px 1px; 
		background-color:white;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
		-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	.cleditorGrandeMain iframe {border:none; margin:0; padding:0}
	.cleditorGrandeMain textarea {border:none; margin:0; padding:0; overflow-y:scroll; font:10pt Arial,Verdana; resize:none; outline:none /* webkit grip focus */}
	.cleditorGrandeToolbar {background: url('../img/toolbar.gif') repeat}
	.cleditorGrandeGroup {float:left; height:26px}
	.cleditorGrandeButton {float:left; width:24px; height:24px; margin:1px 0 1px 0; background: url('../img/buttons.gif')}
	.cleditorGrandeDisabled {opacity:0.3; filter:alpha(opacity=30)}
	.cleditorGrandeDivider {float:left; width:1px; height:23px; margin:1px 0 1px 0; background:#ccc}
	.cleditorGrandePopup {border:solid 1px #999; background-color:white; color:#333; position:absolute; font:10pt Arial,Verdana; cursor:default; z-index:10000}
	.cleditorGrandeList div {padding:2px 4px 2px 4px}
	.cleditorGrandeList p,
	.cleditorGrandeList h1,
	.cleditorGrandeList h2,
	.cleditorGrandeList h3,
	.cleditorGrandeList h4,
	.cleditorGrandeList h5,
	.cleditorGrandeList h6,
	.cleditorGrandeList font {padding:0; margin:0; background-color:Transparent}
	.cleditorGrandeColor {width:150px; padding:1px 0 0 1px}
	.cleditorGrandeColor div {float:left; width:14px; height:14px; margin:0 1px 1px 0}
	.cleditorGrandePrompt {background-color:#F6F7F9; padding:4px; font-size:8.5pt}
	.cleditorGrandePrompt input,
	.cleditorGrandePrompt textarea {font:8.5pt Arial,Verdana;}
	.cleditorGrandeMsg {background-color:#FDFCEE; width:150px; padding:4px; font-size:8.5pt}
	.item_sobre{ background:#428BCA; color:#fff;}
	.item_sobre_dos{ background:#CFF; color:#000;}
	
	
	/* -- CARGADOR DE IMAGENES DE DIEGO -- */
	
	#cargador{ background:#fff; padding:5px;}
	.cont{ width:600px; height:102px; border:1px solid #666; margin:0 0 10px 0px;  background:#fff}
	.cont_din{ width:600px; height:102px; border:1px solid #666; margin:0 0 10px 0px;  background:#fff}
	.imagen{ height:100px; width:100px; border:1px dashed #999; float:left; text-align:center; color:#999; position: relative;cursor: pointer; background:url('../img/camera.png'); margin:0 10px 0 0px;}
	.data{ /*background:#CFC;*/ width:80px; float:right; margin:0 0 0 7px;}
	.acciones{ /*width:60px; height:25px; background:#066; float:right; margin:5px; right:5px;color:#ccc; padding:0 0 0 10px;*/}
	.link{ display: block; width:100px;height:100px; vertical-align: middle;}
	.cerrar{width: 20px; height:20px; position: absolute; top:0; left:80px; cursor: pointer; overflow: visible; }
	.thumb{width: 100px; height: 100px; vertical-align: middle; border: 0; margin: 0;padding: 0;}
	.ancho_input{ width:500px;}
	
	/*!
	 * Datepicker for Bootstrap
	 *
	 * Copyright 2012 Stefan Petre
	 * Licensed under the Apache License v2.0
	 * http://www.apache.org/licenses/LICENSE-2.0
	 *
	 */
	.datepicker {
	  top: 0;
	  left: 0;
	  padding: 4px;
	  margin-top: 1px;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  /*.dow {
		border-top: 1px solid #ddd !important;
	  }*/
	
	}
	.datepicker:before {
	  content: '';
	  display: inline-block;
	  border-left: 7px solid transparent;
	  border-right: 7px solid transparent;
	  border-bottom: 7px solid #ccc;
	  border-bottom-color: rgba(0, 0, 0, 0.2);
	  position: absolute;
	  top: -7px;
	  left: 6px;
	}
	.datepicker:after {
	  content: '';
	  display: inline-block;
	  border-left: 6px solid transparent;
	  border-right: 6px solid transparent;
	  border-bottom: 6px solid #ffffff;
	  position: absolute;
	  top: -6px;
	  left: 7px;
	}
	.datepicker > div {
	  display: none;
	}
	.datepicker table {
	  width: 100%;
	  margin: 0;
	}
	.datepicker td,
	.datepicker th {
	  text-align: center;
	  width: 20px;
	  height: 20px;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	}
	.datepicker td.day:hover {
	  background: #eeeeee;
	  cursor: pointer;
	}
	.datepicker td.day.disabled {
	  color: #eeeeee;
	}
	.datepicker td.old,
	.datepicker td.new {
	  color: #999999;
	}
	.datepicker td.active,
	.datepicker td.active:hover {
	  color: #ffffff;
	  background-color: #006dcc;
	  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	  border-color: #0044cc #0044cc #002a80;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  *background-color: #0044cc;
	  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
	
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	  color: #fff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
	.datepicker td.active:hover,
	.datepicker td.active:hover:hover,
	.datepicker td.active:focus,
	.datepicker td.active:hover:focus,
	.datepicker td.active:active,
	.datepicker td.active:hover:active,
	.datepicker td.active.active,
	.datepicker td.active:hover.active,
	.datepicker td.active.disabled,
	.datepicker td.active:hover.disabled,
	.datepicker td.active[disabled],
	.datepicker td.active:hover[disabled] {
	  color: #ffffff;
	  background-color: #0044cc;
	  *background-color: #003bb3;
	}
	.datepicker td.active:active,
	.datepicker td.active:hover:active,
	.datepicker td.active.active,
	.datepicker td.active:hover.active {
	  background-color: #003399 \9;
	}
	.datepicker td span {
	  display: block;
	  width: 47px;
	  height: 54px;
	  line-height: 54px;
	  float: left;
	  margin: 2px;
	  cursor: pointer;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	}
	.datepicker td span:hover {
	  background: #eeeeee;
	}
	.datepicker td span.active {
	  color: #ffffff;
	  background-color: #006dcc;
	  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	  border-color: #0044cc #0044cc #002a80;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  *background-color: #0044cc;
	  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
	
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	  color: #fff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
	.datepicker td span.active:hover,
	.datepicker td span.active:focus,
	.datepicker td span.active:active,
	.datepicker td span.active.active,
	.datepicker td span.active.disabled,
	.datepicker td span.active[disabled] {
	  color: #ffffff;
	  background-color: #0044cc;
	  *background-color: #003bb3;
	}
	.datepicker td span.active:active,
	.datepicker td span.active.active {
	  background-color: #003399 \9;
	}
	.datepicker td span.old {
	  color: #999999;
	}
	.datepicker th.switch {
	  width: 145px;
	}
	.datepicker th.next,
	.datepicker th.prev {
	  font-size: 21px;
	}
	.datepicker thead tr:first-child th {
	  cursor: pointer;
	}
	.datepicker thead tr:first-child th:hover {
	  background: #eeeeee;
	}
	.input-append.date .add-on i,
	.input-prepend.date .add-on i {
	  display: block;
	  cursor: pointer;
	  width: 16px;
	  height: 16px;
	}
	
	
	
	/*!
	 *
	 * Home Actual Administrador
	 *
	 */
	._cont_home_actual{ background:#fff;}
	._cont_colum_izq{ background:#fff;}
	._cont_colum_der{ background:#FCF;}
	._cont_slider{ height:515px; background:#fff;}
	._cont_noticia_dos_col_con_foto{ height:380px;}
	._cont_bloque_dos{ background:#fff}
	._cont_bloque_tres{ background:#fff}
	._cont_bloque_cuatro{ background:#fff}
	._cont_bloque_cinco{ background:#fff}
	._cont_noticia_una_col{ height:200px;}
	._cont_noticia_dos_col_sin_foto{ height:200px;}
	._cont_proximas_fechas{ border:1px solid #B2B2B2; height:275px;}
	._cont_libres{ border:1px solid #B2B2B2; height:275px;}
	._cont_tabla_posiciones{ border:1px solid #B2B2B2; height:390px;}
	._cont_encuesta{ border:1px solid #B2B2B2; height:340px;}
	._cont_redes_sociales{ border:1px solid #B2B2B2; height:340px;}
	._cont_probate{ border:1px solid #B2B2B2; height:200px;}
	
	/*._cont_acciones{ background:#C0C0C0; position:absolute; width:100%; left:0px; padding:10px; opacity:0.7; filter:alpha(opacity=70); z-index:999; display:none; text-align:center}*/
	._cont_acciones{position:absolute; width:100%; left:0px; padding:10px; z-index:999; display:none; text-align:center}
	
	._cont_desplegar{background:url('../img/flecha_desplegar.png') no-repeat; width:32px; height:32px; display:block; position:absolute; z-index:999;}
	
	
	
	
	
	
	
	
	
	
	
	
}
@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
  .files audio,
  .files video {
    max-width: 80px;
  }
}
.loader,
.loader1,
.loader2{
	background:url('../img/loader.gif') no-repeat;width:30px;height:30px;margin:10px 0 0; display:none;
}
.loader3{
	background:url('../img/loader.gif') no-repeat;width:30px;height:30px;margin:0; display:none;float:left;
}
.loader4{
	background:url('../img/loader.gif') no-repeat;width:30px;height:30px;margin:0; display:none;float:left;
}

/*.loader1{background:url('../img/loader.gif') no-repeat;width:50px;height:50px;margin:20px auto;}
.loader2{background:url('../img/loader.gif') no-repeat;width:50px;height:50px;margin:20px auto;}
.checkbox span{ font-style:italic;}*/
textarea.form-control{ height:150px !important}
.alerta{ background:#900; color:#FFF; border-radius:10px;}
.listar p{display:inline-block;}
.modal-lg{
	width:100%;
	max-width:960px;
}
.conexionThumb{
	text-align:center;
	border-left:1px solid #ccc;
}
.conexion{
	/*text-align:center;
	border-left:1px solid #ccc;*/
}
.img-thumbnail{
	display: inline-block;
	height: auto;
	max-width: 200px;
	padding: 4px;
	line-height: 1.428571429;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 15px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
#lista{
	margin:0;
	padding:0;
}
#lista li{
	list-style: none;
	/*cursor:move;*/
}
#lista li.destello{
	background-color:#FFF;
	padding: 20px;
	/*border:1px solid #f1f1f1;*/
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);	
}


._load_img_final_horizontal, 
._load_img_final_vertical,
._load_img_final_cuadrada{
	margin:0;
	padding:5% 0;
}
._load_img_final_horizontal li,
._load_img_final_vertical li,
._load_img_final_cuadrada li{
	list-style: none;
	display: inline-block;
	padding: 5px;
	text-align: center;
	/*cursor:move;*/
}
._load_img_final_horizontal li.destello,
._load_img_final_vertical li.destello,
._load_img_final_cuadrada li.destello{
	/*padding: 20px;*/
	/*border:1px solid #f1f1f1;*/
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);	
}
._load_img_final_horizontal li img,
._load_img_final_vertical li img,
._load_img_final_cuadrada li img{
	cursor:move;
}

.redes-about{
	padding-top:10px;
	color:#999;
}
.redes-about.twitter{
	width:11%;
}
.redes-about.facebook{
	width:15%;
}
.redes-about.linkedin{
	width:13%;
}
.panel-title > a{
	display:block;
}
.nav-pills > li > a.active{
	background-color:#eee;
	font-weight:bold;
}

._load_img_final, ._load_img_final_lookbook{
	max-height:400px;
	height:auto;
	overflow-y:auto;
}
.tags a{
	margin-left:5px;
}
