@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
body{font-family: 'Roboto', sans-serif;padding-top: 0px; padding-bottom: 0px; min-height: 100vh}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: 'Roboto', sans-serif;}
*{box-sizing: border-box;outline: none !important;}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
}
.breadcrumb{background-color: transparent;margin:0;}
.breadcrumb > li a{color:#ec2a31;}
.breadcrumb > li,
.breadcrumb>li+li:before{color:#d6d6d6;}
/*CONTAINER*/
.navbar-fixed-top, .navbar-fixed-bottom{z-index: 8}
#container-marca-inicio{
	height: 100vh;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	align-content: center;
}
#container-marca-inicio h4{width: 100%;margin-bottom: 40px;font-size: 16px;color: #858585;text-align: center;}
#container-marca-inicio .mid{margin: 15px}
/*RESET*/
.container-general{position: relative;z-index: 9;min-height: 100vh;width: 100%;display: flex;align-content: stretch;justify-content: space-between;}
.container-general .nav-pill{position:relative;z-index:9;width: 250px;background-color: #FFF;box-shadow: 5px 0px 30px rgba(0,0,0,.1);margin-right: 30px}
.container-general .nav-pill .boxUser{text-align:center;width: 100%;height: 200px;background-color: #ec2a31;margin-bottom: 20px;display: flex;justify-content: center;align-items: center;}
.container-general .nav-pill .boxUser .wpUs .circle{width: 80px;height: 80px;background-size: cover;background-image: url(http://alejandromarsico.com.ar/smiling-cencosud/public/img/subidas/supermercados/ico_disco2.png);}
.container-general .nav-pill .boxUser .wpUs h4{color:#FFF;}
.container-general .nav-pill .btns{
	border-bottom: 1px solid #d7d6d6;
	width: 150px;
	padding: 5px 0;
	margin:auto;
	text-align: center;
}
.container-general .nav-pill .btns a{
	color:#858585;
	display: block;
	border-radius:10px;
	padding: 15px 0;
	font-size: 13px;
	opacity: .4;
}
.container-general .nav-pill .btns a img{display: block;margin:0 auto 10px;}
.container-general .nav-pill .btns a.active{
	opacity: 1;
	background-color: #efefef
}
.container-general .nav-pill .btns.exit{border-bottom: none;}
/*ROWS*/
#head-bg-fix{position: absolute;width: 100%;top:0;left: 0;height: 100px;z-index: -1;background-color: #ececec}
.wpContent{width: 100%;padding: 100px 50px 0 2px;position: relative;}
.wpContent h2{font-weight:300;color: #858585;text-transform: uppercase;font-size: 20px;padding-bottom: 20px;border-bottom: 1px solid #d7d6d6;margin-bottom: 40px;}
.wpContent .bxContent{margin-bottom: 40px}
.wpContent .bxContent h4{
	color: #949595;
	font-size: 18px;
	margin-bottom: 10px;
}
.fstElement{
	max-width: 700px;
	background-color: #f6f6f6;
	border:none;
	border-radius: 30px;
	padding: 5px 10px;
}
.fstChoiceItem{border-radius: 20px;background-color: #ec2a31;border:1px solid #c20e14;}
.fstMultipleMode.fstActive, .fstMultipleMode.fstActive .fstResults{box-shadow: none;}
.wpContent .bxContent.prov .fstChoiceItem{background-color: #9e0b0f;border:1px solid #8f070a;}
.btn-info{
	background-color: #ec2a31;
	border-radius: 40px;
	border:1px solid #c20e14;
	transition: all ease-out .3s;
	outline: none;
	-webkit-appearance:none;
	max-width: 150px
}
._modif .btn-info{
	background-color: #ec2a31;
	border-radius: 40px;
	border:1px solid #c20e14;
	transition: all ease-out .3s;
	outline: none;
	-webkit-appearance:none;
	max-width: 150px;
	font-size: 14px;
	display: inline-block;
}
._modif .btn-danger._deshacer{
	background-color: #d9534f;
	border-radius: 40px;
	border:1px solid #7b120f;
	transition: all ease-out .3s;
	outline: none;
	-webkit-appearance:none;
	max-width: 210px;
	font-size: 14px;
	display: inline-block;
}

._modif .btn-danger._deshacer:hover{background-color: #7b120f;border:1px solid #7b120f;}
.btn-info:hover,
.btn-info:active,
.btn-info:focus{background-color: #c20e14;border:1px solid #c20e14;}
/*#contenido_totem, .wpContenidoAll {display: flex;flex-wrap: wrap;align-items: flex-start;justify-content: space-between;}
#contenido_totem .cont_totem,
.wpContenidoAll .cont_totem{
	width: 48%;background-color: #FFF;
	border:none;border-radius: 20px;
	padding: 30px 10px;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
	display: flex;
	align-items: flex-end;
	margin:20px 0;
}
#contenido_totem .cont_totem h3{margin-top: 0;}
#contenido_totem .cont_totem div > a.btn-danger{padding-left:10px;padding-right:10px;background-color: #ec2a31;border-radius: 20px;border: 1px solid #c20e14;margin-top: 15px}
#contenido_totem .cont_totem div > a.btn-danger:last-child{background-color: #FFF;color:#ababab;border: 1px solid #aaaaaa;}*/

#contenido_totem, .wpContenidoAll {display: flex;flex-wrap: wrap;align-items: flex-start;justify-content: space-between;}
#contenido_totem .cont_totem,
.wpContenidoAll .cont_totem{
	width: 48%;background-color: #FFF;
	border:none;border-radius: 20px;
	padding: 30px 10px;
	box-shadow: 0 0 30px rgba(0,0,0,0.1);
	display: flex;
	align-items: flex-end;
	margin:20px 0;
	position: relative;
	overflow: hidden;
}
#contenido_totem .cont_totem h3,
.wpContenidoAll .cont_totem h3{margin-top: 0;position: relative;z-index: 3;}
/*.wpContenidoAll .cont_totem h3{text-shadow: 0 0 10px rgba(0,0,0,1)}*/
/*#contenido_totem .cont_totem div > a.btn-danger{padding-left:10px;padding-right:10px;background-color: #00B755;border-radius: 20px;border: 1px solid #09670c;margin-top: 15px}*/
#contenido_totem .cont_totem div > a.btn-danger{padding-left:10px;padding-right:10px;background-color: #ec2a31;border-radius: 20px;border: 1px solid #c20e14;margin-top: 15px}
#contenido_totem .cont_totem div > a.btn-danger:last-child{background-color: #FFF;color:#ababab;border: 1px solid #aaaaaa;}

#contenido_totem .cont_totem .img,
.wpContenidoAll  .cont_totem .img{
	background-size: cover;
	top:0;
	left: 0;
	height: 100%;
	background-position: center;
	width: 100%;
	z-index: 0;
	position: absolute;
}
/**/
.row{width: 100%}
.modal-backdrop{display: none;}
.modal{background-color: rgba(0,0,0,0.6)}
/*USUARIOS*/
.wpContent .btn-group-usuario{
	position: absolute;
	top:55px;
	display: flex;
	font-size: 18px;
	font-weight: 700;
}
.wpContent .btn-group-usuario a{
	margin-right: 40px;
	color: #b7b7b7;
	display: block;
	padding: 0 20px 20px;
	position: relative;
}
.wpContent .btn-group-usuario a:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 8px;
	background-color: #b7b7b7;
	border-radius: 8px;
	bottom: 0;left: 0;
}
.wpContent .btn-group-usuario a.active{color:#ec2a31;}
.wpContent .btn-group-usuario a.active:after{background-color: #ec2a31;}
.wpContent .contFiltroUsuario{padding: 30px 0;}
.wpContent .contFiltroUsuario form{display: flex;width: 100%;align-items: center;}
.wpContent .contFiltroUsuario .btn-danger{
	background-color: #ec2a31;
	border-radius: 20px;border: 1px solid #c20e14;
	margin-left: 15px;
	outline: none;
	width: 100px;
	text-transform: uppercase;
}
.wpContent .list-group.listar{
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.wpContent .list-group.listar li.list-group-item{
	width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #f6f5f5;
    font-size: 16px;
    color: #5b5a5a; 
    align-items: center;
    border: none;
}
.wpContent .list-group.listar li.list-group-item p{margin-bottom: 0}
.wpContent .list-group.listar li.list-group-item small{display: block;font-size: 11px;color: #c1c1c1;}
.wpContent .wpFormNewUser{padding: 40px 0}
.wpContent .wpFormInput{max-width: 600px;margin-bottom: 20px;}
.wpContent .wpFormNewUser label{
    font-size: 16px;
    color: #858384; 
    margin-bottom:5px;
    padding-left: 20px
}
.wpContent .wpFormInput input:not(.regular-checkbox),
.wpContent .wpFormInput.select{
	-webkit-appearance:none;
	appearance:none;
	display: block;
	width: 100%;
	line-height: 50px;
	padding:0 25px;
	outline: none;
	background-color: #ebebeb;
	border-radius: 40px;
	border:none;
	position: relative;
}
.wpContent .wpFormInput.select select{
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	outline: none;
	-webkit-appearance:none;
	appearance:none;
	position: relative;
}
.wpContent .wpFormInput.select:after{
	content: '‹';
	position: absolute;
	top:3px;right: 20px;
	transform: rotate(-90deg);
	font-size: 1.2em;
}
.wpContent .wpFormNewUser .btnNewUser .btn{
	background-color: #ec2a31;
	border-radius: 20px;border: 1px solid #c20e14;
	outline: none;
	padding: 10px 20px;
	margin-top: 30px;
	color:#FFF;
	font-weight: 700;
	font-size: 13px;
	line-height: 1;
	text-transform: uppercase;
}
.wpContent .wpProvs{
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
}
.wpContent .wpProvs .third{width: 33.33%;margin-bottom: 8px;padding-left: 20px;}
.wpContent .wpProvs .third span{color:#b7b7b7;padding-left: 10px;font-size: 16px}
.wpContent .wpProvs .fstElement{background-color: #ebebeb;}

.regular-checkbox {
	outline: none;
	width: 25px;
	height: 25px;
	-webkit-appearance: none;
	background-color: #FFF;
	border: 3px solid #cacece;
	padding: 9px;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	top:7px;
	cursor: pointer;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked {
	background-color: #FFF;
	border: 3px solid #ec2a31;
	color: #ec2a31;
	outline: none;
}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 15px;
	position: absolute;
	top: 1px;
    left: 3px;
	color: #ec2a31;
}
.titVerContent h4{
    width: 100%;
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    color: #858585;
    text-align: center;
}
.verContenido li.item-block{
	width: 20%;
	list-style: none;
}
.verContenido li.item-block a img{mix-blend-mode: darken;}
.verContenido li.item-block a{
	padding: 40px 10px;
	background-color: #ebebeb;
	margin: 0 10px;
	text-align: center;
	border-radius: 30px;
	display: block;
	transition: ease-out 0.2s;
}
.verContenido li.item-block span{
	display: block;
	color:#727071;
	margin-top: 30px;
}
.verContenido li.item-block a:hover{
	text-decoration: none;
	background-color: #cccccc
}
/*.wpContent .listContenidos .list-group.listar{justify-content: flex-start;}
.wpContent .listContenidos .list-group.listar li.list-group-item{width: 32%;}
.wpContent .listContenidos .list-group.listar li.list-group-item span{display: flex;}
.wpContent .listContenidos .list-group.listar li.list-group-item:nth-child(3n + 2){margin-left:2%;margin-right: 2%;}*/
.btn-nuevo-contenido{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
    flex-direction: row-reverse;
    align-items: center;
}
.btn-nuevo-contenido > a{
	background-color: #ec2a31;
	border-radius: 40px;
	border:1px solid #c20e14;
	transition: all ease-out .3s;
	outline: none;
	-webkit-appearance:none;
	padding: 5px 15px;
	text-transform: uppercase;
}
/*Time Line*/
#contenido_asignaciones .wpVisual{display: flex;align-content: center;margin-bottom: 20px}
#contenido_totem.branch{white-space: nowrap;padding-right: 20px;min-width: 100px}
#contenido_totem.branch h4{font-size: 14px;color: #858585}
#contenido_totem.timeline{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
#contenido_totem.timeline > div:last-child{margin-right: 0;}
#contenido_totem.timeline .cont_asig{font-size: 12px;position: relative;}
#contenido_totem.timeline .cont_asig > div:last-child{position: absolute;top: 5px;right: 5px;filter: brightness(100);}
/*ASIGNAR CONTENIDO*/
.aaau{background-color: #efefef;height: auto;min-height: 350px}
.wpDragDrop{display: flex}
.wpDragDrop #contenido_totem{padding: 0;margin:0;align-content: flex-start;}
.wpDragDrop .mid{width: 50%;}
.wpDragDrop #drag.mid{margin-left: 20px}
.wpDragDrop .cont_totem,
.wpDragDrop #contenido_totem .cont_totem,
.wpDragDrop .aaau .cont_totem{
	margin-top: 0;
	padding: 20px;
	display: block;
	font-size: 12px;
	color:#858585;
	margin-right: 0;
	margin-bottom: 20px;
}
.wpDragDrop #contenido_totem .cont_totem h3, .wpDragDrop .aaau .cont_totem h3, .wpDragDrop .aaau .cont_contenido h3{font-size: 16px;margin-top: 0}
.wpDragDrop #drag.mid ul.list-group{display: flex;flex-wrap: wrap;justify-content: space-between;}
.wpDragDrop #drag.mid ul.list-group .cont_totem,
.wpDragDrop #drag.mid ul.list-group .cont_contenido{width: 48%}
/*Form Editar*/
#editar_trabajo,
#cargar_trabajo{padding: 40px 0;}
#editar_trabajo label,
#cargar_trabajo label  {
    font-size: 16px;
    color: #858384;
    margin-bottom: 5px;
    padding-left: 20px;
}
.wpContent .wpFormInput input:not(.regular-checkbox), .wpContent .wpFormInput.select {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    line-height: 50px;
    padding: 0 25px;
    outline: none;
    background-color: #ebebeb;
    border-radius: 40px;
    border: none;
}
#editar_trabajo .ccimg,
#cargar_trabajo .ccimg{margin: 20px 0}
#editar_trabajo .ccimg > ul, #cargar_trabajo .ccimg > ul{display: flex;flex-wrap: wrap;justify-content: space-between;}
#editar_trabajo .ccimg > ul li, #cargar_trabajo .ccimg > ul li{width: 180px}
#editar_trabajo .btnEditCont .btn,
#cargar_trabajo .btnEditCont .btn{
	background-color: #ec2a31;
	border-radius: 20px;border: 1px solid #c20e14;
	outline: none;
	padding: 10px 20px;
	margin-top: 30px;
	color:#FFF;
	font-weight: 700;
	font-size: 13px;
	line-height: 1;
	text-transform: uppercase;
}
#editar_trabajo .btn.btn-delete{width: 20px;height: 20px}
#editar_trabajo .ccimg ul li,
#cargar_trabajo .ccimg ul li{margin-bottom: 20px;list-style: none;}
/*CONTENIDO TOTEM*/
#contenido_totem .cont_asig{background-color: #FFF;margin:0;width:49%;margin-bottom: 20px}

/**/
#contenido_vid .cont_totem{
	min-height: 200px;
	background-size: cover;
	background-color: #c99eda
}
#contenido_cat .cont_totem{
	min-height: 200px;
	background-size: cover;
	background-color: #9ED4DE
}
#contenido_fot .cont_totem{
	min-height: 200px;
	background-size: cover;
	background-color: #9edeaf
}
#contenido_fon .cont_totem{
	min-height: 200px;
	background-size: cover;
	background-color: #dedd9e	
}
#contenido_inac .cont_totem{
	min-height: 200px;
	background-size: cover;
	background-color: #deb39e	
}
.wpContenidoAll .cont_totem h3{
    font-size: 16px;
    margin-top: 0;
    color:#FFF;
}
#contenido_totem .cont_totem h3{color: #858585;}
/*BTNS*/
.wpBtnsOK{
	padding: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center
}
.wpBtnsOK a{width: 130px;margin:0 10px !important;}

/*bg cover*/
.wpContent .verCont .list-group.listar li.list-group-item{
background-size: cover;
min-height: 250px;
align-items: flex-end;
padding: 0;
overflow: hidden;
}
.wpContent .verCont .list-group.listar li.list-group-item .contInfo{
display: flex;
justify-content: space-between;
width: 100%;
background-color: rgba(255,255,255,0.8);
padding: 10px 15px
}

