@charset "utf-8";
/* CSS Document */
/* reset */
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,font,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td
article,aside,canvas,details,embed, 
figure,figcaption,footer,header,hgroup, 
menu,nav,output,ruby,section,summary,
time,mark,audio,video{list-style:none;text-decoration:none;margin:0; padding:0; border:0; outline:0; vertical-align:baseline; background:transparent;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
/* Remove margins/bullets for navigation lists */
nav ul,nav ol,nav li{list-style:none; list-style-image:none; margin:0; padding:0;}
/* typography */
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:''; content:none;}
del{text-decoration:line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse; border-spacing:0;}
td{vertical-align:top;}
/* images: borders, ie scaling etc. */
img{border:0; -ms-interpolation-mode:bicubic; vertical-align:middle;}
a img{border:none;}
/* forms */
form{margin:0;}
fieldset{border:0; margin:0; padding:0;}
textarea{overflow:auto; vertical-align:top; resize:vertical;}
/* disable iOS input button styling */
input[type='submit']{-webkit-appearance:none;}
/* clearfix */
.clearfix:before,.clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;}
.activo{color:#000 !important}

/*EL TALADRO*/
body{font-family:'Open Sans';font-weight:400;color:#4f4f4f;font-size:13px;}

h3{color:#117c39;font-weight:700;font-size:15px;text-transform:uppercase;margin-bottom:15px}
h2{font-weight:normal;font-family:'Oswald';font-size:19px;text-transform:uppercase}
h2 a{color:#424242;}
h1{font-weight:normal;font-family:'Oswald';font-size:27px;text-transform:uppercase;color:#424242;}

#header, #main, #footer{position:relative;margin: 0 auto; width:940px;}
.col-left{width:610px;float:left;}
.col-right{width:300px;float:right;}
.btns{display:inline-block;color:#7f7f7f;background:#ebebeb;text-transform:uppercase;font-size:13px;padding:10px;margin-top:20px;border:none;cursor:pointer}
.overflow{overflow:hidden;}
.comentarios{line-height:17px;margin-top:15px;}
.comentarios img{margin-right:10px;}
.comentarios a{color:#a4a4a4}
.comentarios a:hover{color:#4f4f4f;}
.volanta{color:#117c39;font-weight:700;font-size:15px;text-transform:uppercase;margin-bottom:10px}
.volanta span{color:#4b4b4b;font-weight:400;}
.cantidad_resutados{color:#8d8d8d;font-size:13px;margin:10px 0 30px;text-transform:uppercase}

/*HEADER*/
#header{text-transform:uppercase;margin:35px auto 20px;}
#header .redes{float:right;}
#header .redes div{float:left;position:relative;margin-left:25px;line-height:31px}
#header .redes .input-buscar{border:1px solid #e1e1e1;display:block;padding:0 10px;background:#FFF;color:#4f4f4f; height:31px;width:175px}
#header .redes .btn-buscar{border:none;background:url(../img/ico_lupa.jpg);width:31px;height:31px;position:absolute;right:1px;top:1px;cursor:pointer}
#header .redes .line{margin:0 15px}
#header .nav{position:absolute;right:0;bottom:5px;}
#header .nav li{float:left;font-weight:700;margin-left:25px;font-size:15px}
#header a{color:#a4a4a4}
#header a:hover{color:#4f4f4f;}

/*BOX NOTICIAS*/
.box-noticias{padding:20px 0;border-top:1px solid #8d8a86;}
.box-noticias .wp-noti{margin-bottom:20px}
.box-noticias .wp-noti .link-img{float:left;}
.box-noticias .wp-noti .overflow{padding-left:20px} 

/*BOX HISTORIA*/
.box-historia{padding:20px 0;border-top:1px solid #8d8a86;}

/*BOX FIERA DE JUEGO*/
.box-fuera-juego{padding:20px 0;border-top:1px solid #8d8a86;}
.box-fuera-juego .wp-fuera-juego{margin-bottom:20px}

/*BOX NOTICIAS RELACIONADAS*/
.box-relacionadas{padding:20px 0;border-top:1px solid #8d8a86;}
.box-relacionadas .wp-relacionadas{margin-bottom:20px}

/*BOX PROXIMAS FECHAS*/
.box-proximas-fechas{padding:20px 0;border-top:1px solid #8d8a86;text-transform:uppercase;color:#000}
.box-proximas-fechas .wp-proximas{margin-bottom:20px}
.box-proximas-fechas .head-proxima{padding:10px;background:#424242;color:#FFF;font-weight:700;font-size:15px;}
.box-proximas-fechas .info-proxima{padding:15px;position:relative;background:#e8e8e8;height:180px}
.box-proximas-fechas .info-proxima .campeonato{font-weight:700;color:#000;position:relative;padding-bottom:7px;margin-bottom:12px;border-bottom:1px solid #8d8a86}
.box-proximas-fechas .info-proxima .campeonato span{position:absolute;right:0;font-weight:400;}
.box-proximas-fechas .info-proxima .equipo_1, .box-proximas-fechas .info-proxima .equipo_2{position:absolute;width:120px;text-align:center;overflow:hidden; bottom:30px;}
.box-proximas-fechas .info-proxima .equipo_1{left:15px;}
.box-proximas-fechas .info-proxima .equipo_2{right:15px;}
.box-proximas-fechas .info-proxima .equipo_1 img, .box-proximas-fechas .info-proxima .equipo_2 img{margin-bottom:20px}
.box-proximas-fechas .versus{color:#117c39;font-weight:700;font-size:15px; position:absolute;bottom:80px;left:140px}

/*TABLA DE POSICIONES*/
.box-tabla{padding:20px 0;border-top:1px solid #8d8a86;text-transform:uppercase}
.box-tabla .head-tabla{font-family:Arial, Helvetica, sans-serif;font-weight:bold;color:#4d4d4d;margin-bottom:7px}
.box-tabla .head-tabla div, .box-tabla .row-tabla div{display:inline-block}
.pos, .pts, .pg, .pe, .pp{width:32px;text-align:center;}
.equ{width:120px;}
.box-tabla .row-tabla{color:#888686;font-size:13px}
.row-taladro{font-weight:700;color:#117c39 !important}

/*BOX ENCUESTA*/
.box-encuesta{padding:20px 0;border-top:1px solid #8d8a86;}
.box-encuesta .question{color:#424242;font-family:'Oswald';font-size:27px;text-transform:uppercase;line-height:27px;margin-bottom:15px}

/*BOX FACEBOOK*/
.box-facebook{padding:20px 0;border-top:1px solid #8d8a86;}

/*BOX PROBATE CON NOSOTROS*/
.box-probate{padding:20px 0;border-top:1px solid #8d8a86;}

/*BOX NOTICIA*/
.box-noticia{padding:20px 0;border-top:1px solid #8d8a86;}
.box-noticia img{margin:20px 0}
.box-noticia p{margin:15px 0}

/*BOX VIDEO*/
.box-video{padding:20px 0;border-top:1px solid #8d8a86;}

/*BOX COMMENTS*/
.box-comments{padding:20px 0;border-top:1px solid #8d8a86;position:relative}
.box-comments img.ico_comment{position:absolute;right:0;top:20px;}
.box-comments .comment-redes{border:1px solid #dbdbdb;padding:30px;margin:25px 0;}
.box-comments .comment-redes .tt-log{font-size:15px;margin-bottom:10px;}
.box-comments .comment-redes a.login_face, .box-comments .comment-redes a.login_twit{display:block;width:200px;height:38px;color:#FFF;padding-left:54px;line-height:38px;}
.box-comments .comment-redes a.login_twit{float:right;background:url(../img/btn_twitter_login.jpg) no-repeat center}
.box-comments .comment-redes a.login_face{float:left;background:url(../img/btn_facebook_login.jpg) no-repeat center}
.box-comments .comment-redes .tt-log-b{clear:both;padding-top:15px;font-size:13px;}
.box-comments .comment-redes .tt-log-b a{color:#55787d;}
.box-comments .importante{color:#76716d;font-size:11px;margin-bottom:30px}
.box-comments .tt-comment{text-transform:uppercase;color:#565656;font-size:15px;font-weight:700}
.wp-comment{border-bottom:1px solid #8d8a86;padding-bottom:15px;margin-bottom:20px}
.box-comments .wp-comentar{margin-top:10px;}
.wp-comentar img{float:left;margin-right:30px}
.wp-comentar textarea{display:block;border:1px solid #dbdbdb;width:99%;margin-bottom:15px;height:90px}
.wp-comentar .codigo{float:right}
.wp-comentar input.captcha{display:inline-block;border:1px solid #dbdbdb;height:30px;width:170px;padding:0 5px;margin-left:10px;}
.wp-comentar .codigo .btns{float:right;}
.wp-comentar .codigo label{display:inline-block;line-height:32px}
.wp-comentar .img_captcha{float:left;margin:0}

/*BOX AGENDA*/
.box-agenda{padding:20px 0;border-top:1px solid #8d8a86;}
.box-agenda .wp-agenda{border:1px solid #e3e3e3;position:relative;margin-bottom:15px;height:138px;}
.box-agenda .wp-agenda .agenda-fecha{float:left;margin-right:20px;background:#e3e3e3;width:138px;height:138px;font-size:67px;color:#126024;font-family:'Oswald';text-align:center;line-height:normal}
.box-agenda .wp-agenda .agenda-fecha span{font-family:'Open Sans';color:#7a7a7a;font-size:13px;display:block;text-transform:uppercase}
.box-agenda .wp-agenda .agenda-info{margin-top:15px;height:98px;}
.box-agenda .wp-agenda h2{font-size:27px;color:#424242}
.box-agenda .wp-agenda .volanta{margin-bottom:0 !important}

/*FOOTER*/
#footer{padding:15px 0 50px;border-top:1px solid #8d8a86;position:relative;margin-top:50px}
#footer .copyright{font-size:11px}
#footer .seguinos{position:absolute;right:200px;top:15px;}
#footer .seguinos .tt-seguir{font-weight:700;margin-bottom:10px;text-transform:uppercase}

/*HISTORIA*/
.col_right_big{float:right;width:610px;}
.col_left_small{float:left;width:300px}

.wp-main-historia, .box_menu_historia{padding:20px 0;border-top:1px solid #8d8a86;}
.wp-main-historia img{margin:15px 0;}
.box_menu_historia ul li a{font-family:'Oswald';font-size:19px;color:#424242;margin-top:20px;text-transform:uppercase;display:block;}

/*CONTACTO*/
.contacto{border-top:1px solid #bbbbbb;padding-top:20px;}
.box_probate_contacto{padding:35px 30px;background:#f5f6f4;color:#7c7c7c;font-size:13px;font-family:'Open Sans';}
.box_probate_contacto strong{color:#565656;font-size:19px;margin-bottom:20px;display:block}
.box_form_contacto h5{font-weight:normal;color:#179d49;font-size:15px;margin:30px 0;}
.box_form_contacto label{display:block;font-size:15px;font-weight:bold;color:#8b8b8b;margin-bottom:5px;}
.box_form_contacto .wp_input{display:inline-block;width:300px;margin-bottom:20px}
.box_form_contacto .wp_input input{display:block;border:1px solid #e1e1e1;padding:5px;height:20px;width:230px}
.box_form_contacto .wp_textarea textarea{display:block;border:1px solid #e1e1e1;padding:5px;height:120px;width:532px}
.box_form_contacto .btns{float:right;margin-right:66px}

/*MULTIMEDIA*/
.multimedia{border-top:1px solid #bbbbbb;padding-top:20px;position:relative;}

/*SLIDER*/
.box-slide{padding:20px 0;border-top:1px solid #8d8a86;position:relative;}
.slides_container {
	width:610px;
	display:none;
}
.slides_container div {
	width:610px;
	height:344px;
	display:block;
	position:relative;
}
.slides_container div .caption{
	display:block;
	width:570px;
	padding:50px 20px 60px 20px;
	position:absolute;
	bottom:0;	
	color:#FFF;
	background:url(../img/bg_caption.png) top repeat-x;
}
.slides_container div h1, .slides_container div .volanta{color:#FFF}
.prev, .next{display:none;}
.pagination {
	position:absolute;
	bottom:50px;
	left:20px;
	list-style:none;
	margin:0;
	padding:0;
	z-index:999;
}
.pagination li{float:left;margin-right:5px}
.pagination li a{width:14px;height:14px;background:url(../img/current-slider.png) no-repeat center right; font-size:0px;display:block}
.pagination .current a {
	background-position:center left;
}
