<script>
$(function() {
  $( "#bloque_destacado_1,#bloque_destacado_2,#bloque_destacado_3,#bloque_destacado_4,#bloque_destacado_5,#bloque_destacado_6,#bloque_destacado_7,#bloque_destacado_8,#bloque_destacado_9,#bloque_destacado_10,#bloque_destacado_11,#bloque_destacado_12, #bloque_notas" ).sortable({
    connectWith: ".conexion",

    start: function (event, ui) {
      ui.item.toggleClass("destello");
    },
    stop: function (event, ui) {
      ui.item.toggleClass("destello");
    }

  }).disableSelection();
});



$(document).ready(function(){

  function getItems(_cont_gral,_conx){
    var columns = [];

    $(_cont_gral + ' ' + _conx).each(function(){
      columns.push($(this).sortable('toArray').join(','));        
    });
    return columns.join('|');
  }

  function getData(_contenedores_){

        var columns = [];

        $(_contenedores_).each(function(){
            columns.push($(this).sortable('toArray').join(','));        
        });
        return columns.join('|');
    }

  for(i=1;i<13;i++){
    $("#bloque_destacado_"+i).droppable({
          drop: function(e, ui){

            /*if(ui.draggable.hasClass('_selected')){
                // $(this).find('li').not('.dragSelect').remove();
                 // console.log($(ui.draggable).parent().attr('id'));
                  // swapNodes($(this).get(0),$(ui.draggable).get(0));
                    $(this).find('li').swapWith($(ui.draggable).parent().attr('id'));
            }else{*/
              //$("#drag ul li").not(':first').remove();
              $(this).find('li').not('.dragSelect').remove();
              ui.draggable.removeClass('dragSelect');
              // ui.draggable.removeClass('dragSelect').addClass('_selected');
            // }
              
          }
      });
  }

  $.fn.swapWith = function(that) {
    var $this = this;
    var $that = $(that);
    
    // create temporary placeholder
    var $temp = $("<li>");
    
    // 3-step swap
    $this.before($temp);
    $that.before($this);
    $temp.after($that).remove();
    
    
    return $this;
  }
  
  /*function swapNodes(a, b) {
      var aparent= a.parentNode;
      var asibling= a.nextSibling===b? a : a.nextSibling;
      b.parentNode.insertBefore(a, b);
      aparent.insertBefore(b, asibling);
  }*/

  $("#btEnviar").click(function(){

    var _data_mult = getData('.contenido ul.conexion');
    $('input[name="_notas"]').val(_data_mult);

    var arr = _data_mult.split("|");

    /*for (var i=0; i< arr.length; i++) {
      if(arr[i]==''){
        alert('No puede haber un destacado vacio');
        return false;
      }
    }*/

    // console.log(arr);
    

    $.ajax({
      type: "POST",
      url: _root_ + "administrador/destacadoslanzamientos/crearDestacado",
      data: $("#cargar_contenido").serialize(),
      beforeSend: function(){
      },
      success: function(data){ 
        if(data=='ok'){
          // alert('El destacado se creo con exito');
          $('._txt').html('Home lanzamientos se creo con exito');
          $('#_respuesta').modal('show');
          setTimeout(function() {
              $('#_respuesta').modal('hide');
          }, 2000);
        } else{
          // alert('Se produjo un error');
          $('._txt').html('Se produjo un error');
          $('#_respuesta').modal('show');
          setTimeout(function() {
              $('#_respuesta').modal('hide');
          }, 2000);
        }               
                
      }
    });
    return false;
  });
});
</script>




<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Home - Lanzamientos</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">  
   
  <form class="form-horizontal" id="cargar_contenido" name="cargar_contenido"  action="" method="POST" role="form" autocomplete="off">
      <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
      <input type="hidden" name="_notas">
              

    <div class="ibox-title">  
        <a id="btEnviar" class="btn btn-w-m btn-success" href="javascript:void(0);">
          Crear
        </a>                
    </div>
    <div class="ibox-content col-lg-12">

        <div class="col-lg-9">

          <div class="col-lg-12 contenido" style="height: 600px; overflow-y: auto;">  


              <div class="col-lg-3 _lanz" id="drag1">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_1">
                  <?php if(isset($this->destacados[0])):?>
                    <?php $_tabla = explode('_', $this->destacados[0]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[0]['id_nota'],$_tabla[1]);?> 
                    <?php if($datos):?> 
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                            <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>

              <div class="col-lg-3 _lanz" id="drag2">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_2">
                  <?php if(isset($this->destacados[1])):?>
                    <?php $_tabla = explode('_', $this->destacados[1]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[1]['id_nota'],$_tabla[1]);?> 
                    <?php if($datos):?>                  
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                            <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>

              <div class="col-lg-3 _lanz" id="drag3">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_3">
                  <?php if(isset($this->destacados[2])):?>
                    <?php $_tabla = explode('_', $this->destacados[2]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[2]['id_nota'],$_tabla[1]);?>
                    <?php if($datos):?>                   
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                              <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>


              <div class="col-lg-3 _lanz" id="drag4">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_4">
                  <?php if(isset($this->destacados[3])):?>
                    <?php $_tabla = explode('_', $this->destacados[3]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[3]['id_nota'],$_tabla[1]);?>  
                    <?php if($datos):?>                 
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                              <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>

              <div class="col-lg-3 _lanz" id="drag5">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_5">
                  <?php if(isset($this->destacados[4])):?>
                    <?php $_tabla = explode('_', $this->destacados[4]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[4]['id_nota'],$_tabla[1]);?>  
                    <?php if($datos):?>                 
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                            <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>

              <div class="col-lg-3 _lanz" id="drag6">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_6">
                  <?php if(isset($this->destacados[5])):?>
                    <?php $_tabla = explode('_', $this->destacados[5]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[5]['id_nota'],$_tabla[1]);?> 
                    <?php if($datos):?>                  
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                              <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>


              <div class="col-lg-3 _lanz" id="drag7">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_7">
                  <?php if(isset($this->destacados[6])):?>
                    <?php $_tabla = explode('_', $this->destacados[6]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[6]['id_nota'],$_tabla[1]);?> 
                    <?php if($datos):?> 
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                            <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>

              <div class="col-lg-3 _lanz" id="drag8">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_8">
                  <?php if(isset($this->destacados[7])):?>
                    <?php $_tabla = explode('_', $this->destacados[7]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[7]['id_nota'],$_tabla[1]);?> 
                    <?php if($datos):?>                  
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                            <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>

              <div class="col-lg-3 _lanz" id="drag9">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_9">
                  <?php if(isset($this->destacados[8])):?>
                    <?php $_tabla = explode('_', $this->destacados[8]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[8]['id_nota'],$_tabla[1]);?>
                    <?php if($datos):?>                   
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                              <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>

              <div class="col-lg-3 _lanz" id="drag10">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_10">
                  <?php if(isset($this->destacados[9])):?>
                    <?php $_tabla = explode('_', $this->destacados[9]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[9]['id_nota'],$_tabla[1]);?>  
                    <?php if($datos):?>                 
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                              <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>

              <div class="col-lg-3 _lanz" id="drag11">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_11">
                  <?php if(isset($this->destacados[10])):?>
                    <?php $_tabla = explode('_', $this->destacados[10]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[10]['id_nota'],$_tabla[1]);?>  
                    <?php if($datos):?>                 
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                            <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>

              <div class="col-lg-3 _lanz" id="drag12">
                <ul class="list-group xxx conexion bloq_dest" id="bloque_destacado_12">
                  <?php if(isset($this->destacados[11])):?>
                    <?php $_tabla = explode('_', $this->destacados[11]['tabla'])?>
                    <?php $datos = admin::traerNota($this->destacados[11]['id_nota'],$_tabla[1]);?> 
                    <?php if($datos):?>                  
                    <?php $datos['tabla'] = $_tabla[1];?>
                    <li class="tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                      <div class="ibox-content">
                            <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                            <?php if($_img !=''):?>
                              <?php 
                              if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                              }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                              }else{
                                  $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                              }

                            ?>
                            <img src=" <?= $_url_img?>"  class="img-thumbnail">
                            <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path ?>"  class="img-thumbnail"> -->
                            <?php endif?>
                            <small><?=$datos['tabla']?></small>
                            <br>
                            <h4 class="forum-item-title">
                                <?=admin::convertirCaracteres($datos['titulo'])?>
                            </h4>
                            
                            <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                            <?php 
                            $_arr_cat=array();
                            foreach ($_cat as $val) {
                              $_arr = admin::traerCategoria($val);
                              $_arr_cat[] = $_arr['nombre']; 
                            }
                            $_cate = implode(',', $_arr_cat);
                            ?>
                            <small><?=$_cate?></small>  
                      </div>
                  </li>
                  <?php endif?>
                  <?php endif?>
                </ul>
              </div>

          </div>
          
        </div>

        <div class="col-lg-3">
          <ul class="list-group aa conexion" id="bloque_notas">
          

            <?php if($this->datos):?>
            <?php foreach($this->datos as $datos):?>

            
              <li class="dragSelect tt" id="<?=$datos['tabla']?>_<?=$datos['id']?>">
                  <div class="ibox-content">
                        <?php $_img = admin::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);?>
                        <?php if($_img !=''):?>
                        <?php 
                          if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                              $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                          }else if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                              $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                          }else{
                              $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                          }

                        ?>
                        <img src=" <?= $_url_img?>"  class="img-thumbnail">
                        <?php endif?>
                        <small><?=$datos['tabla']?></small>
                        <br>
                        <h4 class="forum-item-title">
                            <?=admin::convertirCaracteres($datos['titulo'])?>
                        </h4>
                        
                        <?php $_cat=array();$_cat = explode(',', $datos['categorias'])?>
                        <?php 
                        $_arr_cat=array();
                        foreach ($_cat as $val) {
                          $_arr = admin::traerCategoria($val);
                          $_arr_cat[] = $_arr['nombre']; 
                        }
                        $_cate = implode(',', $_arr_cat);
                        ?>
                        <small><?=$_cate?></small>                  
                        
                                   
                  </div>
              </li>

       
            <?php endforeach?> 

            <?php else:?>
            <p>No hay datos cargados!</p>
            <?php endif?>
            
          </ul>
        </div>
        
    </div>   
  </form>  
  
</div>




<div id="_respuesta" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body">
        <h2 class="_txt"></h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>