<div id="container-marca-inicio">
	<h4>Seleccioná marca</h4>
    
    <?php if($this->_sess->get('level')==1):?>
    <div class="mid">
    	<a href="<?= $this->_conf['url_enlace']?>administrador/index/elegir_super/1">
    		<img src="<?= $this->_conf['base_url']?>public/img/subidas/supermercados/ico_jumbo2.png">
    	</a>
    </div>
    <div class="mid">
    	<a href="<?= $this->_conf['url_enlace']?>administrador/index/elegir_super/2">
    		<img src="<?= $this->_conf['base_url']?>public/img/subidas/supermercados/ico_disco2.png">
    	</a>
    </div>
    <?php else:?>

    <?php if(isset($this->_sess->get('_super_jumbo'))):?>
    <div class="mid">
        <a href="<?= $this->_conf['url_enlace']?>administrador/index/elegir_super/1">
            <img src="<?= $this->_conf['base_url']?>public/img/subidas/supermercados/ico_jumbo2.png">
        </a>
    </div>
    <?php endif?>
    
    <?php if(isset($this->_sess->get('_super_disco'))):?>
    <div class="mid">
        <a href="<?= $this->_conf['url_enlace']?>administrador/index/elegir_super/2">
            <img src="<?= $this->_conf['base_url']?>public/img/subidas/supermercados/ico_disco2.png">
        </a>
    </div>
    <?php endif?>

    <?php endif?>

</div>
<!-- <style type="text/css">
    div.nav-pill{display: none;}
</style> -->