/*comentarios*/
.comment-form-container {
	background: #F0F0F0;
	border: #e0dfdf 1px solid;
	padding: 10px;
	border-radius: 2px;
	width: 500px;
}

.input-row {
	margin-bottom: 20px;
}

.input-field {
	width: 90%;
	border-radius: 2px;
	padding: 10px;
	border: #e0dfdf 1px solid;
}

.btn-submit {
	padding: 10px 20px;
	background: #333;
	border: #1d1d1d 1px solid;
	color: #f0f0f0;
	font-size: 0.9em;
	width: 150px;
	border-radius: 2px;
	cursor: pointer;
	float:right;
}

ul {
	list-style-type: none;
}

.comment-row {
	border-bottom: #e0dfdf 1px solid;
	margin-bottom: 15px;
	padding: 15px;
}

.outer-comment {
	padding: 10px;
	border: #dedddd 1px solid;
	background: #FFF;
	width: 500px;
}

span.commet-row-label {
	font-style: italic;
}

span.posted-by {
	color: #09F;
}

.comment-info {
	font-size: 0.8em;
}

.comment-text {
	margin: 10px 0px;
}

.btn-reply {
	font-size: 0.8em;
	text-decoration: underline;
	color: #888787;
	cursor: pointer;
}

#comment-message {
	margin-left: 20px;
	color: #189a18;
	display: none;
}

.like-unlike {
	vertical-align: text-bottom;
	cursor: pointer;
}

.post-action {
	margin-top: 15px;
    font-size: 0.8em;
}
span.posted-at {
    color: #929292;
}