/*

font-family: 'Barlow', sans-serif;
font-family: 'DM Serif Display', serif;
*/
/*CLUB ALIADAS*/
.list.club_aliadas{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin:40px auto;
}
.list.club_aliadas .canjes{
	width: 25%;
	padding: 7px;
	position: relative;
	margin-top: 30px;
	padding-bottom: 30px;
}
.list.club_aliadas .canjes .img{border-radius:2px;border: 1px solid #e3e3e3;width: 100%;padding-top: 100%;margin-bottom: 15px;background-size: cover;background-position: center;position: relative;}
.list.club_aliadas .canjes .img > img{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);width: 30px;opacity: .5}
.list.club_aliadas .canjes h2{position:relative;color:#3A3D42;line-height: 1.3;font-family: 'DM Serif Display', serif;font-size: 12px;margin-bottom: 20px;}
.list.club_aliadas .canjes span.number{
	color:#FFF;background-color:#f04e60;
	font-family: 'Barlow', sans-serif;
	font-size: 12px;
	padding: 4px 6px;
	border-radius: 2px;
	position: absolute;
	font-weight: 400;
	top: -30px;
}
.list.club_aliadas .canjes p{color: #a6a6a6;margin:10px 0;line-height: 1.3;font-size: 12px;}
.list.club_aliadas .canjes a{display: inline-block;text-transform: uppercase;color: #FFF;font-size: 11px;line-height: 30px;padding: 0 15px;border-radius: 5px;background-color:#f4c2bd;width: auto;position: absolute;bottom: 0px;left: 7px;}
/*DETAIL VIDEOS*/
.embed-container {
    position: relative;
    padding-top:35%;
    width: 100%;
}
.embed-container.capa {padding-top: 50%}
.embed-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.detail_videos{
	display: flex;
	align-items: flex-start;
	margin: 20px auto;
}
.detail_videos .main {
    width: calc(100% - 280px);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
}
.detail_videos .aside{
	max-width: 250px;
	margin-left: 30px;
}
.detail_videos .aside h3{
	font-family: 'DM Serif Display', serif;
	font-size: 32px;
	margin:20px 0;
}
.detail_videos .aside .morevideos{
	display: block;
	margin-bottom: 20px;
}
.detail_videos .aside .morevideos .img{
	padding-top: 50%;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}
.detail_videos .aside .morevideos .img img{
	position: absolute;
	top:50%;left: 50%;
	max-width: 30px;
	transform: translate(-50%,-50%);
}
.detail_videos .aside .morevideos h4{font-weight: 400;padding:10px 20px;}
.detail_videos .main h2{
	font-family: 'DM Serif Display', serif;
	font-size: 42px;
	margin:20px 0;
	font-weight: 400;
}
.detail_videos .main p{
	font-weight: 700;
	font-size: 18px;
	line-height: 1.3
}
.main .tags{margin-top: 50px;border-bottom: 1px solid #CED1D9;padding-bottom: 10px;margin-bottom: 20px;display: none;}
#multiplechoice{margin:60px 0;}
#multiplechoice img{display: block;width: 100%;}
#comments h3{
	margin-top: 50px;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 10px;
	margin-bottom: 30px;
	font-size: 30px;
	color: #7B808C;
}
#comments .comment{
	display: flex;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 20px;
	margin: 20px 0;
}
#comments .comment .avatar{
	min-width: 96px;
	height: 96px;
	background-position: center;
	background-size: cover;
	margin-right: 60px;
	border-radius: 90px;
}
#comments .comment.response{
	display: flex;
	border-bottom: 1px solid #CED1D9;
	padding-left: 100px;
}
#comments .comment.response .avatar{min-width: 60px;height: 60px;margin-right: 30px;}
#comments .comment small{
	font-style: italic;
	font-size: 12px;
	color: #7B808C;
}
#comments .comment h4{
	font-family: 'DM Serif Display', serif;
	font-size: 18px;
	margin:5px 0;
	font-weight: 400;
	color: #2b2b2b;
}
#comments .comment p{color: #7b808c;font-size: 14px;line-height: 1.4;margin: 10px 0;font-weight: 300}
#comments .comment a{color: #F18187;font-size: 14px;font-weight: 700}
#write_comment{padding-top: 30px;padding-bottom: 30px;}
#write_comment h3{
	font-family: 'DM Serif Display', serif;
	font-size: 44px;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 15px;
	margin-bottom: 20px
}
#write_comment form{
	max-width: 800px;
	padding:10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}
#write_comment input{
	width: 100%;
	-webkit-appearance:none;
	-moz-appearance:none;
	margin:0;
	border:1px solid #eaeaea;
	background: #fbfbfb;
	border-radius: 5px;
	padding:15px;
	color: #c3c3c3;
	font-family: 'Barlow', sans-serif;
	font-size: 11px;
	resize: none;
	margin-bottom: 10px;
	/*height: 150px;*/
}

#write_comment textarea{
	width: 100%;
	-webkit-appearance:none;
	-moz-appearance:none;
	margin:0;
	border:1px solid #eaeaea;
	background: #fbfbfb;
	border-radius: 5px;
	padding:15px;
	color: #c3c3c3;
	font-family: 'Barlow', sans-serif;
	font-size: 11px;
	resize: none;
	height: 150px;
	outline: none;
}
#write_comment button,
#write_comment input[type=button]{	
	-webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    padding: 0;
    display: block;
    background-color: #f4c2bd;
    font-size: 14px;
    width: 200px;
    height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 20px;
    font-family: 'Barlow', sans-serif;
}
#comment-message{
	width: 100%;
	text-align: center;
	padding-top: 40px;
}


/*DETAIL VIDEOS*/
.detail_news{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.detail_news .imgPPl{display: block;width: 100%;margin-top: 30px;}
.detail_news #videoDetalle{
	width: 100%;
	padding-top: 56.25%;
	position: relative;
}
.detail_news #videoDetalle iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;left: 0;
}
.detail_news h2{
	color: #3A3D42;
	font-size: 42px;
	font-family: 'DM Serif Display', serif;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 30px;
}
.detail_news h3{
	line-height: 1.3;
	font-weight: 400;
	color: #3A3D42;	
	margin-bottom: 20px;
}
.detail_news h3 em{font-weight: 600}
.detail_news small{
	font-style: initial;
	font-size: 14px;
	font-weight: 300;
	color: #2B2B2B;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 10px;
	width: 100%;
	margin-bottom: 20px;
}
.detail_news .main{
	width: calc(100% - 290px);
	/*margin: auto;*/
	margin-top: 40px;
}
.detail_news .aside{max-width: 250px;margin-top: 40px;}
.detail_news .aside > img{max-width: 250px;margin-bottom: 20px}
.detail_news .main h3{font-size: 18px;line-height: 1.4;margin-bottom: 40px}
.detail_news .content{font-size: 14px;line-height: 1.5;color: #717171}
.detail_news .content p{margin-bottom: 15px}
.detail_news .content h2{font-size: 26px;margin:30px 0 10px;font-family: 'Barlow', sans-serif;color: #717171}
.detail_news .content h3{font-size: 22px;margin:30px 0 10px;font-family: 'Barlow', sans-serif;color: #717171}
.detail_news .content h4{font-size: 18px;margin:30px 0 10px;font-family: 'Barlow', sans-serif;color: #717171}
.detail_news .content ul{list-style: disc inside;}
.related h3{
	font-size: 32px;
	font-family: 'DM Serif Display', serif;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 10px;
}
.related .list{margin-top: 20px}
.content-tendencias{margin: 22px 0;}
.content-tendencias h4{font-size: 30px;color: #000;margin-bottom: 10px; font-family: 'DM Serif Display', serif;}
.content-tendencias h3{font-size: 34px !important;color: #099fd2;margin-bottom: 20px !important;font-family: 'DM Serif Display', serif;}
.content-tendencias img{max-width: 100%;margin: 20px auto;}
.content-tendencias img.imgMob{display: none;}
@media (max-width: 640px) {
	.content-tendencias img.imgDesk{display: none;}
	.content-tendencias img.imgMob{display: block;}
}
/*MI PERFIL*/
#perfil {display: flex;flex-wrap: wrap}
#perfil h2{
	color: #3A3D42;
	font-size: 42px;
	font-family: 'DM Serif Display', serif;
	width: 100%;
	margin: 20px 0;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 20px;
}
#perfil .col{width: 50%;margin-right: 40px;}
#perfil .col.cs{max-width:200px;text-align: center;}
#perfil .col.cs .avatar{
	width: 100%;
	position: relative;
	padding-top: 100%;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	border:1px solid #ced1d9;
	margin-bottom: 20px;
	/*cursor: pointer;*/
}
#perfil .col.cs .avatar > img{
	position: absolute;
	width: 50px;
	top:50%;left: 50%;
	transform: translate(-50%,-50%);
	mix-blend-mode: difference;
}
#perfil .col.cs .name{text-transform: uppercase;font-weight: 700;margin-bottom: 20px;font-size: 18px;}
#perfil .col.cs .ptos{color: #F18187;margin-top: 10px}
#perfil .col form {
    max-width: 560px;
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#perfil .col form input{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:1px solid #e5e5e5;
	display: block;
	width: calc(50% - 20px);
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	color: #9a9a9a;
	height: 46px;
	border-radius: 5px;
	padding: 0 14px;
	margin-bottom: 15px;
	background-color: transparent;
	margin:10px;
}
#perfil .col form label{
	font-size: 11px;
	color: #505050;	
	padding: 0 14px;
	width: 50%;
	margin-top:15px;
	text-transform: uppercase;
}
#perfil .col form .farmacia{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:1px solid #e5e5e5;
	display: block;
	width: calc(100% - 20px);
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	color: #9a9a9a;
	height: 46px;
	border-radius: 5px;
	padding: 0 14px;
	margin-bottom: 15px;
	background-color: transparent;
	margin:10px;
}
#perfil .col form button,
#perfil .col form input[type=button]{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:0;
	padding: 0;
	display: block;
	background-color: #F18187;
	font-size: 14px;
	width: 168px;
	height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 20px;
	font-family: 'Barlow', sans-serif;
	margin-right: 10px;
}
.ok{
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	color: #0c960c;
	padding-left: 15px;
}
.error{
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	color:#f00;
	padding-left: 15px;
}
#popUpAvatar{
	position: fixed;
	left: 50%;top:50%;
	transform: translate(-50%,-50%);
	z-index: 99;
	border-radius: 5px;
	padding: 20px;
	background-color: #2b2b2b;
	width: 98%;
	max-width: 560px;
	box-shadow: 0 0 15px rgba(0,0,0,.4);
	display: none;
}
/*#popUpAvatar iframe{width: 100%;height: 280px}*/
#popUpAvatar .close{
	padding:8px 10px;
	border-radius: 40px;
	background-color: #FFF;
	position: absolute;
	top:-10px;right: -10px;
	cursor: pointer;
	box-shadow: 0 0 15px rgba(0,0,0,.4)
}

#my-awesome-dropzone{
	border-radius: 10px;
	/*border: 2px dashed #ccc;*/
	border: none;;
}
#my-awesome-dropzone button{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:0;
	padding: 0;
	display: block;
	background-color: #F18187;
	font-size: 12px;
	width: 80px;
	height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	border-radius: 3px;
	/*margin-top: 20px;*/
	font-family: 'Barlow', sans-serif;
	float: right;
	/*margin-right: 10px;*/
}
.dropzone .dz-message{
	margin:2.8em 0 !important;
}

.archivos,
a#btRRSS{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:0;
	padding: 12px;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	background-color: #F18187;
	font-size: 14px;
	/*width: 168px;
	height: 48px;*/
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	border-radius: 3px;
	font-family: 'Barlow', sans-serif;
}

.banner_main,
.banner_bottom,
.banner_lateral{
	text-align: center;
}
.banner_main img,
.banner_bottom img,
.banner_lateral img{
	display: block;
	margin: 20px auto;
}

.tags span.label{
	color: #FFF !important;
    background-color: #f04e60;
    font-weight: normal;
    font-size: 10px;
}

@media (max-width: 1200px) {
	.banner_main img, .banner_bottom img, .banner_lateral img{width: 100%;}
	header .mainMenu nav{
	    position: fixed;
    	width: 100%;
    	top: 0;left: 0;
    	background-image: url(../img/bg-line.png);
    	flex-direction: column;
    	padding-top: 190px;
    	height: 100%;
    	z-index: -1;
    	align-items: center;
    	justify-content: flex-start;
    	display: none;
    }
    header .mainMenu nav ul li{display: block;color: #FFF;font-size: 18px;text-align: center;line-height: 1.6;margin-left: 0}
    header .mainMenu nav .search{order:1;margin: 0 auto 40px;max-width: 290px;width: 80%}
    header .mainMenu nav .search button,
    header .mainMenu nav .search input{background: transparent;color: #FFF;font-size: 18px;}
    header .mainMenu nav .search input{width: calc(100% - 40px);}
    header .mainMenu nav .search input::placeholder{color: #FFF}
    header .user{position: static;}
    header .info,
    header .user em{display: none;}
    #burger{display: block;padding: 10px;width: 40px;margin-left: 100px}
    #burger i{display: block;width: 100%;height: 1px;background-color: #2B2B2B;margin:4px 0;}

    /*HOME*/
    #level1{padding: 20px;height: auto;}
    #level1 .news{position: static;transform: translate(0,0);width: 100% !important;max-width: 100% !important;margin-bottom: 20px;}
    #level1 .news a{padding-top: 50% !important}


	.list.club_aliadas .canjes{
		width: 25%;
		padding: 7px;
	}
}
@media (max-width: 750px) {
	#init .wpForm.login{width: 96%}
	footer .wp{flex-direction: column;align-items: center;justify-content: center;padding: 10px;}
	footer .wp p{text-align: center;font-size: 11px;margin: 3px 0;}
	.wp{padding: 0 14px;}
	header .mainMenu{padding: 10px 14px;}
	header .mainMenu > a:first-child{width: 105px;overflow: hidden;}
	#burger{margin-left: 3px;margin-right: -10px}
	header .user .icon{margin-right: 6px}
	header .user i{margin: 0 10px 0 14px;}
	header .strip{height: 0;}
	header .mainMenu img.logo{min-width: 100px;max-width: 100px;}
	header .categories{height: 35px;}
	header .categories .wp{padding: 0;justify-content: center;}
	#filter{font-size: 10px;}
	#filter a{margin:0 2px;}
	#filter > span{display: none;}
	section { padding-top: 95px;}
	#level1 {padding: 14px;padding-bottom: 0}
	#level1 .news a{padding-top: 57% !important;}
	#level1 .news a h2{padding: 14px;font-size: 20px !important;}
	.label{top:10px;left: 10px;padding: 6px 10px;}
	.third{flex-wrap: wrap;margin-bottom: 15px}
	.third a{width: 100%;padding-top: 50%;height: auto;margin-bottom: 15px;}
	.third a h2{font-size: 16px;padding: 14px;}
	.list{margin:20px 0;}
	.list a{padding: 5px;width: 50%;}
	.list a .img{margin-bottom: 10px;}
	.list a h2, article h3{font-size: 16px;}
	.list a span, article h4{font-size: 12px}
	.eventos > h2,.lanzamientos > h2, #contacto > h2{font-size: 26px;padding: 10px 0;margin-bottom: 10px;}
	.lanzamientos{margin:20px 0;}
	article{width:calc( 100% - 10px);margin: 5px;}
	article p, article a{font-size: 12px;}
	article a{line-height: 30px;}
	#contacto{padding: 20px 14px;}
	#contacto > p{font-size: 12px;text-align: center;padding: 0 10px}
	#contacto form{padding: 10px 0;}
	#contacto form input, #contacto form textarea{
		width: 100%;
		margin: 4px 0;
		height: 38px;
		padding: 0 10px;
		font-size: 12px;
	}
	#contacto form textarea {padding: 10px;height: 80px}
	#contacto form button, #contacto form input[type=button],
	#write_comment button, #write_comment input[type=button],
	#perfil .col form button, #perfil .col form input[type=button]{width: 100%;margin:0;margin-top: 10px;height: 38px;}
	#contacto hr{margin:25px 0;}
	#contacto .info .wp{padding: 0;flex-direction: column;}
	#contacto .post{width: 100%;padding: 0;margin-top: 20px;}
	#contacto .post.data{order:1;}
	#contacto .post.data p{margin-bottom: 15px;}

	.list.club_aliadas{margin: 20px auto;}
	.list.club_aliadas .canjes {width: 50%;padding: 5px;padding-bottom: 35px}
	.list.club_aliadas .canjes .img{margin-bottom: 10px;padding-top: 100%;}
	.list.club_aliadas .canjes h2{font-size: 14px;}
	.list.club_aliadas .canjes a{width:calc(100% - 14px);text-align: center;}
	
	.list.wpInterna{padding: 0 10px}
	.list.wpInterna a{width: calc(50% - 20px)}

	.list.grid:not(.wpInterna) a{width: 40%}
	.list.wpInterna article{width: calc(50% - 20px);}
	
	.detail_news, .detail_videos{flex-direction: column;}
	.detail_news h2, #write_comment h3, .detail_videos .main h2, 
	.detail_videos .aside h3, #perfil h2{width:100%;font-size: 26px;margin-bottom: 10px;margin-top: 20px;}
	.detail_news h3{font-size: 12px}
	.detail_news small{font-size: 12px;margin-bottom: 10px;}
	.detail_news .imgPPl{margin-top: 15px;}
	.detail_news .aside, .detail_news .main, 
	.detail_videos .main, .detail_videos .aside{width: 100%;margin:0;margin-top: 20px;max-width: 100%;}
	.detail_news .content, .detail_videos .main p{font-size: 12px;}
	.detail_videos .aside{display: flex;flex-wrap: wrap;justify-content: space-between;margin-top: 0}
	.detail_videos .aside .morevideos{width: 48%;}
	.detail_videos .aside .morevideos h4{padding: 10px 0;font-size: 12px;}
	.main .tags{margin-top: 25px;margin-bottom: 10px;font-size: 10px}

	#write_comment form{padding: 10px 0}
	#comments h3{font-size: 18px;margin-top:25px;margin-bottom: 15px;}
	#comments .comment{margin: 10px 0;padding-bottom: 15px;}
	#comments .comment .avatar{min-width: 40px;height: 40px;margin-right: 20px;}
	#comments .comment small{font-size: 9px}
	#comments .comment h4{font-size: 14px;}
	#comments .comment p{font-size: 11px}
	#comments .comment a{font-size: 12px;}

	#perfil .col{width: 100%;max-width: 100% !important;margin:10px 0;}
	#perfil .col form{justify-content: space-between;}
	#perfil .col form .farmacia{margin:5px 0;width: 100%;}
	#perfil .col form label{font-size: 9px}
	#perfil .col form input{margin:5px 0;width: calc(50% - 5px);}
}
