/*

font-family: 'Barlow', sans-serif;
font-family: 'DM Serif Display', serif;
*/
.label.especial{background:#b78462;}
.list a.especial span{color:#b78462;}
article.especial h4{color:#b78462;}
#filter a[data-rel="especial"].active {
    background-color: #b78462;
    border-color: #b78462;
}

body{font-family: 'Barlow', sans-serif;width: 100%;margin:0;padding:0;height:100%;color:#2B2B2B;}
*{box-sizing:border-box;}
a{color: inherit;}
.wp{width: 100%;max-width: 1280px;margin:auto;padding:0 20px }
#burger{display: none;}
section{padding-top: 165px}
header{
	position: fixed;
	z-index: 99;
	width: 100%;
}
header .strip{
	background: #00b5df;
	height: 40px;
	overflow:hidden; 
	transition: ease-out 0.3s;
}
header.st .strip{height: 0;}
header .strip .wp{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}
header .strip .wp > a{font-size: 12px;color: #FFF;}
header .info{display: flex;position: absolute;right: 20px;top:5px;}
header .info a{font-size: 12px;font-weight: 400;display: flex;opacity: .5}
header .info a img{margin:0 6px 0 10px;height: 12px}
header .mainMenu{
	padding:14px 20px;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
	background: #FFF;
}
header .mainMenu img.logo{min-width: 140px; max-width: 140px;display: block;}
header .mainMenu nav{ display: flex;align-items: center;width: 100%;justify-content: space-between; }
header .mainMenu nav ul li{    
	display: inline-block;
    font-weight: 500;
    font-size: 15px;
    margin-left: 20px;
    position: relative;
    color: #e35660;
}
header .mainMenu nav ul li a.active:after{
	content: '';
	width: 100%;
	height: 3px;
	background-color:#e35660;
	position: absolute;
	bottom: -6px;
	left: 0;
}
header .mainMenu nav .search{
	border-bottom: 1px solid #e35660;
	margin-left: 50px;
}
header .mainMenu nav .search input{
	-webkit-appearance:none;
	-moz-appearance:none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10px;
	color: #8e8e8e;
	border:none;
	padding:5px 0;
	outline: none;
	width: 170px;
}
header .mainMenu nav .search button{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	cursor: pointer;
	border:none;
}
#suggestions{display: none;}
header .user{
	position: absolute;
	right: 20px;
	display: flex;
	font-size: 10px;
	align-items: center;
    top: calc(100% + 7px);
}
header .user .icon{border:1px solid #efefef;width: 18px;height: 18px;border-radius: 18px;background-position: center;background-size: cover;margin-right: 12px;}
header .user span{font-weight: 700;text-transform: uppercase;}
header .user em{font-size: 16px;position: relative;padding: 0 20px}
header .user em > div.sbnav{
	position: absolute;
	top:100%;right: 10px;
	width: 100px;
	font-family: 'Barlow', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	border:1px solid #efefef;
	border-radius: 3px;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
	background-color: #FFF;
	opacity: 0;
	pointer-events: none;
	transition: ease-out 0.3s;
	transform: translateY(10px);
}
header .user em > div.sbnav a{
	display: block;
	padding: 10px;
}
@media screen and (min-width: 1100px){
	header .user em:hover > div.sbnav{opacity: 1;pointer-events: initial;transform: translateY(0px);}
}
header .user em > div.sbnav a:last-child{color: #f04e60;border-top:1px solid #efefef;}
header .user i{
	width: 1px;
	height: 26px;
	background: #ededed;
	display: block;
	margin: 0 14px 0 18px;
}
header .user .points{color:#f04e60;}


header .categories{
	background-color: rgba(255,255,255,.94);
	border-bottom: 1px solid #f0f0f0;
	height: 40px;
}
header .categories .wp{display: flex;height: 100%;justify-content: flex-start;align-items: center}
#filter{
	font-size: 12px;
	color: #a6a6a6;
}
#filter a{
	color: #303030;
	padding: 3px 5px;
	margin-left: 4px;
	border-radius: 4px;
	border:1px solid #e3e3e3;
}
#filter a.active{color: #FFF;}
#filter a[data-rel="dermo"].active{background-color: #a0dbe9;border-color:#a0dbe9;}
#filter a[data-rel="makeup"].active{background-color: #a0dbe9;border-color:#a0dbe9;}
#filter a[data-rel="fragancias"].active{background-color: #a0dbe9;border-color:#a0dbe9;}
#filter a[data-rel="electro"].active{background-color: #a0dbe9;border-color:#a0dbe9;}

#filter select{
	font-family: 'Barlow', sans-serif;
	font-size: 12px;
	color: #a6a6a6;
	outline: none;
	-webkit-appearance:none;
	-moz-appearance:none;
	border:1px solid #e3e3e3;
	border-radius: 2px;
	padding: 5px 10px;
	padding-right: 25px;
	cursor: pointer;
	position: relative;
	background: url(../img/arrDwn.png) no-repeat center right;
}
/*LEGAL*/
#legal{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
	margin:0 25px;
	color: #f04e60
}
#popUplegal{
	position: absolute;
	top: 0;left:0;
	background: url(../img/bg-line.png);
	width: 100%;
	height: 100%;
	display: none;
	z-index: 99;
}
#popUplegal .content{
	width: 96%;
	max-width: 480px;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #e3e3e3;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	position: absolute;top: 50%;
	left: 50%;transform: translate(-50%,-50%);
}
#popUplegal .content h3{font-size: 15px;margin-bottom: 25px}
#popUplegal .content p{font-size: 12px;line-height: 1.4;margin: 15px 0;color: #303030;}
#popUplegal .content p a{text-decoration: underline;}
/*LOGIN-REGISTER*/
#init{width: 100%;min-height: 100vh;background: url(../img/bg-line.png);}
#init .wpForm{
	color: #2B2B2B;
	width: 90%;
	position: absolute;
	left: 50%;top:50%;
	transform: translate(-50%,-50%);
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: 0 0 7px rgba(0,0,0,0.2);
	padding: 40px;
}
#init .wpForm.login{width: 420px;}
#init .wpForm h2{font-family: 'DM Serif Display', serif;font-size: 32px;margin-bottom: 40px;}
#init .wpForm form{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-bottom: 40px;
}
#init .wpForm input,
#init .wpForm select{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:1px solid #e5e5e5;
	display: block;
	width: 100%;
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	color: #9a9a9a;
	height: 46px;
	border-radius: 5px;
	padding: 0 14px;
	margin-bottom: 15px;
	background-color: transparent;
}
#init .wpForm a.lastPass{font-size: 10px;color: #bdbdbd;position: relative;top:-5px;}
#init .wpForm label{
	display: block;
	width: 100%;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 8px
}
#init .wpForm button{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:0;
	padding: 0;
	display: block;
	background-color: #f4c2bd;
	font-size: 14px;
	width: 168px;
	height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 20px;
	font-family: 'Barlow', sans-serif;
}
#init .wpForm small{width: 100%;font-size: 10px;margin-top: 20px;}
#init .wpForm small a{text-decoration: underline;color: #2294E3;font-weight: 700}
#init .wpForm.register{max-width: 790px;}
#init .wpForm .mid{width: 48%;display: flex;flex-wrap: wrap;}
#init .wpForm .full{width: 100%;display: flex;flex-direction: row-reverse;}
#init .wpForm .mid select{margin-right:10px;width: 26%;background:url(../img/arr_dwn_select.jpg) no-repeat;background-position: 90% center}
#init .wpForm.register form{
	flex-wrap: wrap;
	flex-direction:row;
	justify-content: space-between;
}
#init .wpForm.register .foo{
	border-top:1px solid #e5e5e5;
	padding-top: 1px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
#init .wpForm.register .foo small img{position:relative;top:4px;margin-right: 4px;}
#init .wpForm.register .foo small:nth-child(2){text-align: right;}

/*HOME*/
.label{color: #FFF;text-transform: uppercase;font-size: 12px;padding: 10px 15px;position: absolute;top:20px;left: 20px;border-radius: 5px;}
.label.dermo{background:#00b5df;}
.label.electro{background:#90BC1E;}
.label.makeup{background:#e35660;}
.label.fragancias{background:#EA8E02;}

#level1{
	position: relative;
	height: 500px;
}
#level1 .news{
	position: absolute;
	background-position: center;
	background-size: cover;
	left: 50%;top:50%;
	transform: translate(-50%,-50%);
	transition: ease 0.5s;
}
#level1 .news.n01{width: 60%;max-width: 700px;}
#level1 .news.n02{width: 30%;max-width: 380px;left:16%;top: 40%;}
#level1 .news.n03{width: 27%;max-width: 340px;left: 83%;top:66%;}
#level1 .news a{display: block;width: 100%;position: relative;background-size: cover;border-radius: 5px;overflow: hidden;}
#level1 .news a:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 50%;
	bottom:0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 11%, rgba(0,0,0,0.72) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(11%, rgba(255,255,255,0.08)), color-stop(100%, rgba(0,0,0,0.72)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 11%, rgba(0,0,0,0.72) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 11%, rgba(0,0,0,0.72) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 11%, rgba(0,0,0,0.72) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 11%, rgba(0,0,0,0.72) 100%);
}
#level1 .news a h2{
	position: absolute;
	color: #FFF;
	padding: 20px;
	bottom: 0;
	z-index: 1;
	font-family: 'DM Serif Display', serif;
	line-height: 1.3
}
#level1 .news.n01 a{padding-top: 56.25%;font-size: 30px;}
#level1 .news.n02 a{padding-top: 75%;font-size: 18px}
#level1 .news.n03 a{padding-top: 60%;font-size: 18px}
@media (min-width: 1200px) {
	#level1 .news.selected{z-index: 1;transform: translate(-50%,-50%) scale(1.1);}
	#level1 .news.hovered{transform: translate(-50%,-50%) scale(.9);}
}

.third{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:30px auto;
}
.third a{
	width: 32%;
	position: relative;
	/*height: 360px;*/
	height: 250px;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	border-radius: 5px;
}
.third a:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 60%;
	bottom:0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 11%, rgba(0,0,0,0.72) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(11%, rgba(255,255,255,0.08)), color-stop(100%, rgba(0,0,0,0.72)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 11%, rgba(0,0,0,0.72) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 11%, rgba(0,0,0,0.72) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 11%, rgba(0,0,0,0.72) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.08) 11%, rgba(0,0,0,0.72) 100%);
}
.third a h2{
	position: absolute;
	color: #FFF;
	padding: 20px;
	bottom: 0;
	z-index: 1;
	font-family: 'DM Serif Display', serif;
	line-height: 1.1;
	font-size: 26px;
}
/*LISTA de NOTAS*/
.list{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin:40px auto;
}
.list a{
	width: 25%;
	padding: 7px;
}
.list.grid:not(.wpInterna):after{clear: both;display: block;content: ''}
.list.grid:not(.wpInterna) a{padding: 0;width: 25%;margin-bottom: 20px;}
.list.grid:not(.wpInterna) a .grid-sizer{width: 25%;}

.list a .img{width: 100%;padding-top: 56.25%;margin-bottom: 20px;background-size: cover;background-position: center;position: relative;}
.list a .img > img{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);width: 30px;opacity: .5}
.list a h2{color:#3A3D42;line-height: 1.3;font-family: 'DM Serif Display', serif;font-size: 18px;margin-bottom: 7px;}
.list a span{text-transform: uppercase;font-size: 10px;font-weight: 700}
.list a p{color: #a6a6a6;margin:10px 0;line-height: 1.3;font-size: 12px;}
.list a.dermo span{color:#a0dbe9;}
.list a.electro span{color:#a0dbe9;}
.list a.makeup span{color:#a0dbe9;}
.list a.fragancias span{color:#a0dbe9;}
.list .btn_carga_mas{width: 100%;margin-top:40px;}
.list .btn_carga_mas a, .btn_carga_mas a{
	width: 264px;
	display: block;
	background-color: #f4c2bd;
	font-size: 14px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 20px;
	font-family: 'Barlow', sans-serif;
	padding:0;
	margin:auto;
}
/*LANZAMIENTOS*/
#popUpLanzamientos{
	position: fixed;
	left: 50%;top:50%;
	transform: translate(-50%,-50%);
	z-index: 99;
	border-radius: 5px;
	padding: 20px;
	background-color: #2b2b2b;
	width: 98%;
	max-width: 560px;
	box-shadow: 0 0 15px rgba(0,0,0,.4);
	display: none;
}
#popUpLanzamientos iframe{width: 100%;height: 280px}
#popUpLanzamientos .close{
	padding:8px 10px;
	border-radius: 40px;
	background-color: #FFF;
	position: absolute;
	top:-10px;right: -10px;
	cursor: pointer;
	box-shadow: 0 0 15px rgba(0,0,0,.4)
}
#eventos{background-color: #f6f6f6;padding: 1px 0;margin-top: 40px;}
.eventos{justify-content: center;}
.eventos > h2{
	font-size: 42px;
	width: 100%;
	text-transform: uppercase;
	padding:20px 0;
	margin-bottom: 20px;
	color:#3A3D42;
	text-align: center;
	font-family: 'DM Serif Display', serif;
}
#eventos .list a{
	width: 50%;
	position: relative;
}
#eventos .list a .img{margin-bottom: 0}
#eventos .list a p{	
    position: absolute;
    top: 3px;
    padding: 10px;
    background: rgba(3, 107, 187,.8);
    border-radius: 3px;
    left: 15px;
    font-size: 12px;
    color: #FFF;
}
#eventos .list a h2{	
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: rgba(0,0,0,.5);
    width: calc(100% - 14px);
    left: 7px;
    color: #FFF
}
@media screen and (max-width: 740px) {
	#eventos .list a{width: 100%}
}


.lanzamientos{margin:40px auto;display: flex;flex-wrap: wrap;align-items: flex-start;justify-content: center;}
.lanzamientos > h2{
	font-size: 42px;
	width: 100%;
	text-transform: uppercase;
	padding:20px 0;
	margin-bottom: 20px;
	color:#3A3D42;
	text-align: center;
	font-family: 'DM Serif Display', serif;
}
article{
	width: calc(25% - 14px);
	margin: 7px;
	padding-bottom: 140px;
	position: relative;
	text-align: center;
}
article .img{
	width: 100%;
	padding-top: 100%;
	background-size: cover;
	background-position: center;
}
article .copy{position: absolute;width: 100%;bottom:0;background-color: #FFF;padding-top: 10px;min-height: 140px;}
article h3{text-align:center;color:#3A3D42;line-height: 1.3;font-family: 'DM Serif Display', serif;font-size: 18px;margin-bottom: 7px;}
article h4{font-size: 10px;margin-bottom: 5px;text-transform: uppercase;}
article.dermo h4{color:#a0dbe9;}
article.electro h4{color:#a0dbe9;}
article.makeup h4{color:#a0dbe9;}
article.fragancias h4{color:#a0dbe9;}
article p{color: #a6a6a6;margin:10px 0;line-height: 1.3;font-size: 12px;}
article a{
	min-width: 100px;
	padding:0 10px !important;
	display: inline-block;
	background-color: #f4c2bd;
	font-size: 12px;
	line-height: 38px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 20px;
	font-family: 'Barlow', sans-serif;
	margin:0 auto !important;
	white-space: nowrap;
}
article .content{display: none;}
article .close{
	position: absolute;
	padding: 12px;
	background-color: #FFF;
	left: calc(50% - 20px);top:-40px;
	display: none;
	cursor: pointer;
}
/*CONTACTO*/
#contacto{
	background-color: #f6f6f6;
	padding: 40px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 40px;
}
#contacto > h2{
	font-size: 42px;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 20px;
	color:#3A3D42;
	text-align: center;
	font-family: 'DM Serif Display', serif;
}
#contacto > p{color: #2B2B2B;font-size: 14px;}
#contacto form{
	max-width: 560px;
	padding: 20px 0;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	flex-wrap: wrap
}
#contacto form input,
#contacto form textarea{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:1px solid #e5e5e5;
	display: block;
	width: calc(50% - 20px);
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	color: #9a9a9a;
	height: 46px;
	border-radius: 5px;
	padding: 0 14px;
	margin-bottom: 15px;
	background-color: transparent;
	margin:10px;
}
#contacto form textarea{
	padding: 14px;
	resize: none;
	height: 100px;
	width: calc(100% - 20px)
}
#contacto form button,
#contacto form input[type=button]{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:0;
	padding: 0;
	display: block;
	background-color: #f4c2bd;
	font-size: 14px;
	width: 168px;
	height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 20px;
	font-family: 'Barlow', sans-serif;
	margin-right: 10px;
}
#contacto hr{width: 100%;margin:40px 0;}
#contacto .info{width: 100%;}
#contacto .info .wp{
	max-width: 840px;
	display: flex;
	align-items: flex-start;
}
#contacto .post{padding: 0 20px;width: 100%;}
#contacto .post h3{
	font-size: 24px;
	width: 100%;
	margin-bottom: 20px;
	color:#2B2B2B;
	font-family: 'DM Serif Display', serif;	
}
#contacto .post.data{max-width: 280px;}
#contacto .post.data p{
	font-size: 13px;
	position: relative;
	margin-bottom: 30px;
	padding-left: 20px;
	line-height: 1.3
}
#contacto .post.data p i{position: absolute;left: 0;top:50%;transform: translateY(-50%);}
footer{
	background-color: #d6d6d6;
	color: #2b2b2b;
	font-size: 12px;
}
footer .wp{
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer .wp a{text-decoration: underline;}

/*INTERNA*/
.list.wpInterna{max-width: 1100px}
.list.wpInterna:after{clear: both;display: block;content: ''}
.list.wpInterna a{padding: 0;width: calc(33.33% - 15px);margin-bottom: 40px;}
.list.wpInterna a .grid-sizer{width: calc(33.33% - 15px)}
.list.wpInterna article{width: calc(33.33% - 15px);margin:0;margin-bottom: 20px;position: relative;}
.list.wpInterna.lanzamientos article{width: calc(25% - 15px);}
@media (max-width: 1100px) {
	.list.wpInterna.lanzamientos article{width: calc(33.33% - 15px);
}
@media (max-width: 800px) {
	.list.wpInterna.lanzamientos article{width: calc(50% - 15px);
}
@media (max-width: 600px) {
	.list.wpInterna.lanzamientos article{width: calc(100% - 15px);
}
.list.wpInterna a:nth-child(4n) .img{padding-top: 100%}
.list.wpInterna a:nth-child(5n+1) .img{padding-top: 75%}

.wpFilters .checkbox{position: relative;line-height: 16px;margin-bottom: 5px;padding-left: 22px}
.wpFilters .checkbox input {
  position: absolute;
  opacity: 0;
  left: 0;top:0;
  margin:0;
  cursor: pointer;
  height: 16px;
  width:100%;
  z-index: 1
}
.wpFilters .checkbox:hover input ~ label {background-color:#f3b3b6;}
.wpFilters .checkbox input:checked ~ label {background-color: #f4c2bd;}
.wpFilters label {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ccc;
  border-radius: 3px;
  transition: ease-out .3s;
}
.wpFilters .checkbox label:after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wpFilters .checkbox input:checked ~ label:after {display: block;}

/*CLUB ALIADAS*/
.list.club_aliadas{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin:40px auto;
}
.list.club_aliadas .canjes{
	width: 25%;
	padding: 7px;
}
.list.club_aliadas .canjes .img{width: 100%;padding-top: 56.25%;margin-bottom: 20px;background-size: cover;background-position: center;position: relative;}
.list.club_aliadas .canjes .img > img{position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);width: 30px;opacity: .5}
.list.club_aliadas .canjes h2{color:#3A3D42;line-height: 1.3;font-family: 'DM Serif Display', serif;font-size: 18px;margin-bottom: 7px;}
.list.club_aliadas .canjes span.label{color:#FFF;background-color:#e35660;}
.list.club_aliadas .canjes p{color: #a6a6a6;margin:10px 0;line-height: 1.3;font-size: 12px;}
.list.club_aliadas .canjes a{display: inline-block;margin-bottom:15px;text-transform: uppercase;color: #FFF;font-size: 11px;line-height: 30px;padding: 0 15px;border-radius: 5px;background-color:#f4c2bd;width: auto;}
/*DETAIL VIDEOS*/
.embed-container {
    position: relative;
    padding-top: 50%;
    width: 100%;
}
.embed-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.detail_videos{
	display: flex;
	align-items: flex-start;
	margin: 20px auto;
}
.detail_videos .main {
    width: calc(100% - 280px);
}
.detail_videos .aside{
	max-width: 250px;
	margin-left: 30px;
}
.detail_videos .aside h3{
	font-family: 'DM Serif Display', serif;
	font-size: 32px;
	margin:20px 0;
}
.detail_videos .aside .morevideos{
	display: block;
	margin-bottom: 20px;
}
.detail_videos .aside .morevideos .img{
	padding-top: 50%;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}
.detail_videos .aside .morevideos .img img{
	position: absolute;
	top:50%;left: 50%;
	max-width: 30px;
	transform: translate(-50%,-50%);
}
.detail_videos .aside .morevideos h4{font-weight: 400;padding:10px 20px;}
.detail_videos .main h2{
	font-family: 'DM Serif Display', serif;
	font-size: 42px;
	margin:20px 0;
	font-weight: 400;
}
.detail_videos .main p{
	font-weight: 700;
	font-size: 18px;
	line-height: 1.3
}
.main .tags{margin-top: 50px;border-bottom: 1px solid #CED1D9;padding-bottom: 10px;margin-bottom: 20px;display: none;}
#multiplechoice{margin:60px 0;}
#multiplechoice img{display: block;width: 100%;}
#comments h3{
	margin-top: 50px;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 10px;
	margin-bottom: 30px;
	font-size: 30px;
	color: #7B808C;
}
#comments .comment{
	display: flex;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 20px;
	margin: 20px 0;
}
#comments .comment .avatar{
	min-width: 96px;
	height: 96px;
	background-position: center;
	background-size: cover;
	margin-right: 60px;
	border-radius: 90px;
}
#comments .comment.response{
	display: flex;
	border-bottom: 1px solid #CED1D9;
	padding-left: 100px;
}
#comments .comment.response .avatar{min-width: 60px;height: 60px;margin-right: 30px;}
#comments .comment small{
	font-style: italic;
	font-size: 12px;
	color: #7B808C;
}
#comments .comment h4{
	font-family: 'DM Serif Display', serif;
	font-size: 18px;
	margin:5px 0;
	font-weight: 400;
	color: #2b2b2b;
}
#comments .comment p{color: #7b808c;font-size: 14px;line-height: 1.4;margin: 10px 0;font-weight: 300}
#comments .comment a{color: #f4c2bd;font-size: 14px;font-weight: 700}
#write_comment{padding-top: 30px;padding-bottom: 30px;}
#write_comment h3{
	font-family: 'DM Serif Display', serif;
	font-size: 44px;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 15px;
	margin-bottom: 20px
}
#write_comment form{
	max-width: 800px;
	padding:10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}
#write_comment input{
	width: 100%;
	-webkit-appearance:none;
	-moz-appearance:none;
	margin:0;
	border:1px solid #eaeaea;
	background: #fbfbfb;
	border-radius: 5px;
	padding:15px;
	color: #c3c3c3;
	font-family: 'Barlow', sans-serif;
	font-size: 11px;
	resize: none;
	margin-bottom: 10px;
	/*height: 150px;*/
}

#write_comment textarea{
	width: 100%;
	-webkit-appearance:none;
	-moz-appearance:none;
	margin:0;
	border:1px solid #eaeaea;
	background: #fbfbfb;
	border-radius: 5px;
	padding:15px;
	color: #c3c3c3;
	font-family: 'Barlow', sans-serif;
	font-size: 11px;
	resize: none;
	height: 150px;
	outline: none;
}
#write_comment button,
#write_comment input[type=button]{	
	-webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    padding: 0;
    display: block;
    background-color: #f4c2bd;
    font-size: 14px;
    width: 200px;
    height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 20px;
    font-family: 'Barlow', sans-serif;
}
#comment-message{
	width: 100%;
	text-align: center;
	padding-top: 40px;
}


/*DETAIL VIDEOS*/
.detail_news{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.detail_news .imgPPl{display: block;width: 100%;margin-top: 30px;}
.detail_news #videoDetalle{
	width: 100%;
	padding-top: 56.25%;
	position: relative;
}
.detail_news #videoDetalle iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;left: 0;
}
.detail_news h2{
	color: #3A3D42;
	font-size: 42px;
	font-family: 'DM Serif Display', serif;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 30px;
}
.detail_news h3{
	line-height: 1.3;
	font-weight: 400;
	color: #3A3D42;	
	margin-bottom: 20px;
}
.detail_news h3 em{font-weight: 600}
.detail_news small{
	font-style: initial;
	font-size: 14px;
	font-weight: 300;
	color: #2B2B2B;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 10px;
	width: 100%;
	margin-bottom: 20px;
}
.detail_news .main{
	width: calc(100% - 290px);
	margin-top: 40px;
}
.detail_news .aside{max-width: 250px;margin-top: 40px;}
.detail_news .aside > img{max-width: 250px;margin-bottom: 20px}
.detail_news .main h3{font-size: 18px;line-height: 1.4;margin-bottom: 40px}
.detail_news .content{font-size: 14px;line-height: 1.5;color: #717171}
.detail_news .content p{margin-bottom: 15px}
.detail_news .content h2{font-size: 26px;margin:30px 0 10px;font-family: 'Barlow', sans-serif;color: #717171}
.detail_news .content h3{font-size: 22px;margin:30px 0 10px;font-family: 'Barlow', sans-serif;color: #717171}
.detail_news .content h4{font-size: 18px;margin:30px 0 10px;font-family: 'Barlow', sans-serif;color: #717171}
.detail_news .content ul{list-style: disc inside;}
.related h3{
	font-size: 32px;
	font-family: 'DM Serif Display', serif;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 10px;
}
.related .list{margin-top: 20px}
/*MI PERFIL*/
#perfil {display: flex;flex-wrap: wrap}
#perfil h2{
	color: #3A3D42;
	font-size: 42px;
	font-family: 'DM Serif Display', serif;
	width: 100%;
	margin: 20px 0;
	border-bottom: 1px solid #CED1D9;
	padding-bottom: 20px;
}
#perfil .col{width: 50%;margin-right: 40px;}
#perfil .col.cs{max-width:200px;text-align: center;}
#perfil .col.cs .avatar{
	width: 100%;
	position: relative;
	padding-top: 100%;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	border:1px solid #ced1d9;
	margin-bottom: 20px;
	/*cursor: pointer;*/
}
#perfil .col.cs .avatar > img{
	position: absolute;
	width: 50px;
	top:50%;left: 50%;
	transform: translate(-50%,-50%);
	mix-blend-mode: difference;
}
#perfil .col.cs .name{text-transform: uppercase;font-weight: 700;margin-bottom: 20px;font-size: 18px;}
#perfil .col.cs .ptos{color: #f4c2bd;margin-top: 10px}
#perfil .col form {
    max-width: 560px;
    padding: 20px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#perfil .col form input{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:1px solid #e5e5e5;
	display: block;
	width: calc(50% - 20px);
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	color: #9a9a9a;
	height: 46px;
	border-radius: 5px;
	padding: 0 14px;
	margin-bottom: 15px;
	background-color: transparent;
	margin:10px;
}
#perfil .col form label{
	font-size: 11px;
	color: #505050;	
	padding: 0 14px;
	width: 50%;
	margin-top:15px;
	text-transform: uppercase;
}
#perfil .col form .farmacia{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:1px solid #e5e5e5;
	display: block;
	width: calc(100% - 20px);
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	color: #9a9a9a;
	height: 46px;
	border-radius: 5px;
	padding: 0 14px;
	margin-bottom: 15px;
	background-color: transparent;
	margin:10px;
}
#perfil .col form button,
#perfil .col form input[type=button]{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:0;
	padding: 0;
	display: block;
	background-color: #f4c2bd;
	font-size: 14px;
	width: 168px;
	height: 48px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 20px;
	font-family: 'Barlow', sans-serif;
	margin-right: 10px;
}
.ok{
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	color: #0c960c;
	padding-left: 15px;
}
.error{
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	color:#f00;
	padding-left: 15px;
}
#popUpAvatar{
	position: fixed;
	left: 50%;top:50%;
	transform: translate(-50%,-50%);
	z-index: 99;
	border-radius: 5px;
	padding: 20px;
	background-color: #2b2b2b;
	width: 98%;
	max-width: 560px;
	box-shadow: 0 0 15px rgba(0,0,0,.4);
	display: none;
}
/*#popUpAvatar iframe{width: 100%;height: 280px}*/
#popUpAvatar .close{
	padding:8px 10px;
	border-radius: 40px;
	background-color: #FFF;
	position: absolute;
	top:-10px;right: -10px;
	cursor: pointer;
	box-shadow: 0 0 15px rgba(0,0,0,.4)
}

#my-awesome-dropzone{
	border-radius: 10px;
	/*border: 2px dashed #ccc;*/
	border: none;;
}
#my-awesome-dropzone button{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:0;
	padding: 0;
	display: block;
	background-color: #f4c2bd;
	font-size: 12px;
	width: 80px;
	height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
	border-radius: 3px;
	/*margin-top: 20px;*/
	font-family: 'Barlow', sans-serif;
	float: right;
	/*margin-right: 10px;*/
}
.dropzone .dz-message{
	margin:2.8em 0 !important;
}

.archivos{
	-webkit-appearance:none;
	-moz-appearance:none;
	outline: none;
	border:0;
	padding: 12px;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	background-color: #f4c2bd;
	font-size: 14px;
	/*width: 168px;
	height: 48px;*/
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	border-radius: 3px;
	font-family: 'Barlow', sans-serif;
}

.banner_main,
.banner_bottom,
.banner_lateral{
	text-align: center;
}
.banner_main img,
.banner_bottom img,
.banner_lateral img{
	display: block;
	margin: 20px auto;
}

.tags span.label{
	color: #FFF !important;
    background-color: #e35660;
    font-weight: normal;
    font-size: 10px;
}

@media (max-width: 1200px) {
	.banner_main img, .banner_bottom img, .banner_lateral img{width: 100%;}
	header .mainMenu nav{
	    position: fixed;
    	width: 100%;
    	top: 0;left: 0;
    	background-image: url(../img/bg-line.png);
    	flex-direction: column;
    	padding-top: 190px;
    	height: 100%;
    	z-index: -1;
    	align-items: center;
    	justify-content: flex-start;
    	display: none;
    }
    header .mainMenu nav ul li{display: block;color: #FFF;font-size: 18px;text-align: center;line-height: 1.6;margin-left: 0}
    header .mainMenu nav .search{order:1;margin: 0 auto 40px;max-width: 290px;width: 80%}
    header .mainMenu nav .search button,
    header .mainMenu nav .search input{background: transparent;color: #FFF;font-size: 18px;}
    header .mainMenu nav .search input{width: calc(100% - 40px);}
    header .mainMenu nav .search input::placeholder{color: #FFF}
    header .user{position: static;}
    header .info,
    header .user em{display: none;}
    #burger{display: block;padding: 10px;width: 40px;margin-left: 100px}
    #burger i{display: block;width: 100%;height: 1px;background-color: #2B2B2B;margin:4px 0;}

    /*HOME*/
    #level1{padding: 20px;height: auto;}
    #level1 .news{position: static;transform: translate(0,0);width: 100% !important;max-width: 100% !important;margin-bottom: 20px;}
    #level1 .news a{padding-top: 50% !important}
}
@media (max-width: 750px) {
	#init .wpForm.login{width: 96%}
	footer .wp{flex-direction: column;align-items: center;justify-content: center;padding: 10px;}
	footer .wp p{text-align: center;font-size: 11px;margin: 3px 0;}
	.wp{padding: 0 14px;}
	header .mainMenu{padding: 10px 14px;}
	header .mainMenu > a:first-child{width: 45px;overflow: hidden;}
	#burger{margin-left: 3px;margin-right: -10px}
	header .user .icon{margin-right: 6px}
	header .user i{margin: 0 10px 0 14px;}
	header .strip{height: 0;}
	header .mainMenu img.logo{min-width: 100px;max-width: 100px;}
	header .categories{height: 35px;}
	header .categories .wp{padding: 0;justify-content: center;}
	#filter{font-size: 10px;}
	#filter a{margin:0 2px;}
	#filter > span{display: none;}
	section { padding-top: 95px;}
	#level1 {padding: 14px;padding-bottom: 0}
	#level1 .news a{padding-top: 57% !important;}
	#level1 .news a h2{padding: 14px;font-size: 20px !important;}
	.label{top:10px;left: 10px;padding: 6px 10px;}
	.third{flex-wrap: wrap;margin-bottom: 15px}
	.third a{width: 100%;padding-top: 50%;height: auto;margin-bottom: 15px;}
	.third a h2{font-size: 16px;padding: 14px;}
	.list{margin:20px 0;}
	.list a{padding: 5px;width: 50%;}
	.list a .img{margin-bottom: 10px;}
	.list a h2, article h3{font-size: 14px;}
	.list a span, article h4{font-size: 9px}
	.eventos > h2,.lanzamientos > h2, #contacto > h2{font-size: 26px;padding: 10px 0;margin-bottom: 10px;}
	.lanzamientos{margin:20px 0;}
	article{width:calc( 50% - 10px);margin: 5px;}
	article p, article a{font-size: 10px;}
	article a{line-height: 30px;}
	#contacto{padding: 20px 14px;}
	#contacto > p{font-size: 12px;text-align: center;padding: 0 10px}
	#contacto form{padding: 10px 0;}
	#contacto form input, #contacto form textarea{
		width: 100%;
		margin: 4px 0;
		height: 38px;
		padding: 0 10px;
		font-size: 12px;
	}
	#contacto form textarea {padding: 10px;height: 80px}
	#contacto form button, #contacto form input[type=button],
	#write_comment button, #write_comment input[type=button],
	#perfil .col form button, #perfil .col form input[type=button]{width: 100%;margin:0;margin-top: 10px;height: 38px;}
	#contacto hr{margin:25px 0;}
	#contacto .info .wp{padding: 0;flex-direction: column;}
	#contacto .post{width: 100%;padding: 0;margin-top: 20px;}
	#contacto .post.data{order:1;}
	#contacto .post.data p{margin-bottom: 15px;}

	.list.club_aliadas{margin: 20px auto;}
	.list.club_aliadas .canjes {width: 50%;padding: 5px;}
	.list.club_aliadas .canjes .img{margin-bottom: 10px;padding-top: 75%;}
	.list.club_aliadas .canjes h2{font-size: 14px;}
	.list.club_aliadas .canjes a{width: 100%;text-align: center;}
	
	.list.wpInterna{padding: 0 10px}
	.list.wpInterna a{width: calc(50% - 20px)}

	.list.grid:not(.wpInterna) a{width: 40%}
	.list.wpInterna article{width: calc(50% - 20px);}
	
	.detail_news, .detail_videos{flex-direction: column;}
	.detail_news h2, #write_comment h3, .detail_videos .main h2, 
	.detail_videos .aside h3, #perfil h2{width:100%;font-size: 26px;margin-bottom: 10px;margin-top: 20px;}
	.detail_news h3{font-size: 12px}
	.detail_news small{font-size: 12px;margin-bottom: 10px;}
	.detail_news .imgPPl{margin-top: 15px;}
	.detail_news .aside, .detail_news .main, 
	.detail_videos .main, .detail_videos .aside{width: 100%;margin:0;margin-top: 20px;max-width: 100%;}
	.detail_news .content, .detail_videos .main p{font-size: 12px;}
	.detail_videos .aside{display: flex;flex-wrap: wrap;justify-content: space-between;margin-top: 0}
	.detail_videos .aside .morevideos{width: 48%;}
	.detail_videos .aside .morevideos h4{padding: 10px 0;font-size: 12px;}
	.main .tags{margin-top: 25px;margin-bottom: 10px;font-size: 10px}

	#write_comment form{padding: 10px 0}
	#comments h3{font-size: 18px;margin-top:25px;margin-bottom: 15px;}
	#comments .comment{margin: 10px 0;padding-bottom: 15px;}
	#comments .comment .avatar{min-width: 40px;height: 40px;margin-right: 20px;}
	#comments .comment small{font-size: 9px}
	#comments .comment h4{font-size: 14px;}
	#comments .comment p{font-size: 11px}
	#comments .comment a{font-size: 12px;}

	#perfil .col{width: 100%;max-width: 100% !important;margin:10px 0;}
	#perfil .col form{justify-content: space-between;}
	#perfil .col form .farmacia{margin:5px 0;width: 100%;}
	#perfil .col form label{font-size: 9px}
	#perfil .col form input{margin:5px 0;width: calc(50% - 5px);}
}


