<script src="https://cdn.ckeditor.com/4.5.11/standard-all/ckeditor.js"></script>
<script>
$(document).ready(function() {

  /*$('#tags').tagsInput({
     placeholder: 'Agregar Tags',
     removeWithBackspace: true,
     <?php if($this->tags):?>
    'autocomplete': {
      source: [
        <?php foreach ($this->tags as $val):?>
         '<?=$val['nombre']?>', 
        <?php endforeach?>        
      ]
      <?php endif?>
    }
  });*/
  
    
  $('#bt_enviar').click(function(){
    
    
      for (instance in CKEDITOR.instances) {
          CKEDITOR.instances[instance].updateElement();
      }

      if ($("#titulo").val() == "") {
        alert("Debe completar el campo titulo");
        $("#titulo").val('');
        $('#titulo').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

      // var _item =0;
      for (var i = 1; i <= 25; i++) {
            
            // _item++; 

            if ($("#_preg"+i).val() == "") {
                alert('El campo no puede estar vacio');
                var _algo = "_preg"+i;
                CKEDITOR.instances[_algo].focus();
                // return false; 
                // salir = false;
                return false;       
            }


            /* for (var x = 1; x < 5; x++) {
                
                if ($("#_resp"+i+"_"+x).val() == "") {
                    alert('El campo no puede estar vacio');
                    var _algo2 = "_resp"+i+"_"+x;
                    CKEDITOR.instances[_algo2].focus();
                    return false;        
                }
            }*/

            // _item = i
            if ($("#_resp"+i+"_1").val() == "" && $("#_resp"+i+"_2").val() == "" && $("#_resp"+i+"_3").val() == "" && $("#_resp"+i+"_4").val() == "") {
                alert('Todos los campos respuestas no pueden estar vacios en el Item '+ i);
                var _algo2 = "_resp"+i+"_1";
                CKEDITOR.instances[_algo2].focus();
                return false;        
            }



            if ($("#_resp_correcta"+i).val() == "") {
                alert('El campo no puede estar vacio');
                $("#_resp_correcta"+i).focus();
                // return false; 
                // salir = false;
                return false;       
            }

            if ($("#_puntos"+i).val() == "") {
                alert('El campo no puede estar vacio');
                $("#_puntos"+i).focus();
                 return false; 
              //   salir = false;
              // return false;      
            }

            if ($("#_puntos"+i).val() != undefined) {
              console.log($("#_puntos"+i).val());
              if (isNaN($("#_puntos"+i).val())){
                alert("Debe ingresar un valor numerico");
                $("#_puntos"+i).focus();
                return false;
              }
            }
           
       
      }


      $( "#cargar_trabajo" ).submit();

     
  });
  
  
  
});

</script>



<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Juegos</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>


<div class="row wrapper wrapper-content">  
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Cargar Multiple Choice</h5>
                        </div>
                        <form class="form-horizontal" id="cargar_trabajo" action="" method="POST" role="form">
                        <input type="hidden" name="envio01" value="1" />        
                         <input type="hidden" name="_tipo_juego" value="1" />  
                        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">  



                        
                         <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Titulo</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="<?php if(isset($this->data['titulo'])) echo $this->data['titulo']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            
                            <div class="val_data input_fields_wrap"> 

                               <div class="form-group">
                                 <div class="col-lg-12 alert alert-info">
                                  <h4>Item 1</h4>
                                 </div>
                               </div> 
                                                      
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Pregunta</label>
                                    <div class="col-lg-9">
                                        <textarea class="form-control" id="_preg1" name="_preg[]"></textarea>
                                        <script>
                                            CKEDITOR.replace('_preg1', {
                                                extraPlugins: 'colorbutton'
                                            });
                                        </script>
                                    </div>
                                </div>
                                                     
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Respuesta 1</label>
                                    <div class="col-lg-9">
                                         <textarea class="form-control" id="_resp1_1" name="_resp[0][]"></textarea>
                                          <script>
                                              CKEDITOR.replace('_resp1_1', {
                                                  extraPlugins: 'colorbutton'
                                              });
                                          </script>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Respuesta 2</label>
                                    <div class="col-lg-9">
                                         <textarea class="form-control" id="_resp1_2" name="_resp[0][]"></textarea>
                                          <script>
                                              CKEDITOR.replace('_resp1_2', {
                                                  extraPlugins: 'colorbutton'
                                              });
                                          </script>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Respuesta 3</label>
                                    <div class="col-lg-9">
                                         <textarea class="form-control" id="_resp1_3" name="_resp[0][]"></textarea>
                                          <script>
                                              CKEDITOR.replace('_resp1_3', {
                                                  extraPlugins: 'colorbutton'
                                              });
                                          </script>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Respuesta 4</label>
                                    <div class="col-lg-9">
                                         <textarea class="form-control" id="_resp1_4" name="_resp[0][]"></textarea>
                                          <script>
                                              CKEDITOR.replace('_resp1_4', {
                                                  extraPlugins: 'colorbutton'
                                              });
                                          </script>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Respuesta correcta</label>
                                    <div class="col-lg-9">
                                      <select class="form-control" name="_resp_correcta[]" id="_resp_correcta1">
                                         <option value="0">Respuesta 1</option>
                                         <option value="1">Respuesta 2</option>
                                         <option value="2">Respuesta 3</option>
                                         <option value="3">Respuesta 4</option>
                                      </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Puntos</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="_puntos1" name="_puntos[]" placeholder="Puntos">
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-8">
                                    <button class="add_field_button btn btn-primary btn-xs">Agregar pregunta</button>
                                </div>
                            </div>


                            <script>
                                
                                var x = 1;
                                var c;
                                $(".add_field_button").click(function(e){                                   

                                    e.preventDefault();
                                    if(x < 25){ 
                                        x++;
                                        c = x-1;
                                         $(".input_fields_wrap").append('<div class="form-group"><hr><div class="col-lg-12 alert alert-info"><h4>Item '+x+'</h4></div></div>');

                                        $(".input_fields_wrap").append('<div class="form-group"><label class="col-sm-2 control-label">Pregunta</label><div class="col-sm-9"><textarea id="_preg'+x+'" name="_preg[]" rows="50"></textarea><script>CKEDITOR.replace("_preg'+x+'", {allowedContent: true,extraPlugins: "colorbutton"});<\/script></div><a href="javascript:void(0)" class="remove_field_BENEF"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a></div>');
                                       
                                        $(".input_fields_wrap").append('<div class="form-group"><label class="col-sm-2 control-label">Respuesta 1</label><div class="col-sm-9"><textarea id="_resp'+x+'_1" name="_resp['+c+'][]" rows="50"></textarea><script>CKEDITOR.replace("_resp'+x+'_1", {allowedContent: true,extraPlugins: "colorbutton"} );<\/script></div></div>'+
                                          '<div class="form-group"><label class="col-sm-2 control-label">Respuesta 2</label><div class="col-sm-9"><textarea id="_resp'+x+'_2" name="_resp['+c+'][]" rows="50"></textarea><script>CKEDITOR.replace("_resp'+x+'_2", {allowedContent: true,extraPlugins: "colorbutton"} );<\/script></div></div>'+
                                          '<div class="form-group"><label class="col-sm-2 control-label">Respuesta 3</label><div class="col-sm-9"><textarea id="_resp'+x+'_3" name="_resp['+c+'][]" rows="50"></textarea><script>CKEDITOR.replace("_resp'+x+'_3", {allowedContent: true,extraPlugins: "colorbutton"} );<\/script></div></div>'+
                                          '<div class="form-group"><label class="col-sm-2 control-label">Respuesta 4</label><div class="col-sm-9"><textarea id="_resp'+x+'_4" name="_resp['+c+'][]" rows="50"></textarea><script>CKEDITOR.replace("_resp'+x+'_4", {allowedContent: true,extraPlugins: "colorbutton"} );<\/script></div></div>');

                                       $(".input_fields_wrap").append('<div class="form-group"><label class="col-sm-2 control-label">Respuesta correcta</label><div class="col-sm-9"><select class="form-control" name="_resp_correcta[]" id="_resp_correcta'+x+'"><option value="0">Respuesta 1</option><option value="1">Respuesta 2</option><option value="2">Respuesta 3</option><option value="3">Respuesta 4</option></select></div></div>');  

                                       $(".input_fields_wrap").append('<div class="form-group"><label class="col-sm-2 control-label">Puntos</label><div class="col-sm-9"><input type="text" class="form-control" id="_puntos'+x+'" name="_puntos[]" placeholder="Puntos"></div></div>');                              

                                        
                                    }
                                });
                                
                                $(".input_fields_wrap").on("click",".remove_field_BENEF", function(e){
                                    e.preventDefault();
                                    // $(this).parent('div').next('div').next('div').remove();
                                    $(this).parent('div').prev('div').remove();
                                    $(this).parent('div').next('div').remove();
                                    $(this).parent('div').next('div').remove();
                                    $(this).parent('div').next('div').remove();
                                    $(this).parent('div').next('div').remove();
                                    $(this).parent('div').remove();
                                    x--;
                                })

                            </script>


                        </div>


                       

                        <div class="ibox-content">
                          <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-2">
                                      <input type="button" class="btn btn-success" id="bt_enviar" nname="cargar" value="Guardar" />                                      
                                    </div>                                                                       
                                </div>
                                
                              
                            </div>                            
                        </div>
                       </form> 
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>







