<script src="https://cdn.ckeditor.com/4.5.11/standard-all/ckeditor.js"></script>
<script>
$(document).ready(function() {
	
	/*$('#tags').tagsInput({
	     placeholder: 'Agregar Tags',
	     removeWithBackspace: true,
	     <?php if($this->tags):?>
	    'autocomplete': {
	      source: [
	        <?php foreach ($this->tags as $val):?>
	         '<?=$val['nombre']?>', 
	        <?php endforeach?>        
	      ]
	      <?php endif?>
	    }
	 });*/
		
	$('#bt_enviar').click(function(){
    
    
      for (instance in CKEDITOR.instances) {
          CKEDITOR.instances[instance].updateElement();
      }

      if ($("#titulo").val() == "") {
        alert("Debe completar el campo titulo");
        $("#titulo").val('');
        $('#titulo').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

      // var _item =0;
      for (var i = 1; i <= 25; i++) {
            
            // _item++; 

            if ($("#_preg"+i).val() == "") {
                alert('El campo no puede estar vacio');
                var _algo = "_preg"+i;
                CKEDITOR.instances[_algo].focus();
                // return false; 
                // salir = false;
                return false;       
            }


            /* for (var x = 1; x < 5; x++) {
                
                if ($("#_resp"+i+"_"+x).val() == "") {
                    alert('El campo no puede estar vacio');
                    var _algo2 = "_resp"+i+"_"+x;
                    CKEDITOR.instances[_algo2].focus();
                    return false;        
                }
            }*/

            // _item = i
            if ($("#_resp"+i+"_1").val() == "" && $("#_resp"+i+"_2").val() == "" && $("#_resp"+i+"_3").val() == "" && $("#_resp"+i+"_4").val() == "") {
                alert('Todos los campos respuestas no pueden estar vacios en el Item '+ i);
                var _algo2 = "_resp"+i+"_1";
                CKEDITOR.instances[_algo2].focus();
                return false;        
            }



            if ($("#_resp_correcta"+i).val() == "") {
                alert('El campo no puede estar vacio');
                $("#_resp_correcta"+i).focus();
                // return false; 
                // salir = false;
                return false;       
            }

            if ($("#_puntos"+i).val() == "") {
                alert('El campo no puede estar vacio');
                $("#_puntos"+i).focus();
                 return false; 
              //   salir = false;
              // return false;      
            }

            if ($("#_puntos"+i).val() != undefined) {
              console.log($("#_puntos"+i).val());
              if (isNaN($("#_puntos"+i).val())){
                alert("Debe ingresar un valor numerico");
                $("#_puntos"+i).focus();
                return false;
              }
            }
           
       
      }


      $( "#editar_trabajo" ).submit();

     
  });
	
	
	
});

</script>


<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Juegos</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>


<div class="row wrapper wrapper-content">  
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Editar Multiple Choice</h5>
                        </div>
                        <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" >
                        <input type="hidden" name="envio01" value="1" />
                        <input type="hidden" name="_tipo_juego" value="1" />
                        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">


                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Titulo</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="<?= $this->trabajo['titulo']?>">
                                </div>
                            </div>
                        </div>

                        

                        <div class="ibox-content">                           
                            
                                <div class="val_data input_fields_wrap"> 

                                  <?php for ($i=0; $i < count($this->trabajo['_preg']); $i++):?>

                                   <div class="form-group">
                                    <?php if($i!=0):?>
                                    <hr>
                                    <?php endif?>
                                     <div class="col-lg-12 alert alert-info">
                                      <h4>Item <?=$i+1?></h4>
                                     </div>
                                   </div> 
                                                          
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Pregunta</label>
                                        <div class="col-lg-9">
                                            <textarea class="form-control" id="_preg<?=$i+1?>" name="_preg[]"><?= $this->trabajo['_preg'][$i]?></textarea>
                                            <script>
                                                CKEDITOR.replace('_preg<?=$i+1?>', {
                                                    extraPlugins: 'colorbutton'
                                                });
                                            </script>
                                        </div>
                                    </div>
                                                         
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Respuesta 1</label>
                                        <div class="col-lg-9">
                                             <textarea class="form-control" id="_resp<?=$i+1?>_1" name="_resp[<?=$i?>][]"><?= $this->trabajo['_resp'][$i][0]?></textarea>
                                              <script>
                                                  CKEDITOR.replace('_resp<?=$i+1?>_1', {
                                                      extraPlugins: 'colorbutton'
                                                  });
                                              </script>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Respuesta 2</label>
                                        <div class="col-lg-9">
                                             <textarea class="form-control" id="_resp<?=$i+1?>_2" name="_resp[<?=$i?>][]"><?= $this->trabajo['_resp'][$i][1]?></textarea>
                                              <script>
                                                  CKEDITOR.replace('_resp<?=$i+1?>_2', {
                                                      extraPlugins: 'colorbutton'
                                                  });
                                              </script>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Respuesta 3</label>
                                        <div class="col-lg-9">
                                             <textarea class="form-control" id="_resp<?=$i+1?>_3" name="_resp[<?=$i?>][]"><?= $this->trabajo['_resp'][$i][2]?></textarea>
                                              <script>
                                                  CKEDITOR.replace('_resp<?=$i+1?>_3', {
                                                      extraPlugins: 'colorbutton'
                                                  });
                                              </script>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Respuesta 4</label>
                                        <div class="col-lg-9">
                                             <textarea class="form-control" id="_resp<?=$i+1?>_4" name="_resp[<?=$i?>][]"><?= $this->trabajo['_resp'][$i][3]?></textarea>
                                              <script>
                                                  CKEDITOR.replace('_resp<?=$i+1?>_4', {
                                                      extraPlugins: 'colorbutton'
                                                  });
                                              </script>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Respuesta correcta</label>
                                        <div class="col-lg-9">
                                          <select class="form-control" name="_resp_correcta[]" id="_resp_correcta<?=$i+1?>">
                                             <option value="0" <?=($this->trabajo['_resp_correctas'][$i]==0) ? 'selected': ''?>>Respuesta 1</option>
                                             <option value="1"<?=($this->trabajo['_resp_correctas'][$i]==1) ? 'selected': ''?>>Respuesta 2</option>
                                             <option value="2"<?=($this->trabajo['_resp_correctas'][$i]==2) ? 'selected': ''?>>Respuesta 3</option>
                                             <option value="3"<?=($this->trabajo['_resp_correctas'][$i]==3) ? 'selected': ''?>>Respuesta 4</option>
                                          </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Puntos</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="_puntos<?=$i+1?>" name="_puntos[]" placeholder="Puntos" value="<?= $this->trabajo['_puntos'][$i]?>">
                                        </div>
                                    </div>


                                  <?php endfor?>

                                </div>


                              
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-8">
                                        <button class="add_field_button btn btn-primary btn-xs">Agregar pregunta</button>
                                    </div>
                                </div>


                                <script>
                                    
                                    var x = <?=count($this->trabajo['_preg'])?>;
                                    var c;
                                    $(".add_field_button").click(function(e){                                   

                                        e.preventDefault();
                                        if(x < 25){ 
                                            x++;
                                            c = x-1;
                                             $(".input_fields_wrap").append('<div class="form-group"><hr><div class="col-lg-12 alert alert-info"><h4>Item '+x+'</h4></div></div>');

                                            $(".input_fields_wrap").append('<div class="form-group"><label class="col-sm-2 control-label">Pregunta</label><div class="col-sm-9"><textarea id="_preg'+x+'" name="_preg[]" rows="50"></textarea><script>CKEDITOR.replace("_preg'+x+'", {allowedContent: true,extraPlugins: "colorbutton"});<\/script></div><a href="javascript:void(0)" class="remove_field_BENEF"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a></div>');
                                           
                                            $(".input_fields_wrap").append('<div class="form-group"><label class="col-sm-2 control-label">Respuesta 1</label><div class="col-sm-9"><textarea id="_resp'+x+'_1" name="_resp['+c+'][]" rows="50"></textarea><script>CKEDITOR.replace("_resp'+x+'_1", {allowedContent: true,extraPlugins: "colorbutton"} );<\/script></div></div>'+
                                              '<div class="form-group"><label class="col-sm-2 control-label">Respuesta 2</label><div class="col-sm-9"><textarea id="_resp'+x+'_2" name="_resp['+c+'][]" rows="50"></textarea><script>CKEDITOR.replace("_resp'+x+'_2", {allowedContent: true,extraPlugins: "colorbutton"} );<\/script></div></div>'+
                                              '<div class="form-group"><label class="col-sm-2 control-label">Respuesta 3</label><div class="col-sm-9"><textarea id="_resp'+x+'_3" name="_resp['+c+'][]" rows="50"></textarea><script>CKEDITOR.replace("_resp'+x+'_3", {allowedContent: true,extraPlugins: "colorbutton"} );<\/script></div></div>'+
                                              '<div class="form-group"><label class="col-sm-2 control-label">Respuesta 4</label><div class="col-sm-9"><textarea id="_resp'+x+'_4" name="_resp['+c+'][]" rows="50"></textarea><script>CKEDITOR.replace("_resp'+x+'_4", {allowedContent: true,extraPlugins: "colorbutton"} );<\/script></div></div>');

                                           $(".input_fields_wrap").append('<div class="form-group"><label class="col-sm-2 control-label">Respuesta correcta</label><div class="col-sm-9"><select class="form-control" name="_resp_correcta[]" id="_resp_correcta'+x+'"><option value="0">Respuesta 1</option><option value="1">Respuesta 2</option><option value="2">Respuesta 3</option><option value="3">Respuesta 4</option></select></div></div>');  

                                           $(".input_fields_wrap").append('<div class="form-group"><label class="col-sm-2 control-label">Puntos</label><div class="col-sm-9"><input type="text" class="form-control" id="_puntos'+x+'" name="_puntos[]" placeholder="Puntos"></div></div>');                              

                                            
                                        }
                                    });
                                    
                                    $(".input_fields_wrap").on("click",".remove_field_BENEF", function(e){
                                        e.preventDefault();
                                        $(this).parent('div').prev('div').remove();
                                        $(this).parent('div').next('div').remove();
                                        $(this).parent('div').next('div').remove();
                                        $(this).parent('div').next('div').remove();
                                        $(this).parent('div').next('div').remove();
                                        $(this).parent('div').remove();
                                        x--;
                                    })

                                </script>

                          


                        </div>



                       
                        


                       

                        <div class="ibox-content">
                          <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-2">
                                      <input type="button" class="btn btn-success" id="bt_enviar" name="cargar" value="Guardar" />
                                    </div>                                                                       
                                </div>
                                
                             
                            </div>                            
                        </div>
                       </form> 
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>


