<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Juegos</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">  
    <div class="ibox-title">  
        <h4 style="display: inline-block;">Multiple Choice</h4> 
        <a class="btn btn-w-m btn-success pull-right" href="<?php echo $this->_conf['url_enlace']?>administrador/juegos/cargarChoice">
          Cargar
        </a>                
    </div>
    <!-- <div class="ibox-content forum-container">
        <div class="row">
            <div class="col-lg-2">
                <form role="form" method="post" action="<?= $this->_conf['url_enlace']. 'administrador/mapas/supermercados'?>" name="_img_noticias">
                    <input type="hidden" name="_buscador_super" value="1">
                    <div class="btn-group">
                        <div class="input-group m-b">
                            <input type="text" class="form-control m-b" name="_busqueda">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                     <i class="fa fa-search"></i>
                                </button> 
                            </span> 
                            
                        </div>
                    </div>
                </form>
          </div>
      </div> 
    </div>-->


    <div class="ibox-content forum-container">
    
        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <div class="forum-item">
            <div class="row">
                <div class="col-md-10">
                    
                    <a href="" class="forum-item-title">
                        <?=admin::convertirCaracteres($datos['titulo'])?>
                    </a>                                   
                   
                </div>

                <div class="col-md-2 forum-info">
                    <div class="tooltip-demo pull-right">
                    

                        <a class="btn btn-warning btn-round" href="<?php echo $this->_conf['url_enlace']?>administrador/juegos/editarChoice/<?php echo $datos['id']?>">
                           Editar
                        </a>&nbsp;&nbsp;

                        <a href="javascript:void(0);" class="btn btn-danger btn-round _borrar_<?php echo $datos['id']?>" title="Borrar">
                            Eliminar
                        </a>&nbsp;&nbsp;

                    </div>
                </div>
            </div>
        </div>

       <script>
          $(document).ready(function () {
                $('._borrar_<?php echo $datos['id']?>').click(function () {
                    swal({
                        title: "Estas seguro de borrar este contenido?",
                        text: "Los datos se perderán permanentemente!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Si, que se borre!",
                        cancelButtonText: "No, mejor no!",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function (isConfirm) {
                        if (isConfirm) {
                            var url= _root_ + "administrador/juegos/borrarChoice";
                            var dataString = '_id=<?=$datos['id']?>&_csrf=<?=$this->_sess->get('_csrf')?>';
                            $.ajax({
                                    type: "POST",
                                    url: url,
                                    data: dataString,
                                    success: function(data){
                                      if(data=='ok'){
                                        swal("Borrado!", "El contenido se borró con exito.", "success");
                                        setTimeout(function() {
                                            location.reload();
                                        }, 200);
                                      }else{
                                        swal("Cancelado", "No se puede borrar", "error");
                                      }
                                        
                                        
                                    }
                            });
                        } else {
                            swal("Cancelado", "El contenido esta guardado", "error");
                        }
                    });
                });
            });
        </script>

        <?php endforeach?> 

        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>
    </div>
   <?php //echo (isset($this->paginacion)) ? $this->paginacion : ''?>
</div>

