<script>
$(document).ready(function() {

    var page=2;
    
    $.fn.loadMore = function(_cantReg){       
        var dataString = "p="+page+'&_csrf=<?=$this->_sess->get('_csrf')?>';
            
        $.ajax({
            type: "POST",
            url: _root_ + "videos/paginacion",
            data: dataString,
            //dataType: 'json',
            beforeSend: function(){
                //$('#btnVerMas').fadeOut('fast',function(){
                    $(".loader").fadeIn('slow');
                //});
                
            },
            success: function(datos){
                $(".loader").fadeOut('fast',function(){                 
                    //$("#contColeccionesAnteriores").append(datos);
                    $(datos).hide().appendTo('#cont_filtrado').fadeIn('slow');
                    
                    if(page==_cantReg){
                        $('#btnVerMas').hide();
                    }else{                  
                        page=page+1;
                        $('#btnVerMas').show();
                    }
                    
                }); 
                
                
            }
        });
    }

    

    $(".bt_cat_vid").click(function(){  
    // $(".bt_cat").mouseover(function() {
  
        /*if ($("#buscador").val() == "") {
          return false;        
        } */
        var valor = $(this).data("id");
       
        // var dataString = 'valor='+valor+'&_csrf=<?=$this->_sess->get('_csrf')?>';
        $.ajax({            
                type: 'POST',
                url: _root_+"videos/traerNotasFiltradasCat", 
                // data: dataString,
                data: {"valor" : valor, "_csrf" : "<?=$this->_sess->get('_csrf')?>"},
                dataType:"json",
                beforeSend: function(){
                    $('#cont_filtrado').fadeOut('fast').html('');
                  //$('.pagination').hide();
                  /*$('#contenedor').fadeOut('fast', function(){
                    $('.loader').fadeIn('fast');        
                  });*/
                },
                success: function(data){
                  $('#cont_filtrado').html(data.html).fadeIn('fast');
                  if(data.cantReg!=1){
                    $('._vermas').html('<a id="btnVerMas" href="javascript:void(0);" class="btn btn-warning" onclick="$().loadMore('+data.cantReg+')">Ver más</a>');
                    $('#btnVerMas').show();
                  }else{
                    $('#btnVerMas').hide();
                  }
                  //$('.pagination').hide();
                  /*$('.loader').fadeOut('fast', function(){
                    $('#contenedor').fadeIn('fast');  
                    $('.loader').fadeOut('fast');     
                  });*/
            
                },
                error: function(){
                     alert('error!!');
                }
        });
    
    
    })   

   
});
</script>
 
<section>

    <!--------------
     ACÁ VA BANNER 
    --------------->
   

    <!-- LISTA DE NOTAS -->
    <div id="cont_filtrado"  class="list wp">

        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <?php 
        
        $_img = home::traerDataImagenPorIdentificador($datos['identificador'],'tutoriales');
        if($_img !=''){            
            $_url_img = $this->_conf['base_url'] . "public/img/subidas/tutoriales/thumb/". $_img->path;             
        }

        $_cat=array();
        $_cat = explode(',', $datos['categorias']);       
        $_arr_cat=array();
        $_arr_label=array();
        foreach ($_cat as $val) {
          $_arr = home::traerCategoria($val);
          $_arr_cat[] = $_arr['nombre']; 
          $_arr_label[] = $_arr['clase']; 
        }
        $_cate = implode(', ', $_arr_cat);        
        ?>

        <a href="<?=$this->_conf['url_enlace']?>videos/detalle/<?=home::crearUrl($datos['id'],$datos['titulo'])?>" class="<?=$_arr_label[0]?>">
            <div class="img" style="background-image: url(<?=$_url_img?>)">
                <img src="<?=$_params['ruta_img']?>ico_play.png" alt="Video">
            </div>
            <span><?=$_arr_label[0]?></span>
            <h2><?=home::convertirCaracteres($datos['titulo'])?></h2>            
        </a>

        <?php endforeach?> 
        
        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?> 

    </div>

    <div class="loader"></div>

    <?php if(!empty($this->datos)):?>
    <?php if ($this->cantReg!=1):?>      
    <div class="btn_carga_mas _vermas">
        <a id="btnVerMas" href="javascript:void(0);" onclick="$().loadMore(<?=$this->cantReg?>)">Ver más</a>
    </div>        
    <?php endif?> 
    <?php endif?>

    <div class="banner_bottom">
        <?php if($this->banners_bottom):?>
        <?php foreach ($this->banners_bottom as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <?php if($val['link']!=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php else:?>
        <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        <?php endif?>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>

    <!-- CONTACTO -->
    <div id="contacto">
        <h2>Contacto</h2>
        <p>Comunicate con nosotras completando el formulario, atenderemos todas tus dudas.</p>
        <form id="formContacto" action="" method="POST">
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido de la Aliada" value="<?=$this->data_user['nombre']?>" required="" readonly>
            <input type="text" id="numero_cliente" name="numero_cliente" placeholder="Número de Cliente" value="<?=$this->data_user['numero_cliente']?>" required="" readonly>
            <input type="email" id="email" name="email" required="" placeholder="Email" value="<?=$this->data_user['email']?>" readonly>
            <input type="text" id="nombre_farmacia" name="nombre_farmacia" placeholder="Nombre de la Farmacia" value="<?=$this->data_user['razon_social']?>" required="" readonly>
            <textarea id="consulta" name="consulta" requided="" placeholder="Consulta"></textarea>
            <input type="button" name="bt_contacto" id="bt_contacto" value="ENVIAR">
           <!--  <button>ENVIAR</button> -->
        </form>
        <div class="ok"></div>
        <div class="error"></div>
        <hr>
        <div class="info">
            <div class="wp">
                <div class="post data">
                    <h3>Datos de Contacto</h3>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:aliadas@drogdelsud.com.ar">aliadas@drogdelsud.com.ar</a></p>

                    <p><i class="fa fa-phone" aria-hidden="true"></i> Conmutador General<br>
                    (011) 4309-9100</p>

                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Humberto Primo 1868, Capital Federal.
                    Buenos Aires, Argentina </p>
                </div>
                <div class="post">
                    <h3>Instagram Post</h3>
                    <!-- LightWidget WIDGET 
                    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
                    <iframe src="http://lightwidget.com/widgets/f8070f67a138540bab825fefaf43b05b.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>-->
                </div>
            </div>
        </div>
    </div>
</section>












<!-- 


 <div class="wrapper wrapper-content">  
    <div class="ibox-title">  
        <h4>Tendencias & Consejos</h4>              
    </div>
  

    <div class="ibox-content">
        <?php if($this->banners_top):?>
        <?php foreach ($this->banners_top as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>

    <div class="ibox-content forum-container">
        <h5>Filtrar por:</h5>
        <ul>
            <?php $_categorias = home::traerCategorias();?>
            <?php foreach ($_categorias as $val):?>
            <li><a class="bt_cat_vid" data-id="<?=$val['id']?>" href="javascript:void(0);"><?=$val['nombre']?></a></li>
            <?php endforeach?>
           
        </ul>
    </div>

    <div id="cont_filtrado" class="ibox-content forum-container">
    
        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <div class="forum-item" style="float: left; margin-right: 10px;">
            <div class="row">
                <div class="col-md-12">                    
                    
                    <?php $_img = home::traerDataImagenPorIdentificador($datos['identificador'],'tutoriales');?>
                    <?php if($_img !=''):?>
                    <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/tutoriales/thumb/". $_img->path ?>" >
                    <?php endif?>
                    <br>
                    <?php $_cat = explode(',', $datos['categorias'])?>
                    <?php 
                    foreach ($_cat as $val) {
                      $_arr = home::traerCategoria($val);
                      $_arr_cat[] = $_arr['nombre']; 
                    }
                    $_cate = implode(', ', $_arr_cat);
                    ?>
                    <small><b><?=$_cate?></b></small>
                    <h4><strong><?=home::convertirCaracteres($datos['titulo'])?></strong></h4>  
                 

                    <a class="btn btn-warning" href="<?=$this->_conf['url_enlace']?>videos/detalle/<?= home::crearUrl($datos['id'],$datos['titulo']) ?>">
                           ver
                    </a>                         
                    
                </div>
            </div>
        </div>    

        <?php endforeach?> 

        <?php else:?>
        <div class="forum-item">
            <div class="row">
                <div class="col-md-10"> 
                    <p>No hay datos cargados!</p>
                </div>
            </div>
        </div>
        <?php endif?>
    </div>

    <div style="clear: both;"></div>
    <div class="loader"></div>

    <?php if(!empty($this->datos)):?>
    <?php if ($this->cantReg!=1):?>      
    <div class="ibox-content _vermas">
        <a id="btnVerMas" href="javascript:void(0);" class="btn btn-warning" onclick="$().loadMore(<?=$this->cantReg?>)">Ver más</a>
    </div>        
    <?php endif?> 
    <?php endif?>
    

    <div class="ibox-content">
        <?php if($this->banners_bottom):?>
        <?php foreach ($this->banners_bottom as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>
  
</div> -->