<script language="javascript">
$(document).ready(function() {
  
  // $(".botonExcel").click(function(event) {
  //     $("#datos_a_enviar").val( $("<div>").append( $("#Exportar_a_Excel").eq(0).clone()).html());
  //     $("#FormularioExportacion").submit();
  // });

  $("#_exportar").click(function(){
       
           
      //var _data_ = $("#Exportar_a_Excel").eq(0).clone()).html();
      //$('input[name="_fondos"]').val(_data_);
     
      var url = _root_ + "administrador/controlpantalla/exportaDatos";     
      $.ajax({
        type: "POST",
        url: url,
        data: "exportar=si",
        success: function(data){

          window.open(data,'_self' );
           /*if(data == 1){
                $('#_carga_OK').modal({show:true});
                setTimeout(function() {
                    $('#_carga_OK').modal('hide');
                    window.location.href = _root_ + "administrador/controlpantalla/cargarInactivas";
                }, 2500);
            }else{
                $("._respuesta").html('').append(data).fadeIn('slow');
            }*/
        }
      });
      return false;
  });
   

});
</script>

<div id="head-bg-fix"></div>
<div class="wpContent">  
    <div class="btn-group-usuario">
      <a href="<?=$this->_conf['url_enlace']?>administrador/controlpantalla/selecTotem">Control de pantallas</a>
      <a href="#" class="active">Bitácora</a>
    </div>
    
    <div class="titVerContent">
      <h4><?=$this->totem->nombre?> <br><small><?=$this->totem->localidad?>.</small></h4>
    </div>

    <div class="wpContentBitacora">

      

      
      <?php foreach($this->bitacora as $data):?>
      <div class="row">
       
        <div class="cell">
          <strong><?=admin::convertirFecha($data->fecha->format('j-m-Y'))?></strong><!-- 12 Abril de 2018 -->
        </div>
        
        
        <div class="cell">
          <strong>Header</strong>
          <?php if($data->ids_videos!=''):?>
          <?php $_dat = explode(',', $data->ids_videos)?>          
          <?php for($i=0;$i<count($_dat);$i++):?>
          <?php if($i==0):?>
          <?=admin::traerVideoPorID($_dat[$i])->titulo?>
          <?php else:?>
          <br><?=admin::traerVideoPorID($_dat[$i])->titulo?>
          <?php endif?>
          <?php endfor?>
          <?php else:?>
           &nbsp;-
          <?php endif?>
        </div>
 
        <div class="cell">
          <strong>Catálogo</strong>
          <?php if($data->ids_catalogos!=''):?>
          <?php $_dat = explode(',', $data->ids_catalogos)?>          
          <?php for($i=0;$i<count($_dat);$i++):?>
          <?php if($i==0):?>
          <?=admin::traerCatalogoPorID($_dat[$i])->titulo?>
          <?php else:?>
          <br><?=admin::traerCatalogoPorID($_dat[$i])->titulo?>
          <?php endif?>
          <?php endfor?>
          <?php else:?>
           &nbsp;-
          <?php endif?>
        </div>
       
        <div class="cell">
          <strong>Footer</strong>
          <?php if($data->ids_footers!=''):?>
          <?php $_dat = explode(',', $data->ids_footers)?>
          <?php for($i=0;$i<count($_dat);$i++):?>
          <?php if($i==0):?>
          <?=admin::traerPromocionPorID($_dat[$i])->titulo?>
          <?php else:?>
          <br><?=admin::traerPromocionPorID($_dat[$i])->titulo?>
          <?php endif?>
          <?php endfor?>
          <?php else:?>
           &nbsp;-
          <?php endif?>
        </div>
       
        <div class="cell">
          <strong>Fondo de Pantalla</strong>
          <?php if($data->ids_fondos!=''):?>
          <?php $_dat = explode(',', $data->ids_fondos)?>
          <?php for($i=0;$i<count($_dat);$i++):?>
          <?php if($i==0):?>
          <?=admin::traerFondoPorID($_dat[$i])->titulo?>
          <?php else:?>
          <br><?=admin::traerFondoPorID($_dat[$i])->titulo?>
          <?php endif?>
          <?php endfor?>
          <?php else:?>
           &nbsp;-
          <?php endif?>
        </div>
              
        <div class="cell">
          <strong>Pantalla Inactiva</strong>
          <?php if($data->ids_inactivas!=''):?>
          <?php $_dat = explode(',', $data->ids_inactivas)?>
          <?php for($i=0;$i<count($_dat);$i++):?>
          <?php if($i==0):?>
          <?=admin::traerInactivaPorID($_dat[$i])->titulo?>
          <?php else:?>
          <br><?=admin::traerInactivaPorID($_dat[$i])->titulo?>
          <?php endif?>
          <?php endfor?>
          <?php else:?>
           &nbsp;-
          <?php endif?>
        </div>
        
      
        <div class="cell"><strong><?=ucfirst($data->accion)?> por</strong> <?=$data->id_user?></div>

      </div>
      <?php endforeach?>

      
    </div>
   

   <a href="<?=$this->_conf['url_enlace']?>administrador/controlpantalla/modificarContenido/<?=$this->id?>" class="volverBit">Volver</a>  
   <?php if(!empty($this->bitacora)):?>
   <a href="<?=$this->_conf['url_enlace']?>administrador/controlpantalla/exportaDatos/<?=$this->id?>" id="__exportar" class="verBit">Exportar datos</a>             
  <?php endif?>
                
</div>