<div id="head-bg-fix"></div>
<div class="wpContent">  
    <div class="btn-group-usuario">
      <a href="<?=$this->_conf['url_enlace']?>administrador/controlpantalla/selecTotem">Control de pantallas</a>
      <a href="#" class="active">Modificar Contenido</a>
    </div>
                  
                  
<div class="titVerContent">

            <h4><?=$this->totem->nombre?> <br><small><?=$this->totem->localidad?>.</small></h4>
       
                     
        <div class="form-group">
            <div id="contenido_totem" class="col-lg-12 _modif">
              <?php foreach($this->asignaciones as $data):?>
              <?php $_sinc = ($data->fecha_sincronizacion!='') ? $data->fecha_sincronizacion->format('d-m-Y H:i') : 'Nunca';?>
              <div id="<?=$data->id?>" class="cont_asig">
                <div class="col-lg-12">
                  <div>
                    <strong>Vigencia:</strong>
                    <?=$data->vigencia_desde->format('j-m-Y G:i').'hs'?> - <?=$data->vigencia_hasta->format('j-m-Y G:i').'hs'?>
                    <br>
                    <?php if($data->dias_semana !=''):?>
                    <span style="margin-left: 60px;">Días: <?=$data->dias_semana?></span>
                    <?php endif?>
                  </div>
                  <hr>
                </div>
                <div class="col-lg-12">
                  <?php if($data->ids_catalogos!=''):?>
                  <?php $_dat = explode(',', $data->ids_catalogos)?>
                  <p>Catalogos:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-danger btn-xs"><?=admin::traerCatalogoPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?>
                  <?php if($data->ids_videos!=''):?>
                  <?php $_dat = explode(',', $data->ids_videos)?>
                  <p>Videos:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-danger btn-xs"><?=admin::traerVideoPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?>
                  <?php if($data->ids_footers!=''):?>
                  <?php $_dat = explode(',', $data->ids_footers)?>
                  <p>Footer:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-danger btn-xs"><?=admin::traerPromocionPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?>
                  <?php if($data->ids_fondos!=''):?>
                  <?php $_dat = explode(',', $data->ids_fondos)?>
                  <p>Fondo:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-danger btn-xs"><?=admin::traerFondoPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?> 

                  <?php if($data->ids_inactivas!=''):?>
                  <?php $_dat = explode(',', $data->ids_inactivas)?>
                  <p>Pantalla Inactiva:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-danger btn-xs"><?=admin::traerInactivaPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?>                       
                  <hr>
                </div>
                <div class="col-lg-12">
                  <p>Ultima sincronizacion: <strong><?=$_sinc?></strong></p>
                  <p>Estado: <strong><?=$data->estado?></strong></p>
                </div>
                <div class="col-lg-10">
                  <a class="btn btn-info btn-lg btn-block" href="<?=$this->_conf['url_enlace']?>administrador/controlpantalla/editarContenido/<?=$data->id?>">Modificar</a>
                  <?php $_update = admin::traerAsignacionUpdatePorIdAsig($data->id)?>
                  <?php if(isset($_update)):?>
                  <a class="btn btn-danger btn-lg _deshacer" href="<?=$this->_conf['url_enlace']?>administrador/controlpantalla/ultimoCambio/<?=$this->totem->id?>/<?=$data->id?>">Deshacer último cambio</a>
                  <?php endif?>
                </div>
              </div>
              <?php endforeach?>
            </div>                    
        </div>
        <a class="verBit" href="<?=$this->_conf['url_enlace']?>administrador/controlpantalla/bitacora/<?=$this->id?>">Ver Bitacora</a>         
</div>