<script>
  $.Fastselect.defaults = {

    elementClass: 'fstElement',
    singleModeClass: 'fstSingleMode',
    noneSelectedClass: 'fstNoneSelected',
    multipleModeClass: 'fstMultipleMode',
    queryInputClass: 'fstQueryInput',
    queryInputExpandedClass: 'fstQueryInputExpanded',
    fakeInputClass: 'fstFakeInput',
    controlsClass: 'fstControls',
    toggleButtonClass: 'fstToggleBtn',
    activeClass: 'fstActive',
    itemSelectedClass: 'fstSelected',
    choiceItemClass: 'fstChoiceItem',
    choiceRemoveClass: 'fstChoiceRemove',
    userOptionClass: 'fstUserOption',

    resultsContClass: 'fstResults',
    resultsOpenedClass: 'fstResultsOpened',
    resultsFlippedClass: 'fstResultsFilpped',
    groupClass: 'fstGroup',
    itemClass: 'fstResultItem',
    groupTitleClass: 'fstGroupTitle',
    loadingClass: 'fstLoading',
    noResultsClass: 'fstNoResults',
    focusedItemClass: 'fstFocused',

    matcher: null,

    url: null,
    loadOnce: false,
    apiParam: 'query',
    initialValue: null,
    clearQueryOnSelect: true,
    minQueryLength: 1,
    focusFirstItem: false,
    flipOnBottom: true,
    typeTimeout: 150,
    userOptionAllowed: false,
    valueDelimiter: ',',
    maxItems: null,

    parseData: null,
    onItemSelect: null,
    onItemCreate: null,
    onMaxItemsReached: null,

    placeholder: 'Elegir una opción',
    searchPlaceholder: 'Buscar una opción',
    noResultsText: 'Nohay resultados',
    userOptionPrefix: 'Agregar '

};
  
$(document).ready(function(){

  $('.multipleSelect').fastselect();


   /*$(".provs").change(function () {
      if($(".provs option:selected").length > 4) {
        // you can disable rest of the things here
        alert("No puede seleccionar mas de 4 provincias");
        return false;
      }
  });

   $(".tipos").change(function () {
      if($(".tipos option:selected").length > 3) {
        // you can disable rest of the things here
        alert("No puede seleccionar mas de 3 tipos de locales");
        return false;
      }
  });*/
  
     
  $("#buscar").click(function(){      
     


    /*if($('.provs:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos una provincia");
        return false;
    }
    if($('.tipos:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos un tipo de local");
        return false;
    }*/

    if($(".provs option:selected").length == 0) {
      alert("Debe seleccionar al menos una provincia");
      return false;
    }

    if($(".provs option:selected").length > 4) {
      alert("No puede seleccionar mas de 4 provincias");
      return false;
    }

    if($(".tipos option:selected").length == 0) {
      alert("Debe seleccionar al menos un tipo de local");
      return false;
    }

    if($(".tipos option:selected").length > 3) {
      alert("No puede seleccionar mas de 3 tipos de locales");
      return false;
    }
     
     var url = _root_ + "administrador/controlpantalla/traerTotems";     
     $.ajax({
        type: "POST",
        url: url,
        data: $("#selec_totem").serialize(),
        beforeSend: function(){
          $("#contenido_totem").html('');
        },
        success: function(data){
          $("#contenido_totem").html(data);
                  
        }
     });
     return false;
    });
   /*$("#_enviar_data").click(function(){
       
            
       //$("._loading").show();
       
      var _data_ = getData('#drag ul.conexion');
      $('input[name="_totems"]').val(_data_);
      var url = _root_ + "administrador/asignacion/consolidarTotems";     
        $.ajax({
          type: "POST",
          url: url,
          data: "totems="+$('#_totems').val(),
          success: function(data){
             if(data == 1){
                  $('#_carga_OK').modal({show:true});
                  setTimeout(function() {
                      $('#_carga_OK').modal('hide');
                      window.location.href = _root_ + "administrador/asignacion/cargarHeader";
                  }, 2500);
              }else{
                  $("._respuesta").html('').append(data).fadeIn('slow');
               //$("._loading").hide();
              }
          }
        });
        return false;
    });*/
   
});
</script>
<div class="modal inmodal fade" id="_carga_OK" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    <a href="#" class="alert-link"> Guardando Datos. Espere...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="head-bg-fix"></div>
<div class="wpContent">
  <div class="btn-group-usuario">
        <a class="active" href="#">
          Control de pantallas
        </a>
  </div>
  <form class="form-horizontal" id="selec_totem" action="" method="POST" role="form">
    <input type="hidden" name="envio01" value="1" />
    <input type="hidden" id="_totems" name="_totems">
    <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
      
    <!-- <h2>Control de pantallas</h2>   -->

    <div class="bxContent" style="padding-top: 50px">
      <h4>Podes seleccionar hasta 4 provincias</h4>

      <select class="provs multipleSelect" multiple name="prov[]">
        <?php foreach($this->provincias as $prov):?>
        <option value="<?=$prov->id?>"><?=$prov->nombre?></option>
        <?php endforeach?>                           
      </select>


    <!-- 
        <?php foreach($this->provincias as $prov):?>
        <div class="col-lg-4">
          <div class="col-lg-1">
            <input type="checkbox" class="form-control provs" name="prov[]" value="<?=$prov->id?>"> 
          </div>
          <div class="col-lg-10">
            <?=$prov->nombre?>
          </div>
        </div>
        <?php endforeach?>
         -->
    </div>
    <div class="bxContent prov">
      <h4>Podes seleccionar hasta 3 tipos de locales</h4>
      <select class="tipos multipleSelect" multiple name="tipo_local[]">
        <?php foreach($this->tipo_locales as $tipo):?>
        <option value="<?=$tipo->id?>"><?=$tipo->nombre?></option>
        <?php endforeach?>                      
      </select>

         <!-- <?php foreach($this->tipo_locales as $tipo):?>
          <div class="col-lg-4">
            <div class="col-lg-1">
              <input type="checkbox" class="form-control tipos" name="tipo_local[]" value="<?=$tipo->id?>"> 
            </div>
            <div class="col-lg-10">
              <?=$tipo->nombre?>
            </div>
          </div>
          <?php endforeach?> -->

          <div class="bxContent">
              <div class="wpFormInput">
                <h4>Locales excluidos <input type="checkbox" class="regular-checkbox"  id="excluidos" name="excluidos" value="si"><h4>
              </div>
          </div>
    </div>

    <div class="bxContent">
    <input type="submit" class="btn btn-info btn-lg btn-block" id="buscar" name="buscar" value="Buscar" />

    </div>
    
    <div id="contenido_totem"></div>                    
    


     

    <!--  <div class="bxContent">
      <div class="col-lg-12">
          <input type="submit" class="btn btn-primary btn-lg btn-block" id="_enviar_data" name="continuar" value="Continuar" />
      </div>
    </div> -->
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-9">
          <div class="_respuesta" style="display:none;color:red;"></div>
      </div>
    </div>
  </form>
    
</div>