<script>
  
$(document).ready(function(){


  $.fn.traerMes = function(_mes, _anio) {
         var url = _root_ + "administrador/visualizacion/traerDataMes"; 
         var csrf = '<?=$this->_sess->get('_csrf')?>';   

        $.ajax({
          type: "POST",
          url: url,
          dataType: "json",
          data: {"mes":_mes,"anio":_anio,"_csrf":csrf},
          success: function(data){
            if(data.error!=''){
              $('#contenido_asignaciones').html('').append('<h4 style="text-align:center;">'+data.error+'</h4>');
            }else{
             $('#contenido_mes').html('').append(data.mes);
             $('#contenido_asignaciones').html('').append(data.asig);
           }
          }
        });
        return false;
  }  
 
  
});

</script>
<style type="text/css">
  .cont_asig{position: relative;}
  .cont_asig .tooltips{
    position: absolute;
    top:100%;left:0%;
    width: 110%;
    padding:20px;
    background: #3e3e3e;
    opacity: 0;
    pointer-events: none;
    border-radius:20px;
    transition: ease-out 0.3s;
    z-index: 999
  }
  .cont_asig:hover .tooltips{opacity: 1}
</style>
<div id="head-bg-fix"></div>
<div class="wpContent" style="padding-right: 20px"> 
      <div class="btn-group-usuario">
          <a class="active" href="#">
            Línea de tiempo
          </a>
      </div>      
      <div id="contenido_mes" class="titVerContent">
        <h4>
          <a class="btPrev" onclick="$().traerMes(<?=$this->prev_mes?>,<?=$this->prev_anio?>);" href="javascript:void(0);" style="color:#858585;font-weight: 100;margin-right: 20px"><</a> 
          <?=admin::convertirMes($this->mes)?> 
          <a class="btNext" onclick="$().traerMes(<?=$this->next_mes?>,<?=$this->next_anio?>);" href="javascript:void(0);" style="color:#858585;font-weight: 100;margin-left: 20px">></a>
        </h4>  
      </div> 


      
      <div id="contenido_asignaciones">                             
         
        <?php foreach($this->totems as $data):?>        
        <div class="wpVisual">
            <div id="contenido_totem" class="branch">
              <h4>
                <?=admin::traerTotemPorID($data->id_totem)->nombre?>
                <br>
                <small><?=admin::traerTotemPorID($data->id_totem)->localidad?></small>
              </h4>
            </div>
        
            <div id="contenido_totem" class="timeline">
              <?php $_asig = admin::traerAsigsPorTotemStatic($data->id_totem, $this->mesAnio)?>
              <?php //echo "<pre>";print_r($_asig);echo "</pre>";//exit;?>
              <?php foreach($_asig as $dat):?>           
              <?php if($dat->daydif < 15){$_width = '20%';}elseif($dat->daydif > 15 && $dat->daydif < 30){$_width = '25%';}else{$_width = '30%';}?>
              <?php $rand = $this->colors[array_rand($this->colors,1)]?>
              <?php //$_sinc = ($dat->fecha_sincronizacion!='') ? $dat->fecha_sincronizacion->format('d-m-Y H:i') : 'Nunca';?>
              <div class="cont_asig" style="background-color:<?=$rand?>;width:<?=$_width?>;">
                <div>
                  <span><?=$dat->vigencia_desde->format('j-m-Y G:i').'hs'?></span><br><span><?=$dat->vigencia_hasta->format('j-m-Y G:i').'hs'?></span>

                  <!-- contenidos -->
                  <div class="tooltips">
                  <?php if($dat->ids_catalogos!=''):?>
                  <?php $_dat = explode(',', $dat->ids_catalogos)?>
                  <p>Catalogos:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-primary btn-xs"><?=admin::traerCatalogoPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?>
                  <?php if($dat->ids_videos!=''):?>
                  <?php $_dat = explode(',', $dat->ids_videos)?>
                  <p>Videos:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-primary btn-xs"><?=admin::traerVideoPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?>
                  <?php if($dat->ids_footers!=''):?>
                  <?php $_dat = explode(',', $dat->ids_footers)?>
                  <p>Footer:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-primary btn-xs"><?=admin::traerPromocionPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?>
                  <?php if($dat->ids_fondos!=''):?>
                  <?php $_dat = explode(',', $dat->ids_fondos)?>
                  <p>Fondo:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-primary btn-xs"><?=admin::traerFondoPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?> 

                  <?php if($dat->ids_inactivas!=''):?>
                  <?php $_dat = explode(',', $dat->ids_inactivas)?>
                  <p>Pantalla Inactiva:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-primary btn-xs"><?=admin::traerInactivaPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?> 
                  <!--  -->
                  </div>

                </div>
                
                <div>
                  <!-- <a class="btn btn-danger btn-sm" href="<?=$this->_conf['url_enlace']?>administrador/visualizacion/eliminarAsignacion/<?=$dat->id?>">eliminar</a> -->
                  <a href="javascript:void(0);" class="_borrar_<?php echo $dat->id?>" title="Borrar">
                      <img src="<?=$this->_conf['base_url']?>public/img/ico-cruz.png" alt="eliminar"/>
                  </a>
                </div>


                
              </div>

              <script>
                $(document).ready(function () {
                      $('._borrar_<?php echo $dat->id?>').click(function () {
                          swal({
                              title: "Estas seguro de borrar este contenido?",
                              text: "Los datos se perderán permanentemente!",
                              type: "warning",
                              showCancelButton: true,
                              confirmButtonColor: "#DD6B55",
                              confirmButtonText: "Si, que se borre!",
                              cancelButtonText: "No, mejor no!",
                              closeOnConfirm: false,
                              closeOnCancel: false },
                          function (isConfirm) {
                              if (isConfirm) {
                                  var url= _root_ + "administrador/visualizacion/eliminarAsignacion";
                                  var dataString = '_id=<?=$dat->id?>&_csrf=<?=$this->_sess->get('_csrf')?>';
                                  $.ajax({
                                          type: "POST",
                                          url: url,
                                          data: dataString,
                                          success: function(data){
                                            if(data=='ok'){
                                              swal("Borrado!", "El contenido se borró con exito.", "success");
                                              setTimeout(function() {
                                                  location.reload();
                                              }, 200);
                                            }else{
                                              swal("Cancelado", "No se puede borrar porque el contenido esta en uso", "error");
                                            } 
                                          }
                                  });
                              } else {
                                  swal("Cancelado", "El contenido esta guardado", "error");
                              }
                          });
                      });
                  });
              </script>
              <?php endforeach?>

            </div>                    
        </div>
        <?php endforeach?>                   
      </div>
          
</div>