<script>
$(document).ready(function() {

  window.dropzoneAction = _root_+'administrador/imagenes/cargImgEditar/banners/banner_<?=$this->formato_img['formato']?>';
  window.dropzoneAncho = <?=$this->_conf['formatos_img']['banner_'.$this->formato_img['formato']]['ancho']?>;
  window.dropzoneAlto = <?=$this->_conf['formatos_img']['banner_'.$this->formato_img['formato']]['alto']?>;
  $('._formatos_img').html('Tamaño: <strong><?=$this->_conf['formatos_img']['banner_'.$this->formato_img['formato']]['ancho']?> x <?=$this->_conf['formatos_img']['banner_'.$this->formato_img['formato']]['alto']?> px</strong>');
  
   $('input[class=_secciones]').on('change', function() {
    var _val = $('._secciones:checked, input[name=_csrf]').serialize();
    //var datastring = "_valor="+_val+'&_csrf=<?=$this->_sess->get('_csrf')?>';
    //alert(url)
    $.ajax({
        type: 'POST',
        // dataType:"json",
        url: _root_+"administrador/banners/traerPosiciones",
        data: _val,
        // data: {"data" : "areas", "valor" : _val},
        beforeSend: function(){
          $('._pos').html('');
          $('._format').html('');
        },
        success: function(data){

           $('._pos').html(data).fadeIn('fast');

        }
    });
  })


  // $('._pos input[type=checkbox]').on('change', function() {
  $("._pos").on("change", ":checkbox", function() {
    var _val = $('._secciones:checked, ._posiciones:checked, input[name=_csrf]').serialize();
    //var datastring = "_valor="+_val+'&_csrf=<?=$this->_sess->get('_csrf')?>';
    //alert(url)
    $.ajax({
        type: 'POST',
        //dataType:"json",
        url: _root_+"administrador/banners/traerFormatos",
        data: _val,
        // data: {"_csrf" : <?=$this->_sess->get('_csrf')?>, "valor" : _val},
        // data: {_val},
        beforeSend: function(){
          $('._format').html('');
        },
        success: function(data){

          $('._format').html(data).fadeIn('fast');

        }
    });
  })



   // $('#formatos').on('change', function() {
  $("._format").on("change", "#formatos", function() {
    //var _val = $('._posiciones:checked, input[name=_csrf]').serialize()
    var _val = $(this).val();
    //var datastring = "_valor="+_val+'&_csrf=<?=$this->_sess->get('_csrf')?>';
    //alert(url)
    $.ajax({
        type: 'POST',
        dataType:"json",
        url: _root_+"administrador/banners/traerFormatoImg",
       // data: _val,
        data: {"_csrf" : "<?=$this->_sess->get('_csrf')?>", "valor" : _val},
        //data: {_val},
        beforeSend: function(){
          // $('._format').html('');
        },
        success: function(data){

          // $('._format').html(data).fadeIn('fast');

          // $.getScript(_root_ +'modules/administrador/views/banners/js/dropzone.js');

          $('._formatos_img').html('Tamaño: <strong>'+data.ancho+' x '+data.alto+' px</strong>');
          //var _formato = data.ancho+'x'+data.alto;
          $("#my-awesome-dropzone3").prop('action', '<?=$this->_conf['base_url']?>administrador/imagenes/cargImgEditar/banners/banner_'+data.formato);
          
          window.dropzoneAction = _root_+'administrador/imagenes/cargImgEditar/banners/banner_'+data.formato;
          window.dropzoneAncho = data.ancho;
          window.dropzoneAlto = data.alto;

        


        }
    });
  })
    
  $('#editar_trabajo').submit(function(){
    
      if ($("#titulo").val() == "") {
        alert("Debe completar el campo titulo");
        $("#titulo").val('');
        $('#titulo').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

    /*  if ($("#link").val() == "") {
        alert("Debe completar el campo link");
        $("#link").val('');
        $('#link').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

      $('input[type=checkbox]:checked').each(function() {
          console.log("Checkbox " + $(this).prop("id") +  " (" + $(this).val() + ") Seleccionado");
      });*/

      /* var $fields = $(this).find('input[type=checkbox]:checked');
      if (!$fields.length) {
            alert('Debe seleccionar al menos una categoria');
            return false; 
        }

            


     if ($("#codigo").val() == "") {
        alert("Debe completar el campo codigo DDS");
        $("#codigo").val('');
        $('#codigo').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

      if ($("#descripcion").val() == "") {
          alert('Debe completar el campo descripcion');
          var _algo = "descripcion";
          CKEDITOR.instances[_algo].focus();
          return false;        
      }

      if($('._load_img_final_thumb').children().length == 0){
        alert("Debe seleccionar una imagen");
        return false; 
      }*/
          
      
  return true;
    
  
  });
  
  
  
});

</script>


<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Banners</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>


<div class="row wrapper wrapper-content">  
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Editar Banner</h5>
                        </div>
                        <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" enctype="multipart/form-data">
                        <input type="hidden" name="envio01" value="1" />
                        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">


                        <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Secciones</label>
                              <?php if($this->secciones):?>
                              <?php foreach ($this->secciones as $val):?>
                              <div class="col-lg-2 checkbox">
                                <label>
                                  <?php if(in_array($val['id'], $this->ids_secciones)):?>
                                  <input class="_secciones" type="checkbox" name="secciones[]" value="<?=$val['id']?>" checked> <?=$val['seccion']?> 
                                  <?php else:?>
                                  <input class="_secciones" type="checkbox" name="secciones[]" value="<?=$val['id']?>"> <?=$val['seccion']?> 
                                  <?php endif?>                                                
                                </label>
                              </div>
                              <?php endforeach?>
                              <?php endif?>
                          </div>
                        </div>


                        <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Posiciones</label>
                              <div class="col-lg-9 _pos">
                                <?php if($this->posiciones):?>
                                <?php foreach ($this->posiciones as $val):?>
                                <div class="col-lg-2 checkbox">
                                  <label>
                                    <?php if(in_array($val['id'], $this->ids_posicion)):?>
                                    <input class="_posiciones" type="checkbox" name="posiciones[]" value="<?=$val['id']?>" checked> <?=$val['posicion']?>
                                    <?php else:?>
                                    <input class="_posiciones" type="checkbox" name="posiciones[]" value="<?=$val['id']?>"> <?=$val['posicion']?> 
                                    <?php endif?>                                                
                                  </label>
                                </div>
                                <?php endforeach?>
                                <?php endif?>
                              </div>
                          </div>
                        </div>


                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Formatos</label>
                                <div class="col-lg-9 _format">
                                  <?php if($this->formatos):?>
                                  <select class="form-control" id="formatos" name="formatos">
                                  <?php foreach ($this->formatos as $val):?>
                                  <?php if($val['id']==$this->id_formato):?>
                                  <option value="<?=$val['id']?>" selected><?=$val['formato']?></option>
                                  <?php else:?>
                                  <option value="<?=$val['id']?>"><?=$val['formato']?></option>
                                  <?php endif?>                                                
                                  <?php endforeach?>
                                  </select>
                                  <?php endif?>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Titulo</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="<?php echo $this->trabajo['titulo']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Link</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="link" name="link" placeholder="Link" value="<?php echo $this->trabajo['link']?>">
                                </div>
                            </div>
                        </div>
                        
                        
                      
                      <div class="ibox-content">
                        <div class="row">
                          <label for="video" class="col-lg-2 control-label">Imagen</label>
                          <div class="col-lg-2">
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img">
                                 Cargar Imagen
                              </button>
                          </div>
                          <div class="col-lg-6">
                            <div class="list-group aa conexionThumb _load_img_final_thumb" id="bloque_imgs_usuario">
                            <?php $_img = admin::traerDataImagenPorIdentificador($this->_sess->get('edicion_actual'),'banners');?>
                            <?php if($_img !=''):?>
                            <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/banners/". $_img->path ?>"  class="img-thumbnail">
                            <?php endif?>
                            </div>
                          </div>                                      
                        </div>
                      </div> 

                      

                       

                        <div class="ibox-content">
                          <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-2">
                                      <input type="submit" class="btn btn-success" id="validatex" name="cargar" value="Guardar" />
                                    </div>                                                                       
                                </div>
                                
                             
                            </div>                            
                        </div>
                       </form> 
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>




<!-- 


<div id="head-bg-fix"></div>
<div class="wpContent"> 
  <div class="btn-group-usuario">
    <a class="active" href="#">
      Editar Banner
    </a>
  </div> 
        
    <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" enctype="multipart/form-data">
        <input type="hidden" name="envio01" value="1" />
        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
       
            

              <div class="form-group formulario_back">
                  <label for="secciones" class="col-lg-2 control-label">Secciones</label>
                    <div class="col-lg-10">
                      <?php if($this->secciones):?>
                      <?php foreach ($this->secciones as $val):?>
                      <div class="col-lg-2 checkbox">
                        <label>
                          <?php if(in_array($val['id'], $this->ids_secciones)):?>
                          <input class="_secciones" type="checkbox" name="secciones[]" value="<?=$val['id']?>" checked> <?=$val['seccion']?> 
                          <?php else:?>
                          <input class="_secciones" type="checkbox" name="secciones[]" value="<?=$val['id']?>"> <?=$val['seccion']?> 
                          <?php endif?>                                                
                      </label>
                    </div>
                    <?php endforeach?>
                    <?php endif?>
                   </div> 
              </div>  

              <div class="form-group formulario_back">
                  <label for="posiciones" class="col-lg-2 control-label">Posiciones</label>
                    <div class="col-lg-10 _pos">
                        <?php if($this->posiciones):?>
                        <?php foreach ($this->posiciones as $val):?>
                        <div class="col-lg-2 checkbox">
                          <label>
                            <?php if(in_array($val['id'], $this->ids_posicion)):?>
                            <input class="_posiciones" type="checkbox" name="posiciones[]" value="<?=$val['id']?>" checked> <?=$val['posicion']?>
                            <?php else:?>
                            <input class="_posiciones" type="checkbox" name="posiciones[]" value="<?=$val['id']?>"> <?=$val['posicion']?> 
                            <?php endif?>                                                
                        </label>
                      </div>
                      <?php endforeach?>
                      <?php endif?>
                   </div> 
              </div> 


              <div class="form-group formulario_back">
                  <label for="formatos" class="col-lg-2 control-label">Formatos</label>
                    <div class="col-lg-10 _format">
                        <?php if($this->formatos):?>
                        <select class="form-control" id="formatos" name="formatos">
                        <?php foreach ($this->formatos as $val):?>
                        <?php if($val['id']==$this->id_formato):?>
                        <option value="<?=$val['id']?>" selected><?=$val['formato']?></option>
                        <?php else:?>
                        <option value="<?=$val['id']?>"><?=$val['formato']?></option>
                        <?php endif?>                                                
                      <?php endforeach?>
                      </select>
                      <?php endif?>
                   </div> 
              </div>           
               
              <div class="form-group formulario_back">
                  <label for="titulo" class="col-lg-2 control-label">Titulo</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="<?php echo $this->trabajo['titulo']?>">
                    </div>
              </div>  

              
                
                     
           
            <div class="form-group formulario_back">
                  <label for="titulo" class="col-lg-2 control-label">Imagen</label>
                    <div class="col-lg-2">
                      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img">
                         Cargar Imagen
                      </button>
                    </div>
                   <div class="col-lg-6">
                      <div class="list-group aa conexionThumb _load_img_final_thumb" id="bloque_imgs_usuario">
                        <?php $_img = admin::traerDataImagenPorIdentificador($this->_sess->get('edicion_actual'),'banners');?>
                        <?php if($_img !=''):?>
                        <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/banners/". $_img->path ?>"  class="img-thumbnail">
                        <?php endif?>
                        </div>
                    </div>                                   
             </div>  


            
             
            
          <div class="btnEditCont">
                <input type="submit" class="btn" id="validatex" name="cargar" value="Guardar" />
            
            </div>
  </form>
</div>
    --> 

<div class="modal inmodal fade" id="_car_img" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imagen</h4>
            </div>
            <div class="modal-body">

              <script>
                  Dropzone.options.myAwesomeDropzone3 = {
                    autoProcessQueue: false,
                    // url: window.dropzoneAction,
                    paramName: 'file',
                    parallelUploads: 1,
                    maxFiles: 1,
                    maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
                    dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
                    acceptedFiles: 'image/*',
                   
                    init: function() {
              
                      var myDropzone = this;
                      var maxImageWidth = window.dropzoneAncho, 
                          maxImageHeight = window.dropzoneAlto,
                          maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
              
                      myDropzone.on("addedfile", function(file) {
                        file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
                      });
              
                      /*this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                        e.preventDefault();
                        e.stopPropagation();                                
                        
                        myDropzone.processQueue();
                      });*/

                      $('._upload').on('click', function(e) {
                          e.preventDefault();
                          e.stopPropagation();
                          myDropzone.processQueue();
                      });

                      this.on("processing", function(file) {
                        this.options.url = window.dropzoneAction;
                      });
              
                      this.on("thumbnail", function(file) {
                        
                      })
                      
                      this.on("queuecomplete", function(file) {
                        this.removeAllFiles(file);
                      });
                      this.on("maxfilesexceeded", function(file){
                        this.removeFile(file);
                      });
                      this.on("error", function(file) {
                        //alert(file);
                        if (file.width < maxImageWidth || file.height < maxImageHeight) {
                          //file.rejectDimensions();
                          this.removeFile(file);
                          alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                          return false;
                        }

                        if(file.size > 1024*1024*2){
                          //2MB
                          this.removeFile(file);
                          alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
                          return false;
                        }
                      });
                      this.on("success", function(file) {
                        this.removeAllFiles(file);
                        img_final();
                      });
                    }
                  };
                 
                        
                
          
                  function img_final(){
                      var url= _root_ + "administrador/imagenes/traerImagenfinalLanzamientos/banners";
                      $.ajax({
                          url:url,
                          contentType:"application/x-www-form-urlencoded",
                          dataType:"html",
                          error:function(){
                              $("._load_img_final_thumb").html("La conexion se ha perdido. <a href='" + _root_ + "administrador/imagenes'>Reinicie el proceso.</a>");
                          },
              
                          ifModified:false,
                          processData:true,
                          success:function(datas){
                              $("._load_img_final_thumb").html(datas).fadeIn("slow");
                              $('#_car_img').modal('hide');
                          },
                          type:"POST",
                          timeout:3000
                      });
                  }
        
                </script>
           
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone3" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgEditar/banners/banner_<?=$this->formato_img['formato']?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                      
                                                        
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right _upload">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                                <small class="_formatos_img">Tamaño: <strong> x  px</strong></small>
                                <br>
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>   
                            </p>
                        </div>
                    </div>
                    
                 
                    
                </div>
          </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
      </div>
    </div>
</div>

