<script src="https://cdn.ckeditor.com/4.5.11/standard-all/ckeditor.js"></script>
<script>

function modificarItem(_val){

    $.ajax({
        type: "POST",
        url: _root_ + "administrador/tendencias/modificarItemBloque",
        data: "id="+_val+"&_csrf=<?=$this->_sess->get('_csrf')?>",
        success: function(data){
            console.log(data);
        },
        error: function (err){
            alert("La conexión se ha perdido. Revise su conexión a Internet.");
        }
    });

}

function eliminarImg(_val){

    $.ajax({
        type: "POST",
        url: _root_ + "administrador/tendencias/eliminarImagenBloque",
        data: "id="+_val+"&_csrf=<?=$this->_sess->get('_csrf')?>",
        success: function(data){
            $('#'+_val).remove();
        },
        error: function (err){
            alert("La conexión se ha perdido. Revise su conexión a Internet.");
        }
    });

}

function getData(_contenedores_){

      var elements = [];

      $(_contenedores_).each(function(){
          // columns.push($(this).sortable('toArray').join(',')); 
          // console.log('id: '+ $(this).find('div').attr('id'));
           elements.push($(this).find('div').attr('id'));     
      });
       return elements.join('|');
       // return elements;
}

$(document).ready(function() {

  $('#tags').tagsInput({
     placeholder: 'Agregar Tags',
     removeWithBackspace: true,
     <?php if($this->tags):?>
    'autocomplete': {
      source: [
        <?php foreach ($this->tags as $val):?>
         "<?=trim($val['nombre'])?>",
        <?php endforeach?>        
      ]
      <?php endif?>
    }
  });
  
    
  $('#cargar_trabajo').submit(function(){
    
    
      for (instance in CKEDITOR.instances) {
          CKEDITOR.instances[instance].updateElement();
      }


     /* $('input[type=checkbox]:checked').each(function() {
          console.log("Checkbox " + $(this).prop("id") +  " (" + $(this).val() + ") Seleccionado");
      });*/

      var _data_mult = getData('.conexionThumbDesk');
       $('input[name="_multimedia_desk"]').val(_data_mult);

       var _data_mult_mob = getData('.conexionThumbMob');
       $('input[name="_multimedia_mob"]').val(_data_mult_mob);


      var $fields = $(this).find('input[type=checkbox]:checked');
      if (!$fields.length) {
            alert('Debe seleccionar al menos una categoria');
            return false; 
        }

            
      if ($("#titulo").val() == "") {
        alert("Debe completar el campo titulo");
        $("#titulo").val('');
        $('#titulo').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

     

      if($('._load_img_final_thumb').children().length == 0){
        alert("Debe seleccionar una imagen");
        return false; 
      }
      
         
      
      return true;
    
  
  });


  
  
  
  
});

</script>

<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Tendencias</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>


<div class="row wrapper wrapper-content">  
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Cargar tendencia</h5>
                        </div>
                        <form class="form-horizontal" id="cargar_trabajo" action="" method="POST" role="form" enctype="multipart/form-data">
                        <input type="hidden" name="envio01" value="1" />  
                        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
                        <input type="hidden" name="_multimedia_desk" id="_multimedia_desk">
                        <input type="hidden" name="_multimedia_mob" id="_multimedia_mob">


                        <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Categorias</label>
                              <?php foreach($this->categorias as $cat):?>
                              <div class="col-lg-2 checkbox">                      
                                <label><input type="checkbox"  id="cat_<?=$cat['id']?>" name="categorias[]" value="<?=$cat['id']?>"> <?=$cat['nombre']?></label>
                              </div>
                              <?php endforeach?>
                          </div>
                        </div>

                        <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Tipo</label>
                              
                              <div class="col-lg-1 radio">
                                <label>
                                  <input class="_tipo" type="radio" name="tipo" value="tendencias" checked=""> Tendencias
                                </label>
                              </div>
                              <div class="col-lg-1 radio">
                                <label>
                                  <input class="_tipo" type="radio" name="tipo" value="consejos" > Consejos
                                </label>
                              </div>
                              
                          </div>
                        </div>

                       <!--  <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">En destacado</label>
                              
                              <div class="col-lg-1 radio">
                                <label>
                                  <input class="_destacado" type="radio" name="destacado" value="si"> Si
                                </label>
                              </div>
                              <div class="col-lg-1 radio">
                                <label>
                                  <input class="_destacado" type="radio" name="destacado" value="no" checked=""> No
                                </label>
                              </div>
                              
                          </div>
                        </div> -->

                       <!--  <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">En novedades</label>
                              
                              <div class="col-lg-1 radio">
                                <label>
                                  <input class="_novedades" type="radio" name="novedades" value="si"> Si
                                </label>
                              </div>
                              <div class="col-lg-1 radio">
                                <label>
                                  <input class="_novedades" type="radio" name="novedades" value="no" checked=""> No
                                </label>
                              </div>
                              
                          </div>
                        </div> -->
                        
                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Titulo</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="<?php if(isset($this->data['titulo'])) echo $this->data['titulo']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Bajada</label>
                                <div class="col-lg-9">
                                    <textarea class="form-control" id="bajada" name="bajada"><?php if(isset($this->data['bajada'])) echo $this->data['bajada']?></textarea>
                                    <script>
                                        CKEDITOR.replace('bajada', {
                                            extraPlugins: 'colorbutton'
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Descripcion</label>
                                <div class="col-lg-9">
                                     <textarea class="form-control" id="descripcion" name="descripcion"><?php if(isset($this->data['descripcion'])) echo $this->data['descripcion']?></textarea>
                                      <script>
                                          CKEDITOR.replace('descripcion', {
                                              extraPlugins: 'colorbutton'
                                          });
                                      </script>
                                </div>
                            </div>
                        </div>
                        
                        
                      
                      <div class="ibox-content">
                        <div class="row">
                          <label for="video" class="col-lg-2 control-label">Imagen</label>
                          <div class="col-lg-2">
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img">
                                 Cargar Imagen
                              </button>
                          </div>
                          <div class="col-lg-6">
                            <div class="list-group aa conexionThumb _load_img_final_thumb" id="bloque_imgs_usuario">
                              <?php $_img = admin::traerDataImagenPorIdentificador($this->_sess->get('carga_actual'),'tendencias');?>
                              <?php if($_img !=''):?> 

                              <?php if(file_exists($this->_conf['ruta_img_cargadas'] . "tendencias/thumb/" . $_img->path)):?>
                              <img src="<?=$this->_conf['base_url']?>public/img/subidas/tendencias/thumb/<?=$_img->path?>"  class="img-thumbnail">
                              <?php elseif(file_exists($this->_conf['ruta_img_cargadas'] . "anteriores/images/" . $_img->path)):?>
                              <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path ?>"  class="img-thumbnail">
                             <?php endif?>                           
                              
                              <?php endif?>
                            </div>
                          </div>                                      
                        </div>
                      </div> 




                      <div class="ibox-content">
                        <div class="row">
                          <label for="video" class="col-lg-2 control-label">Archivos</label>
                          <div class="col-lg-2">
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_pdf">
                                 Cargar archivos
                              </button>
                          </div>
                          <div class="col-lg-6">
                            <div class="list-group aa conexionThumb _load_archivo_final" id="bloque_imgs_usuario">
                            <?php $_vid = admin::traerArchivosIdentificador($this->_sess->get('carga_actual'));?>
                            <?php if($_vid !=''):?>
                            <?php foreach ($_vid as $val):?>
                            <h4>
                              <?=$val->path?>
                              <a href="javascript:void(0);" class="btn btn-danger btn-xs _borrar_<?=$val->id?>" title="Borrar">X</a>
                            </h4>
                            <script>
                                $(document).ready(function () {
                                      $("._borrar_<?=$val->id?>").click(function () {
                                          swal({
                                              title: "Estas seguro de borrar este contenido?",
                                              text: "Los datos se perderán permanentemente!",
                                              type: "warning",
                                              showCancelButton: true,
                                              confirmButtonColor: "#DD6B55",
                                              confirmButtonText: "Si, que se borre!",
                                              cancelButtonText: "No, mejor no!",
                                              closeOnConfirm: false,
                                              closeOnCancel: false },
                                          function (isConfirm) {
                                              if (isConfirm) {
                                                  var url= _root_ + "administrador/archivos/borrar";
                                                  var dataString = '_id=<?=$val->id?>&_csrf=<?=$this->_sess->get('_csrf')?>';
                                                  $.ajax({
                                                          type: "POST",
                                                          url: url,
                                                          data: dataString,
                                                          success: function(data){
                                                            if(data=="ok"){
                                                              swal("Borrado!", "El contenido se borró con exito.", "success");
                                                              setTimeout(function() {
                                                                  location.reload();
                                                              }, 200);
                                                            }else{
                                                              swal("Cancelado", "No se puede borrar porque el contenido esta en uso", "error");
                                                            }
                                                              
                                                              
                                                          }
                                                  });
                                              } else {
                                                  swal("Cancelado", "El contenido esta guardado", "error");
                                              }
                                          });
                                      });
                                  });
                            </script>  
                            <?php endforeach?>                                                          
                            <?php endif?>
                            </div>
                          </div>                                      
                        </div>
                      </div> 



                      <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Iframe Video</label>
                              <div class="col-lg-9">
                                <textarea class="form-control" id="video" name="video"><?php if(isset($this->data['video'])) echo $this->data['video']?></textarea>
                              </div>
                          </div>
                      </div>


                      <div class="ibox-title"><h4>Bloques de Contenido</h4></div>


                      <div class="ibox-content">  
                        <div class="val_data input_fields_wrap"> 

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Titulo</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="_titulo" name="_titulo[]" placeholder="Titulo" >
                                </div>
                            </div>

                            <div class="form-group">
                              <label class="col-lg-2 control-label">Subtitulo</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" id="_subtitulo" name="_subtitulo[]" placeholder="Subtitulo">
                              </div>
                            </div>

                            

                            <div class="form-group">
                              <label class="col-lg-2 control-label">Contenido</label>
                              <div class="col-lg-9">
                                <textarea class="form-control" id="_contenido" name="_contenido[]" rows="50"></textarea>
                                  <script>
                                      CKEDITOR.replace('_contenido', {
                                            allowedContent: true,
                                            extraPlugins: 'colorbutton',
                                            height: 200,
                                        } );
                                  </script>
                              </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-2 control-label">Imagen Desktop</label>
                                <div class="col-lg-2">
                                    <button type="button" class="btn btn-info" onclick="modificarItem('1');" data-toggle="modal" data-target="#_car_img_desk_0">
                                       Cargar Imagen
                                    </button>
                                </div>
                                <div class="col-lg-6">
                                  <div class="list-group aa conexionThumbDesk _load_img_final_thumb_desk_1" id="bloque_imgs_desk_1">
                                    <!-- <?php $_img = admin::traerDataImagenPorIdentificador2($this->_sess->get('carga_actual'),'tendencias', 'desktop');?>
                                    <?php if($_img !=''):?>  
                                    <div id="<?=$_img->id?>">                                  
                                      <img src="<?=$this->_conf['base_url']?>public/img/subidas/tendencias/thumb/<?=$_img->path?>"  class="img-thumbnail">    
                                    </div>
                                    <?php endif?> -->
                                  </div>
                                </div>                                      
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-2 control-label">Imagen Mobile</label>
                                <div class="col-lg-2">
                                    <button type="button" class="btn btn-info" onclick="modificarItem('1');" data-toggle="modal" data-target="#_car_img_mob_0">
                                       Cargar Imagen
                                    </button>
                                </div>
                                <div class="col-lg-6">
                                  <div class="list-group aa conexionThumbMob _load_img_final_thumb_mob_1" id="bloque_imgs_mob_1">
                                    <!-- <?php $_img = admin::traerDataImagenPorIdentificador2($this->_sess->get('carga_actual'),'tendencias', 'mobile');?>
                                    <?php if($_img !=''):?>  
                                    <div id="<?=$_img->id?>">                                  
                                      <img src="<?=$this->_conf['base_url']?>public/img/subidas/tendencias/thumb/<?=$_img->path?>"  class="img-thumbnail">    
                                    </div>
                                    <?php endif?> -->
                                  </div>
                                </div>                                      
                            </div>

                           



                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button class="add_field_button btn btn-primary btn-xs">Agregar bloque</button>
                            </div>
                        </div>

                    </div>

                    <script>
                                
                        var x = 1;
                        $(".add_field_button").click(function(e){                                   

                            e.preventDefault();
                            if(x < 10){ 
                                x++;
                                $(".input_fields_wrap").append('<div class="form-group"><hr><label class="col-lg-2 control-label">Titulo</label><div class="col-lg-9"><input type="text" class="form-control" id="_titulo'+x+'" name="_titulo[]" placeholder="Titulo"></div><a href="javascript:void(0)" class="remove_field_BENEF"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a></div>');

                                $(".input_fields_wrap").append('<div class="form-group"><label class="col-lg-2 control-label">Subtitulo</label><div class="col-lg-9"><input type="text" class="form-control" id="_subtitulo'+x+'" name="_subtitulo[]" placeholder="Subtitulo"></div></div>');
                                
                               
                                $(".input_fields_wrap").append('<div class="form-group"><label class="col-lg-2 control-label">Contenido</label><div class="col-lg-9"><textarea id="_contenido_'+x+'" name="_contenido[]" rows="50"></textarea><script>CKEDITOR.replace("_contenido_'+x+'", {allowedContent: true,extraPlugins: "colorbutton",height: 200});<\/script></div></div>');

                                $(".input_fields_wrap").append('<div class="form-group row"><label class="col-lg-2 control-label">Imagen Desktop</label><div class="col-lg-2"><button type="button" class="btn btn-info" onclick="modificarItem(\''+x+'\');" data-toggle="modal" data-target="#_car_img_desk_0">Cargar Imagen</button></div><div class="col-lg-6"><div class="list-group aa conexionThumbDesk _load_img_final_thumb_desk_'+x+'" id="bloque_imgs_desk_'+x+'"></div></div></div>');

                                $(".input_fields_wrap").append('<div class="form-group row"><label class="col-lg-2 control-label">Imagen Mobile</label><div class="col-lg-2"><button type="button" class="btn btn-info" onclick="modificarItem(\''+x+'\');" data-toggle="modal" data-target="#_car_img_mob_0">Cargar Imagen</button></div><div class="col-lg-6"><div class="list-group aa conexionThumbMob _load_img_final_thumb_mob_'+x+'" id="bloque_imgs_mob_'+x+'"></div></div></div>');
                              
                                
                            }
                        });
                        
                        $(".input_fields_wrap").on("click",".remove_field_BENEF", function(e){
                            e.preventDefault();
                            $(this).parent('div').next('div').next('div').next('div').remove();
                            $(this).parent('div').next('div').next('div').remove();
                            $(this).parent('div').next('div').remove();
                            $(this).parent('div').remove();
                            x--;
                        })

                    </script>







                     <div class="ibox-title">                        
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Tags</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags" value="<?php if(isset($this->data['tags'])) echo $this->data['tags']?>">
                                <small>agregar tag separados por ,</small>
                              </div>
                          </div>
                      </div>


                       

                        <div class="ibox-content">
                          <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-2">
                                      <input type="submit" class="btn btn-success" id="validatex" nname="cargar" value="Guardar" />                                      
                                    </div>                                                                       
                                </div>
                                
                              
                            </div>                            
                        </div>
                       </form> 
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>





<div class="modal inmodal fade" id="_car_img" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imagen</h4>
            </div>
            <div class="modal-body">
            <script>

              Dropzone.options.myAwesomeDropzone3 = {
                  autoProcessQueue: false,
                  paramName: 'file',
                  parallelUploads: 1,
                  maxFiles: 1,
                  maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
                  dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
                  acceptedFiles: 'image/*',
                 
                  init: function() {
            
                    var myDropzone = this;
                    var maxImageWidth = <?=$this->_conf['formatos_img']['tendencias']['ancho']?>, 
                        maxImageHeight = <?=$this->_conf['formatos_img']['tendencias']['alto']?>,
                        maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
            
                    myDropzone.on("addedfile", function(file) {
                      file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
                    });
            
                    this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                      e.preventDefault();
                      e.stopPropagation();                                
                      
                      
                      
                      //alert("llego");
                      myDropzone.processQueue();
                      //$("#_car_imgg .recortar_img").fadeOut('slow');
                    });
            
                    this.on("thumbnail", function(file) {
                      /*if(file.width > file.height){
                        //file.rejectDimensions();
                        this.removeFile(file);
                        alert("La orientación de la imagen debe ser vertical");
                        return false;
                      }*/
                      
                      if (file.width < maxImageWidth || file.height < maxImageHeight) {
                        // file.rejectDimensions();
                        this.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }
                      
                      /*if (file.width > maxImageWidth || file.height > maxImageHeight) {
                        //file.rejectDimensions();
                        this.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }*/
                    })
                    
                    /*this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final();});
                    this.on("maxfilesexceeded", function(file){this.removeFile(file);});
                    this.on("error", function(file) {alert(file)});*/
                    //this.on("complete", function(file) {this.removeAllFiles(file);});
                    this.on("queuecomplete", function(file) {
                      this.removeAllFiles(file);
                    });
                    this.on("maxfilesexceeded", function(file){
                      this.removeFile(file);
                    });
                    this.on("error", function(file) {
                      //alert(file);
                      if (file.width < maxImageWidth || file.height < maxImageHeight) {
                        //file.rejectDimensions();
                        this.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }
                      if(file.size > 1024*1024*2){
                        //2MB
                        this.removeFile(file);
                        alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
                        return false;
                      }
                    });
                    this.on("success", function(file) {
                      this.removeAllFiles(file);
                      // img_final();
                      $(".img_ajustes").fadeIn('slow');
                    });
                  }/*,
                  accept: function(file, done) {
                    file.acceptDimensions = done;
                    file.rejectDimensions = function() {
                      //$("#_car_imgg .recortar_img").fadeOut('slow');
                      done('La imagen tiene un formato ilegal');
                    };
                  },*/
              };
               
                      
              $(document).ready(function(){

                  $("a[rel='_recortar']").click(function(){
                      
                      $("#_load").show();
                      $(".ambito_recorte").load( _root_ + "administrador/imagenes/recortarimagennuevo/cargar/1/tendencias");

                      setTimeout(function() {
                          $('#contenedor').slideUp('fast');
                          $("#_load").hide();
                          $(".img_ajustes").slideUp("slow");
                          $(".img_recortar").show();
                      }, 3000);
                  });

                  $("a[rel='_recorte_auto']").click(function(){
                      
                      $("#_load").show();
                      var url=  _root_ + "administrador/imagenes/recortar_imagen_auto/cargar/tendencias";
                      
                      $.ajax({
                          type: "POST",
                          url: url,
                          //data: $("#formulario").serialize(),
                          success: function(data){
                              $('#contenedor').slideUp('fast');
                              $("#_load").hide();
                              $(".img_ajustes").slideUp("slow");
                              setTimeout(function() {img_final('1');}, 1000);
                          }
                      });
                      return false;
                  });
              });

              function img_final(_inst){
                  var url= _root_ + "administrador/imagenes/traerimagenfinal/" + _inst;
                  $.ajax({
                      url:url,
                      //data: "_ident=" + _id,
                      contentType:"application/x-www-form-urlencoded",
                      dataType:"html",
                      error:function(){
                          $("._load_img_final").html("ERROR: imposible cargar la imágen.");
                      },

                      ifModified:false,
                      processData:true,
                      success:function(datas){
                          $("._load_img_final").html(datas);
                          $("._load_img_final").fadeIn("slow");
                      },
                      type:"POST",
                      timeout:3000
                  });
              }
        
              function consolidar_imagen(_valor){
                if(_valor == 1){
                    var url= _root_ + "administrador/imagenes/consolidarimagen";
                }else{
                    var url= _root_ + "administrador/imagenes/cancelarimagen";
                }
                        
                $.ajax({
                    url:url,
                    contentType:"application/x-www-form-urlencoded",
                    dataType:"html",
                    error:function(){
                        $("._load_img_final").html("La conexion se ha perdido.");
                    },            
                    ifModified:false,
                    processData:true,
                    success:function(datas){
                      if(datas!='no'){
                        $("._load_img_final_thumb").html(datas);
                      }
                        $("._load_img_final").fadeOut("fast");
                        // $("#_car_img").modal("hide");
                        $("#_car_img .close").click();
                        $('#contenedor').slideDown('fast');
                    },
                    type:"POST",
                    timeout:3000
                });
              }
             
       
        
        
        
              </script>
              <div class="loader"></div>
              <div id="contenedor">
          
                  <form class="form-inline dropzone" id="my-awesome-dropzone3" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgNuevo/tendencias/<?=$this->_sess->get('carga_actual')?>">
                      <input type="hidden" name="envio_img_princip" value="1">
                    
                                                      
                      <div class="dropzone-previews"></div>
                      <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                  </form>
                  <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                  
                   <hr> 
                   
                  <div class="row">
                      <div class="col-lg-12">
                          <p class="text-danger"> 
                              <small>Tamaño: <strong><?=$this->_conf['formatos_img']['tendencias']['ancho']?> x <?=$this->_conf['formatos_img']['tendencias']['alto']?> px</strong></small>
                              <br>
                              <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>   
                          </p>
                      </div>
                  </div>
              </div>

              <div class="row img_ajustes" style="display:none;">
                  <hr>
                   <div class="col-lg-12">
                    
                      <a href="javascript:void(0);" rel="_recortar" class="btn btn-success"> 
                          Recorte manual
                      </a>
                      &nbsp;&nbsp;
                      
                      <a href="javascript:void(0);" class="btn btn-info" rel="_recorte_auto">
                         Recorte automático
                         <div id="_respp"></div>
                      </a>
                      &nbsp;&nbsp;
                      <span id="_load" style="display:none">
                        <img src="<?=$this->_conf['base_url']. 'public/img/ajax-loader.gif'?>">
                      </span>
                  </div>
              </div>
              
              <div class="row img_recortar" style="display:none;">
                  <div class="col-lg-12">
                      <div class="ibox float-e-margins">
                          <div class="ibox-content ambito_recorte"></div>
                      </div>
                  </div>
              </div>
              <div class="row _load_img_final" style="display:none;"></div>


          </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
      </div>
    </div>
</div>

<div class="modal inmodal fade" id="_car_pdf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar archivo</h4>
            </div>
            <div class="modal-body">
      <script>
          Dropzone.options.myAwesomeDropzone = {
            autoProcessQueue: false,
            paramName: 'file',
            parallelUploads: 1,
            maxFiles: 1,
            maxFilesize: <?=$this->_conf['peso_maximo_archivos']?>, //MB
            dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
            acceptedFiles: ".pdf, .ppt",
           
            init: function() {
      
              var myDropzone = this,
                maxVideosize = <?=$this->_conf['peso_maximo_archivos']?>;
      
              myDropzone.on("addedfile", function(file) {
                file.previewElement.addEventListener("click", function() { 
                  myDropzone.removeFile(file);
                });
              });
      
              this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                e.preventDefault();
                e.stopPropagation(); 

                //alert("llego");
                myDropzone.processQueue();
                //$("#_car_imgg .recortar_img").fadeOut('slow');
              });
      
              this.on("thumbnail", function(file) {
                /*if(file.width > file.height){
                  //file.rejectDimensions();
                  this.removeFile(file);
                  alert("La orientación de la imagen debe ser vertical");
                  return false;
                }*/
                
                /*if (file.width < maxImageWidth || file.height < maxImageHeight) {
                  //file.rejectDimensions();
                  this.removeFile(file);
                  alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                  return false;
                }*/
                
                /*if (file.width > maxImageWidth || file.height > maxImageHeight) {
                  //file.rejectDimensions();
                  this.removeFile(file);
                  alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                  return false;
                }*/
              })
              
              this.on("queuecomplete", function(file) {
                this.removeAllFiles(file);
              });
              this.on("maxfilesexceeded", function(file){
                this.removeFile(file);
              });
              this.on("error", function(file) {
                //alert(file);
                if(file.size > 1024*1024*24){
                  //3MB
                  this.removeFile(file);
                  alert("El peso del video no puede superar los "+maxVideosize+"MB");
                  return false;
                }
              });
              this.on("success", function(file) {
                this.removeAllFiles(file);
               archivo_final();
              });
            }/*,
            accept: function(file, done) {
              file.acceptDimensions = done;
              file.rejectDimensions = function() {
                //$("#_car_imgg .recortar_img").fadeOut('slow');
                done('La imagen tiene un formato ilegal');
              };
            },*/
          };
               
                      
              
        
                function archivo_final(){
                    var url= _root_ + "administrador/archivos/traerArchivoFinal/<?=$this->_sess->get('carga_actual')?>";
                    $.ajax({
                        url:url,
                        contentType:"application/x-www-form-urlencoded",
                        dataType:"html",
                        error:function(){
                            $("._load_img_final").html("La conexion se ha perdido. <a href='" + _root_ + "administrador/archivos'>Reinicie el proceso.</a>");
                        },
            
                        ifModified:false,
                        processData:true,
                        success:function(datas){
                            $("._load_archivo_final").append(datas).fadeIn("slow");
                            // $("#_car_imgg .ambito_recorte").html('');
                            //$(".finalizar_proceso").show();
                            $('#_car_pdf').modal('hide');
                        },
                        type:"POST",
                        timeout:3000
                    });
                }
        
        
        
        
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone" action="<?=$this->_conf['base_url']?>administrador/archivos/cargarArchivos/<?=$this->_sess->get('carga_actual')?>">
                                                        
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                                <small>Peso máximo video: <strong><?=$this->_conf['peso_maximo_archivos']?> Mb.</strong></small>        
                            </p>
                        </div>
                    </div>
                    
                 
                    
                </div>
          </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
      </div>
    </div>
</div>

<div class="modal inmodal fade" id="_car_img_desk_0" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
              <i class="fa fa-laptop modal-icon"></i>
              <h4 class="modal-title">Cargar Imagen Desktop</h4>
          </div>
          <div class="modal-body">
            <script>

              Dropzone.options.myAwesomeDropzone0 = {
                  autoProcessQueue: false,
                  paramName: 'file',
                  parallelUploads: 1,
                  maxFiles: 1,
                  maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
                  dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
                  acceptedFiles: 'image/*',
                 
                  init: function() {
            
                    var myDropzone = this;
                    var maxImageWidth = <?=$this->_conf['formatos_img']['tendencias_desktop']['ancho']?>, 
                        maxImageHeight = <?=$this->_conf['formatos_img']['tendencias_desktop']['alto']?>,
                        maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
            
                    myDropzone.on("addedfile", function(file) {
                      file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
                    });
            
                    myDropzone.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                      e.preventDefault();
                      e.stopPropagation();                                
                      
                      myDropzone.processQueue();
                    });
            
                    myDropzone.on("thumbnail", function(file) {
                                                                     
                      if (file.width < maxImageWidth || file.height < maxImageHeight) {
                        // file.rejectDimensions();
                        myDropzone.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }
                      
                     
                    })
                    
                    
                    myDropzone.on("queuecomplete", function(file) {
                      myDropzone.removeAllFiles(file);
                    });
                    myDropzone.on("maxfilesexceeded", function(file){
                      myDropzone.removeFile(file);
                    });
                    myDropzone.on("error", function(file) {
                      //alert(file);
                      if (file.width < maxImageWidth || file.height < maxImageHeight) {
                        //file.rejectDimensions();
                        myDropzone.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }
                      if(file.size > 1024*1024*2){
                        //2MB
                        myDropzone.removeFile(file);
                        alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
                        return false;
                      }
                    });
                    myDropzone.on("success", function(file) {
                      myDropzone.removeAllFiles(file);
                      // img_final();
                      $(".img_ajustes_desktop_0").fadeIn('slow');
                    });
                  }
              };
               
                      
              $(document).ready(function(){

                 /* $("a[rel='_recortar']").click(function(){
                      
                      $("#_load").show();
                      $(".ambito_recorte").load( _root_ + "administrador/imagenes/recortarimagennuevo/cargar/1/tendencias");

                      setTimeout(function() {
                          $('#contenedor').slideUp('fast');
                          $("#_load").hide();
                          $(".img_ajustes").slideUp("slow");
                          $(".img_recortar").show();
                      }, 3000);
                  });*/

                  $("a[rel='_recorte_auto_desktop_0']").click(function(){
                      
                      $("#_load_desktop_0").show();
                      var url=  _root_ + "administrador/imagenes/recortar_imagen_auto_V2/cargar/tendencias/desktop";
                      
                      $.ajax({
                          type: "POST",
                          url: url,
                          //data: $("#formulario").serialize(),
                          success: function(data){
                              $('#contenedor_desktop_0').slideUp('fast');
                              $("#_load_desktop_0").hide();
                              $(".img_ajustes_desktop_0").slideUp("slow");
                              setTimeout(function() {img_final_desktop_0('1');}, 1000);
                          }
                      });
                      return false;
                  });
              });

              function img_final_desktop_0(_inst){
                  var url= _root_ + "administrador/imagenes/traerimagenfinal_V2/" + _inst+"/desktop";
                  $.ajax({
                      url:url,
                      //data: "_ident=" + _id,
                      contentType:"application/x-www-form-urlencoded",
                      dataType:"html",
                      error:function(){
                          $("._load_img_final_desktop_0").html("ERROR: imposible cargar la imágen.");
                      },

                      ifModified:false,
                      processData:true,
                      success:function(datas){
                          $("._load_img_final_desktop_0").html(datas);
                          $("._load_img_final_desktop_0").fadeIn("slow");
                      },
                      type:"POST",
                      timeout:3000
                  });
              }
        
              function consolidar_imagen_desktop(_valor){
                
                var url= _root_ + "administrador/imagenes/consolidarimagen_V2";                
                        
                $.ajax({
                    url:url,
                    contentType:"application/x-www-form-urlencoded",
                    data: {"val" : _valor, "_csrf" : "<?=$this->_sess->get('_csrf')?>"}, 
                    dataType:"json",
                    error:function(){
                        $("._load_img_final_desktop_0").html("La conexion se ha perdido.");
                    },            
                    ifModified:false,
                    processData:true,
                    success:function(datas){
                      if(datas.html!='no'){
                        $("._load_img_final_thumb_desk_"+datas.valor).html(datas.html);
                      }
                        $("._load_img_final_desktop_0").fadeOut("fast");
                        $("#_car_img_desk_0 .close").click();
                        $('#contenedor_desktop_0').slideDown('fast');
                    },
                    type:"POST",
                    timeout:3000
                });
              }

              function cancelarimagen_desktop(){
                
                var url= _root_ + "administrador/imagenes/cancelarimagen";
                
                        
                $.ajax({
                    url:url,
                    contentType:"application/x-www-form-urlencoded",
                    dataType:"html",
                    error:function(){
                        $("._load_img_final_desktop_0").html("La conexion se ha perdido.");
                    },            
                    ifModified:false,
                    processData:true,
                    success:function(datas){
                      if(datas!='no'){
                        $("._load_img_final_thumb_desk_0").html(datas);
                      }
                        $("._load_img_final_desktop_0").fadeOut("fast");
                        // $("#_car_img").modal("hide");
                        $("#_car_img_desk_0 .close").click();
                        $('#contenedor_desktop_0').slideDown('fast');
                    },
                    type:"POST",
                    timeout:3000
                });
              }
        
            </script>



            <div class="loader"></div>
            <div id="contenedor_desktop_0">
        
                <form class="form-inline dropzone" id="my-awesome-dropzone0" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgNuevoV2/tendencias/desktop/<?=$this->_sess->get('carga_actual')?>">
                    <input type="hidden" name="envio_img_princip" value="1">
                    <div class="dropzone-previews"></div>
                    <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                </form>
                <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                
                <hr> 
                 
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-danger"> 
                            <small>Tamaño: <strong><?=$this->_conf['formatos_img']['tendencias_desktop']['ancho']?> x <?=$this->_conf['formatos_img']['tendencias_desktop']['alto']?> px</strong></small>
                            <br>
                            <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>   
                        </p>
                    </div>
                </div>
            </div>

            <div class="row img_ajustes_desktop_0" style="display:none;">
                <hr>
                 <div class="col-lg-12">
                  
                    <!-- <a href="javascript:void(0);" rel="_recortar_desktop_0" class="btn btn-success"> 
                        Recorte manual
                    </a>
                    &nbsp;&nbsp; -->
                    
                    <a href="javascript:void(0);" class="btn btn-info" rel="_recorte_auto_desktop_0">
                       Recorte automático
                       <div id="_respp_desktop_0"></div>
                    </a>
                    &nbsp;&nbsp;
                    <span id="_load_desktop_0" style="display:none">
                      <img src="<?=$this->_conf['base_url']. 'public/img/ajax-loader.gif'?>">
                    </span>
                </div>
            </div>
            
            <!-- <div class="row img_recortar_desktop_0" style="display:none;">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content ambito_recorte"></div>
                    </div>
                </div>
            </div> -->
            <div class="row _load_img_final_desktop_0" style="display:none;"></div>


          </div>


          <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
          </div>        
      </div>
  </div>
</div>

<div class="modal inmodal fade" id="_car_img_mob_0" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
              <i class="fa fa-laptop modal-icon"></i>
              <h4 class="modal-title">Cargar Imagen Mobile</h4>
          </div>
          <div class="modal-body">
            <script>

              Dropzone.options.myAwesomeDropzone1 = {
                  autoProcessQueue: false,
                  paramName: 'file',
                  parallelUploads: 1,
                  maxFiles: 1,
                  maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
                  dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
                  acceptedFiles: 'image/*',
                 
                  init: function() {
            
                    var myDropzone = this;
                    var maxImageWidth = <?=$this->_conf['formatos_img']['tendencias_mobile']['ancho']?>, 
                        maxImageHeight = <?=$this->_conf['formatos_img']['tendencias_mobile']['alto']?>,
                        maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
            
                    myDropzone.on("addedfile", function(file) {
                      file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
                    });
            
                    myDropzone.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                      e.preventDefault();
                      e.stopPropagation();                                
                      
                      myDropzone.processQueue();
                    });
            
                    myDropzone.on("thumbnail", function(file) {
                                                                     
                      if (file.width < maxImageWidth || file.height < maxImageHeight) {
                        // file.rejectDimensions();
                        myDropzone.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }
                      
                     
                    })
                    
                    
                    myDropzone.on("queuecomplete", function(file) {
                      myDropzone.removeAllFiles(file);
                    });
                    myDropzone.on("maxfilesexceeded", function(file){
                      myDropzone.removeFile(file);
                    });
                    myDropzone.on("error", function(file) {
                      //alert(file);
                      if (file.width < maxImageWidth || file.height < maxImageHeight) {
                        //file.rejectDimensions();
                        myDropzone.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }
                      if(file.size > 1024*1024*2){
                        //2MB
                        myDropzone.removeFile(file);
                        alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
                        return false;
                      }
                    });
                    myDropzone.on("success", function(file) {
                      myDropzone.removeAllFiles(file);
                      // img_final();
                      $(".img_ajustes_mobile_0").fadeIn('slow');
                    });
                  }
              };
               
                      
              $(document).ready(function(){

                 /* $("a[rel='_recortar']").click(function(){
                      
                      $("#_load").show();
                      $(".ambito_recorte").load( _root_ + "administrador/imagenes/recortarimagennuevo/cargar/1/tendencias");

                      setTimeout(function() {
                          $('#contenedor').slideUp('fast');
                          $("#_load").hide();
                          $(".img_ajustes").slideUp("slow");
                          $(".img_recortar").show();
                      }, 3000);
                  });*/

                  $("a[rel='_recorte_auto_mobile_0']").click(function(){
                      
                      $("#_load_desktop_0").show();
                      var url=  _root_ + "administrador/imagenes/recortar_imagen_auto_V2/cargar/tendencias/mobile";
                      
                      $.ajax({
                          type: "POST",
                          url: url,
                          //data: $("#formulario").serialize(),
                          success: function(data){
                              $('#contenedor_mobile_0').slideUp('fast');
                              $("#_load_mobile_0").hide();
                              $(".img_ajustes_mobile_0").slideUp("slow");
                              setTimeout(function() {img_final_mobile_0('1');}, 1000);
                          }
                      });
                      return false;
                  });
              });

              function img_final_mobile_0(_inst){
                  var url= _root_ + "administrador/imagenes/traerimagenfinal_V2/" + _inst+"/mobile";
                  $.ajax({
                      url:url,
                      //data: "_ident=" + _id,
                      contentType:"application/x-www-form-urlencoded",
                      dataType:"html",
                      error:function(){
                          $("._load_img_final_mobile_0").html("ERROR: imposible cargar la imágen.");
                      },

                      ifModified:false,
                      processData:true,
                      success:function(datas){
                          $("._load_img_final_mobile_0").html(datas);
                          $("._load_img_final_mobile_0").fadeIn("slow");
                      },
                      type:"POST",
                      timeout:3000
                  });
              }
        
              function consolidar_imagen_mobile(_valor){
                
                var url= _root_ + "administrador/imagenes/consolidarimagen_V2";                
                        
                $.ajax({
                    url:url,
                    contentType:"application/x-www-form-urlencoded",
                    data: {"val" : _valor, "_csrf" : "<?=$this->_sess->get('_csrf')?>"}, 
                    dataType:"json",
                    error:function(){
                        $("._load_img_final_mobile_0").html("La conexion se ha perdido.");
                    },            
                    ifModified:false,
                    processData:true,
                    success:function(datas){
                      if(datas.html!='no'){
                        $("._load_img_final_thumb_mob_"+datas.valor).html(datas.html);
                      }
                        $("._load_img_final_mobile_0").fadeOut("fast");
                        $("#_car_img_mob_0 .close").click();
                        $('#contenedor_mobile_0').slideDown('fast');
                    },
                    type:"POST",
                    timeout:3000
                });
              }

              function cancelarimagen_mobile(){
                
                var url= _root_ + "administrador/imagenes/cancelarimagen";
                
                        
                $.ajax({
                    url:url,
                    contentType:"application/x-www-form-urlencoded",
                    dataType:"html",
                    error:function(){
                        $("._load_img_final_mobile_0").html("La conexion se ha perdido.");
                    },            
                    ifModified:false,
                    processData:true,
                    success:function(datas){
                      if(datas!='no'){
                        $("._load_img_final_thumb_mob_0").html(datas);
                      }
                        $("._load_img_final_mobile_0").fadeOut("fast");
                        // $("#_car_img").modal("hide");
                        $("#_car_img_mob_0 .close").click();
                        $('#contenedor_mobile_0').slideDown('fast');
                    },
                    type:"POST",
                    timeout:3000
                });
              }
        
            </script>



            <div class="loader"></div>
            <div id="contenedor_mobile_0">
        
                <form class="form-inline dropzone" id="my-awesome-dropzone1" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgNuevoV2/tendencias/mobile/<?=$this->_sess->get('carga_actual')?>">
                    <input type="hidden" name="envio_img_princip" value="1">
                    <div class="dropzone-previews"></div>
                    <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                </form>
                <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                
                <hr> 
                 
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-danger"> 
                            <small>Tamaño: <strong><?=$this->_conf['formatos_img']['tendencias_mobile']['ancho']?> x <?=$this->_conf['formatos_img']['tendencias_mobile']['alto']?> px</strong></small>
                            <br>
                            <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>   
                        </p>
                    </div>
                </div>
            </div>

            <div class="row img_ajustes_mobile_0" style="display:none;">
                <hr>
                 <div class="col-lg-12">
                  
                    <!-- <a href="javascript:void(0);" rel="_recortar_desktop_0" class="btn btn-success"> 
                        Recorte manual
                    </a>
                    &nbsp;&nbsp; -->
                    
                    <a href="javascript:void(0);" class="btn btn-info" rel="_recorte_auto_mobile_0">
                       Recorte automático
                       <div id="_respp_mobile_0"></div>
                    </a>
                    &nbsp;&nbsp;
                    <span id="_load_mobile_0" style="display:none">
                      <img src="<?=$this->_conf['base_url']. 'public/img/ajax-loader.gif'?>">
                    </span>
                </div>
            </div>
            
            <!-- <div class="row img_recortar_desktop_0" style="display:none;">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content ambito_recorte"></div>
                    </div>
                </div>
            </div> -->
            <div class="row _load_img_final_mobile_0" style="display:none;"></div>


          </div>


          <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
          </div>        
      </div>
  </div>
</div>















