<section id="init">
    <div id="popUpHome" class="wpForm">
        <div class="contain">
            <a href="<?=$this->_conf['base_url']?>"><img src="<?php echo $_params['ruta_img']?>logo.svg" alt="Aliadas" class="logo"></a><br>
            La pasión es eso que nos mueve. <br> 
            Y cuando nos movemos,<br>
            nos encontramos con los que se apasionan y buscan lo mismo que nosotros.<br><br>

            Cuidar. Aconsejar. Ayudar. Responder.<br>
            Potenciar y entender que cada belleza es única.<br>
            Y que la belleza es cuidarnos y cuidar a los demás.<br><br>

            Ese es nuestro camino y lo compartimos.<br>
            Por eso somos un equipo.<br>
            Una comunidad que te empodera para que sigas creciendo.<br><br>

            Hoy nos une las ganas<br>
            por hacer las cosas cada vez mejor.<br>
            Nos une nuestro deseo<br>
            de estar cada vez más cerca. <br>
            Nos une la dedicación.<br>
            El trabajo.<br>
            Lo que amamos. 
        </div>
        <div class="login">
            <h2>Iniciar sesión</h2>
            <!-- <span style="color: #E33170;font-size: 14px;text-transform:uppercase;display: block;margin-bottom: 20px;line-height: 1.4">Si ya sos usuario y es la primera vez que ingresás a la nueva web, por favor restablecé tu contraseña</span> -->
            <form role="form" name="form1" id="formLogin" method="post">
                <input type="hidden" value="1" name="enviar">
                <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
                <label for="email">email</label>
                <input type="email" name="email" id="email" placeholder="Tu e-mail">
                <label for="password">contraseña</label>
                <input type="password" name="pass" id="pass" placeholder="········">
                <a href="<?=$this->_conf['base_url']?>registro/recuperar" class="lastPass" style="font-size: 12px">Restablecer mi contraseña</a>
                <button id="btEntrar">iniciar sesión</button>

                <div class="ok"></div>
                <?php if(isset($this->_error)):?>
                <div class="error"><?=$this->_error?></div>
                <?php else:?>
                <div class="error"></div>
                <?php endif?>

            </form>
            <small>No soy miembro aún, quiero <a href="<?=$this->_conf['base_url']?>registro">Registrarme</a></small>
            <!--
            <br><br>
          
            <small><img src="<?php echo $_params['ruta_img']?>signo.svg" alt="dudas"> ¿Tenés dudas? <a href="#" class="popup">Descubrí Aliadas</a></small-->
            
        </div>
    </div>
</section>

<style>
</style>
<script type="text/javascript">
$(document).ready(function() {

    $('.error').hide();
    $('.ok').hide();

    $('#btEntrar').on('click', function() {
        
       
        if($('#email').val()==''){
          // alert("Debe ingresar un email");
          $('.error').html("Debe ingresar un email").fadeIn('slow');
          $("#email").focus();
          return false;
        }

        if($('#pass').val()==''){
          // alert("Debe ingresar un password");
          $('.error').html("Debe ingresar una contraseña").fadeIn('slow');
          $("#pass").focus();
          return false;
        }


        var datastring = $('#formLogin').serialize();
        //alert(url)
        $.ajax({
            type: 'POST',
            url: _root_+"index/login",
            data: datastring,
            beforeSend: function(){
              //$('#juego').html('<option>Cargando...</option>');
            },        
            success: function(data){
                if(data=='ok'){
                    $('.error').html('').fadeOut('fast');
                    $('.ok').html('Acceso exitoso').fadeIn('slow');
                    setTimeout(function() {
                          window.location.href = _root_ + "home";
                      }, 2000);
                    
                }else{
                    $('.error').html(data).fadeIn('slow');
                }
              
            }
        });

        return false;    
    })

});

</script>

