/* Basic sample */

body{
	/*overflow:hidden;*/
	background-color:#fcfcfc;
	margin:0;
	padding:0;
}
.flipbook-viewport{
	overflow:hidden;
	width:100%;
	/*height:100%;*/
	margin-bottom:20px;
}

.flipbook-viewport .container{
	/*position:absolute;
	top:50%;
	left:50%;*/
	margin:auto;
}

.flipbook-viewport .flipbook{
	/*width:468px;
	height:832px;
	left:-461px;
	top:-300px;*/
}

.flipbook-viewport .page{
	/*width:468px;
	height:832px;*/
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.flipbook-viewport video{
	width: 800px;
	margin:auto;
	display: block;
}

/*ALE*/
*{
	box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.wpCarousel{
	/*background: #000;*/
	/*padding: 0 80px;*/
	padding: 30px 80px 0 80px;
	margin-bottom: 40px;
	position: relative;
}
.owl-carousel .owl-stage-outer{z-index: 1}
.owl-carousel .owl-stage{padding: 55px 0;}
.owl-theme .owl-nav{
	position: absolute;
	z-index: 0;
	top:50%;
	left: -60px;
	width: calc(100% + 120px);
	margin-top: -15px !important;
	display: flex;
	justify-content: space-between;
}
.owl-theme .owl-nav button.owl-next,
.owl-theme .owl-nav button.owl-prev{
	display: block;
	outline: none;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	text-align: center;
	line-height: 1 !important;
	background: #FFF !important;
	font-size: 2em !important;
	position: relative;
}
.owl-theme .owl-nav button.owl-next span,
.owl-theme .owl-nav button.owl-prev span{
	position: absolute;
	left: 50%;top:44%;
	transform: translate(-50%,-50%);
}
.owl-carousel.owl-drag .owl-item{transition: ease-out 0.3s}
.owl-carousel.owl-drag .owl-item.center{transform: scale(1.2);z-index:999;}

/*CONTENT*/
.wpContent{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
.wpContent .btnNavFlip{
	position: absolute;
	top:50%;
	width: 55px;
	height: 55px;
	border-radius: 40px;
	background-color: #FFF;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	text-align: center;
	line-height: 50px;
	font-size: 2em;
	right: 15px;
	cursor: pointer;
}
.wpContent .btnNavFlip.disabled{opacity: .3;pointer-events: none;}
.wpContent .btnNavFlip#prev{left:15px;}

/*Flip*/
#wpFlipping{background: url(ajax-loader.gif) no-repeat center;min-height: 960px;position: relative;margin:20px 0;}
.flipbook-viewport .shadow{margin: auto !important;}

/*Flexslider*/
.flexslider ul.slides,
.flexslider ul.slides li{
	padding: 0;
	margin:0;
}
.flexslider ul.slides li img{display: block;width: 100%;}
.flexslider{
	margin-top: 55px;
}
.flexslider .flex-direction-nav,
.flexslider .flex-control-nav{display: none;}

/*Inactiva*/
#inactive{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;left: 0;
	background: #000;
	z-index: 999;
	display: none;
}
#inactive .copy{
	position: absolute;
	top:50%;left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 100%;
}
#inactive .copy h1{
	font-size: 9vw;
	text-transform: uppercase;
	letter-spacing: -.03em;
	margin-bottom: 30px;
	color: #FFF;
	white-space: nowrap;
	font-family: 'Arial', sans-serif;
}

.actualizar{
	width: 100%;
	height: 100%;
	top:0;left: 0;
	position: fixed;
	background-color: #000;
	display: none;
	z-index: 9999;
}

.actualizar .copy{
	position: absolute;
	top:50%;left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 100%;
}
.actualizar .copy h1{
	font-size: 9vw;
	text-transform: uppercase;
	letter-spacing: -.03em;
	margin-bottom: 30px;
	color: #FFF;
	white-space: nowrap;
	font-family: 'Arial', sans-serif;
}
