<script src="https://cdn.ckeditor.com/4.5.11/standard-all/ckeditor.js"></script>
<script>
$(document).ready(function() {
	
	$('#tags').tagsInput({
	     placeholder: 'Agregar Tags',
	     removeWithBackspace: true,
	     <?php if($this->tags):?>
	    'autocomplete': {
	      source: [
	        <?php foreach ($this->tags as $val):?>
	         "<?=$val['nombre']?>",
	        <?php endforeach?>        
	      ]
	      <?php endif?>
	    }
	});

  
		
	$('#editar_trabajo').submit(function(){
		
		for (instance in CKEDITOR.instances) {
        CKEDITOR.instances[instance].updateElement();
    }


    
    var $fields = $(this).find('input[type=checkbox]:checked');
    if (!$fields.length) {
          alert('Debe seleccionar al menos una categoria');
          return false; 
      }

          
    if ($("#titulo").val() == "") {
      alert("Debe completar el campo titulo");
      $("#titulo").val('');
      $('#titulo').focus();     
      //$("#titulo").attr('placeholder', 'Titulo');
      return false;        
    }

    if ($("#video").val() == "") {
        alert("Debe completar el campo video");
        $('#video').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

    if($('._load_img_final_thumb').children().length == 0){
      alert("Debe seleccionar una imagen");
      return false; 
    }
					
			
	   return true;
		
	
	});
	
	
	
});

</script>


<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Videos</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>


<div class="row wrapper wrapper-content">  
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Editar video</h5>
                        </div>
                        <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" enctype="multipart/form-data">
                        <input type="hidden" name="envio01" value="1" />
                        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">



                        <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Categorias</label>
                              <?php foreach($this->categorias as $cat):?>
                              <div class="col-lg-2 checkbox"> 
                              <?php if(in_array($cat['id'], $this->cat_ids)):?>
                              <label><input type="checkbox" id="cat_<?=$cat['id']?>" name="categorias[]" value="<?=$cat['id']?>" checked> <?=$cat['nombre']?></label> 
                              <?php else:?>
                              <label><input type="checkbox" id="cat_<?=$cat['id']?>" name="categorias[]" value="<?=$cat['id']?>"> <?=$cat['nombre']?></label>
                              <?php endif?> 
                              </div>
                              <?php endforeach?>
                          </div>
                        </div>

                       


                        
                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Titulo</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="<?php echo $this->trabajo['titulo']?>">
                                </div>
                            </div>
                        </div>


                        

                       

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Bajada</label>
                                <div class="col-lg-9">
                                    <textarea class="form-control" id="bajada" name="bajada"><?php echo $this->trabajo['bajada']?></textarea>
                                    <script>
                                        CKEDITOR.replace('bajada', {
                                            extraPlugins: 'colorbutton'
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Descripcion</label>
                                <div class="col-lg-9">
                                     <textarea class="form-control" id="descripcion" name="descripcion"><?php echo $this->trabajo['descripcion']?></textarea>
                                      <script>
                                          CKEDITOR.replace('descripcion', {
                                              extraPlugins: 'colorbutton'
                                          });
                                      </script>
                                </div>
                            </div>
                        </div>
                        
                        
                      
                      <div class="ibox-content">
                        <div class="row">
                          <label for="video" class="col-lg-2 control-label">Imagen</label>
                          <div class="col-lg-2">
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img">
                                 Cargar Imagen
                              </button>
                          </div>
                          <div class="col-lg-6">
                            <div class="list-group aa conexionThumb _load_img_final_thumb" id="bloque_imgs_usuario">
                            <?php $_img = admin::traerDataImagenPorIdentificador($this->_sess->get('edicion_actual'),'tutoriales');?>
                            <?php if($_img !=''):?>
                            <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/tutoriales/thumb/". $_img->path ?>"  class="img-thumbnail">
                            <?php endif?>
                            </div>
                          </div>                                      
                        </div>
                      </div> 




                     



                      <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Iframe Video</label>
                              <div class="col-lg-9">
                                <textarea class="form-control" id="video" name="video"><?php echo $this->trabajo['video']?></textarea>
                              </div>
                          </div>
                      </div>


                      <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Tags</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags" value="<?php echo $this->trabajo['tags']?>">
                                <small>agregar tag separados por ,</small>
                              </div>
                          </div>
                      </div>


                       

                        <div class="ibox-content">
                          <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-2">
                                      <input type="submit" class="btn btn-success" id="validatex" name="cargar" value="Guardar" />
                                    </div>                                                                       
                                </div>
                                
                             
                            </div>                            
                        </div>
                       </form> 
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>

<div class="modal inmodal fade" id="_car_img" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imagen</h4>
            </div>
            <div class="modal-body">
            <script>

              


              Dropzone.options.myAwesomeDropzone3 = {
                  autoProcessQueue: false,
                  paramName: 'file',
                  parallelUploads: 1,
                  maxFiles: 1,
                  maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
                  dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
                  acceptedFiles: 'image/*',
                 
                  init: function() {
            
                    var myDropzone = this;
                    var maxImageWidth = <?=$this->_conf['formatos_img']['tutoriales']['ancho']?>, 
                        maxImageHeight = <?=$this->_conf['formatos_img']['tutoriales']['alto']?>,
                        maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
            
                    myDropzone.on("addedfile", function(file) {
                      file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
                    });
            
                    this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
                      e.preventDefault();
                      e.stopPropagation();                                
                      
                      
                      
                      //alert("llego");
                      myDropzone.processQueue();
                      //$("#_car_imgg .recortar_img").fadeOut('slow');
                    });
            
                    this.on("thumbnail", function(file) {
                      /*if(file.width > file.height){
                        //file.rejectDimensions();
                        this.removeFile(file);
                        alert("La orientación de la imagen debe ser vertical");
                        return false;
                      }*/
                      
                      if (file.width < maxImageWidth || file.height < maxImageHeight) {
                        // file.rejectDimensions();
                        this.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }
                      
                      /*if (file.width > maxImageWidth || file.height > maxImageHeight) {
                        //file.rejectDimensions();
                        this.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }*/
                    })
                    
                    /*this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final();});
                    this.on("maxfilesexceeded", function(file){this.removeFile(file);});
                    this.on("error", function(file) {alert(file)});*/
                    //this.on("complete", function(file) {this.removeAllFiles(file);});
                    this.on("queuecomplete", function(file) {
                      this.removeAllFiles(file);
                    });
                    this.on("maxfilesexceeded", function(file){
                      this.removeFile(file);
                    });
                    this.on("error", function(file) {
                      //alert(file);
                      if (file.width < maxImageWidth || file.height < maxImageHeight) {
                        //file.rejectDimensions();
                        this.removeFile(file);
                        alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
                        return false;
                      }
                      if(file.size > 1024*1024*2){
                        //2MB
                        this.removeFile(file);
                        alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
                        return false;
                      }
                    });
                    this.on("success", function(file) {
                      this.removeAllFiles(file);
                      // img_final();
                      $(".img_ajustes").fadeIn('slow');
                    });
                  }/*,
                  accept: function(file, done) {
                    file.acceptDimensions = done;
                    file.rejectDimensions = function() {
                      //$("#_car_imgg .recortar_img").fadeOut('slow');
                      done('La imagen tiene un formato ilegal');
                    };
                  },*/
              };
               
                      
              $(document).ready(function(){

                  $("a[rel='_recortar']").click(function(){
                      
                      $("#_load").show();
                      $(".ambito_recorte").load( _root_ + "administrador/imagenes/recortarimagennuevo/editar/1/tutoriales");

                      setTimeout(function() {
                          $('#contenedor').slideUp('fast');
                          $("#_load").hide();
                          $(".img_ajustes").slideUp("slow");
                          $(".img_recortar").show();
                      }, 3000);
                  });

                  $("a[rel='_recorte_auto']").click(function(){
                      
                      $("#_load").show();
                      var url=  _root_ + "administrador/imagenes/recortar_imagen_auto/editar/tutoriales";
                      
                      $.ajax({
                          type: "POST",
                          url: url,
                          //data: $("#formulario").serialize(),
                          success: function(data){
                              $('#contenedor').slideUp('fast');
                              $("#_load").hide();
                              $(".img_ajustes").slideUp("slow");
                              setTimeout(function() {img_final('1');}, 1000);
                          }
                      });
                      return false;
                  });
              });

              function img_final(_inst){
                  var url= _root_ + "administrador/imagenes/traerimagenfinal/" + _inst;
                  $.ajax({
                      url:url,
                      //data: "_ident=" + _id,
                      contentType:"application/x-www-form-urlencoded",
                      dataType:"html",
                      error:function(){
                          $("._load_img_final").html("ERROR: imposible cargar la imágen.");
                      },

                      ifModified:false,
                      processData:true,
                      success:function(datas){
                          $("._load_img_final").html(datas);
                          $("._load_img_final").fadeIn("slow");
                      },
                      type:"POST",
                      timeout:3000
                  });
              }
        
              function consolidar_imagen(_valor){
                if(_valor == 1){
                    var url= _root_ + "administrador/imagenes/consolidarimagen";
                }else{
                    var url= _root_ + "administrador/imagenes/cancelarimagen";
                }
                        
                $.ajax({
                    url:url,
                    contentType:"application/x-www-form-urlencoded",
                    dataType:"html",
                    error:function(){
                        $("._load_img_final").html("La conexion se ha perdido.");
                    },            
                    ifModified:false,
                    processData:true,
                    success:function(datas){
                      if(datas!='no'){
                        $("._load_img_final_thumb").html(datas);
                      }
                        $("._load_img_final").fadeOut("fast");
                        // $("#_car_img").modal("hide");
                        $("#_car_img .close").click();
                        $('#contenedor').slideDown('fast');
                    },
                    type:"POST",
                    timeout:3000
                });
              }
             
       
        
        
        
              </script>
              <div class="loader"></div>
              <div id="contenedor">
          
                  <form class="form-inline dropzone" id="my-awesome-dropzone3" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgNuevo/tutoriales/<?=$this->_sess->get('edicion_actual')?>">
                      <input type="hidden" name="envio_img_princip" value="1">
                    
                                                      
                      <div class="dropzone-previews"></div>
                      <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                  </form>
                  <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                  
                   <hr> 
                   
                  <div class="row">
                      <div class="col-lg-12">
                          <p class="text-danger"> 
                              <small>Tamaño: <strong><?=$this->_conf['formatos_img']['tutoriales']['ancho']?> x <?=$this->_conf['formatos_img']['tutoriales']['alto']?> px</strong></small>
                              <br>
                              <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>   
                          </p>
                      </div>
                  </div>
              </div>

              <div class="row img_ajustes" style="display:none;">
                  <hr>
                   <div class="col-lg-12">
                    
                      <a href="javascript:void(0);" rel="_recortar" class="btn btn-success"> 
                          Recorte manual
                      </a>
                      &nbsp;&nbsp;
                      
                      <a href="javascript:void(0);" class="btn btn-info" rel="_recorte_auto">
                         Recorte automático
                         <div id="_respp"></div>
                      </a>
                      &nbsp;&nbsp;
                      <span id="_load" style="display:none">
                        <img src="<?=$this->_conf['base_url']. 'public/img/ajax-loader.gif'?>">
                      </span>
                  </div>
              </div>
              
              <div class="row img_recortar" style="display:none;">
                  <div class="col-lg-12">
                      <div class="ibox float-e-margins">
                          <div class="ibox-content ambito_recorte"></div>
                      </div>
                  </div>
              </div>
              <div class="row _load_img_final" style="display:none;"></div>


          </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
      </div>
    </div>
</div>
  

<!-- <div class="modal inmodal fade" id="_car_img" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imagen</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone3 = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 1,
						maxFiles: 1,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var maxImageWidth = <?=$this->_conf['formatos_img']['tutoriales']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['tutoriales']['alto']?>,
   								maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								
								
								
								//alert("llego");
								myDropzone.processQueue();
								//$("#_car_imgg .recortar_img").fadeOut('slow');
							});
			
							this.on("thumbnail", function(file) {
								/*if(file.width > file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser vertical");
									return false;
								}*/
								
								
								
								/*if (file.width > maxImageWidth || file.height > maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}*/
							})
							
							/*this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final();});
							this.on("maxfilesexceeded", function(file){this.removeFile(file);});
							this.on("error", function(file) {alert(file)});*/
							//this.on("complete", function(file) {this.removeAllFiles(file);});
							this.on("queuecomplete", function(file) {
								this.removeAllFiles(file);
							});
							this.on("maxfilesexceeded", function(file){
								this.removeFile(file);
							});
							this.on("error", function(file) {
								//alert(file);
								if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
							});
							this.on("success", function(file) {
								this.removeAllFiles(file);
								img_final();
							});
						}/*,
						accept: function(file, done) {
							file.acceptDimensions = done;
							file.rejectDimensions = function() {
								//$("#_car_imgg .recortar_img").fadeOut('slow');
								done('La imagen tiene un formato ilegal');
							};
						},*/
					};
               
               				
							
				

                function img_final(){
                    var url= _root_ + "administrador/imagenes/traerImagenfinalTendencias/tutoriales";
                    $.ajax({
                        url:url,
                        contentType:"application/x-www-form-urlencoded",
                        dataType:"html",
                        error:function(){
                            $("._load_img_final_thumb").html("La conexion se ha perdido. <a href='" + _root_ + "administrador/imagenes'>Reinicie el proceso.</a>");
                        },
            
                        ifModified:false,
                        processData:true,
                        success:function(datas){
                            $("._load_img_final_thumb").html(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
                            //$(".finalizar_proceso").show();
                            $('#_car_img').modal('hide');
                        },
                        type:"POST",
                        timeout:3000
                    });
                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone3" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgEditar/tutoriales/<?=$this->_sess->get('edicion_actual')?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                      
                                                        
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                                <small>Tamaño: <strong><?=$this->_conf['formatos_img']['tutoriales']['ancho']?> x <?=$this->_conf['formatos_img']['tutoriales']['alto']?> px</strong></small>
                                <br>
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>   
                            </p>
                        </div>
                    </div>
                    
                 
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>
 -->

