<style>
.contenedor{
	width:<?=$this->size[0]/2?>px;
}
</style>
<div class="row">
  	<div class="col-lg-10">
    	<h2><?=admin::convertirCaracteres($this->trabajo->titulo)?></h2>
     </div>
     <div class="col-lg-2">
    	<h2>
        <a href="javascript:history.back()" class="btn btn-warning">
           volver
        </a>
        </h2>
     </div>
</div>
<hr />
<div class="row">
  	<div class="col-lg-12">
    	<div class="flipbook-viewport">
            <div class="contenedor">
                <div class="flipbook">
                <?php foreach($this->imagenes as $img):?>
                <div style="background-image:url(<?=$this->_conf['base_url']?>public/img/subidas/catalogos/cat_<?=$this->trabajo->identificador?>/<?=$img->path?>)"></div>
                <?php endforeach?>
                </div>
            </div>
        </div>
     </div>
</div>

<script>
$(document).ready(function(e) {	
	$('.flipbook').turn({
		display: 'single',
		width:<?=$this->size[0]/2?>,			
		height:<?=$this->size[1]/2?>,
		elevation: 50,
		gradients: true,
		autoCenter: true
	});
});
</script>

        



