<style>
.contenedor{
	width:<?=$this->size[0]/2?>px;
}
</style>

<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/catalogos/activar/<?=$this->trabajo->id?>" class="btn btn-success btn-lg btn-block">
                       ACTIVAR
                    </a>
                </div>
                <div class="col-lg-6">
                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/catalogos/editar/<?=$this->trabajo->id?>" class="btn btn-warning btn-lg btn-block">
                       EDITAR
                    </a>
                </div>
            </div>
            
            
        </div>
    </div>
</div>

<div class="row">
  	<div class="col-lg-12">
    	<div class="flipbook-viewport">
            <div class="contenedor">
                <div class="flipbook">
                <?php foreach($this->imagenes as $img):?>
                <div style="background-image:url(<?=$this->_conf['base_url']?>public/img/subidas/catalogos/cat_<?=$this->trabajo->identificador?>/<?=$img->path?>)"></div>
                <?php endforeach?>
                </div>
            </div>
        </div>
     </div>
</div>


<script>
$(document).ready(function(e) {	
	$('.flipbook').turn({
		display: 'single',
		width:<?=$this->size[0]/2?>,			
		height:<?=$this->size[1]/2?>,
		elevation: 50,
		gradients: true,
		autoCenter: true
	});
});
</script>

        



