
<section>
    <div id="bannerExpo" style="padding: 40px 20px;">
        <a href="http://www.expo.aliadas.com.ar/" target="_blank"><img src="https://aliadas.com.ar/views/layout/default/img/BannerEsenciaOnline.jpg" style="max-width: 100%;margin: auto;display: block;"></a>
    </div>
    
    <?php if($this->destacados):?>
        
    <div id="level1" class="wp">
        <?php for($i=0;$i<3;$i++):?>

        <?php 
        $_tabla = explode('_', $this->destacados[$i]['tabla']);
        $datos = home::traerNota($this->destacados[$i]['id_nota'],$_tabla[1]);
        // echo "<pre>";print_r($datos);echo "</pre>";   ?>
        <?php if($datos):?>
        <?php 
        $datos['tabla'] = $_tabla[1];
        if($datos['tabla'] == 'tendencias'){
            $_img = home::traerDataImagenPorIdentificador2($datos['identificador'],$datos['tabla']);
        }else{
            $_img = home::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);
        }
        
        if($_img !=''){

            if(isset($datos['notas_viejas']) && $datos['notas_viejas'] != 'si'){
                if($datos['tabla'] != 'lanzamientos'){  
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                }else{
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                }
            } else{

                if($datos['tabla'] == 'lanzamientos'){  

                    if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                    }else{
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                    }


                }else{
                    if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                    }else{
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                    }
                }                
                
            }


            
        }
        $_cat=array();
        $_cat = explode(',', $datos['categorias']);       
        $_arr_cat=array();
        $_arr_label=array();
        foreach ($_cat as $val) {
          $_arr = home::traerCategoria($val);
          $_arr_cat[] = $_arr['nombre']; 
          $_arr_label[] = $_arr['clase']; 
        }
        // $_cate = implode(', ', $_arr_cat);
		if($datos['tabla'] == 'tutoriales'){
			$_link = $this->_conf['url_enlace'].'videos/detalle/'.home::crearUrl($datos['id'],$datos['titulo']);
        }else if($datos['tabla'] != 'lanzamientos'){
            $_link = $this->_conf['url_enlace'].$datos['tabla'].'/detalle/'.home::crearUrl($datos['id'],$datos['titulo']);
        } else{
            $_link ='#';
        }
        ?>
        
        <div class="news n0<?=$i+1?>">
            <a href="<?=$_link?>" class="img" style="background-image: url(<?=$_url_img?>)">
                <div class="label <?=$_arr_label[0]?>"><?=$_arr_cat[0]?></div>
                <h2><?=home::convertirCaracteres($datos['titulo'])?></h2>
            </a>
        </div>
        <?php endif?>
        <?php endfor?>
    </div>
    <div class="third wp">

         <?php for($i=3;$i<6;$i++):?>

        <?php 
        $_tabla = explode('_', $this->destacados[$i]['tabla']);
        $datos = home::traerNota($this->destacados[$i]['id_nota'],$_tabla[1]);?>
        <?php if($datos):?>
        <?php                 
        $datos['tabla'] = $_tabla[1];
        // $_img = home::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);
        if($datos['tabla'] == 'tendencias'){
            $_img = home::traerDataImagenPorIdentificador2($datos['identificador'],$datos['tabla']);
        }else{
            $_img = home::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);
        }
        if($_img !=''){

             if(isset($datos['notas_viejas']) && $datos['notas_viejas'] != 'si'){
                if($datos['tabla'] != 'lanzamientos'){  
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                }else{
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                }
            } else{

                if($datos['tabla'] == 'lanzamientos'){  

                    if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                    }else{
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                    }


                }else{
                    if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                    }else{
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                    }
                }                
                
            }


            /*if($datos['tabla'] != 'lanzamientos'){  
                $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
            }else{
                $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
            }*/
        }
        $_cat=array();
        $_cat = explode(',', $datos['categorias']);       
        $_arr_cat=array();
        $_arr_label=array();
        foreach ($_cat as $val) {
          $_arr = home::traerCategoria($val);
          $_arr_cat[] = $_arr['nombre']; 
          $_arr_label[] = $_arr['clase']; 
        }
        // $_cate = implode(', ', $_arr_cat);
        if($datos['tabla'] != 'lanzamientos'){
            $_link = $this->_conf['url_enlace'].$datos['tabla'].'/detalle/'.home::crearUrl($datos['id'],$datos['titulo']);
        }else{
            $_link ='#';
        }
        ?>   

        <a href="<?=$_link?>" class="img" style="background-image: url(<?=$_url_img?>)">
            <div class="label <?=$_arr_label[0]?>"><?=$_arr_cat[0]?></div>
            <h2><?=home::convertirCaracteres($datos['titulo'])?></h2>
        </a>      
        <?php endif?>
        <?php endfor?>
        
        <!-- <a href="" style="background-image: url(img/nota-03.jpg)">          
            <div class="label fragancias">Fragancias</div>
            <h2>Mes de la Mujer: cómo crear una ambientación temática</h2>          
        </a> -->
        

    </div> 
    
    <?php else:?>
    <p>No hay datos cargados!</p>
    <?php endif?>

    <!--------------
     ACÁ VA BANNER 
    --------------->
    <div class="banner_main">
        <?php if($this->banners_top):?>
        <?php foreach ($this->banners_top as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <?php if($val['link']!=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php else:?>
        <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        <?php endif?>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>



    <!-- LISTA DE NOTAS -->
    <div id="cont_filtrado" class="list wp">

        <?php if($this->novedades):?>
        <?php foreach($this->novedades as $datos):?>

        <?php 
        // $_img = home::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);
        if($datos['tabla'] == 'tendencias'){
            $_img = home::traerDataImagenPorIdentificador2($datos['identificador'],$datos['tabla']);
        }else{
            $_img = home::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);
        }
        if($_img !=''){

             if(isset($datos['notas_viejas']) && $datos['notas_viejas'] != 'si'){
                if($datos['tabla'] != 'lanzamientos'){  
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                }else{
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                }
            } else{

                if($datos['tabla'] == 'lanzamientos'){  

                    if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/" . $_img->path)){
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                    }else{
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                    }


                }else{
                    if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla'] . "/thumb/" . $_img->path)){
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
                    }else{
                        $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                    }
                }                
                
            }
            
            /*if($datos['tabla'] != 'lanzamientos'){  
                $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path;
            }else{
                $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
            }*/
        }
        $_cat=array();
        $_cat = explode(',', $datos['categorias']);       
        $_arr_cat=array();
        $_arr_label=array();
        foreach ($_cat as $val) {
          $_arr = home::traerCategoria($val);
          $_arr_cat[] = $_arr['nombre']; 
          $_arr_label[] = $_arr['clase']; 
        }
        $_cate = implode(', ', $_arr_cat);
        if($datos['tabla'] != 'lanzamientos'){
            $_link = $this->_conf['url_enlace'].$datos['tabla'].'/detalle/'.home::crearUrl($datos['id'],$datos['titulo']);
        }else{
            $_link ='#';
        }
        ?>
        
        <a href="<?=$_link?>" class="<?=$_arr_label[0]?>">
            <div class="img" style="background-image: url(<?=$_url_img?>)"></div>
            <h2><?=home::convertirCaracteres($datos['titulo'])?></h2>
            <?php $_fecha = explode('-', $datos['fecha'])?>
            <?php $_fecha = $_fecha[2].' '. home::convertirMes($_fecha[1]).' de '.$_fecha[0] ?>
            <span><i class="fa fa-calendar-o" aria-hidden="true"></i> <?=$_fecha?>  |  <?=$_cate?></span>
            <p><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['bajada'])),150)?></p>
        </a>
        
        <?php endforeach?> 

        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>   
        
    </div>

    <div class="loader"></div>

    <?php if(!empty($this->novedades)):?>
    <?php if ($this->cantReg!=1):?>
    <div class="btn_carga_mas _vermas">
        <a id="btnVerMas" href="javascript:void(0);" onclick="$().loadMore(<?=$this->cantReg?>)">Ver más novedades</a>
    </div>  
    <?php endif?> 
    <?php endif?>


    
    
    <!--------------
     ACÁ VA BANNER 
    --------------->
    <div class="banner_bottom">
        <?php if($this->banners_bottom):?>
        <?php foreach ($this->banners_bottom as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <?php if($val['link']!=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php else:?>
        <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        <?php endif?>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>



    <!-- EVENTOS -->
    <?php if($this->eventos):?>
    <div id="eventos">
    <div class="list wp eventos">
        <h2>EVENTOS</h2>
        
        <?php foreach($this->eventos as $datos):?>

        <?php 
        
        $_img = home::traerDataImagenPorIdentificador($datos['identificador'],'eventos');
        if($_img !=''){            
            $_url_img = $this->_conf['base_url'] . "public/img/subidas/eventos/thumb/". $_img->path;             
        }

        if($datos['categorias']!=''){
            $_cat=array();
            $_cat = explode(',', $datos['categorias']);       
            $_arr_cat=array();
            $_arr_label=array();
            foreach ($_cat as $val) {
              $_arr = home::traerCategoria($val);
              $_arr_cat[] = $_arr['nombre']; 
              $_arr_label[] = $_arr['clase']; 
            }
            $_cate = implode(', ', $_arr_cat); 
        }else{
            $_arr_label[0] = '';
        }
               
        ?>
       
        <a href="<?=$this->_conf['url_enlace'].'eventos/detalle/'.home::crearUrl($datos['id'],$datos['titulo'])?>" class="<?=$_arr_label[0]?>">
            <div class="img" style="background-image: url(<?=$_url_img?>)"></div>
            <h2><?=home::convertirCaracteres($datos['titulo'])?></h2>
            <?php $_fecha = explode('-', $datos['fecha'])?>
            <?php $_fecha = $_fecha[2].' '. home::convertirMes($_fecha[1]).' de '.$_fecha[0] ?>
            <!--span><i class="fa fa-calendar-o" aria-hidden="true"></i> <?=$_fecha?> |  <?=$_cate?></span-->
            <p style="font-size: 16px"><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['bajada'])),150)?></p>
        </a>

        <?php endforeach?> 
                
    </div>
    </div>
    <?php endif?> 


    <!-- LANZAMIENTOS -->
    <div class="wp lanzamientos">
        <h2>LANZAMIENTOS</h2>

        <?php if($this->lanzamientos):?>
        <?php foreach($this->lanzamientos as $data):?>

        <?php 

        $_tabla = explode('_', $data['tabla']);
        $datos = home::traerNota($data['id_nota'],$_tabla[1]);
        // echo "<pre>";print_r($datos);echo "</pre>";   ?>
        <?php if($datos):?>
        
        <?php 
        $datos['tabla'] = $_tabla[1];
        // $_img = home::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);
        if($datos['tabla'] == 'tendencias'){
            $_img = home::traerDataImagenPorIdentificador2($datos['identificador'],$datos['tabla']);
        }else{
            $_img = home::traerDataImagenPorIdentificador($datos['identificador'],$datos['tabla']);
        }


        if($datos['video'] !=''){
            preg_match('/src="([^"]+)"/', $datos['video'], $match);
            $_url_vid = $match[1];
        }

        // $_img = home::traerDataImagenPorIdentificador($datos['identificador'],'lanzamientos');
        if($_img !=''){     

            if(file_exists($this->_conf['ruta_img_cargadas']. "lanzamientos/" . $_img->path)){
                $_url_img = $this->_conf['base_url'] . "public/img/subidas/lanzamientos/". $_img->path;  
            }else{
                $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
            }

                       
        }

        $_cat=array();
        $_cat = explode(',', $datos['categorias']);       
        $_arr_cat=array();
        $_arr_label=array();
        foreach ($_cat as $val) {
          $_arr = home::traerCategoria($val);
          $_arr_cat[] = $_arr['nombre']; 
          $_arr_label[] = $_arr['clase']; 
        }
        $_cate = implode(', ', $_arr_cat);        
        ?>
       
        <article class="<?=$_arr_label[0]?>">
            <div class="img" style="background-image: url(<?=$_url_img?>)"></div>
            <div class="copy">
                <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
                <h4><?=$_cate?></h4>
                <h3><?=home::convertirCaracteres($datos['titulo'])?></h3>
                <div class="content">
                    <p><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['descripcion'])),150)?></p>
                    <?php if($datos['video'] !=''):?>
                    <a href="javascript:void(0);" rel="<?=$_url_vid?>" class="ver-video">Ver Video</a>
                    <?php elseif($datos['link'] !=''):?>
                    <a href="<?=$datos['link']?>" target="_blank">Ir al Site</a>
                    <?php endif?>
                </div>
                <div class="preview">
                    <p><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['bajada'])),150)?></p>
                    <a href="#" class="conoce">Conocé más</a>
                </div>
            </div>
        </article>

        <?php endif?> 

        <?php endforeach?> 
        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?> 
        
    </div>








    <!-- CONTACTO -->
    <div id="contacto">
    <?php $usr = $this->_sess->get('usuario_front'); ?>
    <?php if(isset($usr)): ?>
        <h2>Consultas</h2>
        <p>Comunicate con nosotras completando el formulario, atenderemos todas tus dudas.</p>
        <form id="formContacto" action="" method="POST">
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido de la Aliada" value="<?=$this->data_user['nombre']?>" required="" readonly>
            <input type="text" id="numero_cliente" name="numero_cliente" placeholder="Número de Cliente" value="<?=$this->data_user['numero_cliente']?>" required="" readonly>
            <input type="email" id="email" name="email" required="" placeholder="Email" value="<?=$this->data_user['email']?>" readonly>
            <input type="text" id="nombre_farmacia" name="nombre_farmacia" placeholder="Nombre de la Farmacia" value="<?=$this->data_user['razon_social']?>" required="" readonly>
            <textarea id="consulta" name="consulta" requided="" placeholder="Consulta"></textarea>
            <input type="button" name="bt_contacto" id="bt_contacto" value="ENVIAR">
           <!--  <button>ENVIAR</button> -->
        </form>
        <div class="ok"></div>
        <div class="error"></div>
        <hr>
    <?php endif; ?>
        <div class="info">
            <div class="wp">
                <div class="post data">
                    <h3>Contacto</h3>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:aliadas@delsud.com.ar">aliadas@delsud.com.ar</a></p>

                    <p><i class="fa fa-phone" aria-hidden="true"></i> Conmutador General<br>
                    (011) 4309-9100 int. 705</p>

                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Humberto Primo 1868, Capital Federal.
                    Buenos Aires, Argentina </p>
                </div>
                <div class="post">
                    <h3>Instagram Post</h3>
                    <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/3fb6c459990856d5af0a8b0f58affc57.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                </div> 
            </div>
        </div>
    </div>
</section>
 
<!-- <div class="popUp">
    <i class="fa fa-close"></i>
    <a href="https://delsud-ar.zoom.us/meeting/register/tZAqfuCsrzoqGNz6ZHOZ945zEr7ZQD7Vwil1" target="_blank"><img src="<?php echo $_params['ruta_img']?>popUp-capa.jpg" alt="Expo Aliadas"></a>
</div> -->
<style>
    .popUp{
        position: fixed;
        left: 50%;top: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0 0 60px rgba(0,0,0,0.6);
        z-index: 999;
        max-width: 800px;
    }
    .popUp img{display: block;max-height: 90vh;}
    .popUp i{position: absolute;top: -40px;color: #e35660;font-size: 34px;cursor: pointer;right: 0;z-index:9;}
    @media (max-width: 640px) {
        .popUp{ max-width: 96%}
        .popUp img {height: auto;width: 100%}
    }
</style>
 <!-- -->
<script>
$(document).ready(function() {
    $('.popUp i').on('click', function(){
        $('.popUp').fadeOut(300);
        console.log('Hola MELI... Por que no te cierra el POPUP???')
    })

    $('#filter').hide();

    var page=2;
    
    $.fn.loadMore = function(_cantReg){       
        var dataString = "p="+page+'&_csrf=<?=$this->_sess->get('_csrf')?>';
            
        $.ajax({
            type: "POST",
            url: _root_ + "home/paginacion",
            data: dataString,
            //dataType: 'json',
            beforeSend: function(){
                //$('#btnVerMas').fadeOut('fast',function(){
                    $(".loader").fadeIn('slow');
                //});
                
            },
            success: function(datos){
                $(".loader").fadeOut('fast',function(){                 
                    //$("#contColeccionesAnteriores").append(datos);
                    $(datos).hide().appendTo('#cont_filtrado').fadeIn('slow');
                    
                    if(page==_cantReg){
                        $('#btnVerMas').hide();
                    }else{                  
                        page=page+1;
                        $('#btnVerMas').show();
                    }
                    
                }); 
                
                
            }
        });
    }


    //DESTACADOS
    $('#level1 .news').hover(
        function(){
            $('#level1 .news').not(this).addClass('hovered')
            $(this).addClass('selected')
        },
        function(){
            $('#level1 .news').removeClass('selected')
            $('#level1 .news').removeClass('hovered')
    });


    //LANZAMIENTOS
    $('.lanzamientos a.conoce').on('click', function(e){
        e.preventDefault();
        $(this).parents('article').find('.preview').fadeOut(200, function(){
            $(this).parents('article').find('.content').slideDown(200);
            $(this).parents('article').find('.close').fadeIn(200);
        })
    })
    $('.lanzamientos article .close').on('click', function(e){
        e.preventDefault();
        $(this).parents('article').find('.close').fadeOut(200);
        $(this).parents('article').find('.content').slideUp(200)
        $(this).parents('article').find('.preview').slideDown(200);
    })
    $('.lanzamientos a.ver-video').on('click', function(e){
        e.preventDefault();
        // var uri ='https://www.youtube.com/embed/';
        // var video = $(this).attr('href');
        // $('#popUpLanzamientos iframe').attr('src',uri+video);
        var video = $(this).attr('rel');
        $('#popUpLanzamientos iframe').attr('src',video);
        $('#contIframe').html();
        $('#popUpLanzamientos').fadeIn(200);
    });
    $('#popUpLanzamientos .close').on('click', function(){
        $('#popUpLanzamientos iframe').attr('src', '');
        $('#popUpLanzamientos').fadeOut(200);
    })

  


     

   
});
</script>