<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Reporte</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">  
    <div class="ibox-title">  
        <h4>Seleccione el tipo de juego </h4>             
    </div>
   


    <div class="ibox-content forum-container">
        
        <div class="row">
            <div class="col-lg-4">
                <a href="<?=$this->_conf['url_enlace']?>administrador/reporte/listarChoice">
                    <div class="widget lazur-bg p-lg text-center">
                        <div class="m-b-md">
                            <i class="fa fa-cubes fa-4x"></i>
                            <p></p>
                            <h3 class="font-bold no-margins">Multiple Choice</h3>
                        </div>
                    </div>
                </a>
            </div>
           <!--  <div class="col-lg-4">
                <a href="<?=$this->_conf['url_enlace']?>administrador/contenidosseccion">
                    <div class="widget navy-bg p-lg text-center">
                        <div class="m-b-md">
                            <i class="fa fa-file-word-o fa-4x"></i>
                            <p></p>
                            <h3 class="font-bold no-margins">Secciones</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="<?=$this->_conf['url_enlace']?>administrador/contenidos/estructuras">
                <div class="widget yellow-bg p-lg text-center">
                    <div class="m-b-md">
                        <i class="fa fa-file-word-o fa-4x"></i>
                        <p></p>
                        <h3 class="font-bold no-margins">Páginas</h3>
                    </div>
                </div>
                </a>
            </div> -->
        </div>
       
    </div>
</div>

