<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Reporte</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">  
    <div class="ibox-title">  
        <h4 style="display: inline-block;">Multiple Choice</h4> 
                       
    </div>
   


    <div class="ibox-content forum-container">
    
        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <div class="forum-item">
            <div class="row">
                <div class="col-md-10">
                    
                    <a href="" class="forum-item-title">
                        <?=admin::convertirCaracteres($datos['titulo'])?>
                    </a>                                   
                   
                </div>

                <div class="col-md-2 forum-info">
                    <div class="tooltip-demo pull-right">
                    

                        <a class="btn btn-warning btn-round" href="<?php echo $this->_conf['url_enlace']?>administrador/reporte/resultadosChoice/<?php echo $datos['id']?>">
                           Ver resultados
                        </a>&nbsp;&nbsp;


                    </div>
                </div>
            </div>
        </div>

       

        <?php endforeach?> 

        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>
    </div>
   <?php //echo (isset($this->paginacion)) ? $this->paginacion : ''?>
</div>

