<script>
$(document).ready(function() {

   $("#_exportar").click(function(){
       
           
      //var _data_ = $("#Exportar_a_Excel").eq(0).clone()).html();
      //$('input[name="_fondos"]').val(_data_);
     
      var url = _root_ + "administrador/reporte/exportaDatos";     
      $.ajax({
        type: "POST",
        url: url,
        data: "exportar=si",
        success: function(data){

          window.open(data,'_self' );
           /*if(data == 1){
                $('#_carga_OK').modal({show:true});
                setTimeout(function() {
                    $('#_carga_OK').modal('hide');
                    window.location.href = _root_ + "administrador/controlpantalla/cargarInactivas";
                }, 2500);
            }else{
                $("._respuesta").html('').append(data).fadeIn('slow');
            }*/
        }
      });
      return false;
  });
	
	/*$('#tags').tagsInput({
	     placeholder: 'Agregar Tags',
	     removeWithBackspace: true,
	     <?php if($this->tags):?>
	    'autocomplete': {
	      source: [
	        <?php foreach ($this->tags as $val):?>
	         '<?=$val['nombre']?>', 
	        <?php endforeach?>        
	      ]
	      <?php endif?>
	    }
	 });*/
		
	$('#bt_enviar').click(function(){
    
    
      for (instance in CKEDITOR.instances) {
          CKEDITOR.instances[instance].updateElement();
      }

      if ($("#titulo").val() == "") {
        alert("Debe completar el campo titulo");
        $("#titulo").val('');
        $('#titulo').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

      // var _item =0;
      for (var i = 1; i <= 25; i++) {
            
            // _item++; 

            if ($("#_preg"+i).val() == "") {
                alert('El campo no puede estar vacio');
                var _algo = "_preg"+i;
                CKEDITOR.instances[_algo].focus();
                // return false; 
                // salir = false;
                return false;       
            }


            /* for (var x = 1; x < 5; x++) {
                
                if ($("#_resp"+i+"_"+x).val() == "") {
                    alert('El campo no puede estar vacio');
                    var _algo2 = "_resp"+i+"_"+x;
                    CKEDITOR.instances[_algo2].focus();
                    return false;        
                }
            }*/

            // _item = i
            if ($("#_resp"+i+"_1").val() == "" && $("#_resp"+i+"_2").val() == "" && $("#_resp"+i+"_3").val() == "" && $("#_resp"+i+"_4").val() == "") {
                alert('Todos los campos respuestas no pueden estar vacios en el Item '+ i);
                var _algo2 = "_resp"+i+"_1";
                CKEDITOR.instances[_algo2].focus();
                return false;        
            }



            if ($("#_resp_correcta"+i).val() == "") {
                alert('El campo no puede estar vacio');
                $("#_resp_correcta"+i).focus();
                // return false; 
                // salir = false;
                return false;       
            }

            if ($("#_puntos"+i).val() == "") {
                alert('El campo no puede estar vacio');
                $("#_puntos"+i).focus();
                 return false; 
              //   salir = false;
              // return false;      
            }

            if ($("#_puntos"+i).val() != undefined) {
              console.log($("#_puntos"+i).val());
              if (isNaN($("#_puntos"+i).val())){
                alert("Debe ingresar un valor numerico");
                $("#_puntos"+i).focus();
                return false;
              }
            }
           
       
      }


      $( "#editar_trabajo" ).submit();

     
  });
	
	
	
});

</script>

<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Reporte</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">  
    <div class="ibox-title"> 
      <div class="row">
        <div class="col-md-6"> 
          <h4 style="display: inline-block;">Juego: <?=admin::convertirCaracteres($this->trabajo['titulo'])?></h4> 
          <p>Preguntas totales: <?=$this->trabajo['_cantidad_preg']?></p> 
          <p>Puntaje por pregunta: <?=$this->trabajo['_puntaje_por_preg']?></p> 
        </div>  
        <div class="col-md-6"> 
           <?php if($this->users):?>
            <a id="__exportar" class="btn btn-info pull-right" href="<?=$this->_conf['url_enlace']?>administrador/reporte/exportaDatos/<?=$this->id?>">
               Descargar Excel
            </a>&nbsp;&nbsp;
            <?php endif?>
        </div>  
      </div>         
    </div>
   


    <div class="ibox-content forum-container">
    
        <?php if($this->users):?>
        <?php foreach($this->users as $datos):?>

        <div class="forum-item">
            <div class="row">
                <div class="col-md-10">
                    
                    <a href="" class="forum-item-title">
                        Usuario: <?=admin::convertirCaracteres($datos['_user'])?>
                    </a>
                    <p>Farmacia: <?=admin::convertirCaracteres($datos['_farmacia'])?></p> 
                    <p>Preguntas bien contestadas: <?=$datos['_preg_bien_contestadas']?></p>   
                    <p>Nota final: <?=$datos['_nota_final']?></p>                              
                   
                </div>

                <div class="col-md-2 forum-info">
                    <div class="tooltip-demo pull-right">
                    

                        <!-- <a class="btn btn-warning btn-round" href="<?php echo $this->_conf['url_enlace']?>administrador/reporte/resultadosChoice/<?php echo $datos['id']?>">
                           descargar excel
                        </a>&nbsp;&nbsp; -->


                    </div>
                </div>
            </div>
        </div>

       

        <?php endforeach?> 

        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>
    </div>
   <?php //echo (isset($this->paginacion)) ? $this->paginacion : ''?>
</div>

