<style type="text/css">
#content {
    margin-bottom: 25px;
}




#suggestions {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    height: auto;
    position: absolute;
    top: 34px;
    z-index: 9999;
    width:300px;
}

#suggestions .suggest-element {
    background-color: #eaeaea;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    float: left;
}
</style>
<script language="javascript">
$(document).ready(function() {

	$("#btBuscador").click(function(){  
  
  
	    if ($("#buscador").val() == "") {
	      return false;        
	    } 
	    
	    var valor = $("#buscador").val();
	    
	    var dataString = 'valor='+valor+'&_csrf=<?=$this->_sess->get('_csrf')?>';
	    $.ajax({            
	            type: 'POST',
	            url: _root_+"tags", 
	            data: dataString,
	            beforeSend: function(){
	              //$('.pagination').hide();
	              $('#contenedor').fadeOut('fast', function(){
	                $('.loader').fadeIn('fast');        
	              });
	            },
	            success: function(data){
	              $('#contenedor').html(data).fadeIn('fast');
	              //$('.pagination').hide();
	              /*$('.loader').fadeOut('fast', function(){
	                $('#contenedor').fadeIn('fast');  
	                $('.loader').fadeOut('fast');     
	              });*/
	        
	            },
	            error: function(){
	                 alert('error!!');
	            }
	    });
    
    
  	})   

  	 $('#buscador').on('keyup', function() {
       var key = $(this).val();   
       var dataString = 'key='+key+'&_csrf=<?=$this->_sess->get('_csrf')?>';
     $.ajax({
            type: "POST",
            url: _root_+"tags/traerTags", 
            data: dataString,
            success: function(data) {
                //Escribimos las sugerencias que nos manda la consulta
                $('#suggestions').fadeIn(1000).html(data);
                //Al hacer click en algua de las sugerencias
                $('.suggest-element').on('click', function(){
                        //Obtenemos la id unica de la sugerencia pulsada
                        var id = $(this).attr('id');
                        //Editamos el valor del input con data de la sugerencia pulsada
                        $('#buscador').val($('#'+id).attr('data'));
                        $('#buscar').val(id);
                        //Hacemos desaparecer el resto de sugerencias
                         $('#suggestions').fadeOut(200);
                        // alert('Has seleccionado el '+id+' '+$('#'+id).attr('data'));
                        return false;
                });
            }
        });
    });

});
</script>


 <div class="wrapper wrapper-content">  
    <div class="ibox-title">  
        <h4>Tags</h4>              
    </div>
     <div class="ibox-content forum-container">
        <div class="row">
            <div class="col-lg-2">
                <form role="form" method="post" action="">
                    <div class="btn-group">
                        <div class="input-group m-b">
                            <input type="text" class="form-control m-b" id="buscador" name="buscador">
                            <input type="hidden" id="buscar" name="buscar" value="" />
                            <span class="input-group-btn">
                                <button id="btBuscador" type="button" class="btn btn-primary">
                                     buscar
                                </button> 
                            </span> 
                            
                        </div>
                    </div>
                </form>
                <div id="suggestions"></div>
          </div>
      </div> 
    </div>


    <div id="contenedor" class="ibox-content forum-container">
        
        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <div id="item_<?=$datos['id']?>" class="forum-item">
            <div class="row">
                <div class="col-md-10"> 
                    <h4><?=admin::convertirCaracteres($datos['titulo'])?></h4>   
                </div>
               
                <div class="col-md-2 forum-info">
                    <div class="tooltip-demo pull-right">
                        <?php if($datos['tabla'] == 'tendencias' || $datos['tabla'] == 'capacitaciones'):?>
                        <a class="btn btn-warning btn-round" href="<?=$this->_conf['url_enlace'].$datos['tabla'].'/detalle/'. home::crearUrl($datos['id'],$datos['titulo'])?>">ver</a>&nbsp;&nbsp;
                        <?php else:?>
                        <a class="btn btn-warning btn-round" href="<?=$this->_conf['url_enlace'].$datos['tabla'].'/#item_'.$datos['id']?>">ver</a>&nbsp;&nbsp;
                        <?php endif?>

                    </div>
                </div>
               
            </div>
        </div>

    

        <?php endforeach?> 
        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>
        
    </div>
  
</div>



