<!-- <style type="text/css">
#content {
    margin-bottom: 25px;
}

#suggestions {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    height: auto;
    position: absolute;
    top: 34px;
    z-index: 9999;
    width:300px;
}

#suggestions .suggest-element {
    background-color: #eaeaea;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    float: left;
}
</style> -->

<script language="javascript">
$(document).ready(function() {

    $('.flexslider').flexslider({
        animation: "slide",
        controlNav: false,
        directionNav: false
    });

});
</script>



<section>

    <!--------------
     ACÁ VA BANNER 
    --------------->

    <div class="banner_main">
        <?php if($this->banners_top_dos):?>
        <?php foreach ($this->banners_top_dos as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificadorV2($val['identificador'],'banners');?>
        <?php if($_img):?>
        <div class="flexslider">
            <ul class="slides">
            <?php for ($i=0; $i < count($_img); $i++):?>
            <?php //echo "<pre>";print_r($_img);echo "</pre>";exit;?> 
            <li>           
            <?php if($val['link'][$_img[$i]['id']]!=''):?>
            <a href="<?=$val['link'][$_img[$i]['id']]?>">
                <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img[$i]['path']?>" />
            </a>
            <?php else:?>
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img[$i]['path']?>" />
            <?php endif?> 
            </li>           
            <?php endfor?>
            </ul>
        </div>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>
    
    

    <!-- LISTA DE NOTAS -->
    <div id="cont_filtrado" class="tags list wpInterna grid">

        <?php if($this->datos && $this->datos!=''):?>
        <?php foreach($this->datos as $datos):?>

        <?php 


        
        $_img = home::traerDataImagenPorIdentificador($datos['identificador'], $datos['tabla']);
        if($_img !=''){  
            if($datos['tabla']== 'lanzamientos'){

                if(file_exists($this->_conf['ruta_img_cargadas'].$datos['tabla']. "/" . $_img->path)){
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/". $_img->path; 
                }else{
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
                }

               

                if($datos['video']!=''){
                    preg_match('/src="([^"]+)"/', $datos['video'], $match);
                    $_url_vid = $match[1];
                }  

            } else{

                if(file_exists($this->_conf['ruta_img_cargadas'] .$datos['tabla']."/thumb/" . $_img->path)){
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/".$datos['tabla']."/thumb/". $_img->path; 
                }else{
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path; 
                }

                 
            }    
                       
        }else{
            $_url_img ='';
        }

        $_cat=array();
        $_cat = explode(',', $datos['categorias']);       
        $_arr_cat=array();
        $_arr_label=array();
        foreach ($_cat as $val) {
          $_arr = home::traerCategoria($val);
          $_arr_cat[] = $_arr['nombre']; 
          $_arr_label[] = $_arr['clase']; 
        }
        $_cate = implode(', ', $_arr_cat);    
        $_clases = implode(' ', $_arr_label);     
        ?>

        <?php if($datos['tabla']== 'lanzamientos'):?>
        
        <article class="grid-item <?=$_clases?>">
            <div class="img" style="background-image: url(<?=$_url_img?>)">
                <span class="label"><?=$datos['tabla']?></span>
            </div>
            <div class="copy">
                <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
                <h4><?=$_cate?></h4>
                <h3><?=home::convertirCaracteres($datos['titulo'])?></h3>
                <div class="content">
                    <p><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['descripcion'])),150)?></p>
                    
                    <?php if($datos['video'] !=''):?>
                    <a href="javascript:void(0);" rel="<?=$_url_vid?>" class="ver-video">Ver Video</a>
                    <?php elseif($datos['link'] !=''):?>
                    <a href="<?=$datos['link']?>" target="_blank">Ir al Site</a>
                    <?php endif?>

                </div>
                <div class="preview">
                    <p><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['bajada'])),150)?></p>
                    <a href="#" class="conoce">Conocé más</a>
                </div>
            </div>
        </article>
        <script>
            $(document).ready(function() {
                //LANZAMIENTOS
                $('article a.conoce').on('click', function(e){
                    e.preventDefault();
                    $(this).parents('article').find('.preview').fadeOut(200, function(){
                        $(this).parents('article').find('.content').slideDown(200);
                        $(this).parents('article').find('.close').fadeIn(200);
                    })
                })
               
                $('article .close').on('click', function(e){
                    e.preventDefault();
                    $(this).parents('article').find('.close').fadeOut(200);
                    $(this).parents('article').find('.content').slideUp(200)
                    $(this).parents('article').find('.preview').slideDown(200);
                })
               
                $('article a.ver-video').on('click', function(e){
                    e.preventDefault();
                    var video = $(this).attr('rel');
                    $('#popUpLanzamientos iframe').attr('src',video);
                    $('#contIframe').html();
                    $('#popUpLanzamientos').fadeIn(200);
                });
               
                $('#popUpLanzamientos .close').on('click', function(){
                    $('#popUpLanzamientos iframe').attr('src', '');
                    $('#popUpLanzamientos').fadeOut(200);
                })
            });
        </script>

        <?php elseif($datos['tabla']== 'tutoriales'):?>

        <a href="<?=$this->_conf['url_enlace']?>videos/detalle/<?=home::crearUrl($datos['id'],$datos['titulo'])?>" class="grid-item <?=$_clases?>">
            <div class="img" style="background-image: url(<?=$_url_img?>)">
                <span class="label"><?=$datos['tabla']?></span>
                <img src="<?=$_params['ruta_img']?>ico_play.png" alt="Video">
            </div>
            <span><?=$_arr_label[0]?></span>
            <h2><?=home::convertirCaracteres($datos['titulo'])?></h2>            
        </a>

        <?php else:?>

        <a href="<?=$this->_conf['url_enlace'].$datos['tabla']?>/detalle/<?=home::crearUrl($datos['id'],$datos['titulo'])?>" class="grid-item <?=$_clases?>">
            <div class="img" style="background-image: url(<?=$_url_img?>)">
                <span class="label"><?=$datos['tabla']?></span>
            </div>
            <h2><?=home::convertirCaracteres($datos['titulo'])?></h2>
            <?php $_fecha = explode('-', $datos['fecha'])?>
            <?php $_fecha = $_fecha[2].' '. home::convertirMes($_fecha[1]).' de '.$_fecha[0] ?>
            <span><i class="fa fa-calendar-o" aria-hidden="true"></i>  <?=$_fecha?> |  <?=$_arr_label[0]?></span>
            <?php if($datos['bajada']):?>
            <p><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['bajada'])),50)?></p>
            <?php endif?>
        </a>
       
        <?php endif?>

        <?php endforeach?> 
        
        <?php else:?>
        <p style="text-align: center;margin: auto;width:100%;">No hay datos cargados!</p>
        <?php endif?> 

        <a href="" class="grid-sizer"></a>
    </div>


    <!-- <div class="banner_bottom">
        <?php if($this->banners_bottom):?>
        <?php foreach ($this->banners_bottom as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <?php if($val['link']!=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php else:?>
        <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        <?php endif?>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div> -->
    

    <!-- CONTACTO -->
    <div id="contacto">
    <?php $usr = $this->_sess->get('usuario_front'); ?>
    <?php if(isset($usr)): ?>
        <h2>Consultas</h2>
        <p>Comunicate con nosotras completando el formulario, atenderemos todas tus dudas.</p>
        <form id="formContacto" action="" method="POST">
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido de la Aliada" value="<?=$this->data_user['nombre']?>" required="" readonly>
            <input type="text" id="numero_cliente" name="numero_cliente" placeholder="Número de Cliente" value="<?=$this->data_user['numero_cliente']?>" required="" readonly>
            <input type="email" id="email" name="email" required="" placeholder="Email" value="<?=$this->data_user['email']?>" readonly>
            <input type="text" id="nombre_farmacia" name="nombre_farmacia" placeholder="Nombre de la Farmacia" value="<?=$this->data_user['razon_social']?>" required="" readonly>
            <textarea id="consulta" name="consulta" requided="" placeholder="Consulta"></textarea>
            <input type="button" name="bt_contacto" id="bt_contacto" value="ENVIAR">
           <!--  <button>ENVIAR</button> -->
        </form>
        <div class="ok"></div>
        <div class="error"></div>
        <hr>
    <?php endif; ?>
        <div class="info">
            <div class="wp">
                <div class="post data">
                    <h3>Contacto</h3>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:aliadas@delsud.com.ar">aliadas@delsud.com.ar</a></p>

                    <p><i class="fa fa-phone" aria-hidden="true"></i> Conmutador General<br>
                    (011) 4309-9100 int. 705</p>

                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Humberto Primo 1868, Capital Federal.
                    Buenos Aires, Argentina </p>
                </div>
               <!--  <div class="post">
                    <h3>Instagram Post</h3>
                    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
                    <iframe src="//lightwidget.com/widgets/796feef2275a533d9478a7bbd66d801a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                </div> -->
            </div>
        </div>
    </div>
</section>


<script>
var $grid = $('.grid').isotope({
  itemSelector: '.grid-item',
  masonry: {
    //columnWidth: 300,
   columnWidth:'.grid-sizer',
   gutter:20
  }
});
$('#filter a').on('click', function(){
    $(this).toggleClass('active');
    
    var ar = [];
    var i = 0;
    $('#filter a.active').each(function(){
        i++;
        
        ar.push( $(this).data("rel") );
        
    })
    console.log(ar[0]);
    if(i == 0){ $grid.isotope({ filter: '*' }); }
    if(i == 1){
        $grid.isotope({ filter: '.'+ar[0] })
    }else if(i == 2){
        $grid.isotope({ filter: '.'+ar[0]+', .'+ar[1] })
    }else if(i == 3){
        $grid.isotope({ filter: '.'+ar[0]+', .'+ar[1]+', .'+ar[2] })
    }else if(i == 4){
        $grid.isotope({ filter: '.'+ar[0]+', .'+ar[1]+', .'+ar[2]+', .'+ar[3] })
    }
});
</script>











<!-- 


 <div class="wrapper wrapper-content">  
    <div class="ibox-title">  
        <h4>Tags</h4>              
    </div>
     <div class="ibox-content forum-container">
        <div class="row">
            <div class="col-lg-2">
                <form role="form" method="post" action="">
                    <div class="btn-group">
                        <div class="input-group m-b">
                            <input type="text" class="form-control m-b" id="buscador" name="buscador">
                            <input type="hidden" id="buscar" name="buscar" value="" />
                            <span class="input-group-btn">
                                <button id="btBuscador" type="button" class="btn btn-primary">
                                     buscar
                                </button> 
                            </span> 
                            
                        </div>
                    </div>
                </form>
                <div id="suggestions"></div>
          </div>
      </div> 
    </div>


    <div id="contenedor" class="ibox-content forum-container">
    
        
    </div>
  
</div>
 -->


