<section>

    <!--------------
     ACÁ VA BANNER 
    --------------->
    
    <!-- FILTROS -->
    <div id="filter">
        <i class="fa fa-filter" aria-hidden="true"></i> Filtros
        <div class="wpFilters">
            <?php $_categorias = home::traerCategorias();?>
            <?php foreach ($_categorias as $val):?>
            <!-- <li><a class="bt_cat_tend" data-id="<?=$val['id']?>" href="javascript:void(0);"><?=$val['nombre']?></a></li> -->
            <div class="checkbox"><input class="bt_cat_lanz" type="checkbox" name="<?=$val['clase']?>" value="<?=$val['id']?>" checked> <label></label> <?=$val['nombre']?></div>
            <?php endforeach?>
            <!-- <div class="checkbox"><input type="checkbox" name="dermo"> <label></label> Dermo</div>
            <div class="checkbox"><input type="checkbox" name="makeup"> <label></label> Make Up</div>
            <div class="checkbox"><input type="checkbox" name="fragancias"> <label></label> Fragancias</div>
            <div class="checkbox"><input type="checkbox" name="electrobeauty"> <label></label> Electrobeauty</div> -->
        </div>
    </div>
    <!-- FILTROS -->

    <!-- LISTA DE NOTAS -->
    <div id="contenido" class="list wpInterna grid">

        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <?php 
        if($datos['link']==''){
            preg_match('/src="([^"]+)"/', $datos['video'], $match);
            $_url_vid = $match[1];
        }

        $_img = home::traerDataImagenPorIdentificador($datos['identificador'],'lanzamientos');
        if($_img !=''){            
            $_url_img = $this->_conf['base_url'] . "public/img/subidas/lanzamientos/". $_img->path;             
        }

        $_cat=array();
        $_cat = explode(',', $datos['categorias']);       
        $_arr_cat=array();
        $_arr_label=array();
        foreach ($_cat as $val) {
          $_arr = home::traerCategoria($val);
          $_arr_cat[] = $_arr['nombre']; 
          $_arr_label[] = $_arr['clase']; 
        }
        $_cate = implode(', ', $_arr_cat);        
        ?>
       
        <article class="grid-item <?=$_arr_label[0]?>">
            <div class="img" style="background-image: url(<?=$_url_img?>)"></div>
            <div class="copy">
                <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
                <h4><?=$_cate?></h4>
                <h3><?=home::convertirCaracteres($datos['titulo'])?></h3>
                <div class="content">
                    <p><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['descripcion'])),150)?></p>
                    <?php if($datos['link']==''):?>
                    <a href="javascript:void(0);" rel="<?=$_url_vid?>" class="ver-video">Ver Video</a>
                    <?php else:?>
                    <a href="<?=$datos['link']?>" target="_blank">Ir al Site</a>
                    <?php endif?>
                </div>
                <div class="preview">
                    <p><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['bajada'])),150)?></p>
                    <a href="#" class="conoce">Conocé más</a>
                </div>
            </div>
        </article>

        <?php endforeach?> 
        <script>
            $(document).ready(function() {
                //LANZAMIENTOS
                $('article a.conoce').on('click', function(e){
                    e.preventDefault();
                    $(this).parents('article').find('.preview').fadeOut(200, function(){
                        $(this).parents('article').find('.content').slideDown(200);
                        $(this).parents('article').find('.close').fadeIn(200);
                    })
                })
               
                $('article .close').on('click', function(e){
                    e.preventDefault();
                    $(this).parents('article').find('.close').fadeOut(200);
                    $(this).parents('article').find('.content').slideUp(200)
                    $(this).parents('article').find('.preview').slideDown(200);
                })
               
                $('article a.ver-video').on('click', function(e){
                    e.preventDefault();
                    var video = $(this).attr('rel');
                    $('#popUpLanzamientos iframe').attr('src',video);
                    $('#contIframe').html();
                    $('#popUpLanzamientos').fadeIn(200);
                });
               
                $('#popUpLanzamientos .close').on('click', function(){
                    $('#popUpLanzamientos iframe').attr('src', '');
                    $('#popUpLanzamientos').fadeOut(200);
                })
            });
        </script>
        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?> 

        <a href="" class="grid-sizer"></a>
    </div>

    <div class="loader"></div>

    <?php if(!empty($this->datos)):?>
    <?php if ($this->cantReg!=1):?>      
    <div class="btn_carga_mas _vermas">
        <a id="btnVerMas" href="javascript:void(0);" onclick="$().loadMore(<?=$this->cantReg?>)">Ver más</a>
    </div>        
    <?php endif?> 
    <?php endif?>


    <div class="banner_bottom">
        <?php if($this->banners_bottom):?>
        <?php foreach ($this->banners_bottom as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <?php if($val['link']!=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php else:?>
        <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        <?php endif?>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>

    
    <!-- CONTACTO -->
    <div id="contacto">
        <h2>Contacto</h2>
        <p>Comunicate con nosotras completando el formulario, atenderemos todas tus dudas.</p>
        <form id="formContacto" action="" method="POST">
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido de la Aliada" value="<?=$this->data_user['nombre']?>" required="" readonly>
            <input type="text" id="numero_cliente" name="numero_cliente" placeholder="Número de Cliente" value="<?=$this->data_user['numero_cliente']?>" required="" readonly>
            <input type="email" id="email" name="email" required="" placeholder="Email" value="<?=$this->data_user['email']?>" readonly>
            <input type="text" id="nombre_farmacia" name="nombre_farmacia" placeholder="Nombre de la Farmacia" value="<?=$this->data_user['razon_social']?>" required="" readonly>
            <textarea id="consulta" name="consulta" requided="" placeholder="Consulta"></textarea>
            <input type="button" name="bt_contacto" id="bt_contacto" value="ENVIAR">
           <!--  <button>ENVIAR</button> -->
        </form>
        <div class="ok"></div>
        <div class="error"></div>
        <hr>
        <div class="info">
            <div class="wp">
                <div class="post data">
                    <h3>Datos de Contacto</h3>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:aliadas@drogdelsud.com.ar">aliadas@drogdelsud.com.ar</a></p>

                    <p><i class="fa fa-phone" aria-hidden="true"></i> Conmutador General<br>
                    (011) 4309-9100</p>

                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Humberto Primo 1868, Capital Federal.
                    Buenos Aires, Argentina </p>
                </div>
                <div class="post">
                    <h3>Instagram Post</h3>
                    <!-- LightWidget WIDGET -->
                    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
                    <iframe src="http://lightwidget.com/widgets/f8070f67a138540bab825fefaf43b05b.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
 













<!-- 

 <div class="wrapper wrapper-content">  
    <div class="ibox-title">  
        <h4>Lanzamientos</h4>              
    </div>
    

    <div class="ibox-content">
        <?php if($this->banners_top):?>
        <?php foreach ($this->banners_top as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>

    <div id="contenido" class="ibox-content forum-container">
    
        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <div id="item_<?=$datos['id']?>" class="forum-item">
            <div class="row">
                <div class="col-md-4"> 
                    <?php $_img = home::traerDataImagenPorIdentificador($datos['identificador'],'lanzamientos');?>
                    <?php if($_img !=''):?>
                    <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/lanzamientos/". $_img->path ?>" width="300">
                    <?php endif?>
                    <br>
                    <?php $_cat = explode(',', $datos['categorias'])?>
                    <?php 
                    foreach ($_cat as $val) {
                      $_arr = home::traerCategoria($val);
                      $_arr_cat[] = $_arr['nombre']; 
                    }
                    $_cate = implode(', ', $_arr_cat);
                    ?>
                    <small><b><?=$_cate?></b></small>
                    <br>
                    <small>Codigo: <?=$datos['codigo']?></small>
                    <h4><strong><?=admin::convertirCaracteres($datos['titulo'])?></strong></h4>                              
                    <?=admin::convertirCaracteres($datos['descripcion'])?>
                </div>
            </div>
        </div>   

        <?php endforeach?> 

        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>
    </div>

    <div class="loader"></div>

    <?php if(!empty($this->datos)):?>
    <?php if ($this->cantReg!=1):?>      
    <div class="ibox-content">
        <a id="btnVerMas" href="javascript:void(0);" class="btn btn-warning" onclick="$().loadMore(<?=$this->cantReg?>)">Ver más</a>
    </div>        
    <?php endif?> 
    <?php endif?>

    <div class="ibox-content comment-form-container">
            <form id="frm-comment" method="post">
                <div class="input-row _resp"><h3>Responder comentario</h3></div>
                <div class="input-row">
                    <input type="hidden" name="id_user" id="id_user" value="<?=$this->_sess->get('id_usuario_front')?>" /> 
                    <input type="hidden" name="id_nota" id="id_nota" value="<?=$this->id_nota?>" />
                    <input type="hidden" name="seccion" id="seccion" value="<?=$this->seccion?>" /> 
                    <input type="hidden" name="comment_id" id="commentId" value="0" /> 
                    <input class="input-field" type="text" name="name" id="name" placeholder="Nombre" value="<?=$this->_sess->get('usuario_front')?>" readonly />
                </div>
                <div class="input-row">
                    <textarea class="input-field" type="text" name="comment" id="comment" placeholder="Agregar comentario"></textarea>
                </div>
                <div>
                    <input type="button" class="btn-submit" id="submitButton" value="Publicar" />
                    <div id="comment-message">Comentario ha sido agregado exitosamente!</div>
                </div>
                <div style="clear:both"></div>
            </form>
    </div>
    <div id="output"></div>

    <script>

        $(document).ready(function() {

            $("#comment-message").css('display', 'none');
            $("._resp").hide();
            listComment();
        });

            function postReply(commentId) {
                $("._resp").show();
                $('#commentId').val(commentId);
                $("#name").focus();
            }

            $("#submitButton").click(function() {
                
                $("#comment-message").css('display', 'none');
                var str = $("#frm-comment").serialize();

                $.ajax({
                    url : _root_+"coment/coment_add",
                    data : str,
                    type : 'post',
                    success : function(response) {
                            var result = eval('(' + response + ')');
                            if (response) {
                                $("._resp").hide();
                                $("#comment-message").css('display', 'inline-block');
                                // $("#name").val("");
                                $("#comment").val("");
                                $("#commentId").val(0);
                                listComment();
                            } else {
                                alert("Failed to add comments !");
                                return false;
                            }
                    }
                });
            });



            function listComment() {
                    
                $.post(
                    _root_+"coment/coment_list",
                    function(data) {
                        var data = JSON.parse(data);

                        var comments = "";
                        var replies = "";
                        var item = "";
                        var parent = -1;
                        var results = new Array();

                        var list = $("<ul class='outer-comment'>");
                        var item = $("<li>").html(comments);

                        for (var i = 0; (i < data.length); i++) {
                            var commentId = data[i]['id'];
                            parent = data[i]['id_comentario_padre'];

                            if (parent == "0") {
                                comments = "<div class='comment-row'>"
                                                + "<img src='"+_root_+"public/img/subidas/user/"+ data[i]['path'] +"' width='50' />"
                                                + "<div class='comment-info'><span class='commet-row-label'>de</span> <span class='posted-by'>"
                                                + data[i]['usuario']
                                                + " </span> <span class='commet-row-label'>a las</span> <span class='posted-at'>"
                                                + data[i]['fecha'] + "</span></div>"
                                                + "<div class='comment-text'>" + data[i]['comentario'] + "</div>"
                                                + "<div><a class='btn-reply' onClick='postReply(" + commentId + ")'>Responder</a></div>"
                                                + "</div>";

                                var item = $("<li>").html(comments);
                                list.append(item);
                                var reply_list = $('<ul>');
                                item.append(reply_list);
                                listReplies(commentId, data, reply_list);
                            }
                    }
                    $("#output").html(list);
                });
            }

            function listReplies(commentId, data, list) {
                
                for (var i = 0; (i < data.length); i++) {
                    if (commentId == data[i].id_comentario_padre) {
                            var comments = "<div class='comment-row'>"
                                            + "<img src='"+_root_+"public/img/subidas/user/"+ data[i]['path'] +"' width='50' />"
                                            + " <div class='comment-info'><span class='commet-row-label'>de</span> <span class='posted-by'>"
                                            + data[i]['usuario']
                                            + " </span> <span class='commet-row-label'>a las</span> <span class='posted-at'>"
                                            + data[i]['fecha'] + "</span></div>"
                                            + "<div class='comment-text'>" + data[i]['comentario'] + "</div>"                                    
                                            + "</div>";
                            var item = $("<li>").html(comments);
                            var reply_list = $('<ul>');
                            list.append(item);
                            item.append(reply_list);
                            listReplies(data[i].id, data, reply_list);
                    }
                }
            }


    </script>

    <div class="ibox-content">
        <?php if($this->banners_bottom):?>
        <?php foreach ($this->banners_bottom as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>
  
</div>

 -->

<script>
$(document).ready(function() {
        
    var page=2;
    
    $.fn.loadMore = function(_cantReg){       
        var dataString = "p="+page+'&_csrf=<?=$this->_sess->get('_csrf')?>';
            
        $.ajax({
            type: "POST",
            url: _root_ + "lanzamientos/paginacion",
            data: dataString,
            //dataType: 'json',
            beforeSend: function(){
                //$('#btnVerMas').fadeOut('fast',function(){
                    $(".loader").fadeIn('slow');
                //});
                
            },
            success: function(datos){
                $(".loader").fadeOut('fast',function(){                 
                    //$("#contColeccionesAnteriores").append(datos);
                    $(datos).hide().appendTo('#contenido').fadeIn('slow');

                     //LANZAMIENTOS
                    $('article a.conoce').on('click', function(e){
                        e.preventDefault();
                        $(this).parents('article').find('.preview').fadeOut(200, function(){
                            $(this).parents('article').find('.content').slideDown(200);
                            $(this).parents('article').find('.close').fadeIn(200);
                        })
                    })
                   
                    $('article .close').on('click', function(e){
                        e.preventDefault();
                        $(this).parents('article').find('.close').fadeOut(200);
                        $(this).parents('article').find('.content').slideUp(200)
                        $(this).parents('article').find('.preview').slideDown(200);
                    })
                   
                    $('article a.ver-video').on('click', function(e){
                        e.preventDefault();
                        var video = $(this).attr('rel');
                        $('#popUpLanzamientos iframe').attr('src',video);
                        $('#contIframe').html();
                        $('#popUpLanzamientos').fadeIn(200);
                    });
                   
                    $('#popUpLanzamientos .close').on('click', function(){
                        $('#popUpLanzamientos iframe').attr('src', '');
                        $('#popUpLanzamientos').fadeOut(200);
                    })
                    
                    if(page==_cantReg){
                        $('#btnVerMas').hide();
                    }else{                  
                        page=page+1;
                        $('#btnVerMas').show();
                    }
                    
                }); 
                
                
            }
        });
    }

    // $(".bt_cat_lanz").click(function(){  
    $('.bt_cat_lanz').change(function() {
        /*if ($("#buscador").val() == "") {
          return false;        
        } */
        var valor = $(this).val();
       
        // var dataString = 'valor='+valor+'&_csrf=<?=$this->_sess->get('_csrf')?>';
        $.ajax({            
                type: 'POST',
                url: _root_+"lanzamientos/traerNotasFiltradasCat", 
                // data: dataString,
                data: {"valor" : valor, "_csrf" : "<?=$this->_sess->get('_csrf')?>"},
                dataType:"json",
                beforeSend: function(){
                    $('#contenido').fadeOut('fast').html('');
                  
                },
                success: function(data){
                  $('#contenido').html(data.html).fadeIn('fast');
                  if(data.cantReg!=1){
                    $('._vermas').html('<a id="btnVerMas" href="javascript:void(0);" onclick="$().loadMore('+data.cantReg+')">Ver más</a>');
                    $('#btnVerMas').show();
                  }else{
                    $('#btnVerMas').hide();
                  }
                 
                },
                error: function(){
                     alert('error!!');
                }
        });
    
    
    }) 

    
   
    $('.grid').masonry({
      // set itemSelector so .grid-sizer is not used in layout
      itemSelector: '.grid-item',
      gutter: 40,
      // use element for option
      columnWidth: '.grid-sizer',
      percentPosition: true
    });
   
    //FILTERS
    $('#filter').on('click', function(){
        if($(this).hasClass('open')){
            $('.wpFilters').slideUp(300)
            $(this).removeClass('open')
        }else{
            $('.wpFilters').slideDown(300)
            $(this).addClass('open')
        }
    })
    $('.wpFilters').on('click', function(e){
        e.stopPropagation();
    })
    
});
</script>