<script>
$(document).ready(function() {
	
		
	$('#btEditar').click(function(){
		
		
		if ($("#numero_cliente").val() == "") {
	        alert("Debe completar el campo numero de cliente");
	        $("#numero_cliente").val('');
	        $('#numero_cliente').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	      }

            
       	if ($("#razon_social").val() == "") {
	        alert("Debe completar el campo razon social");
	        $("#razon_social").val('');
	        $('#razon_social').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	      }

	    if ($("#email").val() == "") {
	        alert("Debe completar el campo email");
	        $("#email").val('');
	        $('#email').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	      }

	    if ($("#password").val() == "") {
	        alert("Debe completar el campo password");
	        $("#password").val('');
	        $('#password').focus();     
	        //$("#titulo").attr('placeholder', 'Titulo');
	        return false;        
	    }

     /* if($('._load_img_final_thumb').children().length == 0){
        alert("Debe seleccionar una imagen");
        return false; 
      }*/

      	var datastring = $('#editar_trabajo').serialize();
	    //alert(url)
	    $.ajax({
	        type: 'POST',
	        url: _root_+"perfil/editar",
	        data: datastring,
	        beforeSend: function(){
	          //$('#juego').html('<option>Cargando...</option>');
	        },        
	        success: function(data){
	            if(data=='ok'){
	                $('.error').html('').fadeOut('fast');
	                $('.ok').html('Los cambios se guardaron exitosamente').fadeIn('slow');
	                setTimeout(function() {
	                      window.location.href = _root_ + "perfil";
	                  }, 1000);
	                
	            }else{
	                $('.error').html(data).fadeIn('slow');
	            }
	          
	        }
	    });
					
			
	return true;
		
	
	});
	
	
	
});

</script>

  
<div class="row wrapper wrapper-content">  
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><?=$this->datos['titulo']?></h5>
                        </div>
                        <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" >
                        <input type="hidden" name="envio01" value="1" />
                        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">


                        
                        
                        
                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Juego/label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="numero_cliente" name="numero_cliente" placeholder="Numero cliente" value="<?php echo $this->user['numero_cliente']?>">
                                </div>
                            </div>
                        </div>                        

                        


                       </form> 
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>



