<section>

    <!--------------
     ACÁ VA BANNER 
    --------------->

    <div class="banner_main">
        <?php if($this->banners_top_dos):?>
        <?php foreach ($this->banners_top_dos as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificadorV2($val['identificador'],'banners');?>
        <?php if($_img):?>
        <div class="flexslider">
            <ul class="slides">
            <?php for ($i=0; $i < count($_img); $i++):?>
            <?php //echo "<pre>";print_r($_img);echo "</pre>";exit;?> 
            <li>           
            <?php if($val['link'][$_img[$i]['id']]!=''):?>
            <a href="<?=$val['link'][$_img[$i]['id']]?>">
                <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img[$i]['path']?>" />
            </a>
            <?php else:?>
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img[$i]['path']?>" />
            <?php endif?> 
            </li>           
            <?php endfor?>
            </ul>
        </div>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>
    
    <!-- FILTROS -->
    <!-- <div id="filter">
        <i class="fa fa-filter" aria-hidden="true"></i> Filtros
        <div class="wpFilters">
            <?php $_categorias = home::traerCategorias();?>
            <?php foreach ($_categorias as $val):?>
            <div class="checkbox"><input class="bt_cat_lanz" type="checkbox" name="<?=$val['clase']?>" value="<?=$val['id']?>" checked> <label></label> <?=$val['nombre']?></div>
            <?php endforeach?>
        </div>
    </div> -->
    <!-- FILTROS -->

    <!-- LISTA DE NOTAS -->
    <div id="contenido" class="list wpInterna grid lanzamientos">

        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <?php 
        if($datos['video'] !=''){
            preg_match('/src="([^"]+)"/', $datos['video'], $match);
            $_url_vid = $match[1];
        }

        $_img = home::traerDataImagenPorIdentificador($datos['identificador'],'lanzamientos');
        if($_img !=''){   

            if(file_exists($this->_conf['ruta_img_cargadas']. "lanzamientos/" . $_img->path)){
                $_url_img = $this->_conf['base_url'] . "public/img/subidas/lanzamientos/". $_img->path;  
            }else{
                $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path;   
            }
                     
                       
        }

        $_cat=array();
        $_cat = explode(',', $datos['categorias']);       
        $_arr_cat=array();
        $_arr_label=array();
        foreach ($_cat as $val) {
          $_arr = home::traerCategoria($val);
          $_arr_cat[] = $_arr['nombre']; 
          $_arr_label[] = $_arr['clase']; 
        }
        $_cate = implode(', ', $_arr_cat);  
        $_clases = implode(' ', $_arr_label);       
        ?>
       
        <article class="grid-item <?=$_clases?>">
            <div class="img" style="background-image: url(<?=$_url_img?>)"></div>
            <div class="copy">
                <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
                <h4><?=$_cate?></h4>
                <h3><?=home::convertirCaracteres($datos['titulo'])?></h3>
                <div class="content">
                    <p><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['descripcion'])),150)?></p>
                    <?php if($datos['video'] !=''):?>
                    <a href="javascript:void(0);" rel="<?=$_url_vid?>" class="ver-video">Ver Video</a>
                    <?php elseif($datos['link'] !=''):?>
                    <a href="<?=$datos['link']?>" target="_blank">Ir al Site</a>
                    <?php endif?>
                </div>
                <div class="preview">
                    <p><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['bajada'])),150)?></p>
                    <a href="#" class="conoce">Conocé más</a>
                </div>
            </div>
        </article>

        <?php endforeach?> 
        <script>
            $(document).ready(function() {
                //LANZAMIENTOS
                $('article a.conoce').on('click', function(e){
                    e.preventDefault();
                    $(this).parents('article').find('.preview').fadeOut(200, function(){
                        $(this).parents('article').find('.content').slideDown(200);
                        $(this).parents('article').find('.close').fadeIn(200);
                    })
                })
               
                $('article .close').on('click', function(e){
                    e.preventDefault();
                    $(this).parents('article').find('.close').fadeOut(200);
                    $(this).parents('article').find('.content').slideUp(200)
                    $(this).parents('article').find('.preview').slideDown(200);
                })
               
                $('article a.ver-video').on('click', function(e){
                    e.preventDefault();
                    var video = $(this).attr('rel');
                    $('#popUpLanzamientos iframe').attr('src',video);
                    $('#contIframe').html();
                    $('#popUpLanzamientos').fadeIn(200);
                });
               
                $('#popUpLanzamientos .close').on('click', function(){
                    $('#popUpLanzamientos iframe').attr('src', '');
                    $('#popUpLanzamientos').fadeOut(200);
                })
            });
        </script>
        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?> 

        
        <div class="grid-sizer"></div>
    </div>

    <!-- <div class="loader"></div>

    <?php if(!empty($this->datos)):?>
    <?php if ($this->cantReg!=1):?>      
    <div class="btn_carga_mas _vermas">
        <a id="btnVerMas" href="javascript:void(0);" onclick="$().loadMore(<?=$this->cantReg?>)">Ver más</a>
    </div>        
    <?php endif?> 
    <?php endif?> -->


   <!--  <div class="banner_bottom">
        <?php if($this->banners_bottom):?>
        <?php foreach ($this->banners_bottom as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <?php if($val['link']!=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php else:?>
        <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        <?php endif?>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div> -->

    
    <!-- CONTACTO -->
    <div id="contacto">

    <?php $usr = $this->_sess->get('usuario_front'); ?>
    <?php if(isset($usr)): ?>
        <h2>Consultas</h2>
        <p>Comunicate con nosotras completando el formulario, atenderemos todas tus dudas.</p>
        <form id="formContacto" action="" method="POST">
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido de la Aliada" value="<?=$this->data_user['nombre']?>" required="" readonly>
            <input type="text" id="numero_cliente" name="numero_cliente" placeholder="Número de Cliente" value="<?=$this->data_user['numero_cliente']?>" required="" readonly>
            <input type="email" id="email" name="email" required="" placeholder="Email" value="<?=$this->data_user['email']?>" readonly>
            <input type="text" id="nombre_farmacia" name="nombre_farmacia" placeholder="Nombre de la Farmacia" value="<?=$this->data_user['razon_social']?>" required="" readonly>
            <textarea id="consulta" name="consulta" requided="" placeholder="Consulta"></textarea>
            <input type="button" name="bt_contacto" id="bt_contacto" value="ENVIAR">
           <!--  <button>ENVIAR</button> -->
        </form>
        <div class="ok"></div>
        <div class="error"></div>
        <hr>
        <?php endif; ?>
        <div class="info">
            <div class="wp">
                <div class="post data">
                    <h3>Contacto</h3>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:aliadas@delsud.com.ar">aliadas@delsud.com.ar</a></p>

                    <p><i class="fa fa-phone" aria-hidden="true"></i> Conmutador General<br>
                    (011) 4309-9100 int. 705</p>

                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Humberto Primo 1868, Capital Federal.
                    Buenos Aires, Argentina </p>
                </div>
                <div class="post">
                    <h3>Instagram Post</h3>
                   <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/3fb6c459990856d5af0a8b0f58affc57.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

                </div> 
            </div>
        </div>
    </div>
</section>

<script>
var $grid = $('.grid').isotope({
  itemSelector: '.grid-item',
  masonry: {
    //columnWidth: 300,
   columnWidth:'.grid-sizer',
   gutter:20
  }
});
$('#filter a').on('click', function(){
    $(this).toggleClass('active');
    
    var ar = [];
    var i = 0;
    $('#filter a.active').each(function(){
        i++;
        
        ar.push( $(this).data("rel") );
        
    })
    console.log(ar[0]);
    if(i == 0){ $grid.isotope({ filter: '*' }); }
    if(i == 1){
        $grid.isotope({ filter: '.'+ar[0] })
    }else if(i == 2){
        $grid.isotope({ filter: '.'+ar[0]+', .'+ar[1] })
    }else if(i == 3){
        $grid.isotope({ filter: '.'+ar[0]+', .'+ar[1]+', .'+ar[2] })
    }else if(i == 4){
        $grid.isotope({ filter: '.'+ar[0]+', .'+ar[1]+', .'+ar[2]+', .'+ar[3] })
    }
});
</script>

<script>
$(document).ready(function() {

    $('.flexslider').flexslider({
        animation: "slide",
        controlNav: false,
        directionNav: false
    });
        
    var page=2;
    
    $.fn.loadMore = function(_cantReg){       
        var dataString = "p="+page+'&_csrf=<?=$this->_sess->get('_csrf')?>';
            
        $.ajax({
            type: "POST",
            url: _root_ + "lanzamientos/paginacion",
            data: dataString,
            //dataType: 'json',
            beforeSend: function(){
                //$('#btnVerMas').fadeOut('fast',function(){
                    $(".loader").fadeIn('slow');
                //});
                
            },
            success: function(datos){
                $(".loader").fadeOut('fast',function(){                 
                    //$("#contColeccionesAnteriores").append(datos);
                    $(datos).hide().appendTo('#contenido').fadeIn('slow');

                     //LANZAMIENTOS
                    $('article a.conoce').on('click', function(e){
                        e.preventDefault();
                        $(this).parents('article').find('.preview').fadeOut(200, function(){
                            $(this).parents('article').find('.content').slideDown(200);
                            $(this).parents('article').find('.close').fadeIn(200);
                        })
                    })
                   
                    $('article .close').on('click', function(e){
                        e.preventDefault();
                        $(this).parents('article').find('.close').fadeOut(200);
                        $(this).parents('article').find('.content').slideUp(200)
                        $(this).parents('article').find('.preview').slideDown(200);
                    })
                   
                    $('article a.ver-video').on('click', function(e){
                        e.preventDefault();
                        var video = $(this).attr('rel');
                        $('#popUpLanzamientos iframe').attr('src',video);
                        $('#contIframe').html();
                        $('#popUpLanzamientos').fadeIn(200);
                    });
                   
                    $('#popUpLanzamientos .close').on('click', function(){
                        $('#popUpLanzamientos iframe').attr('src', '');
                        $('#popUpLanzamientos').fadeOut(200);
                    })
                    
                    if(page==_cantReg){
                        $('#btnVerMas').hide();
                    }else{                  
                        page=page+1;
                        $('#btnVerMas').show();
                    }
                    
                }); 
                
                
            }
        });
    }

    // $(".bt_cat_lanz").click(function(){  
    $('.bt_cat_lanz').change(function() {
        /*if ($("#buscador").val() == "") {
          return false;        
        } */
        var valor = $(this).val();
       
        // var dataString = 'valor='+valor+'&_csrf=<?=$this->_sess->get('_csrf')?>';
        $.ajax({            
                type: 'POST',
                url: _root_+"lanzamientos/traerNotasFiltradasCat", 
                // data: dataString,
                data: {"valor" : valor, "_csrf" : "<?=$this->_sess->get('_csrf')?>"},
                dataType:"json",
                beforeSend: function(){
                    $('#contenido').fadeOut('fast').html('');
                  
                },
                success: function(data){
                  $('#contenido').html(data.html).fadeIn('fast');
                  if(data.cantReg!=1){
                    $('._vermas').html('<a id="btnVerMas" href="javascript:void(0);" onclick="$().loadMore('+data.cantReg+')">Ver más</a>');
                    $('#btnVerMas').show();
                  }else{
                    $('#btnVerMas').hide();
                  }
                 
                },
                error: function(){
                     alert('error!!');
                }
        });
    
    
    }) 

    
   
    /*$('.grid').masonry({
      // set itemSelector so .grid-sizer is not used in layout
      itemSelector: '.grid-item',
      gutter: 40,
      // use element for option
      columnWidth: '.grid-sizer',
      percentPosition: true
    });
   
    //FILTERS
    $('#filter').on('click', function(){
        if($(this).hasClass('open')){
            $('.wpFilters').slideUp(300)
            $(this).removeClass('open')
        }else{
            $('.wpFilters').slideDown(300)
            $(this).addClass('open')
        }
    })
    $('.wpFilters').on('click', function(e){
        e.stopPropagation();
    })*/
    
});
</script>