<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script language="javascript">
$(document).ready(function() {

  $("#btBuscador").click(function(){  
  
  
    if ($("#buscador").val() == "") {
      return false;        
    } 
    
    var valor = $("#buscador").val();
    
    var dataString = 'valor='+valor+'&_csrf=<?=$this->_sess->get('_csrf')?>';
    $.ajax({            
            type: 'POST',
            url: _root_+"administrador/comentarios/buscador", 
            data: dataString,
            beforeSend: function(){
              //$('.pagination').hide();
              $('#contenedor').fadeOut('fast', function(){
                $('.loader').fadeIn('fast');        
              });
            },
            success: function(data){
              $('#contenedor').html(data);
              //$('.pagination').hide();
              $('.loader').fadeOut('fast', function(){
                $('#contenedor').fadeIn('fast');  
                $('.loader').fadeOut('fast');     
              });
        
            },
            error: function(){
                 alert('error!!');
            }
        });
    
    
  })
  
  $('#key').on('keyup', function() {
       var key = $(this).val();   
       var dataString = 'key='+key+'&_csrf=<?=$this->_sess->get('_csrf')?>';
     $.ajax({
            type: "POST",
            url: _root_+"administrador/comentarios/buscadorNotas", 
            data: dataString,
            success: function(data) {
                //Escribimos las sugerencias que nos manda la consulta
                $('#suggestions').fadeIn(1000).html(data);
                //Al hacer click en algua de las sugerencias
                $('.suggest-element').on('click', function(){
                        //Obtenemos la id unica de la sugerencia pulsada
                        var id = $(this).attr('id');
                        //Editamos el valor del input con data de la sugerencia pulsada
                        $('#key').val($('#'+id).attr('data'));
                        $('#buscar').val(id);
                        //Hacemos desaparecer el resto de sugerencias
                         $('#suggestions').fadeOut(200);
                        // alert('Has seleccionado el '+id+' '+$('#'+id).attr('data'));
                        return false;
                });
            }
        });
    });

  $("#btBuscadorKey").click(function(){  
  
  
    if ($("#buscar").val() == "") {
      return false;        
    } 
    
    var valor = $("#buscar").val();
    
    var dataString = 'valor='+valor+'&_csrf=<?=$this->_sess->get('_csrf')?>';
    $.ajax({            
            type: 'POST',
            url: _root_+"administrador/comentarios/buscadorNotasFinal", 
            data: dataString,
            beforeSend: function(){
              //$('.pagination').hide();
              $('#contenedor').fadeOut('fast', function(){
                $('.loader').fadeIn('fast');        
              });
            },
            success: function(data){
              $('#contenedor').html(data);
              //$('.pagination').hide();
              $('.loader').fadeOut('fast', function(){
                $('#contenedor').fadeIn('fast');  
                $('.loader').fadeOut('fast');     
              });
        
            },
            error: function(){
                 alert('error!!');
            }
        });
    
    
  })
   

});
</script>

<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Comentarios</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">  
    <!--<div class="ibox-title">  
         <a class="btn btn-w-m btn-success" href="<?php echo $this->_conf['url_enlace']?>administrador/banners/cargar">
          Cargar banner
        </a> 
    </div>-->
     <div class="ibox-title">
        <div class="row">
          <div class="col-lg-4">
                <form role="form" method="post" action="">
                    <input type="hidden" id="estado" name="estado" value="alta" />
                    <div class="btn-group">
                        <div class="input-group m-b">
                          <input class="form-control m-b" id="buscador" name="buscador" placeholder="Buscar por comentario, usuario o seccion" type="text" />
                            <span class="input-group-btn">
                                <button id="btBuscador" type="button" class="btn btn-primary">
                                     <i class="fa fa-search"></i>
                                </button> 
                            </span> 
                            
                        </div>
                    </div>
                </form>
          </div>

          <div class="col-lg-4">
                <form role="form" method="post" action="">
                    <div class="btn-group">
                        <div class="input-group m-b">
                          <input class="form-control m-b" name="key" id="key" placeholder="Buscar por nota" type="text" />
                          <input type="hidden" id="buscar" name="buscar" value="" />
                            <span class="input-group-btn">
                                <button id="btBuscadorKey" type="button" class="btn btn-primary">
                                     <i class="fa fa-search"></i>
                                </button> 
                            </span> 
                            
                        </div>
                    </div>
                </form>
                <div id="suggestions"></div>
          </div>
        </div> 
    </div>


    <div id="contenedor" class="ibox-content forum-container">
    
        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <div class="forum-item">
            <div class="row">
                <div class="col-md-10">                    
                    <a href="" class="forum-item-title">
                        Comentario: <b><?php echo admin::convertirCaracteres($datos['comentario'])?></b>  
                    </a>  
                    <small>Usuario: <b><?=$datos['usuario']?></b></small>
                    <?php $_padre = ($datos['id_comentario_padre']!=0) ? admin::traerComentario($datos['id_comentario_padre']) : '';?>
                    <?php if($_padre!=''):?>
                    <small>Comentario padre: <b><?=$_padre['comentario']?></b></small>
                    <?php endif?> 
                    <small>Seccion: <b><?=$datos['seccion']?></b></small>
                    <?php $_nota = admin::traerNota($datos['id_nota'], $datos['seccion'])?>
                    <?php if($_nota!=''):?>                    
                    <small>Nota: <b><?=$_nota['titulo']?></b></small>   
                    <?php endif?>                                   
                </div>

                <div class="col-md-2 forum-info">
                    <div class="tooltip-demo pull-right">                    

                        <!-- <a class="btn btn-warning btn-round" href="<?php echo $this->_conf['url_enlace']?>administrador/banners/editar/<?php echo $datos['id']?>">
                           Editar
                        </a>&nbsp;&nbsp; -->

                        <a href="javascript:void(0);" class="btn btn-danger btn-round _borrar_<?php echo $datos['id']?>" title="Borrar">
                            Eliminar
                        </a>&nbsp;&nbsp;

                    </div>
                </div>
            </div>
        </div>
        <script>
          $(document).ready(function () {
                $('._borrar_<?php echo $datos['id']?>').click(function () {
                    swal({
                        title: "Estas seguro de borrar este contenido?",
                        text: "Los datos se perderán permanentemente!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Si, que se borre!",
                        cancelButtonText: "No, mejor no!",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function (isConfirm) {
                        if (isConfirm) {
                            var url= _root_ + "administrador/comentarios/borrar";
                            var dataString = '_id=<?=$datos['id']?>&_csrf=<?=$this->_sess->get('_csrf')?>';
                            $.ajax({
                                    type: "POST",
                                    url: url,
                                    data: dataString,
                                    success: function(data){
                                      if(data=='ok'){
                                        swal("Borrado!", "El contenido se borró con exito.", "success");
                                        setTimeout(function() {
                                            location.reload();
                                        }, 200);
                                      }else{
                                        swal("Cancelado", "No se puede borrar", "error");
                                      }
                                        
                                        
                                    }
                            });
                        } else {
                            swal("Cancelado", "El contenido esta guardado", "error");
                        }
                    });
                });
            });
        </script>

        <?php endforeach?>
        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>
    </div>
    <div class="loader"></div> 
   <?php echo (isset($this->paginacion)) ? $this->paginacion : ''?>
</div>













