<script>
$(function(){
  $('#contenido_cat, #drag_cat').sortable({
      connectWith: ".conexion",
      start: function (event, ui){
        ui.item.toggleClass("destello", 250);
      },
      stop: function (event, ui){
        ui.item.toggleClass("destello", 250);
      },
      /*update: function(event,ui){
        var ordenPuntos = $(this).sortable('toArray').toString();
        $.ajax({
          type: 'POST',
          url: _root_ + "administrador/catalogos/ordenarGal",
          data: "puntos="+ordenPuntos,
          beforeSend: function(){
            $('#cargadorImg').modal('show');
          },
          success: function(data){
            if(data==1){
              $('#cargadorImg').delay(2000).modal('hide');
              //window.location.href = _root_ + "administrador/blog";
            }
          }
        });
      }*/
  }).disableSelection();
});
  
$(document).ready(function(){
  
  function getData(_contenedores_){
        var columns = [];
        $(_contenedores_).each(function(){
            columns.push($(this).sortable('toArray').join(','));        
        });
        return columns.join('|');
  }  
  
  $("#selec_todo").click(function(){
    $("#drag_cat").html('');
    $("#contenido_cat li").appendTo("#drag_cat");
  });
     
  /*$("#buscar").click(function(){
       
  
    if($('.provs:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos una provincia");
        return false;
    }
    if($('.tipos:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos un tipo de local");
        return false;
    }
     
     var url = _root_ + "administrador/asignacion/traerTotems";     
     $.ajax({
        type: "POST",
        url: url,
        data: $("#selec_totem").serialize(),
        success: function(data){
          $("#contenido_vid").html(data);
                  
        }
     });
     return false;
    });*/
   $("#_enviar_data").click(function(){
       
     
      /*if($('#_porcentaje_medio_pago').val()!=''){
        if (isNaN($("#_porcentaje_medio_pago").val())){
          alert("Debe ingresar un valor numerico");
          $("#_porcentaje_medio_pago").focus();
          return false;
        }
      }
      
      if($('#_porcentaje_lider').val()!=''){
        if (isNaN($("#_porcentaje_lider").val())){
          alert("Debe ingresar un valor numerico");
          $("#_porcentaje_lider").focus();
          return false;
        }
      }*/
       
       //$("._loading").show();
       
      var _data_ = getData('#drag ul.conexion');
      $('input[name="_catalogos"]').val(_data_);
      /*if($('#_catalogos').val()==''){
          alert("Debe seleccionar al menos un catalogo");
          return false;
      }*/
      var url = _root_ + "administrador/asignacion/consolidarCatalogos";     
        $.ajax({
          type: "POST",
          url: url,
          data: "catalogos="+$('#_catalogos').val()+"&_csrf=<?=$this->_sess->get('_csrf')?>",
          success: function(data){
             if(data == 1){
                  $('#_carga_OK').modal({show:true});
                  setTimeout(function() {
                      $('#_carga_OK').modal('hide');
                      window.location.href = _root_ + "administrador/asignacion/cargarFooter";
                  }, 2500);
              }else{
                  $("._respuesta").html('').append(data).fadeIn('slow');
               //$("._loading").hide();
              }
          }
        });
        return false;
    });
   
});
</script>
<div class="modal inmodal fade" id="_carga_OK" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    <a href="#" class="alert-link"> Guardando Datos. Espere...</a>
                </div>
            </div>
        </div>
    </div>
</div>

                <!-- <ol class="breadcrumb">
                  <li><?=(isset($_SESSION['asignacion']['_totems'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/selecTotem">Totems</a>' : 'Totems' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_videos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarHeader">Videos</a>' : 'Videos' ?></li>
                  <li class="active">Catalogos</li>
                  <li><?=(isset($_SESSION['asignacion']['_footer'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFooter">Footer</a>' : 'Footer' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_fondos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFondos">Fondos</a>' : 'Fondos' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_inactivas'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarInactivas">Pantalla Inactiva</a>' : 'Pantalla Inactiva' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_fecha_inicial'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/selecVigencia">Vigencia</a>' : 'Vigencia' ?></li>
                </ol> -->
<div id="head-bg-fix"></div>
<div class="wpContent"> 
  <div class="btn-group-usuario">
      <a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/selecTotem">
       Seleccionar Totem
      </a>
      <a href="#" class="active">
       Asignar Contenido
      </a>
      <a href="#">
       Asignar Fechas
      </a>
  </div>

  <div class="contentModify" style="padding-top: 50px">
        
    <form class="form-horizontal" id="selec_cat" action="" method="POST" role="form">
      <input type="hidden" name="envio01" value="1" />
      <input type="hidden" id="_catalogos" name="_catalogos">
      
      <h2>Catalogos</h2>             
          
          <div class="bxContent">
            <a id="selec_todo" class="btn btn-danger btn-sm btn-block btn-info" href="javascript:void(0);">Seleccionar todo</a> 
          </div>
                       
         <div class="wpDragDrop">
              <ul id="contenido_cat" class="wpContenidoAll mid conexion" style="padding-left: 0"> 
                <?php foreach($this->catalogos as $cat):?>
                <li id="<?=$cat->id?>" class="cont_totem">
                  <?php $_img = admin::traerImgOrientacion($cat->identificador,'thumb');?>
                  <?php if($_img !=''):?>
                  <?php foreach($_img as $_imgg):?>
                  <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$_imgg->identificador."/thumb/". $_imgg->path ?>" width="150px"> -->
                  <div class="img" style="background-image: url(<?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$_imgg->identificador."/thumb/". $_imgg->path ?>)"></div>
                  <?php endforeach?>
                  <?php endif?>
                  <h3><?=$cat->titulo?></h3>                    
                </li>
                <?php endforeach?>                
              </ul>
              <div id="drag" class="mid">
                  <ul class="list-group aaau conexion" id="drag_cat">
                    <?php if(isset($_SESSION['asignacion']['_catalogos']) && $_SESSION['asignacion']['_catalogos']!=''):?> 
                    <?php $_cats = explode(',', $_SESSION['asignacion']['_catalogos']);?>                               
                    <?php for ($i=0; $i<count($_cats); $i++):?>
                    <li id="<?=admin::traerCatalogoPorID($_cats[$i])->id?>" class="cont_totem">
                        <?php $_img = admin::traerImgOrientacion(admin::traerCatalogoPorID($_cats[$i])->identificador,'thumb');?>
                        <?php if($_img !=''):?>
                        <?php foreach($_img as $_imgg):?>
                        <!-- <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$_imgg->identificador."/thumb/". $_imgg->path ?>" width="150px"> -->
                        <div class="img" style="background-image: url(<?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$_imgg->identificador."/thumb/". $_imgg->path ?>)"></div>
                        <?php endforeach?>
                        <?php endif?>
                        <h3><?=admin::traerCatalogoPorID($_cats[$i])->titulo?></h3>
                    </li>
                    <?php endfor?>
                    <?php endif?>
                  </ul>
              </div>
          </div>
             
          
          <div class="btn-nuevo-contenido">
                <input type="submit" class="btn btn-danger btn-lg btn-block btn-info" id="_enviar_data" name="continuar" value="Continuar" />

                <ol class="breadcrumb">
                 <!--  <li><?=(isset($_SESSION['asignacion']['_totems'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/selecTotem">Totems</a>' : 'Totems' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_videos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarHeader">Videos</a>' : 'Videos' ?></li>
                  <li class="active">Catalogos</li>
                  <li><?=(isset($_SESSION['asignacion']['_footer'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFooter">Footer</a>' : 'Footer' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_fondos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFondos">Fondos</a>' : 'Fondos' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_inactivas'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarInactivas">Pantalla Inactiva</a>' : 'Pantalla Inactiva' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_fecha_inicial'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/selecVigencia">Vigencia</a>' : 'Vigencia' ?></li> -->
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/selecTotem">Totems</a></li>
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarHeader">Videos</a></li>
                  <li class="active">Catalogos</li>                  
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarFooter">Footer</a></li>
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarFondos">Fondos</a></li>
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarInactivas">Pantalla Inactiva</a></li>
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/selecVigencia">Vigencia</a></li>
                </ol>
          </div>
          <div class="form-group">
              <div class="col-lg-offset-2 col-lg-9">
                  <div class="_respuesta" style="display:none;color:red;"></div>
              </div>
          </div>
    </form>
  </div>
    
</div>