<script>
$(function(){
  $('#contenido_vid, #drag_vid').sortable({
      connectWith: ".conexion",
      start: function (event, ui){
        ui.item.toggleClass("destello", 250);
      },
      stop: function (event, ui){
        ui.item.toggleClass("destello", 250);
      }      
  }).disableSelection();
});
  
$(document).ready(function(){

  function getData(_contenedores_){
        var columns = [];
        $(_contenedores_).each(function(){
            columns.push($(this).sortable('toArray').join(','));        
        });
        return columns.join('|');
    }  
  

  $("#selec_todo").click(function(){
    $("#drag_vid").html('');
    $("#contenido_vid li").appendTo("#drag_vid");
  });   
  
   $("#_enviar_data").click(function(){
       
     
     
       
      var _data_ = getData('#drag ul.conexion');
      $('input[name="_videos"]').val(_data_);
      /*if($('#_videos').val()==''){
          alert("Debe seleccionar al menos un video");
          return false;
      }*/
      var url = _root_ + "administrador/asignacion/consolidarHeader";     
        $.ajax({
          type: "POST",
          url: url,
          data: "videos="+$('#_videos').val()+"&_csrf=<?=$this->_sess->get('_csrf')?>",
          success: function(data){
             if(data == 1){
                  $('#_carga_OK').modal({show:true});
                  setTimeout(function() {
                      $('#_carga_OK').modal('hide');
                      window.location.href = _root_ + "administrador/asignacion/cargarCatalogos";
                  }, 2500);
              }else{
                  $("._respuesta").html('').append(data).fadeIn('slow');
               //$("._loading").hide();
              }
          }
        });
        return false;
    });
   
});
</script>
<div class="modal inmodal fade" id="_carga_OK" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    <a href="#" class="alert-link"> Guardando Datos. Espere...</a>
                </div>
            </div>
        </div>
    </div>
</div>

                <!--<ol class="breadcrumb">                 
                  <li><?=(isset($_SESSION['asignacion']['_totems'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/selecTotem">Totems</a>' : 'Totems' ?></li>
                  <li class="active">Videos</li>
                  <li><?=(isset($_SESSION['asignacion']['_catalogos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarCatalogos">Catalogos</a>' : 'Catalogos' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_footer'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFooter">Footer</a>' : 'Footer' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_fondos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFondos">Fondos</a>' : 'Fondos' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_inactivas'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarInactivas">Pantalla Inactiva</a>' : 'Pantalla Inactiva' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_fecha_inicial'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/selecVigencia">Vigencia</a>' : 'Vigencia' ?></li>
                </ol>-->

<div id="head-bg-fix"></div>
<div class="wpContent"> 
  <div class="btn-group-usuario">
      <a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/selecTotem">
       Seleccionar Totem
      </a>
      <a href="#" class="active">
       Asignar Contenido
      </a>
      <a href="#">
       Asignar Fechas
      </a>
  </div>

  <div class="contentModify" style="padding-top: 50px">
        
      <form class="form-horizontal" id="selec_vid" action="" method="POST" role="form">
        <input type="hidden" name="envio01" value="1" />
        <input type="hidden" id="_videos" name="_videos">
        
        <h2>Videos</h2>             
            
            <div class="bxContent">
              <a id="selec_todo" class="btn btn-danger btn-sm btn-block btn-info" href="javascript:void(0);">Seleccionar todo</a> 
            </div>
                         
           <div class="wpDragDrop">
                <ul id="contenido_vid" class="wpContenidoAll mid conexion" style="padding-left: 0"> 
                  <?php foreach($this->videos as $vid):?>
                  <li id="<?=$vid->id?>" class="cont_totem">
                    <?php $_img = admin::traerImgOrientacion($vid->identificador,'thumb');?>
                    <?php if($_img !=''):?>
                    <?php foreach($_img as $_imgg):?>
                    <!-- <img src=" <?= $this->_conf['base_url'] . "public/videos/vid_".$_imgg->identificador."/thumb/". $_imgg->path ?>" width="150px"> -->
                    <div class="img" style="background-image: url(<?= $this->_conf['base_url'] . "public/videos/vid_".$_imgg->identificador."/thumb/". $_imgg->path ?>)"></div>
                    <?php endforeach?>
                    <?php endif?>
                    <h3><?=$vid->titulo?></h3>                    
                  </li>
                  <?php endforeach?>                
                </ul>
                <div id="drag" class="mid">
                    <ul class="list-group aaau conexion" id="drag_vid">
                      <?php if(isset($_SESSION['asignacion']['_videos']) && $_SESSION['asignacion']['_videos']!=''):?> 
                      <?php $_vids = explode(',', $_SESSION['asignacion']['_videos']);?>                               
                      <?php for ($i=0; $i<count($_vids); $i++):?>
                      <li id="<?=admin::traerVideoPorID($_vids[$i])->id?>" class="cont_contenido">
                          <?php $_img = admin::traerImgOrientacion(admin::traerVideoPorID($_vids[$i])->identificador,'thumb');?>
                          <?php if($_img !=''):?>
                          <?php foreach($_img as $_imgg):?>
                          <!-- <img src=" <?= $this->_conf['base_url'] . "public/videos/vid_".$_imgg->identificador."/thumb/". $_imgg->path ?>" width="150px"> -->
                          <div class="img" style="background-image: url(<?= $this->_conf['base_url'] . "public/videos/vid_".$_imgg->identificador."/thumb/". $_imgg->path ?>)"></div>
                          <?php endforeach?>
                          <?php endif?>
                          <h3><?=admin::traerVideoPorID($_vids[$i])->titulo?></h3>
                      </li>
                      <?php endfor?>
                      <?php endif?>
                    </ul>
                </div>
            </div>
            
           
               
            
            <div class="btn-nuevo-contenido">
              <input type="submit" class="btn btn-danger btn-lg btn-block btn-info" id="_enviar_data" name="continuar" value="Continuar" />

              <ol class="breadcrumb">                 
                <!-- <li><?=(isset($_SESSION['asignacion']['_totems'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/selecTotem">Totems</a>' : 'Totems' ?></li>
                <li class="active">Videos</li>
                <li><?=(isset($_SESSION['asignacion']['_catalogos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarCatalogos">Catalogos</a>' : 'Catalogos' ?></li>
                <li><?=(isset($_SESSION['asignacion']['_footer'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFooter">Footer</a>' : 'Footer' ?></li>
                <li><?=(isset($_SESSION['asignacion']['_fondos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFondos">Fondos</a>' : 'Fondos' ?></li>
                <li><?=(isset($_SESSION['asignacion']['_inactivas'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarInactivas">Pantalla Inactiva</a>' : 'Pantalla Inactiva' ?></li>
                <li><?=(isset($_SESSION['asignacion']['_fecha_inicial'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/selecVigencia">Vigencia</a>' : 'Vigencia' ?></li> -->
                <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/selecTotem">Totems</a></li>
                <li class="active">Videos</li>
                <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarCatalogos">Catalogos</a></li>
                <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarFooter">Footer</a></li>
                <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarFondos">Fondos</a></li>
                <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarInactivas">Pantalla Inactiva</a></li>
                <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/selecVigencia">Vigencia</a></li>
              </ol>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-9">
                    <div class="_respuesta" style="display:none;color:red;"></div>
                </div>
            </div>
      </form>
  </div>
    
</div>