<script>
$(function(){
  $('#contenido_inac, #drag_inac').sortable({
      connectWith: ".conexion",
      start: function (event, ui){
        ui.item.toggleClass("destello", 250);
      },
      stop: function (event, ui){
        ui.item.toggleClass("destello", 250);
      },
     
  }).disableSelection();
});
  
$(document).ready(function(){
  function getData(_contenedores_){
        var columns = [];
        $(_contenedores_).each(function(){
            columns.push($(this).sortable('toArray').join(','));        
        });
        return columns.join('|');
  }  
  
  $("#drag_inac").droppable({
        drop: function(e, ui){
      //$("#drag ul li").not(':first').remove();
      $("#drag ul li").not('.dragSelect').remove();
      ui.draggable.removeClass('dragSelect');
        }
  });
     
  /*$("#buscar").click(function(){
       
  
    if($('.provs:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos una provincia");
        return false;
    }
    if($('.tipos:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos un tipo de local");
        return false;
    }
     
     var url = _root_ + "administrador/asignacion/traerTotems";     
     $.ajax({
        type: "POST",
        url: url,
        data: $("#selec_totem").serialize(),
        success: function(data){
          $("#contenido_vid").html(data);
                  
        }
     });
     return false;
    });*/
   $("#_enviar_data").click(function(){
       
     
      /*if($('#_porcentaje_medio_pago').val()!=''){
        if (isNaN($("#_porcentaje_medio_pago").val())){
          alert("Debe ingresar un valor numerico");
          $("#_porcentaje_medio_pago").focus();
          return false;
        }
      }
      
      if($('#_porcentaje_lider').val()!=''){
        if (isNaN($("#_porcentaje_lider").val())){
          alert("Debe ingresar un valor numerico");
          $("#_porcentaje_lider").focus();
          return false;
        }
      }*/
       
       //$("._loading").show();
       
      var _data_ = getData('#drag ul.conexion');
      $('input[name="_inactivas"]').val(_data_);
      /*if($('#_inactivas').val()==''){
          alert("Debe seleccionar al menos una pantalla inactiva");
          return false;
      }*/
      var url = _root_ + "administrador/asignacion/consolidarInactivas";     
        $.ajax({
          type: "POST",
          url: url,
          data: "inactivas="+$('#_inactivas').val()+"&_csrf=<?=$this->_sess->get('_csrf')?>",
          success: function(data){
             if(data == 1){
                  $('#_carga_OK').modal({show:true});
                  setTimeout(function() {
                      $('#_carga_OK').modal('hide');
                      window.location.href = _root_ + "administrador/asignacion/selecVigencia";
                  }, 2500);
              }else{
                  $("._respuesta").html('').append(data).fadeIn('slow');
               //$("._loading").hide();
              }
          }
        });
        return false;
    });
   
});
</script>
<div class="modal inmodal fade" id="_carga_OK" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    <a href="#" class="alert-link"> Guardando Datos. Espere...</a>
                </div>
            </div>
        </div>
    </div>
</div>
               

<div id="head-bg-fix"></div>
<div class="wpContent"> 
  <div class="btn-group-usuario">
      <a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/selecTotem">
       Seleccionar Totem
      </a>
      <a href="#" class="active">
       Asignar Contenido
      </a>
      <a href="#">
       Asignar Fechas
      </a>
  </div>

  <div class="contentModify" style="padding-top: 50px">        
          <form class="form-horizontal" id="selec_fot" action="" method="POST" role="form">
            <input type="hidden" name="envio01" value="1" />
            <input type="hidden" id="_inactivas" name="_inactivas">
            
            <h2>Pantalla Inactiva</h2>     
                     
                
              <!--   <div class="bxContent">
                  <a id="selec_todo" class="btn btn-danger btn-sm btn-block btn-info" href="javascript:void(0);">Seleccionar todo</a> 
                </div> -->
                
                <div class="wpDragDrop">
                    <ul id="contenido_inac" class="wpContenidoAll mid conexion" style="padding-left: 0">
                      <?php foreach($this->inactivas as $inac):?>
                      <li id="<?=$inac->id?>" class="cont_totem dragSelect">
                        <h3><?=$inac->titulo?></h3>                    
                      </li>
                      <?php endforeach?>                
                    </ul>
                    <div id="drag" class="mid">
                        <ul class="list-group aaau conexion" id="drag_inac">
                          <?php if(isset($_SESSION['asignacion']['_inactivas']) && $_SESSION['asignacion']['_inactivas']!=''):?> 
                          <?php $_inacs = explode(',', $_SESSION['asignacion']['_inactivas']);?>                               
                          <?php for ($i=0; $i<count($_inacs); $i++):?>
                          <li id="<?=admin::traerInactivaPorID($_inacs[$i])->id?>" class="cont_contenido">
                              <h3><?=admin::traerInactivaPorID($_inacs[$i])->titulo?></h3>
                          </li>
                          <?php endfor?>
                          <?php endif?>
                        </ul>
                    </div>
                </div>

                <div class="btn-nuevo-contenido">
                  <input type="submit" class="btn btn-danger btn-lg btn-block btn-info" id="_enviar_data" name="continuar" value="Continuar" />

                   <ol class="breadcrumb">
                    <!-- <li><?=(isset($_SESSION['asignacion']['_totems'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/selecTotem">Totems</a>' : 'Totems' ?></li>
                    <li><?=(isset($_SESSION['asignacion']['_videos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarHeader">Videos</a>' : 'Videos' ?></li>
                    <li><?=(isset($_SESSION['asignacion']['_catalogos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarCatalogos">Catalogos</a>' : 'Catalogos' ?></li>
                    <li><?=(isset($_SESSION['asignacion']['_footer'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFooter">Footer</a>' : 'Footer' ?></li>
                    <li><?=(isset($_SESSION['asignacion']['_fondos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFondos">Fondos</a>' : 'Fondos' ?></li>
                    <li class="active">Pantalla Inactiva</li>
                    <li><?=(isset($_SESSION['asignacion']['_fecha_inicial'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/selecVigencia">Vigencia</a>' : 'Vigencia' ?></li> -->
                    <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/selecTotem">Totems</a></li>
                    <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarHeader">Videos</a></li>
                    <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarCatalogos">Catalogos</a></li>                  
                    <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarFooter">Footer</a></li>
                    <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarFondos">Fondos</a></li>                    
                    <li class="active">Pantalla Inactiva</li>
                    <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/selecVigencia">Vigencia</a></li>
                  </ol>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-9">
                        <div class="_respuesta" style="display:none;color:red;"></div>
                    </div>
                </div>
    </form>
  </div>
    
</div>