<script>
$.Fastselect.defaults = {

    elementClass: 'fstElement',
    singleModeClass: 'fstSingleMode',
    noneSelectedClass: 'fstNoneSelected',
    multipleModeClass: 'fstMultipleMode',
    queryInputClass: 'fstQueryInput',
    queryInputExpandedClass: 'fstQueryInputExpanded',
    fakeInputClass: 'fstFakeInput',
    controlsClass: 'fstControls',
    toggleButtonClass: 'fstToggleBtn',
    activeClass: 'fstActive',
    itemSelectedClass: 'fstSelected',
    choiceItemClass: 'fstChoiceItem',
    choiceRemoveClass: 'fstChoiceRemove',
    userOptionClass: 'fstUserOption',

    resultsContClass: 'fstResults',
    resultsOpenedClass: 'fstResultsOpened',
    resultsFlippedClass: 'fstResultsFilpped',
    groupClass: 'fstGroup',
    itemClass: 'fstResultItem',
    groupTitleClass: 'fstGroupTitle',
    loadingClass: 'fstLoading',
    noResultsClass: 'fstNoResults',
    focusedItemClass: 'fstFocused',

    matcher: null,

    url: null,
    loadOnce: false,
    apiParam: 'query',
    initialValue: null,
    clearQueryOnSelect: true,
    minQueryLength: 1,
    focusFirstItem: false,
    flipOnBottom: true,
    typeTimeout: 150,
    userOptionAllowed: false,
    valueDelimiter: ',',
    maxItems: null,

    parseData: null,
    onItemSelect: null,
    onItemCreate: null,
    onMaxItemsReached: null,

    placeholder: 'Elegir una opción',
    searchPlaceholder: 'Buscar una opción',
    noResultsText: 'Nohay resultados',
    userOptionPrefix: 'Agregar '

};

$(function(){
  $('#contenido_totem, #drag_totem').sortable({
      connectWith: ".conexion",
      start: function (event, ui){
        ui.item.toggleClass("destello", 250);
      },
      stop: function (event, ui){
        ui.item.toggleClass("destello", 250);
      },
      /*update: function(event,ui){
        var ordenPuntos = $(this).sortable('toArray').toString();
        $.ajax({
          type: 'POST',
          url: _root_ + "administrador/catalogos/ordenarGal",
          data: "puntos="+ordenPuntos,
          beforeSend: function(){
            $('#cargadorImg').modal('show');
          },
          success: function(data){
            if(data==1){
              $('#cargadorImg').delay(2000).modal('hide');
              //window.location.href = _root_ + "administrador/blog";
            }
          }
        });
      }*/
  }).disableSelection();
});
  
$(document).ready(function(){

  $('.multipleSelect').fastselect();

  $("#selec_todo").hide();

  function getData(_contenedores_){
        var columns = [];
        $(_contenedores_).each(function(){
            columns.push($(this).sortable('toArray').join(','));        
        });
        return columns.join('|');
    }  
  


  $("#selec_todo").click(function(){
    $("#drag_totem").html('');
    $("#contenido_totem li").appendTo("#drag_totem");
  });
     
  $("#buscar").click(function(){
       
     
    
     
    /*if($('.provs:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos una provincia");
        return false;
    }
    if($('.tipos:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos un tipo de local");
        return false;
    }*/

    if($(".provs option:selected").length == 0) {
      alert("Debe seleccionar al menos una provincia");
      return false;
    }

    if($(".provs option:selected").length > 4) {
      alert("No puede seleccionar mas de 4 provincias");
      return false;
    }

    if($(".tipos option:selected").length == 0) {
      alert("Debe seleccionar al menos un tipo de local");
      return false;
    }

    if($(".tipos option:selected").length > 3) {
      alert("No puede seleccionar mas de 3 tipos de locales");
      return false;
    }
     
     var url = _root_ + "administrador/asignacion/traerTotems";     
     $.ajax({
        type: "POST",
        url: url,
        data: $("#selec_totem").serialize(),
        beforeSend: function(){
          $("#contenido_totem").html('');
        },
        success: function(data){
          if(data!='nada'){
            $("#contenido_totem").html(data);
            $("#selec_todo").show();
          }else{
            $("#contenido_totem").html('<h3>No hay resultados</h3>');
            $("#selec_todo").hide();
          }
          
                  
        }
     });
     return false;
    });
   $("#_enviar_data").click(function(){
       
     
      /*if($('#_porcentaje_medio_pago').val()!=''){
        if (isNaN($("#_porcentaje_medio_pago").val())){
          alert("Debe ingresar un valor numerico");
          $("#_porcentaje_medio_pago").focus();
          return false;
        }
      }
      
      if($('#_porcentaje_lider').val()!=''){
        if (isNaN($("#_porcentaje_lider").val())){
          alert("Debe ingresar un valor numerico");
          $("#_porcentaje_lider").focus();
          return false;
        }
      }*/
       
       //$("._loading").show();
       
      var _data_ = getData('#drag ul.conexion');
      $('input[name="_totems"]').val(_data_);
      var url = _root_ + "administrador/asignacion/consolidarTotems";     
        $.ajax({
          type: "POST",
          url: url,
          data: "totems="+$('#_totems').val()+"&_csrf=<?=$this->_sess->get('_csrf')?>",
          success: function(data){
             if(data == 1){
                  $('#_carga_OK').modal({show:true});
                  setTimeout(function() {
                      $('#_carga_OK').modal('hide');
                      window.location.href = _root_ + "administrador/asignacion/cargarHeader";
                  }, 2500);
              }else{
                  $("._respuesta").html('').append(data).fadeIn('slow');
               //$("._loading").hide();
              }
          }
        });
        return false;
    });
   
});
</script>
<div class="modal inmodal fade" id="_carga_OK" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    <a href="#" class="alert-link"> Guardando Datos. Espere...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="head-bg-fix"></div>
<div class="wpContent"> 
  <div class="btn-group-usuario">
      <a href="#" class="active">
       Seleccionar Totem
      </a>
      <a href="#">
       Asignar Contenido
      </a>
      <a href="#">
       Asignar Fechas
      </a>
  </div>          
            
  <div class="contentModify" style="padding-top: 50px">
          <h2>Totem</h2>
          <form class="form-horizontal" id="selec_totem" action="" method="POST" role="form">
            <input type="hidden" name="envio01" value="1" />
            <input type="hidden" id="_totems" name="_totems">
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
               
            <div class="bxContent">
                <h4>Podes seleccionar hasta 4 provincias</h4>
                                        
                <select class="form-control provs multipleSelect" multiple name="prov[]">
                  <?php foreach($this->provincias as $prov):?>
                  <option value="<?=$prov->id?>"><?=$prov->nombre?></option>
                  <?php endforeach?>   
                </select>

            </div>
            <div class="bxContent prov">
              <h4>Podes seleccionar hasta 3 tipos de locales</h4>        
                                     
              <select class="form-control tipos multipleSelect" multiple name="tipo_local[]">
                <?php foreach($this->tipo_locales as $tipo):?>
                <option value="<?=$tipo->id?>"><?=$tipo->nombre?></option>
                <?php endforeach?>                      
              </select>

            </div>

            <div class="bxContent">
                <div class="wpFormInput">
                  <h4>Locales excluidos <input type="checkbox" class="regular-checkbox"  id="excluidos" name="excluidos" value="si"><h4>
                </div>
            </div>
            
            <div class="bxContent">
              <input type="submit" class="btn btn-info btn-lg btn-block" id="buscar" name="buscar" value="Buscar" /> 
            </div>
            

            <div class="bxContent">
              <a id="selec_todo" class="btn btn-danger btn-sm btn-block btn-info" href="javascript:void(0);">Seleccionar todo</a> 
            </div>

            <div class="wpDragDrop">

                <ul id="contenido_totem" class="mid conexion wpContenidoAll" style="height: 350px; overflow-y: auto; padding: 10px;"></ul>

                <div id="drag" class="mid">
                  <ul class="list-group aaau conexion" id="drag_totem">
                    <?php if(isset($_SESSION['asignacion']['_totems'])):?> 
                    <?php $_totems = explode(',', $_SESSION['asignacion']['_totems']);?>                               
                    <?php for ($i=0; $i<count($_totems); $i++):?>
                    <li id="<?=admin::traerTotemPorID($_totems[$i])->id?>" class="cont_totem">
                        <h3><?=admin::traerTotemPorID($_totems[$i])->nombre?></h3>
                        <strong>Direccion:</strong><br><?=admin::convertirCaracteres(admin::traerTotemPorID($_totems[$i])->direccion)?>
                        <p><strong>Provincia:</strong><br><?=admin::traerProvinciaPorID(admin::traerTotemPorID($_totems[$i])->id_provincia)->nombre?></p>
                    </li>
                    <?php endfor?>
                    <?php endif?> 
                  </ul>
                </div>
            </div> 
                
            <div class="btn-nuevo-contenido">
              <input type="submit" class="btn btn-danger btn-lg btn-block btn-info" id="_enviar_data" name="continuar" value="Continuar" />  

                <ol class="breadcrumb">
                 <!-- <li class="active">Totems</li>
                   <li><?=(isset($_SESSION['asignacion']['_videos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarHeader">Videos</a>' : 'Header' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_catalogos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarCatalogos">Catalogos</a>' : 'Catalogos' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_footer'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFooter">Footer</a>' : 'Footer' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_fondos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/cargarFondos">Fondos</a>' : 'Fondos' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_fecha_inicial'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/asignacion/selecVigencia">Vigencia</a>' : 'Vigencia' ?></li> -->
                  <li class="active">Totems</li>
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarHeader">Videos</a></li>
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarCatalogos">Catalogos</a></li>
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarFooter">Footer</a></li>
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarFondos">Fondos</a></li>
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/cargarInactivas">Pantalla Inactiva</a></li>
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/asignacion/selecVigencia">Vigencia</a></li>
              </ol>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-9">
                    <div class="_respuesta" style="display:none;color:red;"></div>
                </div>
            </div>

    </form>
  </div>
    
</div>