<div id="head-bg-fix"></div>
<div class="wpContent"> 
      <div class="btn-group-usuario">
          <a href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos">
            Ver contenidos
          </a>

          <a href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos/cargarFooter">
            Cargar Footer
          </a>
      </div> 
        
      
      <div class="contFiltroUsuario">
        <form action="">
          <div style="min-width: 300px">
              <input class="form-control" id="buscador" name="buscador" placeholder="Buscar..." type="text" />
          </div>
              <input type="hidden" id="estado" name="estado" value="alta" />
              <input type="button" class="btn btn-danger" id="btBuscador" name="buscar" value="Buscar" />
          </form>
      </div>
      <div class="titVerContent"> <h4>Contenido Footer</h4> </div>     
                    
       
       <div id="contenedor" class="listContenidos verCont">  
            <ul id="lista" class="list-group listar">
            
                <?php foreach($this->promociones as $promociones):?>
                
            
                   
                  <?php $_img = admin::traerImgOrientacion($promociones->identificador,'thumb');?>
                  <?php if(isset($_img) && $_img !=''):?>                   
                  <li id="elemento-<?php echo $promociones->id?>" class="list-group-item item-footer" style="background-image: url(<?= $this->_conf['base_url'] . "public/img/subidas/promociones/thumb/". $_img[0]->path ?>)">                    
                  <?php else:?>
                  <li id="elemento-<?php echo $promociones->id?>" class="list-group-item item-footer" >
                  <?php endif?>

                    <div class="contInfo">
                    <p>
                        <?php echo admin::convertirCaracteres($promociones->titulo)?> 
                    </p>
                    <span>
                        
                        <a href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos/editarFooter/<?php echo $promociones->id?>">
                           <img src="<?=$this->_conf['base_url']?>public/img/ico-pencil.png" alt="editar" style="width: 27px"/>
                        </a>
                       
                       <!--  <a href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos/borrarFooter/<?php echo $promociones->id?>">
                           <img src="<?=$this->_conf['base_url']?>public/img/ico-cruz.png" alt="eliminar"/>
                        </a> -->  

                        <a href="javascript:void(0);" class="_borrar_<?php echo $promociones->id?>" title="Borrar">
                            <img src="<?=$this->_conf['base_url']?>public/img/ico-cruz.png" alt="eliminar"/>
                        </a>   
                    </span>
                  </div>
                  <script>
                    $(document).ready(function () {
                          $('._borrar_<?php echo $promociones->id?>').click(function () {
                              swal({
                                  title: "Estas seguro de borrar este contenido?",
                                  text: "Los datos se perderán permanentemente!",
                                  type: "warning",
                                  showCancelButton: true,
                                  confirmButtonColor: "#DD6B55",
                                  confirmButtonText: "Si, que se borre!",
                                  cancelButtonText: "No, mejor no!",
                                  closeOnConfirm: false,
                                  closeOnCancel: false },
                              function (isConfirm) {
                                  if (isConfirm) {
                                      var url= _root_ + "administrador/contenidos/borrarFooter";
                                      var dataString = '_id=<?=$promociones->id?>&_csrf=<?=$this->_sess->get('_csrf')?>';
                                      $.ajax({
                                              type: "POST",
                                              url: url,
                                              data: dataString,
                                              success: function(data){
                                                if(data=='ok'){
                                                  swal("Borrado!", "El contenido se borró con exito.", "success");
                                                  setTimeout(function() {
                                                      window.location.reload()
                                                  }, 200);
                                                }else{
                                                  swal("Cancelado", "No se puede borrar porque el contenido esta en uso", "error");
                                                }
                                                  
                                                  
                                              }
                                      });
                                  } else {
                                      swal("Cancelado", "El contenido esta guardado", "error");
                                  }
                              });
                          });
                      });
                   </script>
                </li>

                
                
                <?php endforeach?>
            </ul>
        </div>
        <!-- <div class="btn-nuevo-contenido">
          <a class="btn btn-danger dropdown-toggle" href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos/cargarFooter">
                          Cargar Footer
                        </a>
        </div> -->
        <div class="loader"></div>       
        
    </div>
</div>
<?php //echo $this->paginacion?>
<script>
$(document).ready(function() {
	
	$("#btBuscador").click(function(){	
	
	
		if ($("#buscador").val() == "") {
			return false;        
		}	
		
		var valor = $("#buscador").val();
		var estado = $("#estado").val();
		
		var dataString = 'valor='+valor+'&estado='+estado+'&_csrf=<?=$this->_sess->get('_csrf')?>';
		$.ajax({           	
            type: 'POST',
            url: _root_+"administrador/contenidos/buscadorFooter", 
			data: dataString,
            beforeSend: function(){
      				//$('.pagination').hide();
      				$('#contenedor').fadeOut('fast', function(){
      					$('.loader').fadeIn('fast');				
      				});
            },
            success: function(data){
      				$('#contenedor').html(data);
      				//$('.pagination').hide();
      				$('.loader').fadeOut('fast', function(){
      					$('#contenedor').fadeIn('fast');	
      					$('.loader').hide();			
      				});
				
            },
            error: function(){
                 alert('error!!');
            }
        });
		
		
	})
});	
</script>