<script>
$(function(){
	
	$('._load_img_final_horizontal,._load_img_final_vertical,._load_img_final_cuadrada').sortable({
			start: function (event, ui){
				ui.item.toggleClass("destello", 250);
			},
			stop: function (event, ui){
				ui.item.toggleClass("destello", 250);
			},
			update: function(event,ui){
				var ordenPuntos = $(this).sortable('toArray').toString();
				$.ajax({
					type: 'POST',
					url: _root_ + "administrador/contenidos/ordenarGal",
					data: "puntos="+ordenPuntos,
					beforeSend: function(){
						$('#cargadorImg').modal('show');
					},
					success: function(data){
						if(data==1){
							$('#cargadorImg').delay(2000).modal('hide');
							//window.location.href = _root_ + "administrador/blog";
						}
					}
				});
			}
	}).disableSelection();
});
$(document).ready(function() {
	
	<?php if($this->trabajo->imagenes_orientacion == 'horizontal'):?>
	$('.horizontal').show();
	$('.vertical').hide();
	$('.cuadrada').hide();
	<?php elseif($this->trabajo->imagenes_orientacion == 'vertical'):?>
	$('.vertical').show();
	$('.horizontal').hide();
	$('.cuadrada').hide();
	<?php else:?>
	$('.cuadrada').show();
	$('.horizontal').hide();
	$('.vertical').hide();
	<?php endif?>
	
	$("#imagenes_orientacion").on('change', function() {
		var _val = this.value;
		if(_val == 'horizontal'){
			$('.horizontal').slideDown('fast');
			$('.vertical').slideUp('fast');
			$('.cuadrada').slideUp('fast');
		}else if(_val == 'vertical'){
			$('.vertical').slideDown('fast');
			$('.horizontal').slideUp('fast');
			$('.cuadrada').slideUp('fast');
		}else{
			$('.cuadrada').slideDown('fast');
			$('.horizontal').slideUp('fast');
			$('.vertical').slideUp('fast');
		}
		
	});
	
	$('#editar_trabajo').submit(function(){
		
			
			/*if ($("#id_computadora").val() == "") {
				alert("Debe completar el campo ID Computadora");
				$("#id_computadora").val('');
				$('#id_computadora').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}*/
			
			if ($("#titulo").val() == "") {
				alert("Debe completar el campo titulo");
				$("#titulo").val('');
				$('#titulo').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}

			if($('._load_img_final_thumb').children().length == 0){
			  alert("Debe seleccionar una imagen thumb");
			  return false; 
			}

			if($('._load_img_final_horizontal').is(':visible')){
				if($('._load_img_final_horizontal').children().length == 0){
				  alert("Debe seleccionar una imagen");
				  return false; 
				}
			}

			if($('._load_img_final_vertical').is(':visible')){
				if($('._load_img_final_vertical').children().length == 0){
				  alert("Debe seleccionar una imagen");
				  return false; 
				}
			}

			if($('._load_img_final_cuadrada').is(':visible')){
				if($('._load_img_final_cuadrada').children().length == 0){
				  alert("Debe seleccionar una imagen");
				  return false; 
				}
			}
			
		/*	
			var _vig_desde = $("#vigencia_desde").val();
			_vig_desde = convertDateFormat(_vig_desde);
			var _vig_hasta = $("#vigencia_hasta").val();
			_vig_hasta = convertDateFormat(_vig_hasta);
			
			var _desde = new Date(_vig_desde);
			var _hasta = new Date(_vig_hasta);
			console.log(_desde);
			console.log(_hasta);
			if (_desde >= _hasta) {
				alert("La fecha de inicio debe ser menor que la de finalizacion");
				$("#vigencia_desde").val('');
				$('#vigencia_desde').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false; 
			}	
			
			
			if ($("#puesto").val() == "") {
				alert("Debe completar el campo puesto");
				$("#puesto").val('');
				$('#puesto').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
						
			
			if ($("#imagen").val() == "") {
				alert("Debe subir una imagen");
				$('#imagen').focus();			
				return false;        
			}*/
			
			
			return true;
		
	
	});
	
	
	
});
</script>

<div id="head-bg-fix"></div>
<div class="wpContent"> 
	<div class="btn-group-usuario">
	  <a class="active" href="#">
	    Editar Catálogo
	  </a>
	</div> 
        
        <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" enctype="multipart/form-data">
            <input type="hidden" name="envio01" value="1" />
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
                
                <div class="">
              		<label for="titulo">Nombre Catalogo</label>
                  	<div class="wpFormInput">
                        <input type="text" id="titulo" name="titulo" placeholder="Nombre Catalogo" value="<?php echo $this->trabajo->titulo?>">
                       
                   	</div>
           		</div>                 	
               
                
                 <div class="">
              		<label for="contenido">Imagen Thumb</label>
                  	<div class="wpFormInput">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img_thumb">
                               Cargar Imagen
                            </button>
                        <div class="ccimg">
                        	<div class="list-group aa conexionThumb _load_img_final_thumb" id="bloque_imgs_usuario">
							<?php $_img = admin::traerImgOrientacion($this->trabajo->identificador,'thumb');?>
							<?php if($_img !=''):?>
                            <?php foreach($_img as $_imgg):?>
                            <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$this->trabajo->identificador."/thumb/". $_imgg->path ?>"  class="img-thumbnail">
                            <?php endforeach?>
                            <?php endif?>
                            </div>
                        </div>
                   	</div>                    
           		</div>
                
                
                <div class="">
              		<label for="imagenes_orientacion">Orientación imágenes Catálogo</label>
                  	<div class="wpFormInput select">
                   		<select name="imagenes_orientacion" id="imagenes_orientacion">
                       	 <option value="horizontal" <?=($this->trabajo->imagenes_orientacion == 'horizontal') ? 'selected="selected"' : ''?>>Horizontal</option>
                         <option value="vertical" <?=($this->trabajo->imagenes_orientacion == 'vertical') ? 'selected="selected"' : ''?>>Vertical</option>
                         <option value="cuadrada" <?=($this->trabajo->imagenes_orientacion == 'cuadrada') ? 'selected="selected"' : ''?>>Cuadrada</option>
                        </select>
                    </div>
           		</div> 
               
                
                
                <div class=" horizontal">
              		<label for="contenido">Imágenes Horizontales</label>
                  	<div class="wpFormInput">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img_horizontal">
                               Cargar Imágenes
                            </button>
                    <!-- </div>
                    <div class="wpFormInput"> -->
                        <div class="ccimg">
                        	<ul class="list-group aa conexion _load_img_final_horizontal" id="bloque_imgs_usuario">
							<?php $_img = admin::traerImgOrientacion($this->trabajo->identificador,'horizontal');?>
							<?php foreach($_img as $_imgg):?>
                            <li id="img-<?=$_imgg->id?>">
                                <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$this->trabajo->identificador."/". $_imgg->path ?>"  class="img-thumbnail">
                                <br>
                                <input name="eliminar_gal[]" class="regular-checkbox" type="checkbox" value="<?=$_imgg->id?>" /> Eliminar Imagen
                            </li>
							<?php endforeach?>
                            </ul>
                        </div>
                   	</div>                    
           		</div>
                
                
                <div class=" vertical">
              		<label for="contenido">Imágenes Verticales</label>
                  	<div class="wpFormInput">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img_vertical">
                                Cargar Imágenes
                            </button>
                        <div class="ccimg">
                        	<ul class="list-group aa conexion _load_img_final_vertical" id="bloque_imgs_usuario">					
                            
							<?php $_img = admin::traerImgOrientacion($this->trabajo->identificador,'vertical');?>
							<?php foreach($_img as $_imgg):?>
                            <li id="img-<?=$_imgg->id?>">
	                            <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$this->trabajo->identificador."/". $_imgg->path ?>"  class="img-thumbnail">
	                            <br>
	                            <input name="eliminar_gal[]" class="regular-checkbox" type="checkbox" value="<?=$_imgg->id?>" /> Eliminar Imagen
                            </li>
							<?php endforeach?>
                            
                            </ul>
                        </div>
                   	</div>                    
           		</div>
                
                
                <div class=" cuadrada">
              		<label for="contenido">Imágenes Cuadradas</label>
                  	<div class="wpFormInput">

                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img_cuadrada">
                                Cargar Imágenes
                            </button>

                        <div class="ccimg">
                        	<ul class="list-group aa conexion _load_img_final_cuadrada" id="bloque_imgs_usuario">					
                            
							<?php $_img = admin::traerImgOrientacion($this->trabajo->identificador,'cuadrada');?>
							<?php foreach($_img as $_imgg):?>
                            <li id="img-<?=$_imgg->id?>">
	                            <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$this->trabajo->identificador."/". $_imgg->path ?>"  class="img-thumbnail">
	                            <br>
	                            <input name="eliminar_gal[]" class="regular-checkbox" type="checkbox" value="<?=$_imgg->id?>" /> Eliminar Imagen
                            </li>
							<?php endforeach?>
                            
                            </ul>
                        </div>
                   	</div>                    
           		</div> 
                
      		<div class="btnEditCont">
               	<input type="submit" class="btn" id="validatex" name="cargar" value="Guardar" />
            </div>
	</form>
    
</div>


<div class="modal inmodal fade" id="_car_img_horizontal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imágenes</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 50,
						maxFiles: 50,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var anchoMinimo = <?=$this->_conf['formatos_img']['ancho_minimo_catalogos']['ancho']?>;
							var maxImageWidth = <?=$this->_conf['formatos_img']['catalogos_horizontal']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['catalogos_horizontal']['alto']?>,
   								maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								myDropzone.processQueue();
							});
			
							this.on("thumbnail", function(file) {
								if(file.width < file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser horizontal");
									return false;
								}
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}
								
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
								/*if(file.width < file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser horizontal");
									return false;
								}
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}*/
								
								/*if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								
								if (file.width > maxImageWidth || file.height > maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}*/
								
								/*else{
									if(file.size < 1024*1024*2){
										//2MB
										file.acceptDimensions();
									}
								}*/
							})
							
							this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final_horizontal();});
							this.on("maxfilesexceeded", function(file){this.removeFile(file);});
							this.on("error", function(file) {alert(file)});
							//this.on("complete", function(file) {this.removeAllFiles(file);});
							
							/*this.on("queuecomplete", function(file) {
								this.removeAllFiles(file);
							});
							this.on("maxfilesexceeded", function(file){
								this.removeFile(file);
							});
							this.on("error", function(file) {
								//alert(file);
								if(file.width < file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser horizontal");
									return false;
								}
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}
								
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
							});
							this.on("success", function(file) {
								this.removeAllFiles(file);
								img_final_horizontal();
							});*/
						}
					};
               
               				
				
				
                function img_final_horizontal(){
                    var url= _root_ + "administrador/imagenes/traerImagenesGaleriasEditar/catalogos/cat_<?=$this->trabajo->identificador?>";
                    $.ajax({
                        url:url,
                        type:"POST",
                        dataType:"html",
                        error:function(data){
                            $("._load_img_final_horizontal").html(data);
                            $('#_car_img_horizontal').modal('hide');
                        },
                        success:function(datas){
                            $("._load_img_final_horizontal").append(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
							//$(".finalizar_proceso").show();
							$('#_car_img_horizontal').modal('hide');
                        },
                    });
                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgLoteEditar/catalogos_horizontal/cat_<?=$this->trabajo->identificador?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                                             
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                            	<small>Tamaño: <strong><?=$this->_conf['formatos_img']['catalogos_horizontal']['ancho']?> x <?=$this->_conf['formatos_img']['catalogos_horizontal']['alto']?> px</strong></small>
                                <br>
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>        
                            </p>
                        </div>
                    </div>
                    
                  
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>


<div class="modal inmodal fade" id="_car_img_vertical" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imágenes</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone2 = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 50,
						maxFiles: 50,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var anchoMinimo = <?=$this->_conf['formatos_img']['ancho_minimo_catalogos']['ancho']?>;
							var maxImageWidth = <?=$this->_conf['formatos_img']['catalogos_vertical']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['catalogos_vertical']['alto']?>,
   								maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								myDropzone.processQueue();
							});
			
							this.on("thumbnail", function(file) {
								if(file.width > file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser vertical");
									return false;
								}
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}
								
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
								/*if(file.width > file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser vertical");
									return false;
								}
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}*/
								
								/*if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								
								if (file.width > maxImageWidth || file.height > maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}*/
								
								/*else{
									if(file.size < 1024*1024*2){
										//2MB
										file.acceptDimensions();
									}
								}*/
							})
							
							this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final_vertical();});
							this.on("maxfilesexceeded", function(file){this.removeFile(file);});
							this.on("error", function(file) {alert(file)});
							//this.on("complete", function(file) {this.removeAllFiles(file);});
							
							/*this.on("queuecomplete", function(file) {
								this.removeAllFiles(file);
							});
							this.on("maxfilesexceeded", function(file){
								this.removeFile(file);
							});
							this.on("error", function(file) {
								//alert(file);
								if(file.width > file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser vertical");
									return false;
								}
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}
								
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
							});
							this.on("success", function(file) {
								this.removeAllFiles(file);
								img_final_vertical();
							});*/
						}
					};
               
               				
				
				
                function img_final_vertical(){
                    var url= _root_ + "administrador/imagenes/traerImagenesGaleriasEditar/catalogos/cat_<?=$this->trabajo->identificador?>";
                    $.ajax({
                        url:url,
                        type:"POST",
                        dataType:"html",
                        error:function(data){
                            $("._load_img_final_vertical").html(data);
                            $('#_car_img_vertical').modal('hide');
                        },
                        success:function(datas){
                            $("._load_img_final_vertical").append(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
							//$(".finalizar_proceso").show();
							$('#_car_img_vertical').modal('hide');
                        },
                    });
                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone2" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgLoteEditar/catalogos_vertical/cat_<?=$this->trabajo->identificador?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                                             
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                            	<small>Tamaño: <strong><?=$this->_conf['formatos_img']['catalogos_vertical']['ancho']?> x <?=$this->_conf['formatos_img']['catalogos_vertical']['alto']?> px</strong></small>
                                <br>
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>        
                            </p>
                        </div>
                    </div>
                    
                  
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>

<div class="modal inmodal fade" id="_car_img_cuadrada" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imágenes</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone4 = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 50,
						maxFiles: 50,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var anchoMinimo = <?=$this->_conf['formatos_img']['ancho_minimo_catalogos']['ancho']?>;
							var maxImageWidth = <?=$this->_conf['formatos_img']['catalogos_cuadrado']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['catalogos_cuadrado']['alto']?>,
   								maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								myDropzone.processQueue();
							});
			
							this.on("thumbnail", function(file) {
								if(file.width != file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser cuadrada");
									return false;
								}
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}
								
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
								/*if(file.width != file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser cuadrada");
									return false;
								}
								
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}*/
								
							/*	if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								
								if (file.width > maxImageWidth || file.height > maxImageHeight) {
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}else{
									if(file.size < 1024*1024*2){
										//2MB
										file.acceptDimensions();
									}
								}*/
							})
							
							this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final_cuadrada();});
							this.on("maxfilesexceeded", function(file){this.removeFile(file);});
							this.on("error", function(file) {alert(file)});
							//this.on("complete", function(file) {this.removeAllFiles(file);});
							
							/*this.on("queuecomplete", function(file) {
								this.removeAllFiles(file);
							});
							this.on("maxfilesexceeded", function(file){
								this.removeFile(file);
							});
							this.on("error", function(file) {
								//alert(file);
								if(file.width != file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser cuadrada");
									return false;
								}
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}
								
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
							});
							this.on("success", function(file) {
								this.removeAllFiles(file);
								img_final_cuadrada();
							});*/
						}
					};
               
               				
				
				
                function img_final_cuadrada(){
                    var url= _root_ + "administrador/imagenes/traerImagenesGaleriasEditar/catalogos/cat_<?=$this->trabajo->identificador?>";
                    $.ajax({
                        url:url,
                        type:"POST",
                        dataType:"html",
                        error:function(data){
                            $("._load_img_final_cuadrada").html(data);
                            $('#_car_img_cuadrada').modal('hide');
                        },
                        success:function(datas){
                            $("._load_img_final_cuadrada").append(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
							//$(".finalizar_proceso").show();
							$('#_car_img_cuadrada').modal('hide');
                        },
                    });
                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone4" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgLoteEditar/catalogos_cuadrada/cat_<?=$this->trabajo->identificador?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                                             
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                            	<small>Tamaño: <strong><?=$this->_conf['formatos_img']['catalogos_cuadrado']['ancho']?> x <?=$this->_conf['formatos_img']['catalogos_cuadrado']['alto']?> px</strong></small>
                                <br>
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>        
                            </p>
                        </div>
                    </div>
                    
                  
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>


<div class="modal inmodal fade" id="_car_img_thumb" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imagen</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone3 = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 1,
						maxFiles: 1,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var maxImageWidth = <?=$this->_conf['formatos_img']['catalogos_thumb']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['catalogos_thumb']['alto']?>,
   								maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								
								
								
								//alert("llego");
								myDropzone.processQueue();
								//$("#_car_imgg .recortar_img").fadeOut('slow');
							});
			
							this.on("thumbnail", function(file) {
								if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
								
								/*if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}*/
								
								/*if (file.width > maxImageWidth || file.height > maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}*/
							})
							
							this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final();});
							this.on("maxfilesexceeded", function(file){this.removeFile(file);});
							this.on("error", function(file) {alert(file)});
							//this.on("complete", function(file) {this.removeAllFiles(file);});

							/*this.on("queuecomplete", function(file) {
								this.removeAllFiles(file);
							});
							this.on("maxfilesexceeded", function(file){
								this.removeFile(file);
							});
							this.on("error", function(file) {
								//alert(file);
								if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
							});
							this.on("success", function(file) {
								this.removeAllFiles(file);
								img_final();
							});*/
						}
					};
               
               				
							
				
                function img_final(){
                    var url= _root_ + "administrador/imagenes/traerImagenfinal/catalogos/cat_<?=$this->trabajo->identificador?>";
                    $.ajax({
                        url:url,
                        type:"POST",
                        dataType:"html",
                        error:function(data){
                            $("._load_img_final_thumb").html(data);
                            $('#_car_img_thumb').modal('hide');
                        },
                        success:function(datas){
                            $("._load_img_final_thumb").html(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
							//$(".finalizar_proceso").show();
							$('#_car_img_thumb').modal('hide');
                        },
                    });
                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone3" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgEditar/catalogos_thumb/cat_<?=$this->trabajo->identificador?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                      
                                                        
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                            	<small>Tamaño: <strong><?=$this->_conf['formatos_img']['catalogos_thumb']['ancho']?> x <?=$this->_conf['formatos_img']['catalogos_thumb']['alto']?> px</strong></small>
                                <br>
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>        
                            </p>
                        </div>
                    </div>
                    
                 
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>
<div id="cargadorImg" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <h2><strong>Guardando orden galeria...</strong></h2>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>