<script src="http://cdn.ckeditor.com/4.5.11/standard-all/ckeditor.js"></script>
<script>
$.datepicker.regional['es'] = {
closeText: 'Cerrar',
prevText: '<Ant',
nextText: 'Sig>',
currentText: 'Hoy',
monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
weekHeader: 'Sm',
dateFormat: 'dd-mm-yy',
firstDay: 1,
isRTL: false,
showMonthAfterYear: false,
yearSuffix: ''
};
$.datepicker.setDefaults($.datepicker.regional['es']);
$(function() {
    $('#vigencia_desde').datepicker({
        dateFormat: 'dd-mm-yy'
    });
	
	$('#vigencia_hasta').datepicker({
        dateFormat: 'dd-mm-yy'
    });
});


$(function(){
	
	$('._load_img_final_horizontal,._load_img_final_vertical,._load_img_final_cuadrada').sortable({
			start: function (event, ui){
				ui.item.toggleClass("destello", 250);
			},
			stop: function (event, ui){
				ui.item.toggleClass("destello", 250);
			},
			update: function(event,ui){
				var ordenPuntos = $(this).sortable('toArray').toString();
				$.ajax({
					type: 'POST',
					url: _root_ + "administrador/catalogos/ordenarGal",
					data: "puntos="+ordenPuntos,
					beforeSend: function(){
						$('#cargadorImg').modal('show');
					},
					success: function(data){
						if(data==1){
							$('#cargadorImg').delay(2000).modal('hide');
							//window.location.href = _root_ + "administrador/blog";
						}
					}
				});
			}
	}).disableSelection();
});

$(document).ready(function() {
	
	<?php if($this->trabajo->imagenes_orientacion == 'horizontal'):?>
	$('.horizontal').show();
	$('.vertical').hide();
	$('.cuadrada').hide();
	<?php elseif($this->trabajo->imagenes_orientacion == 'vertical'):?>
	$('.vertical').show();
	$('.horizontal').hide();
	$('.cuadrada').hide();
	<?php else:?>
	$('.cuadrada').show();
	$('.horizontal').hide();
	$('.vertical').hide();
	<?php endif?>
	
	$("#imagenes_orientacion").on('change', function() {
		var _val = this.value;
		if(_val == 'horizontal'){
			$('.horizontal').slideDown('fast');
			$('.vertical').slideUp('fast');
			$('.cuadrada').slideUp('fast');
		}else if(_val == 'vertical'){
			$('.vertical').slideDown('fast');
			$('.horizontal').slideUp('fast');
			$('.cuadrada').slideUp('fast');
		}else{
			$('.cuadrada').slideDown('fast');
			$('.horizontal').slideUp('fast');
			$('.vertical').slideUp('fast');
		}
		
	});
	
	$('#editar_trabajo').submit(function(){
		
			
			if ($("#id_computadora").val() == "") {
				alert("Debe completar el campo ID Computadora");
				$("#id_computadora").val('');
				$('#id_computadora').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
			
			if ($("#titulo").val() == "") {
				alert("Debe completar el campo titulo");
				$("#titulo").val('');
				$('#titulo').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
			
			
			var _vig_desde = $("#vigencia_desde").val();
			_vig_desde = convertDateFormat(_vig_desde);
			var _vig_hasta = $("#vigencia_hasta").val();
			_vig_hasta = convertDateFormat(_vig_hasta);
			
			var _desde = new Date(_vig_desde);
			var _hasta = new Date(_vig_hasta);
			console.log(_desde);
			console.log(_hasta);
			if (_desde >= _hasta) {
				alert("La fecha de inicio debe ser menor que la de finalizacion");
				$("#vigencia_desde").val('');
				$('#vigencia_desde').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false; 
			}	
			
			
			/*if ($("#puesto").val() == "") {
				alert("Debe completar el campo puesto");
				$("#puesto").val('');
				$('#puesto').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
						
			
			if ($("#imagen").val() == "") {
				alert("Debe subir una imagen");
				$('#imagen').focus();			
				return false;        
			}*/
			
			
			return true;
		
	
	});
	
	
	
});

function convertDateFormat(string) {
  var info = string.split('-');
  return info[2] + '-' + info[1] + '-' + info[0];
}

</script>
<div class="row">
  	<div class="col-lg-12">
    	
        <div class="row">
        
        	<form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" enctype="multipart/form-data">
            <input type="hidden" name="envio01" value="1" />
            
            <fieldset>
    			<legend>Editar Catálogo</legend> 
            	
                
                
                
                
                 <div class="form-group formulario_back">
                    <label for="id_computadora" class="col-lg-2 control-label">ID Computadora</label>
                    <div class="col-lg-10">                            
                        <!-- <input class="form-control color" id="id_computadora" name="id_computadora" type="text" placeholder="ID Computadora" value="<?php echo $this->trabajo->id_computadora?>"/>-->
                         <select class="form-control" name="id_computadora" id="id_computadora">
                         <?php foreach($this->cod as $cod):?>
                         <?php if($cod->codigo == $this->trabajo->id_computadora):?>
                         <option value="<?=$cod->codigo?>" selected="selected"><?=$cod->nombre?> - id: <?=$cod->codigo?></option>
                         <?php else:?>
                         <option value="<?=$cod->codigo?>"><?=$cod->nombre?> - id: <?=$cod->codigo?></option>
                         <?php endif?>
                         
                         <?php endforeach?>
                         </select>
                     </div>  
                </div>
                
                
                <div class="form-group formulario_back">
              		<label for="titulo" class="col-lg-2 control-label">Titulo</label>
                  	<div class="col-lg-10">
                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="<?php echo $this->trabajo->titulo?>">
                       
                   	</div>
           		</div>                 	
                         
               
               <div class="form-group formulario_back">
              		<label for="descripcion" class="col-lg-2 control-label">Descripción</label>
                  	<div class="col-lg-10">
                   		<textarea class="form-control" id="descripcion" name="descripcion"><?php echo $this->trabajo->descripcion?></textarea>
						 <script>
                            CKEDITOR.replace('descripcion', {
                                extraPlugins: 'colorbutton'
                            });
                        </script>
                   	</div>
           		</div>
                
                <div class="form-group formulario_back">
                    <label for="vigencia" class="col-lg-2 control-label">Vigencia</label>
                    <div class="col-lg-1">desde</div>
                    <div class="col-lg-2">                            
                         <input class="form-control color" id="vigencia_desde" name="vigencia_desde" type="text" placeholder="Vigencia desde" value="<?php echo $this->trabajo->vigencia_desde->format("d-m-Y")?>"/>
                     </div> 
                     <div class="col-lg-1">hasta</div>
                     <div class="col-lg-2"> 
                     	 <input class="form-control color" id="vigencia_hasta" name="vigencia_hasta" type="text" placeholder="Vigencia hasta" value="<?php echo $this->trabajo->vigencia_hasta->format("d-m-Y")?>"/>
                     </div>  
                </div>
                
                
                 <div class="form-group formulario_back">
              		<label for="contenido" class="col-lg-2 control-label">Imagen Thumb</label>
                  	<div class="col-lg-10">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img_thumb">
                               Cargar Imagen
                            </button>
                        </div>
                        <div class="col-lg-6">
                        	<div class="list-group aa conexion _load_img_final_thumb" id="bloque_imgs_usuario">
							<?php $_img = admin::traerImgOrientacion($this->trabajo->identificador,'thumb');?>
							<?php if($_img !=''):?>
                            <?php foreach($_img as $_imgg):?>
                            <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$this->trabajo->identificador."/thumb/". $_imgg->path ?>"  class="img-thumbnail">
                            <?php endforeach?>
                            <?php endif?>
                            </div>
                        </div>
                   	</div>                    
           		</div>
                
                
                <div class="form-group formulario_back">
              		<label for="imagenes_orientacion" class="col-lg-2 control-label">Orientación <br />Imágenes Catálogo</label>
                  	<div class="col-lg-10">
                   		<select class="form-control" name="imagenes_orientacion" id="imagenes_orientacion">
                       	 <option value="horizontal" <?=($this->trabajo->imagenes_orientacion == 'horizontal') ? 'selected="selected"' : ''?>>Horizontal</option>
                         <option value="vertical" <?=($this->trabajo->imagenes_orientacion == 'vertical') ? 'selected="selected"' : ''?>>Vertical</option>
                         <option value="cuadrada" <?=($this->trabajo->imagenes_orientacion == 'cuadrada') ? 'selected="selected"' : ''?>>Cuadrada</option>
                        </select>
                    </div>
           		</div> 
               
                
                
                <div class="form-group formulario_back horizontal">
              		<label for="contenido" class="col-lg-2 control-label">Imágenes Horizontales</label>
                  	<div class="col-lg-10">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img_horizontal">
                               Cargar Imágenes
                            </button>
                        </div>
                        <div class="col-lg-6">
                        	<ul class="list-group aa conexion _load_img_final_horizontal" id="bloque_imgs_usuario">
							<?php $_img = admin::traerImgOrientacion($this->trabajo->identificador,'horizontal');?>
							<?php foreach($_img as $_imgg):?>
                            <li id="img-<?=$_imgg->id?>">
                                <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$this->trabajo->identificador."/". $_imgg->path ?>"  class="img-thumbnail">
                                <input name="eliminar_gal[]" type="checkbox" value="<?=$_imgg->id?>" /> Eliminar Imagen
                            </li>
							<?php endforeach?>
                            </ul>
                        </div>
                   	</div>                    
           		</div>
                
                
                <div class="form-group formulario_back vertical">
              		<label for="contenido" class="col-lg-2 control-label">Imágenes Verticales</label>
                  	<div class="col-lg-10">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img_vertical">
                                Cargar Imágenes
                            </button>
                        </div>
                        <div class="col-lg-6">
                        	<ul class="list-group aa conexion _load_img_final_vertical" id="bloque_imgs_usuario">					
                            
							<?php $_img = admin::traerImgOrientacion($this->trabajo->identificador,'vertical');?>
							<?php foreach($_img as $_imgg):?>
                            <li id="img-<?=$_imgg->id?>">
                            <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$this->trabajo->identificador."/". $_imgg->path ?>"  class="img-thumbnail">
                            <input name="eliminar_gal[]" type="checkbox" value="<?=$_imgg->id?>" /> Eliminar Imagen
                            </li>
							<?php endforeach?>
                            
                            </ul>
                        </div>
                   	</div>                    
           		</div>
                
                
                <div class="form-group formulario_back cuadrada">
              		<label for="contenido" class="col-lg-2 control-label">Imágenes Cuadradas</label>
                  	<div class="col-lg-10">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img_cuadrada">
                                Cargar Imágenes
                            </button>
                        </div>
                        <div class="col-lg-6">
                        	<ul class="list-group aa conexion _load_img_final_cuadrada" id="bloque_imgs_usuario">					
                            
							<?php $_img = admin::traerImgOrientacion($this->trabajo->identificador,'cuadrada');?>
							<?php foreach($_img as $_imgg):?>
                            <li id="img-<?=$_imgg->id?>">
                            <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/catalogos/cat_".$this->trabajo->identificador."/". $_imgg->path ?>"  class="img-thumbnail">
                            <input name="eliminar_gal[]" type="checkbox" value="<?=$_imgg->id?>" /> Eliminar Imagen
                            </li>
							<?php endforeach?>
                            
                            </ul>
                        </div>
                   	</div>                    
           		</div> 
                               
                
                
                
                <div class="form-group">
                	<div class="col-lg-12">
                    	<input type="submit" class="btn btn-primary btn-lg btn-block" id="validatex" name="cargar" value="Guardar" />
                	</div>
                </div>
		</fieldset>
	</form>
	</div>
    
	<br><br>
        
    </div>
    
</div>


<div class="modal inmodal fade" id="_car_img_horizontal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imágenes</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 10,
						maxFiles: 10,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var anchoMinimo = <?=$this->_conf['formatos_img']['ancho_minimo_catalogos']['ancho']?>;
							var maxImageWidth = <?=$this->_conf['formatos_img']['catalogos_horizontal']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['catalogos_horizontal']['alto']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								myDropzone.processQueue();
							});
			
							this.on("thumbnail", function(file) {
								if(file.width < file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser horizontal");
									return false;
								}
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}
								
								/*if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								
								if (file.width > maxImageWidth || file.height > maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}*/
								
								/*else{
									if(file.size < 1024*1024*2){
										//2MB
										file.acceptDimensions();
									}
								}*/
							})
							
							this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final_horizontal();});
							this.on("maxfilesexceeded", function(file){this.removeFile(file);});
							this.on("error", function(file) {alert(file)});
							//this.on("complete", function(file) {this.removeAllFiles(file);});
						}
					};
               
               				
				
				
                function img_final_horizontal(){
                    var url= _root_ + "administrador/imagenes/traerImagenesGaleriasEditar/catalogos/cat_<?=$this->trabajo->identificador?>";
                    $.ajax({
                        url:url,
                        contentType:"application/x-www-form-urlencoded",
                        dataType:"html",
                        error:function(){
                            $("._load_img_final_horizontal").html("La conexion se ha perdido. <a href='" + _root_ + "administrador/imagenes'>Reinicie el proceso.</a>");
                        },
            
                        ifModified:false,
                        processData:true,
                        success:function(datas){
                            $("._load_img_final_horizontal").append(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
							//$(".finalizar_proceso").show();
							$('#_car_img_horizontal').modal('hide');
                        },
                        type:"POST",
                        timeout:3000
                    });
                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgLoteEditar/catalogos_horizontal/cat_<?=$this->trabajo->identificador?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                                             
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>        
                            </p>
                        </div>
                    </div>
                    
                  
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>

<div class="modal inmodal fade" id="_car_img_vertical" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imágenes</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone2 = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 10,
						maxFiles: 10,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var anchoMinimo = <?=$this->_conf['formatos_img']['ancho_minimo_catalogos']['ancho']?>;
							var maxImageWidth = <?=$this->_conf['formatos_img']['catalogos_vertical']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['catalogos_vertical']['alto']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								myDropzone.processQueue();
							});
			
							this.on("thumbnail", function(file) {
								if(file.width > file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser vertical");
									return false;
								}
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}
								
								/*if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								
								if (file.width > maxImageWidth || file.height > maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}*/
								
								/*else{
									if(file.size < 1024*1024*2){
										//2MB
										file.acceptDimensions();
									}
								}*/
							})
							
							this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final_vertical();});
							this.on("maxfilesexceeded", function(file){this.removeFile(file);});
							this.on("error", function(file) {alert(file)});
							//this.on("complete", function(file) {this.removeAllFiles(file);});
						}
					};
               
               				
				
				
                function img_final_vertical(){
                    var url= _root_ + "administrador/imagenes/traerImagenesGaleriasEditar/catalogos/cat_<?=$this->trabajo->identificador?>";
                    $.ajax({
                        url:url,
                        contentType:"application/x-www-form-urlencoded",
                        dataType:"html",
                        error:function(){
                            $("._load_img_final_vertical").html("La conexion se ha perdido. <a href='" + _root_ + "administrador/imagenes'>Reinicie el proceso.</a>");
                        },
            
                        ifModified:false,
                        processData:true,
                        success:function(datas){
                            $("._load_img_final_vertical").append(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
							//$(".finalizar_proceso").show();
							$('#_car_img_vertical').modal('hide');
                        },
                        type:"POST",
                        timeout:3000
                    });
                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone2" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgLoteEditar/catalogos_vertical/cat_<?=$this->trabajo->identificador?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                                             
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>        
                            </p>
                        </div>
                    </div>
                    
                  
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>


<div class="modal inmodal fade" id="_car_img_cuadrada" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imágenes</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone4 = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 10,
						maxFiles: 10,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var anchoMinimo = <?=$this->_conf['formatos_img']['ancho_minimo_catalogos']['ancho']?>;
							var maxImageWidth = <?=$this->_conf['formatos_img']['catalogos_vertical']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['catalogos_vertical']['alto']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								myDropzone.processQueue();
							});
			
							this.on("thumbnail", function(file) {
								if(file.width != file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser cuadrada");
									return false;
								}
								
								if (file.width < anchoMinimo) {
									this.removeFile(file);
									alert("La imagen debe tener un ancho minimo de "+anchoMinimo+"px");
									return false;
								}
								
							/*	if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								
								if (file.width > maxImageWidth || file.height > maxImageHeight) {
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}else{
									if(file.size < 1024*1024*2){
										//2MB
										file.acceptDimensions();
									}
								}*/
							})
							
							this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final_cuadrada();});
							this.on("maxfilesexceeded", function(file){this.removeFile(file);});
							this.on("error", function(file) {alert(file)});
							//this.on("complete", function(file) {this.removeAllFiles(file);});
						}
					};
               
               				
				
				
                function img_final_cuadrada(){
                    var url= _root_ + "administrador/imagenes/traerImagenesGaleriasEditar/catalogos/cat_<?=$this->trabajo->identificador?>";
                    $.ajax({
                        url:url,
                        contentType:"application/x-www-form-urlencoded",
                        dataType:"html",
                        error:function(){
                            $("._load_img_final_cuadrada").html("La conexion se ha perdido. <a href='" + _root_ + "administrador/imagenes'>Reinicie el proceso.</a>");
                        },
            
                        ifModified:false,
                        processData:true,
                        success:function(datas){
                            $("._load_img_final_cuadrada").append(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
							//$(".finalizar_proceso").show();
							$('#_car_img_cuadrada').modal('hide');
                        },
                        type:"POST",
                        timeout:3000
                    });
                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone4" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgLoteEditar/catalogos_cuadrada/cat_<?=$this->trabajo->identificador?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                                             
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>        
                            </p>
                        </div>
                    </div>
                    
                  
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>



<div class="modal inmodal fade" id="_car_img_thumb" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imagen</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone3 = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 1,
						maxFiles: 1,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var maxImageWidth = <?=$this->_conf['formatos_img']['catalogos_thumb']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['catalogos_thumb']['alto']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								
								
								
								//alert("llego");
								myDropzone.processQueue();
								//$("#_car_imgg .recortar_img").fadeOut('slow');
							});
			
							this.on("thumbnail", function(file) {
								/*if(file.width > file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser vertical");
									return false;
								}*/
								
								if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								
								/*if (file.width > maxImageWidth || file.height > maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}*/
							})
							
							this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final();});
							this.on("maxfilesexceeded", function(file){this.removeFile(file);});
							this.on("error", function(file) {alert(file)});
							//this.on("complete", function(file) {this.removeAllFiles(file);});
						}/*,
						accept: function(file, done) {
							file.acceptDimensions = done;
							file.rejectDimensions = function() {
								//$("#_car_imgg .recortar_img").fadeOut('slow');
								done('La imagen tiene un formato ilegal');
							};
						},*/
					};
               
               				
							
				
                function img_final(){
                    var url= _root_ + "administrador/imagenes/traerImagenfinal/catalogos/cat_<?=$this->trabajo->identificador?>";
                    $.ajax({
                        url:url,
                        contentType:"application/x-www-form-urlencoded",
                        dataType:"html",
                        error:function(){
                            $("._load_img_final_thumb").html("La conexion se ha perdido. <a href='" + _root_ + "administrador/imagenes'>Reinicie el proceso.</a>");
                        },
            
                        ifModified:false,
                        processData:true,
                        success:function(datas){
                            $("._load_img_final_thumb").html(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
							//$(".finalizar_proceso").show();
							$('#_car_img_thumb').modal('hide');
                        },
                        type:"POST",
                        timeout:3000
                    });
                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone3" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgEditar/catalogos_thumb/cat_<?=$this->trabajo->identificador?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                      
                                                        
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>        
                            </p>
                        </div>
                    </div>
                    
                 
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>

<div id="cargadorImg" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <h2><strong>Guardando orden galeria...</strong></h2>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>