<script>
$(document).ready(function() {
	
		
	$('#editar_trabajo').submit(function(){
		
			/*if ($("#id_computadora").val() == "") {
				alert("Debe completar el campo ID Computadora");
				$("#id_computadora").val('');
				$('#id_computadora').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}*/
					
			if ($("#titulo").val() == "") {
				alert("Debe completar el campo titulo");
				$("#titulo").val('');
				$('#titulo').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}

			if($('._load_img_final').children().length == 0){
			  alert("Debe seleccionar una imagen");
			  return false; 
			}
			
			/*var _vig_desde = $("#vigencia_desde").val();
			_vig_desde = convertDateFormat(_vig_desde);
			var _vig_hasta = $("#vigencia_hasta").val();
			_vig_hasta = convertDateFormat(_vig_hasta);
			
			var _desde = new Date(_vig_desde);
			var _hasta = new Date(_vig_hasta);
			console.log(_desde);
			console.log(_hasta);
			if (_desde >= _hasta) {
				alert("La fecha de inicio debe ser menor que la de finalizacion");
				$("#vigencia_desde").val('');
				$('#vigencia_desde').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false; 
			}*/
					
			
			return true;
		
	
	});
	
	
	
});
/*function convertDateFormat(string) {
  var info = string.split('-');
  return info[2] + '-' + info[1] + '-' + info[0];
}*/
</script>

<div id="head-bg-fix"></div>
<div class="wpContent"> 
	<div class="btn-group-usuario">
	  <a class="active" href="#">
	    Editar Footer
	  </a>
	</div> 
        
        <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" enctype="multipart/form-data">
            <input type="hidden" name="envio01" value="1" />
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">

             <div class="">
              		<label for="titulo">Nombre</label>
                  	<div class="wpFormInput">
                        <input type="text" id="titulo" name="titulo" placeholder="Nombre" value="<?php echo $this->trabajo->titulo?>">
                       
                   	</div>
           		</div>                 	
                         
               
                            
                
                
                 <div class="">
              		<label for="contenido">Imagen Thumb</label>
                  	<div class="wpFormInput">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img">
                           Cargar Imagen
                        </button>
                        <div class="ccimg">
                        	<div class="list-group aa conexionThumb _load_img_final" id="bloque_imgs_usuario">
							<?php $_img = admin::traerImgPromos($this->trabajo->identificador,'thumb');?>
							<?php if($_img !=''):?>
                            <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/promociones/thumb/". $_img->path ?>"  class="img-thumbnail">
                            <?php endif?>
                            </div>
                        </div>
                   	</div>                    
           		</div>
           		
               
      		<div class="btnEditCont">
              	<input type="submit" class="btn" id="validatex" name="cargar" value="Guardar" />
                
            </div>
	</form>
    
</div>
<div class="modal inmodal fade" id="_car_img" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imagen</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 1,
						maxFiles: 1,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var maxImageWidth = <?=$this->_conf['formatos_img']['promociones']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['promociones']['alto']?>,
   								maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								
								
								
								//alert("llego");
								myDropzone.processQueue();
								//$("#_car_imgg .recortar_img").fadeOut('slow');
							});
			
							this.on("thumbnail", function(file) {
								/*if(file.width > file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser vertical");
									return false;
								}*/
								
							/*	if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}*/
								
								/*if (file.width > maxImageWidth || file.height > maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}*/
							})
							
							/*this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final();});
							this.on("maxfilesexceeded", function(file){this.removeFile(file);});
							this.on("error", function(file) {alert(file)});*/
							//this.on("complete", function(file) {this.removeAllFiles(file);});

							this.on("queuecomplete", function(file) {
								this.removeAllFiles(file);
							});
							this.on("maxfilesexceeded", function(file){
								this.removeFile(file);
							});
							this.on("error", function(file) {
								//alert(file);
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
							});
							this.on("success", function(file) {
								this.removeAllFiles(file);
								img_final();
							});
						}/*,
						accept: function(file, done) {
							file.acceptDimensions = done;
							file.rejectDimensions = function() {
								//$("#_car_imgg .recortar_img").fadeOut('slow');
								done('La imagen tiene un formato ilegal');
							};
						},*/
					};
               
               				
							
				
                function img_final(){
                    var url= _root_ + "administrador/imagenes/traerImagenfinalPromociones/promociones";
                    $.ajax({
                        url:url,
                        contentType:"application/x-www-form-urlencoded",
                        dataType:"html",
                        error:function(){
                            $("._load_img_final").html("La conexion se ha perdido. <a href='" + _root_ + "administrador/imagenes'>Reinicie el proceso.</a>");
                        },
            
                        ifModified:false,
                        processData:true,
                        success:function(datas){
                            $("._load_img_final").html(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
							//$(".finalizar_proceso").show();
							$('#_car_img').modal('hide');
                        },
                        type:"POST",
                        timeout:3000
                    });
                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgEditar/promociones">
                        <input type="hidden" name="envio_img_princip" value="1">
                      
                                                        
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                            	<small>Tamaño: <strong><?=$this->_conf['formatos_img']['promociones']['ancho']?> x <?=$this->_conf['formatos_img']['promociones']['alto']?> px</strong></small>
                                <br>
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>        
                            </p>
                        </div>
                    </div>
                    
                 
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>
<div id="cargadorImg" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <h2><strong>Guardando orden galeria...</strong></h2>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>