
<div id="head-bg-fix"></div>
<div class="wpContent"> 
      <div class="btn-group-usuario">
          <a class="active" href="#">
            Ver contenidos
          </a>
      </div> 
      <div class="titVerContent">
        <h4>Selecciona contenido</h4>
      </div>
       
       <div id="contenedor" class="verContenido"> 
            <ul id="lista" class="list-group listar">
                
                <li class="item-block">                   
                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos/listarVideo">
                      <img src="<?= $this->_conf['base_url']?>public/img/cont-video-header.png" alt="">
                       <span class="title">Videos</span>
                    </a> 
                </li>


                <li class="item-block">                   
                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos/listarCatalogo">
                      <img src="<?= $this->_conf['base_url']?>public/img/cont-catalogo.png" alt="">
                       <span class="title">Catálogo</span>
                    </a> 
                </li>

                <li class="item-block">                   
                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos/listarFooter">
                      <img src="<?= $this->_conf['base_url']?>public/img/cont-video-footer.png" alt="">
                       <span class="title">Footer</span>
                    </a> 
                </li>

                <li class="item-block">                   
                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos/listarFondo">
                      <img src="<?= $this->_conf['base_url']?>public/img/cont-fondo-pantalla.png" alt="">
                       <span class="title">Fondo de pantalla</span>
                    </a> 
                </li>

                <li class="item-block">                   
                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos/listarInactiva">
                      <img src="<?= $this->_conf['base_url']?>public/img/cont-fondo-pantalla.png" alt="">
                       <span class="title">Pantalla inactiva</span>
                    </a> 
                </li>

            </ul>
        </div>
        

</div>
