<script type="text/javascript">
$(document).ready(function() {

    $('#filter').hide();     
    
});
</script>
<section>
	<!---
	BANNERS TOP
	---->
	

	<div class="wp detail_news">
        <h2><?=home::convertirCaracteres($this->datos['titulo'])?></h2>
        <?php $_fecha = explode('-',$this->datos['fecha'])?>
        <?php $_fecha = $_fecha[2].' de '. home::convertirMes($_fecha[1]).' de '.$_fecha[0] ?>
        <small><?=$_fecha?></small> 
        <?php if($this->datos['bajada']!=''):?>
            <h3><?=home::convertirCaracteres($this->datos['bajada'])?></h3>
        <?php endif?>

        <?php if($this->datos['video']!=''):?>
        <div class="embed-container">
            <?=$this->datos['video']?>                
        </div>
        <?php else:?>
		
        <?php $_img = home::traerDataImagenPorIdentificador($this->datos['identificador'],'eventos');?>
        <?php if($_img !=''):?>

        

        <?php if(file_exists($this->_conf['ruta_img_cargadas'] . "eventos/" . $_img->path)):?>
        <img src="<?=$this->_conf['base_url']?>public/img/subidas/eventos/<?=$_img->path?>" alt="" class="imgPPl" />
        <?php else:?>
        <img src="<?=$this->_conf['base_url']?>public/img/subidas/anteriores/images/<?=$_img->path?>" alt="" class="imgPPl" /> 
        <?php endif?> 
        
        <?php endif?>        

        
        <?php endif?>
		

		

		<div class="main">
			

            <?php if($this->datos['descripcion']!=''):?>
			<div class="content">
				<?=home::convertirCaracteres($this->datos['descripcion'])?>
			</div>
            <?php endif?>

			<?php $_arch = home::traerArchivosIdentificador($this->datos['identificador']);?>
	        <?php if($_arch !=''):?>
        	<?php foreach ($_arch as $val):?>

            <a class="archivos" href="<?=$this->_conf['url_enlace']?>public/descargas/<?=$val->path ?>" target="<?=($val->formato=='pdf') ? '_blank' : '_self'?>">Descargar <?=$val->formato?></a>

            <!-- <?php if($this->datos['notas_viejas'] !='si'):?>
            <a class="archivos" href="<?=$this->_conf['url_enlace']?>public/descargas/<?=$val->path ?>" target="<?=($val->formato=='pdf') ? '_blank' : '_self'?>">Descargar <?=$val->formato?></a>
            <?php else:?>


            <?php if(file_exists($this->_conf['ruta_archivos_descargas'] . $val->path)):?>
            <a class="archivos" href="<?=$this->_conf['url_enlace']?>public/descargas/<?=$val->path ?>" target="<?=($val->formato=='pdf') ? '_blank' : '_self'?>">Descargar <?=$val->formato?></a>
            <?php else:?>
            <a class="archivos" href="<?=$this->_conf['url_enlace']?>public/img/subidas/anteriores/archivos/<?=$val->path ?>" target="<?=($val->formato=='pdf') ? '_blank' : '_self'?>">Descargar <?=$val->formato?></a>
            <?php endif?> 
            
            <?php endif?> -->
        	
        	<?php endforeach?>
	        <?php endif?>

			<?php if($this->datos['tags']!=''):?>
			<?php $_tags = implode(', ', $this->tags); ?>
            <div class="tags">Tags: <strong><?=$_tags?></strong></div>							
            <?php endif?>
			
		</div>
		<div class="aside">
			<!--------------
			 ACÁ VA BANNER Laterales
			--------------->
			<!-- <img src="img/banner-lateral.jpg" alt="">
			<img src="img/banner-lateral.jpg" alt="">
			<img src="img/banner-lateral.jpg" alt="">
			<img src="img/banner-lateral.jpg" alt=""> -->
			
			<!-- <div class="banner_lateral">
                <?php if($this->banners_lateral):?>
                <?php foreach ($this->banners_lateral as $val):?>
                <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
                <?php if($_img !=''):?>
                <?php if($val['link']!=''):?>
                <a href="<?=$val['link']?>">
                    <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
                </a>
                <?php else:?>
                <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
                <?php endif?>
                <?php endif?>
                <?php endforeach?>
                <?php endif?>
            </div> -->

		</div>
	</div>
	<!--------------
     ACÁ VA BANNER MAIN
    --------------->
    <div class="banner_main">
        <?php if($this->banners_top):?>
        <?php foreach ($this->banners_top as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <?php if($val['link']!=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php else:?>
        <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        <?php endif?>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>


    
	<div id="comments" class="wp"></div>
	
	<!--------------
	 ACÁ VA BANNER 
	--------------->
	<div class="banner_bottom">
        <?php if($this->banners_bottom):?>
        <?php foreach ($this->banners_bottom as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <?php if($val['link']!=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php else:?>
        <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        <?php endif?>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>


	<div id="write_comment" class="wp">
		<h3 class="_tit">Dejar un comentario</h3>
		<h3 class="_resp">Responder comentario</h3>
		<form id="frm-comment" method="post">
			<input type="hidden" name="_csrf" id="_csrf" value="<?=$this->_sess->get('_csrf')?>" /> 
			<input type="hidden" name="id_user" id="id_user" value="<?=$this->_sess->get('id_usuario_front')?>" /> 
            <input type="hidden" name="name" id="name" value="<?=$this->_sess->get('usuario_front')?>" />

            <input type="hidden" name="id_nota" id="id_nota" value="<?=$this->id_nota?>" />
            <input type="hidden" name="seccion" id="seccion" value="<?=$this->seccion?>" /> 
            <input type="hidden" name="comment_id" id="commentId" value="0" /> 
           <!--  <input type="text" name="name" id="name" placeholder="Tu Nombre" value="<?=$this->_sess->get('usuario_front')?>" readonly /> -->
			<textarea name="comment" id="comment" placeholder="Tu comentario"></textarea>
			<!-- <button id="submitButton">Enviar Comentario</button> -->
			<div id="comment-message">Comentario ha sido agregado exitosamente!</div>
			<input type="button" id="submitButton" value="Enviar Comentario" />
			
		</form>

	</div>
	<script>

        $(document).ready(function() {

            $("#comment-message").css('display', 'none');
            $("._tit").show();
            $("._resp").hide();
            listComment();
        });

        function postReply(commentId) {
            $("._tit").hide();
            $("._resp").show();
            $('#commentId').val(commentId);
            $('html, body').animate({scrollTop: $("#write_comment").offset().top - 175}, 'slow');
            // $("#name").focus();
        }

        $("#submitButton").click(function(e) {

        	e.preventDefault();
        	e.stopPropagation();

        	if ($("#comment").val() == "") {
		        alert("Debe completar el campo Tu comentario");
		        $("#comment").val('');
		        $('#comment').focus();     
		        return false;        
		    }
            
            
            
            $.ajax({
                url : _root_+"coment/coment_add",
                data : $("#frm-comment").serialize(),
                type : 'post',
                success : function(response) {
                        var result = eval('(' + response + ')');
                        if (response) {
                        	$("._tit").show();
                            $("._resp").hide();
                            $("#comment-message").css('display', 'inline-block');
                            // $("#name").val("");
                            $("#comment").val("");
                            $("#commentId").val(0);
                            listComment();
                            setTimeout(function(){ 
                            	$("#comment-message").css('display', 'none');
                            	 $('html, body').animate({scrollTop: $("#comments").offset().top - 175}, 'slow');
                            }, 2000);

                        } else {
                            alert("Fallo el envio de comentario!");
                            return false;
                        }
                }
            });

            return false; 
        });



        function listComment() {
                
            $.post(          	
                _root_+"coment/coment_list",
                { seccion: '<?=$this->seccion?>', nota: '<?=$this->id_nota?>', _csrf: '<?=$this->_sess->get('_csrf')?>' },
                function(data) {
                    var data = JSON.parse(data);

                    var comments = "";
                    var replies = "";
                    var item = "";
                    var parent = -1;
                    var results = new Array();

                    // var list = $("<ul class='outer-comment'>");
                    // var list = $("<h3>Comentarios</h3>");
                    var list = $("<div class='_cont'>");
                    // var item = $("<li>").html(comments);
                    var item = comments;

                    for (var i = 0; (i < data.length); i++) {
                        var commentId = data[i]['id'];
                        parent = data[i]['id_comentario_padre'];

                        if (parent == "0") {
                            /*comments = "<div class='comment-row'>"
                            				+ "<img src='"+_root_+"public/img/subidas/user/"+ data[i]['path'] +"' width='50' />"
                                            + "<div class='comment-info'><span class='commet-row-label'>de</span> <span class='posted-by'>"
                                            + data[i]['usuario']
                                            + " </span> <span class='commet-row-label'>a las</span> <span class='posted-at'>"
                                            + data[i]['fecha'] + "</span></div>"
                                            + "<div class='comment-text'>" + data[i]['comentario'] + "</div>"
                                            + "<div><a class='btn-reply' onClick='postReply(" + commentId + ")'>Responder</a></div>"
                                            + "</div>";*/

                            var _fecha = new Date(data[i]['fecha']);

                             comments = "<div class='comment'>"
                             				+"<div class='avatar' style='background-image: url("+_root_+"public/img/subidas/user/"+ data[i]['path'] +")'></div>"
                             				+ "<div class='text'>"
											+ "<small>"+ _fecha.toLocaleString() +"</small>"
											+ "<h4>"+data[i]['usuario']+"</h4>"	
											+ "<p>" + data[i]['comentario'] + "</p>"
											+ "<a href='javascript:void(0)' class='morevideos btn-reply' onClick='postReply(" + commentId + ")'>Responder</a>"	
											+ "</div>"
											+ "</div>"

                             var item = $("<div>").html(comments);
                            // var item = comments;
                            list.append(item);
                            var reply_list = $('<div>');
                            item.append(reply_list);
                            listReplies(commentId, data, reply_list);
                            // listReplies(commentId, data);
                        }
                }
                // $("#output").html(list);
                $("#comments").html('<h3>Comentarios</h3>');
                $("#comments").append(list);

            });
        }

        function listReplies(commentId, data, list) {
            
            for (var i = 0; (i < data.length); i++) {
                if (commentId == data[i].id_comentario_padre) {
                        /*var comments = "<div class='comment-row'>"
                        				+ "<img src='"+_root_+"public/img/subidas/user/"+ data[i]['path'] +"' width='50' />"
                                        + " <div class='comment-info'><span class='commet-row-label'>de</span> <span class='posted-by'>"
                                        + data[i]['usuario']
                                        + " </span> <span class='commet-row-label'>a las</span> <span class='posted-at'>"
                                        + data[i]['fecha'] + "</span></div>"
                                        + "<div class='comment-text'>" + data[i]['comentario'] + "</div>"                                    
                                        + "</div>";*/

                        var _fecha = new Date(data[i]['fecha']);
                        var comments = "<div class='comment response'>"
                             				+"<div class='avatar' style='background-image: url("+_root_+"public/img/subidas/user/"+ data[i]['path'] +")'></div>"
                             				+ "<div class='text'>"
											+ "<small>"+ _fecha.toLocaleString() +"</small>"
											+ "<h4>"+data[i]['usuario']+"</h4>"	
											+ "<p>" + data[i]['comentario'] + "</p>"												
											+ "</div>"
											+ "</div>"

                        var item = $("<div>").html(comments);
                        // var item = comments;
                        var reply_list = $('<div>');
                        list.append(item);
                        item.append(reply_list);
                        listReplies(data[i].id, data, reply_list);;
                }
            }
        }


    </script>

	<!-- RELATED -->
	<div class="related wp">
		<?php if($this->relacionadas):?>
		<h3>Otras noticias</h3>
		<div class="list">

			<?php foreach ($this->relacionadas as $datos):?>

			<?php         
	        $_img = home::traerDataImagenPorIdentificador($datos['identificador'],'eventos');
	        if($_img !=''){

                if(file_exists($this->_conf['ruta_img_cargadas'] . "eventos/thumb/" . $_img->path)){
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/eventos/thumb/". $_img->path; 
                }else if(file_exists($this->_conf['ruta_img_cargadas'] . "anteriores/images/" . $_img->path)){
                    $_url_img = $this->_conf['base_url'] . "public/img/subidas/anteriores/images/". $_img->path; 
                } else{
                    $_url_img ='';
                }            
	                        
	        }else{
                $_url_img ='';
            } 

	        $_cat=array();
	        $_cat = explode(',', $datos['categorias']);       
	        $_arr_cat=array();
	        $_arr_label=array();
	        foreach ($_cat as $val) {
	          $_arr = home::traerCategoria($val);
	          $_arr_cat[] = $_arr['nombre']; 
	          $_arr_label[] = $_arr['clase']; 
	        }
	        $_cate = implode(', ', $_arr_cat);        
	        ?>
			<a href="<?=$this->_conf['url_enlace']?>eventos/detalle/<?=home::crearUrl($datos['id'],$datos['titulo'])?>" class="<?=$_arr_label[0]?>">
				<?php if($_url_img !=''):?>
                <div class="img" style="background-image: url(<?=$_url_img?>)"></div>                
                <?php endif?>
				<h2><?=home::convertirCaracteres($datos['titulo'])?></h2>
				<?php $_fecha = explode('-',$this->datos['fecha'])?>
				<?php $_fecha = $_fecha[2].' '. home::convertirMes($_fecha[1]).' de '.$_fecha[0] ?>
				<span><i class="fa fa-calendar-o" aria-hidden="true"></i> <?=$_fecha?> |  <?=$_arr_label[0]?></span>
				<?php if($datos['bajada']):?>
                <p><?=home::limitarTexto(home::convertirCaracteres(strip_tags($datos['bajada'])),50)?></p>
                <?php endif?>
			</a>
			<?php endforeach?>
			
		</div>
		<?php endif?>
	</div>
	<!-- CONTACTO -->
	<div id="contacto">
		<h2>Consultas</h2>
		<p>Comunicate con nosotras completando el formulario, atenderemos todas tus dudas.</p>
		<form id="formContacto" action="" method="POST">
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido de la Aliada" value="<?=$this->data_user['nombre']?>" required="" readonly>
            <input type="text" id="numero_cliente" name="numero_cliente" placeholder="Número de Cliente" value="<?=$this->data_user['numero_cliente']?>" required="" readonly>
            <input type="email" id="email" name="email" required="" placeholder="Email" value="<?=$this->data_user['email']?>" readonly>
            <input type="text" id="nombre_farmacia" name="nombre_farmacia" placeholder="Nombre de la Farmacia" value="<?=$this->data_user['razon_social']?>" required="" readonly>
            <textarea id="consulta" name="consulta" requided="" placeholder="Consulta"></textarea>
            <input type="button" name="bt_contacto" id="bt_contacto" value="ENVIAR">
           <!--  <button>ENVIAR</button> -->
        </form>
        <div class="ok"></div>
        <div class="error"></div>
		<hr>
		<div class="info">
			<div class="wp">
				<div class="post data">
					<h3>Contacto</h3>
			        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:aliadas@drogdelsud.com.ar">aliadas@drogdelsud.com.ar</a></p>

			        <p><i class="fa fa-phone" aria-hidden="true"></i> Conmutador General<br>
			        (011) 4309-9100</p>

			        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Humberto Primo 1868, Capital Federal.
			        Buenos Aires, Argentina </p>
				</div>
				<div class="post">
					<h3>Instagram Post</h3>
                    <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/3fb6c459990856d5af0a8b0f58affc57.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>

				</div>
			</div>
		</div>
	</div>
	
</section>



