<script src="https://cdn.ckeditor.com/4.5.11/standard-all/ckeditor.js"></script>
<script>
$(document).ready(function() {
	
	$('#tags').tagsInput({
	     placeholder: 'Agregar Tags',
	     removeWithBackspace: true,
	     <?php if($this->tags):?>
	    'autocomplete': {
	      source: [
	        <?php foreach ($this->tags as $val):?>
	         '<?=$val['nombre']?>', 
	        <?php endforeach?>        
	      ]	      
	    }
      <?php endif?>
	 });
		
	$('#editar_trabajo').submit(function(){
		
			for (instance in CKEDITOR.instances) {
          CKEDITOR.instances[instance].updateElement();
      }


     /* $('input[type=checkbox]:checked').each(function() {
          console.log("Checkbox " + $(this).prop("id") +  " (" + $(this).val() + ") Seleccionado");
      });*/

      var $fields = $(this).find('input[type=checkbox]:checked');
      if (!$fields.length) {
            alert('Debe seleccionar al menos una categoria');
            return false; 
        }

            
      if ($("#titulo").val() == "") {
        alert("Debe completar el campo titulo");
        $("#titulo").val('');
        $('#titulo').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

      if ($("#codigo").val() == "") {
        alert("Debe completar el campo codigo DDS");
        $("#codigo").val('');
        $('#codigo').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

      if ($("#descripcion").val() == "") {
          alert('Debe completar el campo descripcion');
          var _algo = "descripcion";
          CKEDITOR.instances[_algo].focus();
          return false;        
      }

      if($('._load_img_final_thumb').children().length == 0){
        alert("Debe seleccionar una imagen");
        return false; 
      }
					
			
	return true;
		
	
	});
	
	
	
});

</script>


<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Lanzamientos</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>


<div class="row wrapper wrapper-content">  
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Editar Lanzamiento</h5>
                        </div>
                        <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" enctype="multipart/form-data">
                        <input type="hidden" name="envio01" value="1" />
                        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">


                        <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Categorias</label>
                              <?php foreach($this->categorias as $cat):?>
                              <div class="col-lg-2 checkbox"> 
                              <?php if(in_array($cat['id'], $this->cat_ids)):?>
                              <label><input type="checkbox" id="cat_<?=$cat['id']?>" name="categorias[]" value="<?=$cat['id']?>" checked> <?=$cat['nombre']?></label> 
                              <?php else:?>
                             <label><input type="checkbox" id="cat_<?=$cat['id']?>" name="categorias[]" value="<?=$cat['id']?>"> <?=$cat['nombre']?></label>
                              <?php endif?>                    
                                
                              </div>
                              <?php endforeach?>
                          </div>
                        </div>

                        <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">En destacado</label>
                              
                              <div class="col-lg-1 radio">
                                <label>
                                  <input class="_destacado" type="radio" name="destacado" value="si" <?=($this->trabajo['destacado'] == 'si') ? 'checked' : ''?>> Si
                                </label>
                              </div>
                              <div class="col-lg-1 radio">
                                <label>
                                  <input class="_destacado" type="radio" name="destacado" value="no" <?=($this->trabajo['destacado'] == 'no') ? 'checked' : ''?>> No
                                </label>
                              </div>
                              
                          </div>
                        </div>
                        
                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Titulo</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="<?php echo $this->trabajo['titulo']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Codigo DDS</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Codigo DDS" value="<?php echo $this->trabajo['codigo']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Descripcion</label>
                                <div class="col-lg-9">
                                     <textarea class="form-control" id="descripcion" name="descripcion"><?php echo $this->trabajo['descripcion']?></textarea>
                                      <script>
                                          CKEDITOR.replace('descripcion', {
                                              extraPlugins: 'colorbutton'
                                          });
                                      </script>
                                </div>
                            </div>
                        </div>
                        
                        
                      
                      <div class="ibox-content">
                        <div class="row">
                          <label for="video" class="col-lg-2 control-label">Imagen</label>
                          <div class="col-lg-2">
                              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img">
                                 Cargar Imagen
                              </button>
                          </div>
                          <div class="col-lg-6">
                            <div class="list-group aa conexionThumb _load_img_final_thumb" id="bloque_imgs_usuario">
                              <?php $_img = admin::traerDataImagenPorIdentificador($this->_sess->get('edicion_actual'),'lanzamientos');?>
                              <?php if($_img !=''):?>
                              <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/lanzamientos/". $_img->path ?>"  class="img-thumbnail">
                              <?php endif?>
                            </div>
                          </div>                                      
                        </div>
                      </div> 

                      <div class="ibox-content">                           
                          <div class="form-group">
                              <label class="col-lg-2 control-label">Tags</label>
                              <div class="col-lg-9">
                                <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags" value="<?php echo $this->trabajo['tags']?>">
                                <small>agregar tag separados por ,</small>
                              </div>
                          </div>
                      </div>


                       

                        <div class="ibox-content">
                          <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-2">
                                      <input type="submit" class="btn btn-success" id="validatex" name="cargar" value="Guardar" />
                                    </div>                                                                       
                                </div>
                                
                             
                            </div>                            
                        </div>
                       </form> 
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>











<!-- 


<div id="head-bg-fix"></div>
<div class="wpContent"> 
	<div class="btn-group-usuario">
	  <a class="active" href="#">
	    Editar Lanzamiento
	  </a>
	</div> 
        
    <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" enctype="multipart/form-data">
        <input type="hidden" name="envio01" value="1" />
        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
       
            <div class="form-group formulario_back">
                  <label for="titulo" class="col-lg-2 control-label">Categorias</label>
                    <?php foreach($this->categorias as $cat):?>
                    <div class="col-lg-2 checkbox"> 
                    <?php if(in_array($cat['id'], $this->cat_ids)):?>
                    <label><input type="checkbox" id="cat_<?=$cat['id']?>" name="categorias[]" value="<?=$cat['id']?>" checked> <?=$cat['nombre']?></label> 
                    <?php else:?>
                	 <label><input type="checkbox" id="cat_<?=$cat['id']?>" name="categorias[]" value="<?=$cat['id']?>"> <?=$cat['nombre']?></label>
                    <?php endif?>                    
                      
                    </div>
                    <?php endforeach?>
              </div>             
               
              <div class="form-group formulario_back">
                  <label for="titulo" class="col-lg-2 control-label">Titulo</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" value="<?php echo $this->trabajo['titulo']?>">
                    </div>
              </div>                  
                
              <div class="form-group formulario_back">
                  <label for="codigo" class="col-lg-2 control-label">Codigo DDS</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Codigo DDS" value="<?php echo $this->trabajo['codigo']?>">
                    </div>
              </div>   
               
               <div class="form-group formulario_back">
                  <label for="descripcion" class="col-lg-2 control-label">Descripción</label>
                    <div class="col-lg-10">
                      <textarea class="form-control" id="descripcion" name="descripcion"><?php echo $this->trabajo['descripcion']?></textarea>
                        <script>
                            CKEDITOR.replace('descripcion', {
                                extraPlugins: 'colorbutton'
                            });
                        </script>
                    </div>
              </div>
               	
                     
           
            <div class="form-group formulario_back">
                <label for="video" class="col-lg-2 control-label">Imagen</label>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#_car_img">
                       Cargar Imagen
                    </button>
                  </div>
                    <div class="col-lg-6">
                    	<div class="list-group aa conexionThumb _load_img_final_thumb" id="bloque_imgs_usuario">
            						<?php $_img = admin::traerDataImagenPorIdentificador($this->_sess->get('edicion_actual'),'lanzamientos');?>
            						<?php if($_img !=''):?>
                        <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/lanzamientos/". $_img->path ?>"  class="img-thumbnail">
                        <?php endif?>
                        </div>
                    </div>               	                  
       		   </div>           
            
            
            <div class="form-group formulario_back">
                  <label for="titulo" class="col-lg-2 control-label">Tags</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags" value="<?php echo $this->trabajo['tags']?>">
                        <small>agregar tag separados por ,</small>
                    </div>
              </div> 
             
            
      		<div class="btnEditCont">
              	<input type="submit" class="btn" id="validatex" name="cargar" value="Guardar" />
            
            </div>
	</form>
</div>
 -->    

<div class="modal inmodal fade" id="_car_img" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <i class="fa fa-laptop modal-icon"></i>
                <h4 class="modal-title">Cargar Imagen</h4>
            </div>
            <div class="modal-body">
			<script>
					Dropzone.options.myAwesomeDropzone3 = {
						autoProcessQueue: false,
						paramName: 'file',
						parallelUploads: 1,
						maxFiles: 1,
						maxFilesize: <?=$this->_conf['peso_maximo_imagenes']?>, //MB
						dictDefaultMessage: 'Arrastre aqui para cargar, o click para seleccionar',
						acceptedFiles: 'image/*',
				   
						init: function() {
			
							var myDropzone = this;
							var maxImageWidth = <?=$this->_conf['formatos_img']['lanzamientos']['ancho']?>, 
   								maxImageHeight = <?=$this->_conf['formatos_img']['lanzamientos']['alto']?>,
   								maxImagesize = <?=$this->_conf['peso_maximo_imagenes']?>;
			
							myDropzone.on("addedfile", function(file) {
								file.previewElement.addEventListener("click", function() { myDropzone.removeFile(file);});
							});
			
							this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
								e.preventDefault();
								e.stopPropagation();                                
								
								
								
								//alert("llego");
								myDropzone.processQueue();
								//$("#_car_imgg .recortar_img").fadeOut('slow');
							});
			
							this.on("thumbnail", function(file) {
								/*if(file.width > file.height){
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La orientación de la imagen debe ser vertical");
									return false;
								}*/
								
								
								
								/*if (file.width > maxImageWidth || file.height > maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}*/
							})
							
							/*this.on("queuecomplete", function(file) {this.removeAllFiles(file);img_final();});
							this.on("maxfilesexceeded", function(file){this.removeFile(file);});
							this.on("error", function(file) {alert(file)});*/
							//this.on("complete", function(file) {this.removeAllFiles(file);});
							this.on("queuecomplete", function(file) {
								this.removeAllFiles(file);
							});
							this.on("maxfilesexceeded", function(file){
								this.removeFile(file);
							});
							this.on("error", function(file) {
								//alert(file);
								if (file.width < maxImageWidth || file.height < maxImageHeight) {
									//file.rejectDimensions();
									this.removeFile(file);
									alert("La imagen debe ser de "+maxImageWidth+"x"+maxImageHeight+"px");
									return false;
								}
								if(file.size > 1024*1024*2){
									//2MB
									this.removeFile(file);
									alert("El peso de la imagen no puede superar los "+maxImagesize+"MB");
									return false;
								}
							});
							this.on("success", function(file) {
								this.removeAllFiles(file);
								img_final();
							});
						}/*,
						accept: function(file, done) {
							file.acceptDimensions = done;
							file.rejectDimensions = function() {
								//$("#_car_imgg .recortar_img").fadeOut('slow');
								done('La imagen tiene un formato ilegal');
							};
						},*/
					};
               
               				
							
				
               /* function img_final(){
                    var url= _root_ + "administrador/imagenes/traerImagenfinalVideo/vid_<?=$this->_sess->get('edicion_actual')?>";
                    $.ajax({
                        url:url,
                        contentType:"application/x-www-form-urlencoded",
                        dataType:"html",
                        error:function(){
                            $("._load_img_final_thumb").html("La conexion se ha perdido. <a href='" + _root_ + "administrador/imagenes'>Reinicie el proceso.</a>");
                        },
            
                        ifModified:false,
                        processData:true,
                        success:function(datas){
                            $("._load_img_final_thumb").html(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
							//$(".finalizar_proceso").show();
							$('#_car_img_thumb').modal('hide');
                        },
                        type:"POST",
                        timeout:3000
                    });
                }*/

                function img_final(){
                    var url= _root_ + "administrador/imagenes/traerImagenfinalLanzamientos/lanzamientos";
                    $.ajax({
                        url:url,
                        contentType:"application/x-www-form-urlencoded",
                        dataType:"html",
                        error:function(){
                            $("._load_img_final_thumb").html("La conexion se ha perdido. <a href='" + _root_ + "administrador/imagenes'>Reinicie el proceso.</a>");
                        },
            
                        ifModified:false,
                        processData:true,
                        success:function(datas){
                            $("._load_img_final_thumb").html(datas).fadeIn("slow");
                           // $("#_car_imgg .ambito_recorte").html('');
                            //$(".finalizar_proceso").show();
                            $('#_car_img').modal('hide');
                        },
                        type:"POST",
                        timeout:3000
                    });
                }
				
				
				
				
                </script>
                <div class="loader"></div>
                <div id="contenedor">
            
                    <form class="form-inline dropzone" id="my-awesome-dropzone3" action="<?=$this->_conf['base_url']?>administrador/imagenes/cargImgEditar/lanzamientos/<?=$this->_sess->get('edicion_actual')?>">
                        <input type="hidden" name="envio_img_princip" value="1">
                      
                                                        
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">Cargar</button>
                    </form>
                    <p class="eliminarThumb">Hace click sobre la miniatura para eliminarla.</p>
                    
                     <hr> 
                     
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="text-danger"> 
                                <small>Tamaño: <strong><?=$this->_conf['formatos_img']['lanzamientos']['ancho']?> x <?=$this->_conf['formatos_img']['lanzamientos']['alto']?> px</strong></small>
                                <br>
                                <small>Peso máximo imágen: <strong><?=$this->_conf['peso_maximo_imagenes']?> Mb.</strong></small>   
                            </p>
                        </div>
                    </div>
                    
                 
                    
                </div>
        	</div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>        
    	</div>
    </div>
</div>

