<script>
    $(function() {
        $( "#bloque_destacado_0_1,#bloque_destacado_0_2,#bloque_destacado_0_3, #bloque_placas, #bloque_videos_nativos, #bloque_videos_externos" ).sortable({
            connectWith: ".conexion_0",

            start: function (event, ui) {
                ui.item.toggleClass("destello");
            },
            stop: function (event, ui) {
                ui.item.toggleClass("destello");
            }

        }).disableSelection();
    });

    $(function() {
        $( "#bloque_destacado_1_1,#bloque_destacado_1_2,#bloque_destacado_1_3, #bloque_placas, #bloque_videos_nativos, #bloque_videos_externos" ).sortable({
            connectWith: ".conexion_1",

            start: function (event, ui) {
                ui.item.toggleClass("destello");
            },
            stop: function (event, ui) {
                ui.item.toggleClass("destello");
            }

        }).disableSelection();
    });

    $(function() {
        $( "#bloque_destacado_2_1,#bloque_destacado_2_2,#bloque_destacado_2_3, #bloque_placas, #bloque_videos_nativos, #bloque_videos_externos" ).sortable({
            connectWith: ".conexion_2",

            start: function (event, ui) {
                ui.item.toggleClass("destello");
            },
            stop: function (event, ui) {
                ui.item.toggleClass("destello");
            }

        }).disableSelection();
    });

    $(document).ready(function(){

        function getItems(_cont_gral,_conx){
            var columns = [];

            $(_cont_gral + ' ' + _conx).each(function(){
                columns.push($(this).sortable('toArray').join(','));        
            });
            return columns.join('|');
        }

        $("#crear_placas").click(function(){

            var url= _root_ + "administrador/placas/gestionplacas?bloque_1=" + getItems('#drag_0','div.conexion_0') + "&bloque_2=" + getItems('#drag_1','div.conexion_1') + "&bloque_3=" + getItems('#drag_2','div.conexion_2');
            $("._loading").fadeIn('slow');
            
            $.ajax({
                type: "POST",
                url: url,
                data: $("#_form_placas").serialize(),
                success: function(data)
                {
                    $("#resp").html('');
                    $("._loading").fadeOut('slow');
                    //$("#crear_placas").slideUp('slow');

                    setTimeout(function() {
                        $("#resp").append(data);
                    }, 1000);
                }
            });
            return false;
        });
    });
</script>

<style type="text/css">
.bloq_dest{
	height: 260px;
	padding: 5px;
	overflow: hidden;
	background: #c8f1f1;
}
.destello{
	border-color: #66AFE9;
	outline: 0px none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
	padding: 2px;
}
._cont_not{
	height: 500px;
	overflow: auto;
}
.tt{
	cursor: move;
}
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Placas</h2>
        <ol class="breadcrumb">
            <li><a href="<?=Conf\url_enlace::data() . 'administrador'?>">Home</a></li>
            <li class="active"><strong>Gestión de Placas</strong></li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<br>
<div class="row">
	<div class="col-lg-12">
	    <div class="ibox-content">
	        <button class="btn btn-primary" id="crear_placas">
	          <i class="fa fa-plus-square"></i> Crear Placas
	        </button>&nbsp; &nbsp;
	        <span id="resp"></span>
	        <button class="btn btn-white _loading" style="display:none;">
	            <i class="fa fa-cog fa-spin fa-lg"></i>
	        </button>&nbsp; &nbsp;
	    </div>
	</div>
</div>
<br>

<div class="row">
    <div class="col-lg-12">
    	<?php if(!empty($this->conjuntos)):?>
        <div class="ibox float-e-margins">
         	<?php for($p=0;$p<count($this->conjuntos);$p++):?>
         	<a href="<?=Conf\url_enlace::data() . 'administrador/placas/' . (($this->conjuntos[$p]['estado_general'] == 'activo') ? 'inactivarplaca' : 'activarplaca') . '/' . $this->conjuntos[$p]['id']?>" class="btn btn-<?=($this->conjuntos[$p]['estado_general'] == 'activo') ? 'success' : 'danger'?>">
         		<?=($this->conjuntos[$p]['estado_general'] == 'activo') ? 'Inactivar' : 'Activar'?> <?=($p+1)?>º Conjunto de Placas
         	</a>
         	<?php endfor?>
        </div>	
    	<?php endif?>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-8">
        	<div class="row">
		        <div class="col-lg-12">
		        	<div class="ibox float-e-margins">

		        		<form action="" method="POST" name="_form_placas" id="_form_placas">

			        		<?php if(!empty($this->conjuntos_activos)):?>
			        		<?php for($pa=0;$pa<count($this->conjuntos_activos);$pa++):?>
			        		<div class="row">
			        			<div class="col-lg-12">
			        				<h3>Conjunto de Placas <?=($pa+1)?>º</h3>
			        			</div>
			        		</div>

			        		<div id="drag_<?=$pa?>">
		        				<div class="row">
		        					<div class="col-lg-4">
		        						<div class="ibox float-e-margins">
					                        <div class="ibox-content nuevo_destacado">
					                            <h3>Placa 1</h3>
					                            <div class="row conexion_0 conexion_1 conexion_2 bloq_dest" id="bloque_destacado_<?=$pa?>_1">

						                            <?php if(isset($this->conjuntos_activos[$pa]['contenidos'][0]) && !empty($this->conjuntos_activos[$pa]['contenidos'][0])):?>
						                            <?php if($this->conjuntos_activos[$pa]['contenidos'][0]['placa_tipo'] == 'imagen'):?>
						                            <div class="row tt" id="p_<?=$this->conjuntos_activos[$pa]['contenidos'][0]['id']?>">
														<div class="col-lg-12">
															<div class="ibox-content">
																<img class="img-responsive" src="<?=Conf\base_url::data() . 'public/img/subidas/noticias/chicas/' . $this->conjuntos_activos[$pa]['contenidos'][0]['fecha'] . '/chica_' . $this->conjuntos_activos[$pa]['contenidos'][0]['path']?>">
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][0]['nombre']?></small>
															</div>
														</div>
													</div>
													<?php elseif($this->conjuntos_activos[$pa]['contenidos'][0]['placa_tipo'] == 'nativo'):?>
													<div class="row tt" id="vn_<?=$this->conjuntos_activos[$pa]['contenidos'][0]['id']?>">
										    			<div class="col-lg-12">
										    				<div class="ibox-content">
										    					<video controls poster="<?=Conf\base_url::data() . 'public/img/subidas/noticias/chicas/' . $this->conjuntos_activos[$pa]['contenidos'][0]['data_poster']['fecha'] . '/chica_' . $this->conjuntos_activos[$pa]['contenidos'][0]['data_poster']['path']?>">
																    <source src="<?=Conf\base_url::data() . 'public/videos/noticias/' . tiempos::formatFechaSqlArchivo($this->conjuntos_activos[$pa]['contenidos'][0]['fecha']) . '/' . $this->conjuntos_activos[$pa]['contenidos'][0]['path']?>" type="video/mp4">
																    Tu navegador no soporta video HTML5.
																</video>
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][0]['nombre']?></small>
										    				</div>
										    			</div>
										    		</div>	
													<?php elseif($this->conjuntos_activos[$pa]['contenidos'][0]['placa_tipo'] == 'externo'):?>
													<div class="row tt" id="ve_<?=$this->conjuntos_activos[$pa]['contenidos'][0]['id']?>">
										    			<div class="col-lg-12">
										    				<div class="ibox-content">
																<?php if($this->conjuntos_activos[$pa]['contenidos'][0]['origen_id'] == 1):?>
																<div id="_repr_<?=$this->conjuntos_activos[$pa]['contenidos'][0]['id']?>">Cargando el reproductor...</div>
																<script type="text/javascript">
																    jwplayer("_repr_<?=$this->conjuntos_activos[$pa]['contenidos'][0]['id']?>").setup({
																      file: "http://www.youtube.com/watch?v=<?=$this->conjuntos_activos[$pa]['contenidos'][0]['path']?>",
																      //image: "/uploads/myPoster.jpg"
																      width: "100%",
																      aspectratio: "16:9"
																});
																</script>
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][0]['nombre']?></small>
																<?php elseif($this->conjuntos_activos[$pa]['contenidos'][0]['origen_id'] == 2):?>
																<iframe src="//player.vimeo.com/video/<?=$this->conjuntos_activos[$pa]['contenidos'][0]['path']?>"width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][0]['nombre']?></small>
																<?php endif?>
										    				</div>
										    			</div>
										    		</div>
													<?php endif?>
						                            <?php endif?>

					                            </div>
					                            <br>
					                            <div class="form-group">
												    <label>Link</label>
												    <input type="text" class="form-control" name="link_<?=$pa?>_1" value="<?=(isset($this->conjuntos_activos[$pa]['contenidos'][0]) && !empty($this->conjuntos_activos[$pa]['contenidos'][0])) ? $this->conjuntos_activos[$pa]['contenidos'][0]['link'] : ''?>">
												</div>

					                        </div>
					                    </div>
		        					</div>
		        					<div class="col-lg-4">
		        						<div class="ibox float-e-margins">
					                        <div class="ibox-content nuevo_destacado">
					                            <h3>Placa 2</h3>
					                            <div class="row conexion_0 conexion_1 conexion_2 bloq_dest" id="bloque_destacado_<?=$pa?>_2">

					                            	<?php if(isset($this->conjuntos_activos[$pa]['contenidos'][1]) && !empty($this->conjuntos_activos[$pa]['contenidos'][1])):?>
						                            <?php if($this->conjuntos_activos[$pa]['contenidos'][1]['placa_tipo'] == 'imagen'):?>
						                            <div class="row tt" id="p_<?=$this->conjuntos_activos[$pa]['contenidos'][1]['id']?>">
														<div class="col-lg-12">
															<div class="ibox-content">
																<img class="img-responsive" src="<?=Conf\base_url::data() . 'public/img/subidas/noticias/chicas/' . $this->conjuntos_activos[$pa]['contenidos'][1]['fecha'] . '/chica_' . $this->conjuntos_activos[$pa]['contenidos'][1]['path']?>">
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][1]['nombre']?></small>
															</div>
														</div>
													</div>
													<?php elseif($this->conjuntos_activos[$pa]['contenidos'][1]['placa_tipo'] == 'nativo'):?>
													<div class="row tt" id="vn_<?=$this->conjuntos_activos[$pa]['contenidos'][1]['id']?>">
										    			<div class="col-lg-12">
										    				<div class="ibox-content">
										    					<video controls poster="<?=Conf\base_url::data() . 'public/img/subidas/noticias/chicas/' . $this->conjuntos_activos[$pa]['contenidos'][1]['data_poster']['fecha'] . '/chica_' . $this->conjuntos_activos[$pa]['contenidos'][1]['data_poster']['path']?>">
																    <source src="<?=Conf\base_url::data() . 'public/videos/noticias/' . tiempos::formatFechaSqlArchivo($this->conjuntos_activos[$pa]['contenidos'][1]['fecha']) . '/' . $this->conjuntos_activos[$pa]['contenidos'][1]['path']?>" type="video/mp4">
																    Tu navegador no soporta video HTML5.
																</video>
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][1]['nombre']?></small>
										    				</div>
										    			</div>
										    		</div>
													<?php elseif($this->conjuntos_activos[$pa]['contenidos'][1]['placa_tipo'] == 'externo'):?>
													<div class="row tt" id="ve_<?=$this->conjuntos_activos[$pa]['contenidos'][1]['id']?>">
										    			<div class="col-lg-12">
										    				<div class="ibox-content">
																<?php if($this->conjuntos_activos[$pa]['contenidos'][1]['origen_id'] == 1):?>
																<div id="_repr_<?=$this->conjuntos_activos[$pa]['contenidos'][1]['id']?>">Cargando el reproductor...</div>
																<script type="text/javascript">
																    jwplayer("_repr_<?=$this->conjuntos_activos[$pa]['contenidos'][1]['id']?>").setup({
																      file: "http://www.youtube.com/watch?v=<?=$this->conjuntos_activos[$pa]['contenidos'][1]['path']?>",
																      //image: "/uploads/myPoster.jpg"
																      width: "100%",
																      aspectratio: "16:9"
																});
																</script>
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][1]['nombre']?></small>
																<?php elseif($this->conjuntos_activos[$pa]['contenidos'][1]['origen_id'] == 2):?>
																<iframe src="//player.vimeo.com/video/<?=$this->conjuntos_activos[$pa]['contenidos'][1]['path']?>"width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][1]['nombre']?></small>
																<?php endif?>
										    				</div>
										    			</div>
										    		</div>
													<?php endif?>
						                            <?php endif?>

					                            </div>
					                            <br>
					                            <div class="form-group">
												    <label>Link</label>
												    <input type="text" class="form-control" name="link_<?=$pa?>_2" value="<?=(isset($this->conjuntos_activos[$pa]['contenidos'][1]) && !empty($this->conjuntos_activos[$pa]['contenidos'][1])) ? $this->conjuntos_activos[$pa]['contenidos'][1]['link'] : ''?>">
												</div>

					                        </div>
					                    </div>
		        					</div>
		        					<div class="col-lg-4">
		        						<div class="ibox float-e-margins">
					                        <div class="ibox-content nuevo_destacado">
					                            <h3>Placa 3</h3>
					                            <div class="row conexion_0 conexion_1 conexion_2 bloq_dest" id="bloque_destacado_<?=$pa?>_3">

					                            	<?php if(isset($this->conjuntos_activos[$pa]['contenidos'][2]) && !empty($this->conjuntos_activos[$pa]['contenidos'][2])):?>
						                            <?php if($this->conjuntos_activos[$pa]['contenidos'][2]['placa_tipo'] == 'imagen'):?>
						                            <div class="row tt" id="p_<?=$this->conjuntos_activos[$pa]['contenidos'][2]['id']?>">
														<div class="col-lg-12">
															<div class="ibox-content">
																<img class="img-responsive" src="<?=Conf\base_url::data() . 'public/img/subidas/noticias/chicas/' . $this->conjuntos_activos[$pa]['contenidos'][2]['fecha'] . '/chica_' . $this->conjuntos_activos[$pa]['contenidos'][2]['path']?>">
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][2]['nombre']?></small>
															</div>
														</div>
													</div>
													<?php elseif($this->conjuntos_activos[$pa]['contenidos'][2]['placa_tipo'] == 'nativo'):?>
													<div class="row tt" id="vn_<?=$this->conjuntos_activos[$pa]['contenidos'][2]['id']?>">
										    			<div class="col-lg-12">
										    				<div class="ibox-content">
										    					<video controls poster="<?=Conf\base_url::data() . 'public/img/subidas/noticias/chicas/' . $this->conjuntos_activos[$pa]['contenidos'][2]['data_poster']['fecha'] . '/chica_' . $this->conjuntos_activos[$pa]['contenidos'][2]['data_poster']['path']?>">
																    <source src="<?=Conf\base_url::data() . 'public/videos/noticias/' . tiempos::formatFechaSqlArchivo($this->conjuntos_activos[$pa]['contenidos'][2]['fecha']) . '/' . $this->conjuntos_activos[$pa]['contenidos'][2]['path']?>" type="video/mp4">
																    Tu navegador no soporta video HTML5.
																</video>
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][2]['nombre']?></small>
										    				</div>
										    			</div>
										    		</div>
													<?php elseif($this->conjuntos_activos[$pa]['contenidos'][2]['placa_tipo'] == 'externo'):?>
													<div class="row tt" id="ve_<?=$this->conjuntos_activos[$pa]['contenidos'][2]['id']?>">
										    			<div class="col-lg-12">
										    				<div class="ibox-content">
																<?php if($this->conjuntos_activos[$pa]['contenidos'][2]['origen_id'] == 1):?>
																<div id="_repr_<?=$this->conjuntos_activos[$pa]['contenidos'][2]['id']?>">Cargando el reproductor...</div>
																<script type="text/javascript">
																    jwplayer("_repr_<?=$this->conjuntos_activos[$pa]['contenidos'][2]['id']?>").setup({
																      file: "http://www.youtube.com/watch?v=<?=$this->conjuntos_activos[$pa]['contenidos'][2]['path']?>",
																      //image: "/uploads/myPoster.jpg"
																      width: "100%",
																      aspectratio: "16:9"
																});
																</script>
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][2]['nombre']?></small>
																<?php elseif($this->conjuntos_activos[$pa]['contenidos'][2]['origen_id'] == 2):?>
																<iframe src="//player.vimeo.com/video/<?=$this->conjuntos_activos[$pa]['contenidos'][2]['path']?>"width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
																<small><?=$this->conjuntos_activos[$pa]['contenidos'][2]['nombre']?></small>
																<?php endif?>
										    				</div>
										    			</div>
										    		</div>
													<?php endif?>
						                            <?php endif?>

					                            </div>
					                            <br>
					                            <div class="form-group">
												    <label>Link</label>
												    <input type="text" class="form-control" name="link_<?=$pa?>_3" value="<?=(isset($this->conjuntos_activos[$pa]['contenidos'][2]) && !empty($this->conjuntos_activos[$pa]['contenidos'][2])) ? $this->conjuntos_activos[$pa]['contenidos'][2]['link'] : ''?>">
												</div>
					                        </div>
					                    </div>
		        					</div>
		        				</div>
			        		</div>

			        		<?php endfor?>
			        		<?php else:?>
			        		<div class="row">
			        			<div class="col-lg-12">
			        				<h4 class="text-danger">No hay conjunto de placas Activas!</h4>
			        			</div>
			        		</div>
			        		<?php endif?>
		        		</form>
		        	</div>
		        </div>
		    </div>
        </div>

        <div class="col-lg-4">
        	<div class="row" id="placas_videos">
		        <div class="col-lg-6">
		        	<h3>Placas</h3>
		        	<div class="conexion_0 conexion_1 conexion_2" id="bloque_placas" style="max-height: 600px; min-height: 140px; overflow: auto;">
				    	<?php if(!empty($this->placas)):?>
				    	<?php for($i=0;$i<count($this->placas);$i++):?>
				    	<div class="row tt" id="p_<?=$this->placas[$i]['id']?>">
							<div class="col-lg-12">
								<div class="ibox-content">
									<img class="img-responsive" src="<?=Conf\base_url::data() . 'public/img/subidas/noticias/chicas/' . $this->placas[$i]['fecha'] . '/chica_' . $this->placas[$i]['path']?>">
									<small><?=$this->placas[$i]['nombre']?></small>
								</div>
							</div>
						</div>
						<?php endfor?>
		    		</div>
		        	<?php else:?>
		    		<h4 class="text-danger">No hay placas disponibles!</h4>
		    		<?php endif?>
		        </div>

		        <div class="col-lg-6">
		        	<h3>Videos</h3>
		        	<div class="tabs-container">
		                <ul class="nav nav-tabs">
		                    <li class="active"><a data-toggle="tab" href="#tab-1"> Nativos</a></li>
		                    <li class=""><a data-toggle="tab" href="#tab-2">Externos</a></li>
		                </ul>
		                <div class="tab-content">
		                    <div id="tab-1" class="tab-pane active">
		                        <div class="panel-body conexion_0 conexion_1 conexion_2" id="bloque_videos_nativos" style="max-height: 600px; min-height: 140px; overflow: auto;">
		                        	<?php if(!empty($this->videos_nativos)):?>
		        					<?php for($vn=0;$vn<count($this->videos_nativos);$vn++):?>
		                        	<div class="row tt" id="vn_<?=$this->videos_nativos[$vn]['id']?>">
						    			<div class="col-lg-12">
						    				<div class="ibox-content">
						    					<video controls poster="<?=Conf\base_url::data() . 'public/img/subidas/noticias/chicas/' . $this->videos_nativos[$vn]['data_poster']['fecha'] . '/chica_' . $this->videos_nativos[$vn]['data_poster']['path']?>">
												    <source src="<?=Conf\base_url::data() . 'public/videos/noticias/' . tiempos::formatFechaSqlArchivo($this->videos_nativos[$vn]['fecha']) . '/' . $this->videos_nativos[$vn]['path']?>" type="video/mp4">
												    Tu navegador no soporta video HTML5.
												</video>
												<small><?=$this->videos_nativos[$vn]['nombre']?></small>
						    				</div>
						    			</div>
						    		</div>
						    		<?php endfor?>
						    		<?php else:?>
						    		<h4 class="text-danger">No hay Videos nativos disponibles!</h4>
						    		<?php endif?>
		                        </div>
		                    </div>

		                    <div id="tab-2" class="tab-pane">
		                        <div class="panel-body conexion_0 conexion_1 conexion_2" id="bloque_videos_externos" style="max-height: 600px; min-height: 140px; overflow: auto;">
		                        	<?php if(!empty($this->videos_externos)):?>
		        					<?php for($ve=0;$ve<count($this->videos_externos);$ve++):?>
		                        	<div class="row tt" id="ve_<?=$this->videos_externos[$ve]['id']?>">
						    			<div class="col-lg-12">
						    				<div class="ibox-content">
												<?php if($this->videos_externos[$ve]['origen_id'] == 1):?>
												<div id="_reproductor_<?=$this->videos_externos[$ve]['id']?>">Cargando el reproductor...</div>
												<script type="text/javascript">
												    jwplayer("_reproductor_<?=$this->videos_externos[$ve]['id']?>").setup({
												      file: "http://www.youtube.com/watch?v=<?=$this->videos_externos[$ve]['path']?>",
												      //image: "/uploads/myPoster.jpg"
												      width: "100%",
												      aspectratio: "16:9"
												});
												</script>
												<small><?=$this->videos_externos[$ve]['nombre']?></small>
												<?php elseif($this->videos_externos[$ve]['origen_id'] == 2):?>
												<iframe src="//player.vimeo.com/video/<?=$this->videos_externos[$ve]['path']?>"width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
												<small><?=$this->videos_externos[$ve]['nombre']?></small>
												<?php endif?>
						    				</div>
						    			</div>
						    		</div>
						    		<?php endfor?>
						    		<?php else:?>
						    		<h4 class="text-danger">No hay Videos externos disponibles!</h4>
						    		<?php endif?>
						    	</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
        </div>
    </div>

    <!--<div class="row">
    	<div class="col-lg-12">
		    <div class="ibox-content">
		        <button class="btn btn-primary" id="crear_placas">
		          <i class="fa fa-plus-square"></i> Crear Placas
		        </button>&nbsp; &nbsp;
		        <span id="resp"></span>
		        <button class="btn btn-white _loading" style="display:none;">
		            <i class="fa fa-cog fa-spin fa-lg"></i>
		        </button>&nbsp; &nbsp;
		    </div>
		</div>
    </div>-->
</div>

<script type="text/javascript">
    $('#placas_videos').scrollToFixed();
</script>