<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script language="javascript">




$(document).ready(function() {

    var $grid = $('.grid').isotope({
      itemSelector: '.grid-item',
      /*masonry: {
        columnWidth: 100%,
       // columnWidth:'.grid-sizer',
       // gutter:20
      }*/
    });

    $('#filter a').on('click', function(){
        $(this).toggleClass('active');
        
        var ar = [];
        var i = 0;
        $('#filter a.active').each(function(){
            i++;
            
            ar.push( $(this).data("rel") );
            
        })
        console.log(ar[0]);
        if(i == 0){ $grid.isotope({ filter: '*' }); }
        if(i == 1){
            $grid.isotope({ filter: '.'+ar[0] })
        }else if(i == 2){
            $grid.isotope({ filter: '.'+ar[0]+', .'+ar[1] })
        }else if(i == 3){
            $grid.isotope({ filter: '.'+ar[0]+', .'+ar[1]+', .'+ar[2] })
        }else if(i == 4){
            $grid.isotope({ filter: '.'+ar[0]+', .'+ar[1]+', .'+ar[2]+', .'+ar[3] })
        }
    });

    $("#btBuscador").click(function(){  
  
  
        if ($("#buscador").val() == "") {
          return false;        
        } 
    
        var valor = $("#buscador").val();

        $grid.isotope('destroy');

        $('#filter a').removeClass('active');
    
        var dataString = 'valor='+valor+'&_csrf=<?=$this->_sess->get('_csrf')?>';
        $.ajax({            
            type: 'POST',
            url: _root_+"administrador/capacitaciones/buscador", 
            data: dataString,
            beforeSend: function(){
              // $('.pagination').hide();
              $('#contenedor').fadeOut('fast', function(){
                $('.loader').fadeIn('fast');        
              });
            },
            success: function(data){
              $('#contenedor').html(data);
              //$('.pagination').hide();
              $('.loader').fadeOut('fast', function(){
                $('.loader').fadeOut('fast');
                $('#contenedor').fadeIn('fast', function(){
                    // $grid.isotope('destroy');
                    var $grid = $('.grid').isotope({
                      itemSelector: '.grid-item',                  
                    });
                    // $grid.isotope('reLayout');
                });  
                 

                

              });
        
            },
            error: function(){
                 alert('error!!');
            }
        });    
    
    })
  
 
   

});
</script>
<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Capacitaciones</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">  
    <div class="ibox-title">  
        <a class="btn btn-w-m btn-success" href="<?php echo $this->_conf['url_enlace']?>administrador/capacitaciones/cargar">
          Cargar
        </a>                
    </div>
    <div class="ibox-content forum-container">
        <div class="row">
            <div class="col-lg-4">
                <form role="form" method="post" action="">
                    <input type="hidden" id="estado" name="estado" value="alta" />
                    <div class="btn-group">
                        <div class="input-group m-b">
                          <input class="form-control m-b" id="buscador" name="buscador" placeholder="Buscar por titulo" type="text" />
                            <span class="input-group-btn">
                                <button id="btBuscador" type="button" class="btn btn-primary">
                                     <i class="fa fa-search"></i>
                                </button> 
                            </span> 
                            
                        </div>
                    </div>
                </form>
          </div>

          <div class="col-lg-8" id="filter">
                <span>Filtros:</span>
                <?php $_categorias = admin::traerCategoriasStatic();?>
                <?php if($_categorias):?>
                <?php foreach ($_categorias as $val):?>
                <a class="btn btn-default btn-xs" data-id="<?=$val['id']?>" data-rel="<?=$val['clase']?>" href="javascript:void(0);"><?=$val['nombre']?></a>
                <?php endforeach?>
                <?php endif?>       
          </div>

      </div> 
    </div>


    <div id="contenedor" class="ibox-content forum-container grid">
    
        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <?php
            $_cat=array();
            $_cat = explode(',', $datos['categorias']);       
            $_arr_cat=array();
            $_arr_label=array();
            foreach ($_cat as $val) {
              $_arr = admin::traerCategoria($val);
              $_arr_cat[] = $_arr['nombre']; 
              $_arr_label[] = $_arr['clase']; 
            }
            $_cate = implode(', ', $_arr_cat); 
            $_clases = implode(' ', $_arr_label);
        ?>

        <div class="forum-item grid-item <?=$_clases?>">
            <div class="row">
                <div class="col-md-10">
                    
                    <a href="" class="forum-item-title">
                        <?=admin::convertirCaracteres($datos['titulo'])?>
                        <?php if($datos['destacado']=='si'):?>
                        <span class="btn btn-primary btn-xs">Destacado</span>
                        <?php endif?>
                    </a>                     
                    <small>Categorias: <b><?=$_cate?></b></small>
                </div>

                <div class="col-md-2 forum-info">
                    <div class="tooltip-demo pull-right">                    

                        <a class="btn btn-warning btn-round" href="<?php echo $this->_conf['url_enlace']?>administrador/capacitaciones/editar/<?php echo $datos['id']?>">
                           Editar
                        </a>&nbsp;&nbsp;

                        <a href="javascript:void(0);" class="btn btn-danger btn-round _borrar_<?php echo $datos['id']?>" title="Borrar">
                            Eliminar
                        </a>&nbsp;&nbsp;

                    </div>
                </div>
            </div>
        </div>

       <script>
          $(document).ready(function () {
                $('._borrar_<?php echo $datos['id']?>').click(function () {
                    swal({
                        title: "Estas seguro de borrar este contenido?",
                        text: "Los datos se perderán permanentemente!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Si, que se borre!",
                        cancelButtonText: "No, mejor no!",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function (isConfirm) {
                        if (isConfirm) {
                            var url= _root_ + "administrador/capacitaciones/borrar";
                            var dataString = '_id=<?=$datos['id']?>&_csrf=<?=$this->_sess->get('_csrf')?>';
                            $.ajax({
                                    type: "POST",
                                    url: url,
                                    data: dataString,
                                    success: function(data){
                                      if(data=='ok'){
                                        swal("Borrado!", "El contenido se borró con exito.", "success");
                                        setTimeout(function() {
                                            location.reload();
                                        }, 200);
                                      }else{
                                        swal("Cancelado", "No se puede borrar porque el contenido esta en uso", "error");
                                      }
                                        
                                        
                                    }
                            });
                        } else {
                            swal("Cancelado", "El contenido esta guardado", "error");
                        }
                    });
                });
            });
        </script>

        <?php endforeach?> 

        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>
    </div>
    <div class="loader"></div>
   <?php echo (isset($this->paginacion)) ? $this->paginacion : ''?>
</div>


