<!-- <section id="logIn">
    <h2><img src="<?= $_params['ruta_img']?>logo-header.png" alt="" ></h2>
    <div>        	
        <form role="form" name="form1" id="formRegistro" method="post">
            <input type="hidden" value="1" name="enviar">
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
            <input type="text" name="numero_cliente" id="numero_cliente"  placeholder="Numero de Cliente">                 
            <input type="text" name="email" id="email" placeholder="Email" style="display: none;">                
            <input type="password" name="pass" id="pass" class="pass" placeholder="Contraseña" style="display: none;">
            <input id="btEntrar" type="button   " value="Registrarse" style="display: none;">
            <input id="btCheck" type="button" value="Registrarse">
        </form>
    </div>

    <div class="ok"></div>
    <?php if(isset($this->_error)):?>
    <div class="error"><?=$this->_error?></div>
    <?php else:?>
    <div class="error"></div>
    <?php endif?>
</section> -->

<section id="init">
  <div class="wpForm register">
    <h2>Registrarse</h2>
    <form role="form" name="form1" id="formRegistro" method="post">
      <input type="hidden" value="1" name="enviar">
      <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
      <div class="mid">
        <label for="clien_number">NÚMERO DE CLIENTE DE DROGUERÍA DEL SUD</label>
        <input type="text" name="numero_cliente" id="numero_cliente" placeholder="1234567" autocomplete="off">
      </div>
      <div class="mid _name" style="display: none;">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" placeholder="Tu nombre" autocomplete="off">
      </div>
      <div class="mid _fecha" style="display: none;">
        <label for="date">Fecha de nacimiento</label>
        <select name="day" id="select_day">
          <option selected="">Día</option>
        </select>
        <select name="month" id="select_month">
          <option selected="">Mes</option>
        </select>
        <select name="year" id="select_year">
          <option selected="">Año</option>
        </select>
      </div>
      <div class="mid _email" style="display: none;">
        <label for="email">email</label>
        <input type="email" name="email" id="email" placeholder="Tu e-mail" autocomplete="off">
      </div>
      <div class="mid _pass" style="display: none;">
        <label for="password">contraseña</label>
        <input type="password" name="pass" id="pass"  placeholder="1234" autocomplete="off">
      </div>
      <div class="mid _rep_pass" style="display: none;">
        <label for="repeat_password">repetir contraseña</label>
        <input type="password" name="repeat_pass" id="repeat_pass" placeholder="1234" autocomplete="off">
      </div>
      <div class="full">
        <input id="btEntrar" type="button" value="Registrarse" style="display: none;">
        <input id="btCheck" type="button" value="Registrarse">
      </div>

      <div class="ok"></div>
      <?php if(isset($this->_error)):?>
      <div class="error"><?=$this->_error?></div>
      <?php else:?>
      <div class="error"></div>
      <?php endif?>

    </form>   

    <div class="foo">
      <small>Ya soy un miembro de Aliadas, quiero <a href="<?=$this->_conf['base_url']?>login">Iniciar Sesión</a></small>
    </div>
    
  </div>
</section>



<script type="text/javascript">
$(document).ready(function() {

    for (var i = 31; i >= 1; i--) {
      $('#select_day').prepend('<option value="'+i+'">'+i+'</option>');
    }
    for (var i = 12; i >= 1; i--) {
      $('#select_month').prepend('<option value="'+i+'">'+i+'</option>');
    }
    var d = new Date();
    var n = d.getUTCFullYear();
    console.log(n);
    for (var i = (n - 18); i >= (n - 70); i--) {
      $('#select_year').prepend('<option value="'+i+'">'+i+'</option>');
    }

    $('.error').hide();
    $('.ok').hide();


    $('#btCheck').on('click', function() {
        var _val = $('#numero_cliente').val(); 

        if($('#numero_cliente').val()==''){
          // alert("Debe ingresar un numero de cliente");
          $('.error').html("Debe ingresar un numero de cliente").fadeIn('slow');
          $("#numero_cliente").focus();
          return false;
        }

        
        // var datastring = "cliente="+_val+"&_csrf=<?=$this->_sess->get('_csrf')?>";
        //alert(url)
        $.ajax({
            type: 'POST',
            url: _root_+"registro/traerNumeroCliente",
            // data: datastring,
            data: {"cliente" : _val, "_csrf" : "<?=$this->_sess->get('_csrf')?>"},
            dataType:"json",
            beforeSend: function(){
              //$('#juego').html('<option>Cargando...</option>');
            },        
            success: function(data){
                if(data.status=='ok'){
                    $('#btCheck').hide();
                    $('#name').val(data.nombre);
                    $('._name').show();                    
                    $('._fecha').show();
                    $('._email').show();
                    $('._pass').show();
                    $('._rep_pass').show();
                    $('#btEntrar').show();
                    $('.error').html('').fadeIn('fast');
                }else if(data.status=='existe'){
                  $('.error').html('El cliente ya esta registrado').fadeIn('slow');                
                }else{
                    $('.error').html('No existe el numero de cliente').fadeIn('slow');
                }
              
            }
        });    
    })



    $('#btEntrar').on('click', function() {
        
        if($('#numero_cliente').val()==''){
          // alert("Debe ingresar un numero de cliente");
          $('.error').html("Debe ingresar un numero de cliente").fadeIn('slow');
          $("#numero_cliente").focus();
          return false;
        }

        if($('#nombre').val()==''){
          // alert("Debe ingresar un email");
          $('.error').html("Debe ingresar un nombre").fadeIn('slow');
          $("#nombre").focus();
          return false;
        }

        if($('#email').val()==''){
          // alert("Debe ingresar un email");
          $('.error').html("Debe ingresar un email").fadeIn('slow');
          $("#email").focus();
          return false;
        }

        if($('#pass').val()==''){
          // alert("Debe ingresar un password");
          $('.error').html("Debe ingresar una contraseña").fadeIn('slow');
          $("#pass").focus();
          return false;
        }

        if($('#repeat_pass').val()==''){
          // alert("Debe ingresar un password");
          $('.error').html("Debe ingresar repetir contraseña").fadeIn('slow');
          $("#repeat_pass").focus();
          return false;
        }
        
        if($('#repeat_pass').val() != $('#pass').val()){
          // alert("Debe ingresar un password");
          $('.error').html("Contraseña y repetir contraseña no coinciden").fadeIn('slow');
          $("#pass").val('');
          $("#repeat_pass").val('');
          $("#pass").focus();
          return false;
        }

        var datastring = $('#formRegistro').serialize();
        //alert(url)
        $.ajax({
            type: 'POST',
            url: _root_+"registro/registrarDatos",
            data: datastring,
            beforeSend: function(){
              //$('#juego').html('<option>Cargando...</option>');
            },        
            success: function(data){
                if(data=='ok'){
                    $('.error').html('').fadeIn('fast');
                    $('.ok').html('Registro exitoso').fadeIn('slow');
                    setTimeout(function() {
                          window.location.href = _root_ + "home";
                      }, 2500);
                    
                }else{
                    $('.error').html(data).fadeIn('slow');
                }
              
            }
        });

        return false;    
    })

});

</script>