<section id="init">
    <div class="wpForm login">
        <h2>Recuperar contraseña</h2>
        <form role="form" name="form1" id="formLogin" method="post">
            <input type="hidden" value="1" name="enviar">
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
            <label for="email">email</label>
            <input type="email" name="email" id="email" placeholder="violeta.perez@gmail.com">            
            <button id="btEntrar">Enviar</button>

            <div class="ok"></div>
            <?php if(isset($this->_error)):?>
            <div class="error"><?=$this->_error?></div>
            <?php else:?>
            <div class="error"></div>
            <?php endif?>

        </form>

        <small>No soy miembro aún, quiero <a href="<?=$this->_conf['base_url']?>registro">Registrarme</a></small>
        
    </div>
</section>



<script type="text/javascript">
$(document).ready(function() {

    $('.error').hide();
    $('.ok').hide();

    $('#btEntrar').on('click', function() {
        
       
        if($('#email').val()==''){
          $('.error').html("Debe ingresar un email").fadeIn('slow');
          $("#email").focus();
          return false;
        }

        $.ajax({
            type: 'POST',
            url: _root_+"registro/recuperarPass",
            data: $('#formLogin').serialize(),
            beforeSend: function(){
              //$('#juego').html('<option>Cargando...</option>');
            },        
            success: function(data){
                if(data=='ok'){
                    $('.error').html('').fadeOut('fast');
                    $('.ok').html('Se envio la nueva contraseña a su email').fadeIn('slow');
                    /*setTimeout(function() {
                          window.location.href = _root_;
                      }, 2000);*/
                    
                }else{
                    $('.error').html(data).fadeIn('slow');
                }
              
            }
        });

        return false;    
    })

});

</script>