<script>

$(function(){

  $('#contenido_cat, #drag_cat').sortable({
      connectWith: ".conexion",
      start: function (event, ui){
        ui.item.toggleClass("destello", 250);
      },
      stop: function (event, ui){
        ui.item.toggleClass("destello", 250);
      },
      /*update: function(event,ui){
        var ordenPuntos = $(this).sortable('toArray').toString();
        $.ajax({
          type: 'POST',
          url: _root_ + "administrador/catalogos/ordenarGal",
          data: "puntos="+ordenPuntos,
          beforeSend: function(){
            $('#cargadorImg').modal('show');
          },
          success: function(data){
            if(data==1){
              $('#cargadorImg').delay(2000).modal('hide');
              //window.location.href = _root_ + "administrador/blog";
            }
          }
        });
      }*/
  }).disableSelection();
});
  
$(document).ready(function(){


  function getData(_contenedores_){

        var columns = [];

        $(_contenedores_).each(function(){
            columns.push($(this).sortable('toArray').join(','));        
        });
        return columns.join('|');
    }  
  
     
  /*$("#buscar").click(function(){
       
  
    if($('.provs:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos una provincia");
        return false;
    }

    if($('.tipos:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos un tipo de local");
        return false;
    }
     
     var url = _root_ + "administrador/asignacion/traerTotems";     

     $.ajax({
        type: "POST",
        url: url,
        data: $("#selec_totem").serialize(),
        success: function(data){

          $("#contenido_vid").html(data);
                  
        }
     });
     return false;
    });*/

   $("#_enviar_data").click(function(){
       
     
      /*if($('#_porcentaje_medio_pago').val()!=''){
        if (isNaN($("#_porcentaje_medio_pago").val())){
          alert("Debe ingresar un valor numerico");
          $("#_porcentaje_medio_pago").focus();
          return false;
        }
      }
      
      if($('#_porcentaje_lider').val()!=''){
        if (isNaN($("#_porcentaje_lider").val())){
          alert("Debe ingresar un valor numerico");
          $("#_porcentaje_lider").focus();
          return false;
        }
      }*/
       
       //$("._loading").show();
       
      var _data_ = getData('#drag ul.conexion');
      $('input[name="_catalogos"]').val(_data_);


      if($('#_catalogos').val()==''){
          alert("Debe seleccionar al menos un catalogo");
          return false;
      }


      var url = _root_ + "administrador/controlpantalla/consolidarCatalogos";     

        $.ajax({
          type: "POST",
          url: url,
          data: "catalogos="+$('#_catalogos').val(),
          success: function(data){
             if(data == 1){
                  $('#_carga_OK').modal({show:true});

                  setTimeout(function() {
                      $('#_carga_OK').modal('hide');
                      window.location.href = _root_ + "administrador/controlpantalla/cargarFooter";
                  }, 2500);

              }else{
                  $("._respuesta").html('').append(data).fadeIn('slow');
               //$("._loading").hide();

              }
          }
        });
        return false;
    });

   
});

</script>


<div class="modal inmodal fade" id="_carga_OK" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    <a href="#" class="alert-link"> Guardando Datos. Espere...</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li><?=(isset($_SESSION['asignacion']['_videos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/controlpantalla/cargarHeader">Header</a>' : 'Header' ?></li>
                  <li class="active">Catalogos</li>
                  <li><?=(isset($_SESSION['asignacion']['_footer'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/controlpantalla/cargarFooter">Footer</a>' : 'Footer' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_fondos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/controlpantalla/cargarFondos">Fondos</a>' : 'Fondos' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_fecha_inicial'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/controlpantalla/selecVigencia">Vigencia</a>' : 'Vigencia' ?></li>

                </ol>
            </div>           
            
      </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
      
        <div class="row">
        
          <form class="form-horizontal" id="selec_cat" action="" method="POST" role="form">
            <input type="hidden" name="envio01" value="1" />
            <input type="hidden" id="_catalogos" name="_catalogos">
            
            <fieldset>
          <legend>Catalogos</legend>             
                
                
                             

                <div class="form-group">
                    <ul id="contenido_cat" class="col-lg-6 content conexion"> 
                      <?php foreach($this->catalogos as $cat):?>
                      <li id="<?=$cat->id?>" class="cont_contenido">
                        <h3><?=$cat->titulo?></h3>                    
                      </li>
                      <?php endforeach?>                
                    </ul>
                    <div id="drag" class="col-lg-6">
                        <ul class="list-group aaau conexion" id="drag_cat">
                          <?php if(isset($_SESSION['asignacion']['_catalogos'])):?> 
                          <?php $_cats = explode(',', $_SESSION['asignacion']['_catalogos']);?>                               
                          <?php for ($i=0; $i<count($_cats); $i++):?>
                          <li id="<?=admin::traerCatalogoPorID($_cats[$i])->id?>" class="cont_contenido">
                              <h3><?=admin::traerCatalogoPorID($_cats[$i])->titulo?></h3>
                          </li>
                          <?php endfor?>
                          <?php endif?>
                        </ul>
                    </div>
                </div>
                
              
                   
                

                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" id="_enviar_data" name="continuar" value="Continuar" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-9">
                        <div class="_respuesta" style="display:none;color:red;"></div>
                    </div>
                </div>
    </fieldset>
  </form>
  </div>
    
  <br><br>
        
    </div>
    
</div>