<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
              <ol class="breadcrumb">
                  <li><a href="<?=$this->_conf['url_enlace']?>administrador/controlpantalla/selecTotem">Control de pantallas</a></li>
                  <li class="active">Modificar Contenido</li>
                  
              </ol>
            </div>           
            
      </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
      
      <div class="row">                             
                
        <div class="form-group">
          <div id="contenido_totem" class="col-lg-12">
            <h3><?=$this->totem->nombre?>, <?=$this->totem->localidad?>.</h3>
          </div>
        </div>

                     

        <div class="form-group">
            <div id="contenido_totem" class="col-lg-12">
              <?php foreach($this->asignaciones as $data):?>
              <?php $_sinc = ($data->fecha_sincronizacion!='') ? $data->fecha_sincronizacion->format('d-m-Y H:i') : 'Nunca';?>
              <div id="<?=$data->id?>" class="cont_asig">
                <div class="col-lg-12">
                  <h4>
                    <?=$data->vigencia_desde->format('j-m-Y G:i').'hs'?> - <?=$data->vigencia_hasta->format('j-m-Y G:i').'hs'?>
                  </h4>
                  <hr>
                </div>
                <div class="col-lg-12">
                  <?php if($data->ids_catalogos!=''):?>
                  <?php $_dat = explode(',', $data->ids_catalogos)?>
                  <p>Catalogos:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-primary btn-xs"><?=admin::traerCatalogoPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?>

                  <?php if($data->ids_videos!=''):?>
                  <?php $_dat = explode(',', $data->ids_videos)?>
                  <p>Header:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-primary btn-xs"><?=admin::traerVideoPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?>

                  <?php if($data->ids_footers!=''):?>
                  <?php $_dat = explode(',', $data->ids_footers)?>
                  <p>Footer:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-primary btn-xs"><?=admin::traerPromocionPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?>

                  <?php if($data->ids_fondos!=''):?>
                  <?php $_dat = explode(',', $data->ids_fondos)?>
                  <p>Fondo:<br> 
                  <?php for($i=0;$i<count($_dat);$i++):?>
                  <small class="btn btn-primary btn-xs"><?=admin::traerFondoPorID($_dat[$i])->titulo?></small>
                  <?php endfor?>                          
                  <?php endif?>                        

                  <hr>
                </div>
                <div class="col-lg-12">
                  <p>Ultima sincronizacion: <strong><?=$_sinc?></strong></p>
                  <p>Estado: <strong><?=$data->estado?></strong></p>
                </div>
                <div class="col-lg-10">
                  <a class="btn btn-success btn-sm" href="<?=$this->_conf['url_enlace']?>administrador/controlpantalla/editarContenido/<?=$data->id?>">Modificar</a>
                  <?php $_update = admin::traerAsignacionUpdatePorIdAsig($data->id)?>
                  <?php if(isset($_update)):?>
                  <a class="btn btn-danger btn-sm" href="<?=$this->_conf['url_enlace']?>administrador/controlpantalla/ultimoCambio/<?=$this->totem->id?>/<?=$data->id?>">Deshacer último cambio</a>
                  <?php endif?>
                </div>
              </div>
              <?php endforeach?>

            </div>                    
        </div>
                           
      </div>
         
    </div>    
</div>