<script>
$.datepicker.regional['es'] = {
closeText: 'Cerrar',
prevText: '<Ant',
nextText: 'Sig>',
currentText: 'Hoy',
monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
weekHeader: 'Sm',
dateFormat: 'dd-mm-yy',
firstDay: 1,
isRTL: false,
showMonthAfterYear: false,
yearSuffix: ''
};
$.datepicker.setDefaults($.datepicker.regional['es']);

$.timepicker.regional['es'] = {
  timeOnlyTitle: 'Elegir una hora',
  timeText: 'Hora',
  hourText: 'Horas',
  minuteText: 'Minutos',
  secondText: 'Segundos',
  millisecText: 'Milisegundos',
  timezoneText: 'Huso horario',
  currentText: 'Ahora',
  closeText: 'Cerrar',
  timeFormat: 'HH:mm',
  amNames: ['a.m.', 'AM', 'A'],
  pmNames: ['p.m.', 'PM', 'P'],
  isRTL: false
};
$.timepicker.setDefaults($.timepicker.regional['es']);


$(document).ready(function(){


  $('#fecha_inicial').datetimepicker({
    dateFormat: "dd-mm-yy",
    timeFormat: "HH:mm",
    locale: 'es'
  });

   $('#fecha_final').datetimepicker({
    dateFormat: "dd-mm-yy",
    timeFormat: "HH:mm"
  });
  
  //$.datetimepicker.regional['es'];
  
  $("#_enviar_data").click(function(){
       
      if($('#fecha_inicial').val()==''){
          alert("Debe seleccionar una fecha inicial");
          return false;
      }

      if($('#fecha_final').val()==''){
          alert("Debe seleccionar una fecha final");
          return false;
      }


      var url = _root_ + "administrador/controlpantalla/consolidarVigencia";     

        $.ajax({
          type: "POST",
          url: url,
          data: $('#selec_vig').serialize(),
          success: function(data){
             if(data == 1){
                  $('#_carga_OK').modal({show:true});

                  setTimeout(function() {
                      $('#_carga_OK').modal('hide');
                      window.location.href = _root_ + "administrador/controlpantalla";
                  }, 2500);

              }else{
                  $("._respuesta").html('').append(data).fadeIn('slow');
               //$("._loading").hide();

              }
          }
        });
        return false;
    });

   
});

</script>


<div class="modal inmodal fade" id="_carga_OK" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    <a href="#" class="alert-link"> Guardando Datos. Espere...</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li><?=(isset($_SESSION['asignacion']['_videos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/controlpantalla/cargarHeader">Header</a>' : 'Header' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_catalogos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/controlpantalla/cargarCatalogos">Catalogos</a>' : 'Catalogos' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_footer'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/controlpantalla/cargarFooter">Footer</a>' : 'Footer' ?></li>
                  <li><?=(isset($_SESSION['asignacion']['_fondos'])) ? '<a href="'.$this->_conf['url_enlace'].'administrador/controlpantalla/cargarFondos">Fondos</a>' : 'Fondos' ?></li>
                  <li class="active">Vigencia</li>
                </ol>
            </div>           
            
      </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
      
        <div class="row">
        
          <form class="form-horizontal" id="selec_vig" action="" method="POST" role="form">
            <input type="hidden" name="envio01" value="1" />
            
            <fieldset>
          <legend>Asignar fechas</legend>             
                
                
                             

                <div class="form-group">                    
                    <div class="col-lg-6"> 
                        <h5>Fecha Inicial</h5>
                        <input class="form-control" type="text" id="fecha_inicial" name="fecha_inicial" value="<?=(isset($this->fecha_inicial)) ? $this->fecha_inicial : ''?>" />              
                    </div>

                    <div class="col-lg-6">
                       <h5>Fecha Final</h5> 
                       <input class="form-control" type="text" id="fecha_final" name="fecha_final" value="<?=(isset($this->fecha_final)) ? $this->fecha_final : ''?>" /> 
                    </div>
                </div>
                
              
                   
                

                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" id="_enviar_data" name="guardar" value="Guardar" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-9">
                        <div class="_respuesta" style="display:none;color:red;"></div>
                    </div>
                </div>
    </fieldset>
  </form>
  </div>
    
  <br><br>
        
    </div>
    
</div>