<script>

  
$(document).ready(function(){

  
     
  $("#buscar").click(function(){
       
     

    if($('.provs:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos una provincia");
        return false;
    }

    if($('.tipos:checkbox:checked').length == 0){
        alert("Debe seleccionar al menos un tipo de local");
        return false;
    }
     
     var url = _root_ + "administrador/controlpantalla/traerTotems";     

     $.ajax({
        type: "POST",
        url: url,
        data: $("#selec_totem").serialize(),
        success: function(data){

          $("#contenido_totem").html(data);
                  
        }
     });
     return false;
    });

   /*$("#_enviar_data").click(function(){
       
            
       //$("._loading").show();
       
      var _data_ = getData('#drag ul.conexion');
      $('input[name="_totems"]').val(_data_);
      var url = _root_ + "administrador/asignacion/consolidarTotems";     

        $.ajax({
          type: "POST",
          url: url,
          data: "totems="+$('#_totems').val(),
          success: function(data){
             if(data == 1){
                  $('#_carga_OK').modal({show:true});

                  setTimeout(function() {
                      $('#_carga_OK').modal('hide');
                      window.location.href = _root_ + "administrador/asignacion/cargarHeader";
                  }, 2500);

              }else{
                  $("._respuesta").html('').append(data).fadeIn('slow');
               //$("._loading").hide();

              }
          }
        });
        return false;
    });*/

   
});

</script>


<div class="modal inmodal fade" id="_carga_OK" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    <a href="#" class="alert-link"> Guardando Datos. Espere...</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
      
        <div class="row">
        
          <form class="form-horizontal" id="selec_totem" action="" method="POST" role="form">
            <input type="hidden" name="envio01" value="1" />
            <input type="hidden" id="_totems" name="_totems">
            
            <fieldset>
          <legend>Control de pantallas</legend>             
                
                
               
                 <div class="form-group">
                    <div class="form-group col-lg-12">
                      <strong>Podes seleccionar hasta 4 provincias</strong>
                    </div>
                    <div class="col-lg-10">                            
                      <?php foreach($this->provincias as $prov):?>
                      <div class="col-lg-4">
                        <div class="col-lg-1">
                          <input type="checkbox" class="form-control provs" name="prov[]" value="<?=$prov->id?>"> 
                        </div>
                        <div class="col-lg-10">
                          <?=$prov->nombre?>
                        </div>
                      </div>
                      <?php endforeach?>
                    </div>  
                </div>


                <div class="form-group">
                    <div class="form-group col-lg-12">
                      <strong>Podes seleccionar hasta 3 tipos de locales</strong>
                    </div>
                    <div class="col-lg-10">                            
                       <?php foreach($this->tipo_locales as $tipo):?>
                        <div class="col-lg-4">
                          <div class="col-lg-1">
                            <input type="checkbox" class="form-control tipos" name="tipo_local[]" value="<?=$tipo->id?>"> 
                          </div>
                          <div class="col-lg-10">
                            <?=$tipo->nombre?>
                          </div>
                        </div>
                        <?php endforeach?>
                     </div>  
                </div>
                
                <div class="form-group">
                    <div class="col-lg-2">
                        <input type="submit" class="btn btn-info btn-lg btn-block" id="buscar" name="buscar" value="Buscar" />
                    </div>
                </div>

                <div class="form-group">
                    <div id="contenido_totem" class="col-lg-10"></div>                    
                </div>
                
              
                   
                

               <!--  <div class="form-group">
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" id="_enviar_data" name="continuar" value="Continuar" />
                    </div>
                </div> -->

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-9">
                        <div class="_respuesta" style="display:none;color:red;"></div>
                    </div>
                </div>
    </fieldset>
  </form>
  </div>
    
  <br><br>
        
    </div>
    
</div>