<script>
$(document).ready(function() {
	
  

  // $("#fecha_nacimiento").mask("99/99/9999",{placeholder:"mm/dd/yyyy"});
		
	$('#editar_trabajo').submit(function(){
		
		


            
     /*  if ($("#titulo").val() == "") {
        alert("Debe completar el campo titulo");
        $("#titulo").val('');
        $('#titulo').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

     if ($("#codigo").val() == "") {
        alert("Debe completar el campo codigo DDS");
        $("#codigo").val('');
        $('#codigo').focus();     
        //$("#titulo").attr('placeholder', 'Titulo');
        return false;        
      }

      if ($("#descripcion").val() == "") {
          alert('Debe completar el campo descripcion');
          var _algo = "descripcion";
          CKEDITOR.instances[_algo].focus();
          return false;        
      }

      if($('._load_img_final_thumb').children().length == 0){
        alert("Debe seleccionar una imagen");
        return false; 
      }*/
					
			
	return true;
		
	
	});
	
	
	
});

</script>


<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Clientes</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>


<div class="row wrapper wrapper-content">  
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Editar Cliente</h5>
                        </div>
                        <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" >
                        <input type="hidden" name="envio01" value="1" />
                        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">


                        
                        
                        
                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Numero Cliente</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="numero_cliente" name="numero_cliente" placeholder="Numero cliente" value="<?php echo $this->trabajo['numero_cliente']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Razon Social</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="razon_social" name="razon_social" placeholder="Razon social" value="<?php echo $this->trabajo['razon_social']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Ciudad</label>
                                <div class="col-lg-9">
                                   <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad" value="<?php echo $this->trabajo['ciudad']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Provincia</label>
                                <div class="col-lg-9">
                                 <input type="text" class="form-control" id="provincia" name="provincia" placeholder="Provincia" value="<?php echo $this->trabajo['provincia']?>">
                                </div>
                            </div>
                        </div>

                       <!--  <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Nombre</label>
                                <div class="col-lg-9">
                                   <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" value="<?php echo $this->trabajo['nombre']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Fecha Nacimiento</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="Fecha Nacimiento" value="<?php echo $this->trabajo['fecha_nacimiento']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="<?php echo $this->trabajo['email']?>">
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content">                           
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Contraseña</label>
                                <div class="col-lg-9">
                                  <input type="text" class="form-control" id="password" name="password" placeholder="Contraseña" value="<?php echo $this->trabajo['password']?>">
                                </div>
                            </div>
                        </div> -->
                       

                        <div class="ibox-content">
                          <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-2">
                                      <input type="submit" class="btn btn-success" id="validatex" name="cargar" value="Guardar" />
                                    </div>                                                                       
                                </div>
                                
                             
                            </div>                            
                        </div>
                       </form> 
                    </div>
                </div>
          </div>
      </div>
  </div>
</div>




<!-- 

<div id="head-bg-fix"></div>
<div class="wpContent"> 
	<div class="btn-group-usuario">
	  <a class="active" href="#">
	    Editar Usuario
	  </a>
	</div> 
        
    <form class="form-horizontal" id="editar_trabajo" action="" method="POST" role="form" >
        <input type="hidden" name="envio01" value="1" />
        <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
       
                         
               
              <div class="form-group formulario_back">
                  <label for="numero_cliente" class="col-lg-2 control-label">Numero cliente</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="numero_cliente" name="numero_cliente" placeholder="Numero cliente" value="<?php echo $this->trabajo['numero_cliente']?>">
                    </div>
              </div>  

              <div class="form-group formulario_back">
                  <label for="razon_social" class="col-lg-2 control-label">Razon social</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="razon_social" name="razon_social" placeholder="Razon social" value="<?php echo $this->trabajo['razon_social']?>">
                    </div>
              </div> 

              <div class="form-group formulario_back">
                  <label for="ciudad" class="col-lg-2 control-label">Ciudad</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="ciudad" name="ciudad" placeholder="Ciudad" value="<?php echo $this->trabajo['ciudad']?>">
                    </div>
              </div> 

              <div class="form-group formulario_back">
                  <label for="provincia" class="col-lg-2 control-label">Provincia</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="provincia" name="provincia" placeholder="Provincia" value="<?php echo $this->trabajo['provincia']?>">
                    </div>
              </div> 

              <div class="form-group formulario_back">
                  <label for="fecha_nacimiento" class="col-lg-2 control-label">Fecha Nacimiento</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="Fecha Nacimiento" value="<?php echo $this->trabajo['fecha_nacimiento']?>">
                    </div>
              </div> 

              <div class="form-group formulario_back">
                  <label for="email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="<?php echo $this->trabajo['email']?>">
                    </div>
              </div> 

              <div class="form-group formulario_back">
                  <label for="password" class="col-lg-2 control-label">Contraseña</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="password" name="password" placeholder="Contraseña" value="<?php echo $this->trabajo['password']?>">
                    </div>
              </div> 

              

             
             
            
      		<div class="btnEditCont">
              	<input type="submit" class="btn" id="validatex" name="cargar" value="Guardar" />
            
            </div>
	</form>
</div>
     -->


