<script language="javascript">
$(document).ready(function() {

  $("#btBuscador").click(function(){  
  
  
    if ($("#buscador").val() == "") {
      return false;        
    } 
    
    var valor = $("#buscador").val();
    
    var dataString = 'valor='+valor+'&_csrf=<?=$this->_sess->get('_csrf')?>';
    $.ajax({            
            type: 'POST',
            url: _root_+"administrador/clientes/buscador", 
            data: dataString,
            beforeSend: function(){
              //$('.pagination').hide();
              $('#contenedor').fadeOut('fast', function(){
                $('.loader').fadeIn('fast');        
              });
            },
            success: function(data){
              $('#contenedor').html(data);
              //$('.pagination').hide();
              $('.loader').fadeOut('fast', function(){
                $('#contenedor').fadeIn('fast');  
                $('.loader').fadeOut('fast');     
              });
        
            },
            error: function(){
                 alert('error!!');
            }
        });
    
    
  })
  
  // $(".botonExcel").click(function(event) {
  //     $("#datos_a_enviar").val( $("<div>").append( $("#Exportar_a_Excel").eq(0).clone()).html());
  //     $("#FormularioExportacion").submit();
  // });

  /*$("#_exportar").click(function(){
       
           
      //var _data_ = $("#Exportar_a_Excel").eq(0).clone()).html();
      //$('input[name="_fondos"]').val(_data_);
     
      var url = _root_ + "administrador/clientes/exportaDatos";     
      $.ajax({
        type: "POST",
        url: url,
        data: "exportar=si",
        success: function(data){

          window.open(data,'_self' );
           
        }
      });
      return false;
  });*/
   

});
</script>

<div class="row wrapper">
    <div class="col-lg-10">
        <h2>Clientes</h2>        
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content">  
    <div class="ibox-title">  
        <a class="btn btn-w-m btn-success" href="<?php echo $this->_conf['url_enlace']?>administrador/clientes/cargar">
          Cargar Excel
        </a> 

        <a class="btn btn-w-m btn-info" id="_exportar" href="<?php echo $this->_conf['url_enlace']?>administrador/clientes/exportaDatos">
          Exportar datos
        </a> 

    </div>
    <div class="ibox-content forum-container">
        <div class="row">
            <div class="col-lg-4">
                <form role="form" method="post" action="">
                    <input type="hidden" id="estado" name="estado" value="alta" />
                    <div class="btn-group">
                        <div class="input-group m-b">
                          <input class="form-control m-b" id="buscador" name="buscador" placeholder="Buscar por Nro cliente o razon social" type="text" />
                            <span class="input-group-btn">
                                <button id="btBuscador" type="button" class="btn btn-primary">
                                     <i class="fa fa-search"></i>
                                </button> 
                            </span> 
                            
                        </div>
                    </div>
                </form>
          </div>
      </div> 
    </div>


    <div id="contenedor" class="ibox-content forum-container">
    
        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <div class="forum-item">
            <div class="row">
                <div class="col-md-10">                    
                    <a href="" class="forum-item-title">
                        <?php echo admin::convertirCaracteres($datos['razon_social'])?>
                    </a>                                    
                    <small>Nº Cliente: <b><?=$datos['numero_cliente']?></b></small>
                </div>

                <div class="col-md-2 forum-info">
                    <div class="tooltip-demo pull-right">                    

                        <a class="btn btn-warning btn-round" href="<?php echo $this->_conf['url_enlace']?>administrador/clientes/editar/<?php echo $datos['id']?>">
                           Editar
                        </a>&nbsp;&nbsp;

                       <!--  <a href="javascript:void(0);" class="btn btn-danger btn-round _borrar_<?php echo $datos['id']?>" title="Borrar">
                            Eliminar
                        </a>&nbsp;&nbsp; -->

                    </div>
                </div>
            </div>
        </div>
       

        <?php endforeach?> 

        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>
    </div>
    <div class="loader"></div> 
   <?php echo (isset($this->paginacion)) ? $this->paginacion : ''?>
</div>





