<style>
.contenedor{
	width:<?=$this->size[0]/2?>px;
}
</style>

<div id="head-bg-fix"></div>
<div class="wpContent"> 
    <div class="btn-group-usuario">
      <a class="active" href="#">
        Vista Previa
      </a>
    </div> 
    <div class="wpBtnsOK">
        <a href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos/activarCatalogo/<?=$this->trabajo->id?>" class="btn btn-success btn-lg btn-block">ACTIVAR</a>
        <a href="<?php echo $this->_conf['url_enlace']?>administrador/contenidos/editarCatalogo/<?=$this->trabajo->id?>" class="btn btn-warning btn-lg btn-block">EDITAR</a>        
    </div>
  	<div>

    	<div class="flipbook-viewport">
            <div class="contenedor">
                <div class="flipbook">
                <?php foreach($this->imagenes as $img):?>
                <div style="background-image:url(<?=$this->_conf['base_url']?>public/img/subidas/catalogos/cat_<?=$this->trabajo->identificador?>/<?=$img->path?>)"></div>
                <?php endforeach?>
                </div>
            </div>
        </div>
</div>


<script>
$(document).ready(function(e) {	
	$('.flipbook').turn({
		display: 'single',
		width:<?=$this->size[0]/2?>,			
		height:<?=$this->size[1]/2?>,
		elevation: 50,
		gradients: true,
		autoCenter: true
	});
});
</script>

        



