<script>

$(document).ready(function() {
        
    var page=2;
    
    $.fn.loadMore = function(_cantReg){       
        var dataString = "p="+page+'&_csrf=<?=$this->_sess->get('_csrf')?>';
            
        $.ajax({
            type: "POST",
            url: _root_ + "clubaliadas/paginacion",
            data: dataString,
            //dataType: 'json',
            beforeSend: function(){
                //$('#btnVerMas').fadeOut('fast',function(){
                    $(".loader").fadeIn('slow');
                //});
                
            },
            success: function(datos){
                $(".loader").fadeOut('fast',function(){                 
                    //$("#contColeccionesAnteriores").append(datos);
                    $(datos).hide().appendTo('#contenido').fadeIn('slow');
                    
                    if(page==_cantReg){
                        $('#btnVerMas').hide();
                    }else{                  
                        page=page+1;
                        $('#btnVerMas').show();
                    }
                    
                }); 
                
                
            }
        });
    }
    
});


function canjear(_puntos, _idclub){

    var datastring = "puntos="+_puntos+"&club="+_idclub+'&_csrf=<?=$this->_sess->get('_csrf')?>';
    //alert(url)
    $.ajax({
        type: 'POST',
        url: _root_+"clubaliadas/canjear",
        data: datastring,
        beforeSend: function(){
          //$('#juego').html('<option>Cargando...</option>');
        },        
        success: function(data){
            if(data=='ok'){
                alert('Puntos canjeados');
                window.location.href = _root_ + "clubaliadas";
            }

            /*if(data=='ok'){
                $('.error').html('').fadeOut('fast');
                $('.ok').html('Los cambios se guardaron exitosamente').fadeIn('slow');
                setTimeout(function() {
                      window.location.href = _root_ + "perfil";
                  }, 1000);
                
            }else{
                $('.error').html(data).fadeIn('slow');
            }*/
          
        }
    });

}
   


</script>


<section>

    <!--------------
     ACÁ VA BANNER 
    --------------->
   

    <!-- LISTA DE NOTAS -->
    <div id="contenido" class="list wp club_aliadas">
       
        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <?php         
        $_img = home::traerDataImagenPorIdentificador($datos['identificador'],'clubaliadas');
        if($_img !=''){            
            $_url_img = $this->_conf['base_url'] . "public/img/subidas/clubaliadas/". $_img->path;             
        }
        ?>

        <div class="canjes">
            <div class="img" style="background-image: url(<?=$_url_img?>)">
                <span class="label"><?=$datos['puntos']?> PTS.</span>
            </div>
            <h2><?=home::convertirCaracteres($datos['titulo'])?></h2>
            <?php if($datos['puntos'] <= $this->total): ?>
            <a href="javascript:void(0);" onclick="canjear(<?=$datos['puntos']?>, <?=$datos['id']?>);">
               canjear
            </a>
            <?php endif?>
        </div>

        <?php endforeach?> 
        
        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>
       
    </div>

    <div class="loader"></div>

    <?php if(!empty($this->datos)):?>
    <?php if ($this->cantReg!=1):?>      
    <div class="btn_carga_mas _vermas">
        <a id="btnVerMas" href="javascript:void(0);" onclick="$().loadMore(<?=$this->cantReg?>)">Ver más</a>
    </div>        
    <?php endif?> 
    <?php endif?>


    <div class="banner_bottom">
        <?php if($this->banners_bottom):?>
        <?php foreach ($this->banners_bottom as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <?php if($val['link']!=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php else:?>
        <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        <?php endif?>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>
    

    <!-- CONTACTO -->
    <div id="contacto">
        <h2>Contacto</h2>
        <p>Comunicate con nosotras completando el formulario, atenderemos todas tus dudas.</p>
        <form id="formContacto" action="" method="POST">
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido de la Aliada" value="<?=$this->data_user['nombre']?>" required="" readonly>
            <input type="text" id="numero_cliente" name="numero_cliente" placeholder="Número de Cliente" value="<?=$this->data_user['numero_cliente']?>" required="" readonly>
            <input type="email" id="email" name="email" required="" placeholder="Email" value="<?=$this->data_user['email']?>" readonly>
            <input type="text" id="nombre_farmacia" name="nombre_farmacia" placeholder="Nombre de la Farmacia" value="<?=$this->data_user['razon_social']?>" required="" readonly>
            <textarea id="consulta" name="consulta" requided="" placeholder="Consulta"></textarea>
            <input type="button" name="bt_contacto" id="bt_contacto" value="ENVIAR">
           <!--  <button>ENVIAR</button> -->
        </form>
        <div class="ok"></div>
        <div class="error"></div>
        <hr>
        <div class="info">
            <div class="wp">
                <div class="post data">
                    <h3>Datos de Contacto</h3>
                    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:aliadas@drogdelsud.com.ar">aliadas@drogdelsud.com.ar</a></p>

                    <p><i class="fa fa-phone" aria-hidden="true"></i> Conmutador General<br>
                    (011) 4309-9100</p>

                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Humberto Primo 1868, Capital Federal.
                    Buenos Aires, Argentina </p>
                </div>
                <div class="post">
                    <h3>Instagram Post</h3>
                    <!-- LightWidget WIDGET 
                    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
                    <iframe src="http://lightwidget.com/widgets/f8070f67a138540bab825fefaf43b05b.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>-->
                </div>
            </div>
        </div>
    </div>
</section>









<!-- 



 <div class="wrapper wrapper-content">  
    <div class="ibox-title">  
        <h4>Club Aliadas</h4>              
    </div>
 

    <div class="ibox-content">
        <?php if($this->banners_top):?>
        <?php foreach ($this->banners_top as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>

    <div id="contenido" class="ibox-content forum-container">
    
        <?php if($this->datos):?>
        <?php foreach($this->datos as $datos):?>

        <div id="item_<?=$datos['id']?>" class="forum-item" style="float: left; margin-right: 10px;">
            <div class="row">
                <div class="col-md-10"> 

                    <?php $_img = home::traerDataImagenPorIdentificador($datos['identificador'],'clubaliadas');?>
                    <?php if($_img !=''):?>
                    <img src=" <?= $this->_conf['base_url'] . "public/img/subidas/clubaliadas/". $_img->path ?>" width="300">
                    <?php endif?>
                    <br>
                    <small>Puntos: <?=$datos['puntos']?></small>
                    <br>
                    <small>Monto: <?=$datos['monto']?></small>
                    <h4><strong><?=admin::convertirCaracteres($datos['titulo'])?></strong></h4>                              
                    <?=admin::convertirCaracteres($datos['descripcion'])?>

                    <?php if($datos['puntos'] <= $this->total): ?>
                    <a class="btn btn-warning" href="javascript:void(0);" onclick="canjear(<?=$datos['puntos']?>, <?=$datos['id']?>);">
                           Canjear
                        </a>
                    <?php endif?>

                </div>
               
            </div>
        </div>

    

        <?php endforeach?> 

        <?php else:?>
        <p>No hay datos cargados!</p>
        <?php endif?>
    </div>

    <div class="loader"></div>
    <div style="clear: both;"></div>

    <?php if(!empty($this->datos)):?>
    <?php if ($this->cantReg!=1):?>      
    <div class="ibox-content">
        <a id="btnVerMas" href="javascript:void(0);" class="btn btn-warning" onclick="$().loadMore(<?=$this->cantReg?>)">Ver más</a>
    </div>        
    <?php endif?> 
    <?php endif?>

    <div style="clear: both;"></div>


    <div class="ibox-content">
        
        <div class="forum-item comment-form-container">
            <form id="frm-comment" method="post">
                <div class="input-row _resp"><h3>Responder comentario</h3></div>
                <div class="input-row">
                    <input type="hidden" name="id_user" id="id_user" value="<?=$this->_sess->get('id_usuario_front')?>" /> 
                    <input type="hidden" name="id_nota" id="id_nota" value="<?=$this->id_nota?>" />
                    <input type="hidden" name="seccion" id="seccion" value="<?=$this->seccion?>" /> 
                    <input type="hidden" name="comment_id" id="commentId" value="0" /> 
                    <input class="input-field" type="text" name="name" id="name" placeholder="Nombre" value="<?=$this->_sess->get('usuario_front')?>" readonly />
                </div>
                <div class="input-row">
                    <textarea class="input-field" type="text" name="comment" id="comment" placeholder="Agregar comentario"></textarea>
                </div>
                <div>
                    <input type="button" class="btn-submit" id="submitButton" value="Publicar" />
                    <div id="comment-message">Comentario ha sido agregado exitosamente!</div>
                </div>
                <div style="clear:both"></div>
            </form>
        </div>
        <div id="output"></div>

        <script>

            $(document).ready(function() {

                $("#comment-message").css('display', 'none');
                $("._resp").hide();
                listComment();
            });

                function postReply(commentId) {
                    $("._resp").show();
                    $('#commentId').val(commentId);
                    $("#name").focus();
                }

                $("#submitButton").click(function() {
                    
                    $("#comment-message").css('display', 'none');
                    var str = $("#frm-comment").serialize();

                    $.ajax({
                        url : _root_+"coment/coment_add",
                        data : str,
                        type : 'post',
                        success : function(response) {
                                var result = eval('(' + response + ')');
                                if (response) {
                                    $("._resp").hide();
                                    $("#comment-message").css('display', 'inline-block');
                                    // $("#name").val("");
                                    $("#comment").val("");
                                    $("#commentId").val(0);
                                    listComment();
                                } else {
                                    alert("Failed to add comments !");
                                    return false;
                                }
                        }
                    });
                });



                function listComment() {
                        
                    $.post(
                        _root_+"coment/coment_list",
                        function(data) {
                            var data = JSON.parse(data);

                            var comments = "";
                            var replies = "";
                            var item = "";
                            var parent = -1;
                            var results = new Array();

                            var list = $("<ul class='outer-comment'>");
                            var item = $("<li>").html(comments);

                            for (var i = 0; (i < data.length); i++) {
                                var commentId = data[i]['id'];
                                parent = data[i]['id_comentario_padre'];

                                if (parent == "0") {
                                    comments = "<div class='comment-row'>"
                                                    + "<img src='"+_root_+"public/img/subidas/user/"+ data[i]['path'] +"' width='50' />"
                                                    + "<div class='comment-info'><span class='commet-row-label'>de</span> <span class='posted-by'>"
                                                    + data[i]['usuario']
                                                    + " </span> <span class='commet-row-label'>a las</span> <span class='posted-at'>"
                                                    + data[i]['fecha'] + "</span></div>"
                                                    + "<div class='comment-text'>" + data[i]['comentario'] + "</div>"
                                                    + "<div><a class='btn-reply' onClick='postReply(" + commentId + ")'>Responder</a></div>"
                                                    + "</div>";

                                    var item = $("<li>").html(comments);
                                    list.append(item);
                                    var reply_list = $('<ul>');
                                    item.append(reply_list);
                                    listReplies(commentId, data, reply_list);
                                }
                        }
                        $("#output").html(list);
                    });
                }

                function listReplies(commentId, data, list) {
                    
                    for (var i = 0; (i < data.length); i++) {
                        if (commentId == data[i].id_comentario_padre) {
                                var comments = "<div class='comment-row'>"
                                                + "<img src='"+_root_+"public/img/subidas/user/"+ data[i]['path'] +"' width='50' />"
                                                + " <div class='comment-info'><span class='commet-row-label'>de</span> <span class='posted-by'>"
                                                + data[i]['usuario']
                                                + " </span> <span class='commet-row-label'>a las</span> <span class='posted-at'>"
                                                + data[i]['fecha'] + "</span></div>"
                                                + "<div class='comment-text'>" + data[i]['comentario'] + "</div>"                                    
                                                + "</div>";
                                var item = $("<li>").html(comments);
                                var reply_list = $('<ul>');
                                list.append(item);
                                item.append(reply_list);
                                listReplies(data[i].id, data, reply_list);
                        }
                    }
                }


        </script>


    </div>

    <div class="ibox-content">
        <?php if($this->banners_bottom):?>
        <?php foreach ($this->banners_bottom as $val):?>
        <?php $_img = home::traerDataImagenPorIdentificador($val['identificador'],'banners');?>
        <?php if($_img !=''):?>
        <a href="<?=$val['link']?>">
            <img src="<?=$this->_conf['base_url']?>public/img/subidas/banners/<?=$_img->path?>" />
        </a>
        <?php endif?>
        <?php endforeach?>
        <?php endif?>
    </div>
  
</div>

 -->