<script>
function generar_id(){
	var url= _root_ + "administrador/totems/generarID";
	$.ajax({
		url:url,
		contentType:"application/x-www-form-urlencoded",
		dataType:"html",
		error:function(e){
			alert(e);
		},	
		ifModified:false,
		processData:true,
		success:function(datas){
			$("#codigo").val(datas);
		},
		type:"POST"
		//timeout:3000
	});
}
$(document).ready(function() {
	
	
	
	
	$('#cargar_trabajo').submit(function(){
		
			if ($("#super").val() == "") {
				alert("Debe elegir un supermercado");
				$("#super").val('');
				$('#super').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
			if ($("#provincia").val() == "") {
				alert("Debe elegir una provincia");
				$("#provincia").val('');
				$('#provincia').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
			if ($("#tipo_local").val() == "") {
				alert("Debe elegir un supermercado");
				$("#tipo_local").val('');
				$('#tipo_local').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
			
			if ($("#localidad").val() == "") {
				alert("Debe completar el campo localidad");
				$("#localidad").val('');
				$('#localidad').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
			
			if ($("#nombre").val() == "") {
				alert("Debe completar el campo nombre");
				$("#nombre").val('');
				$('#nombre').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}

			if ($("#direccion").val() == "") {
				alert("Debe completar el campo dirección");
				$("#direccion").val('');
				$('#direccion').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}

			
			if ($("#codigo").val() == "") {
				alert("Debe completar el campo ID");
				$("#codigo").val('');
				$('#codigo').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
			
			var _cadena = $("#codigo").val();
			if (_cadena.length < 15 || _cadena.length > 15) {
				alert("El ID debe tener 15 caracteres");
				$("#codigo").val('');
				$('#codigo').focus();			
				return false;        
			}
			
		/*	
			if ($("#nombre").val() == "") {
				alert("Debe completar el campo nombre");
				$("#nombre").val('');
				$('#nombre').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
			
			if ($("#apellido").val() == "") {
				alert("Debe completar el campo apellido");
				$("#apellido").val('');
				$('#apellido').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
						
			if ($("#puesto").val() == "") {
				alert("Debe completar el campo puesto");
				$("#puesto").val('');
				$('#puesto').focus();			
				//$("#titulo").attr('placeholder', 'Titulo');
				return false;        
			}
			if ($("#imagen").val() == "") {
				alert("Debe subir una imagen");
				$('#imagen').focus();			
				return false;        
			}*/
			
			
			return true;
		
	
	});
	
	
	
});
</script>
<div id="head-bg-fix"></div>
<div class="wpContent">   
  <div class="btn-group-usuario">
  	<a href="<?php echo $this->_conf['url_enlace']?>administrador/totems">
	    Ver Totems
	</a>
    <a class="active" href="#">
        Cargar Totem
    </a>
  </div>  
  <div class="wpFormNewUser"> 	
        
        <form class="form-horizontal" id="cargar_trabajo" action="" method="POST" role="form">
            <input type="hidden" name="envio01" value="1" />
            <input type="hidden" name="_csrf" value="<?=$this->_sess->get('_csrf')?>">
                
                <div class="">
                    <label for="super">Supermercado</label>
                    <div class="wpFormInput">
                    	<input type="text" id="super" name="super" placeholder="Supermercado" value="<?php echo admin::traerSuperPorID($this->_sess->get('_supermercado'))->nombre;?>" readonly>                            
                        
                     </div>  
                </div>
				
				<div class="">
                    <label for="super">Tipo de local</label>
                    <div class="wpFormInput select">                            
                         <select name="tipo_local" id="tipo_local">
                         <option value="">Seleccione...</option>
                         <?php foreach($this->tipo_locales as $tipo):?>
                         <option value="<?=$tipo->id?>"><?=$tipo->nombre?></option>
                         <?php endforeach?>
                         </select>
                     </div>  
                </div>

                <div class="">
              		<div class="wpFormInput">
              			<label for="nombre">Excluidos</label>                  	
                        <input type="checkbox" class="regular-checkbox"  id="excluidos" name="excluidos" value="si" <?php if(isset($this->data['excluidos']) && $this->data['excluidos'] =='si') echo 'checked=""'?>> 
                   	</div>
           		</div>
                
                <div class="">
                    <label for="super">Provincia</label>
                    <div class="wpFormInput select">                            
                         <select name="provincia" id="provincia">
                         <option value="">Seleccione...</option>
                         <?php foreach($this->provincias as $prov):?>
                         <option value="<?=$prov->id?>"><?=$prov->nombre?></option>
                         <?php endforeach?>
                         </select>
                     </div>  
                </div>
                <div class="">
              		<label for="nombre">Localidad</label>
                  	<div class="wpFormInput">
                        <input type="text" id="localidad" name="localidad" placeholder="Localidad" value="<?php if(isset($this->data['localidad'])) echo $this->data['localidad']?>">
                   	</div>
           		</div> 
                
                
                <div class="">
              		<label for="nombre">Nombre</label>
                  	<div class="wpFormInput">
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre" value="<?php if(isset($this->data['nombre'])) echo $this->data['nombre']?>">
                   	</div>
           		</div>   
           		<div class="">
                    <label for="desc">Dirección</label>
                    <div class="wpFormInput">
                    	<input type="text" id="direccion" name="direccion" placeholder="Dirección" value="<?php if(isset($this->data['direccion'])) echo $this->data['direccion']?>">
                    </div>
                </div>              	
                         
               <div class="">
                    <label for="codigo">ID</label><br>
                    <div class="col-lg-4">                            
                         <input class="form-control" id="codigo" maxlength="15" name="codigo" type="text" placeholder="ID"/>
                     </div> 
                      <div class="col-lg-2">                            
                         <a class="btn btn-warning" onclick="javascript:generar_id();" href="javascript:void(0);">
                        	Generar ID
                        </a>
                     </div>  
                     <div style="clear: both;"></div>
                </div>
               
	      	<div class="btnNewUser">
	            <input type="submit" class="btn" id="validatex" name="cargar" value="Cargar" />
	        </div>
	</form>
	</div>
    
</div>
