
<div id="head-bg-fix"></div>
<div class="wpContent"> 
      <div class="btn-group-usuario">
          <a class="active" href="#">
            Ver Totems
          </a>

          <?php if($this->_sess->get('level')==1):?>
          <a href="<?php echo $this->_conf['url_enlace']?>administrador/totems/cargar">
            Cargar Totem
          </a>
          <?php endif?> 
      </div> 
                    
                        
        
       
    <div class="titVerContent"> <h4>Totems</h4> </div>
      
    <div id="contenedor" class="listContenidos"> 
		<ul id="lista" class="list-group listar">
			<?php foreach($this->cod as $cod):?>
            <li id="elemento-<?php echo $cod->id?>" class="list-group-item">
                <p>
					<?php echo admin::convertirCaracteres($cod->nombre)?>
                	&nbsp;&nbsp;
                	<small>ID: <b><?=$cod->codigo?></b></small>
                </p>
                <span>
                                       
                    
                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/totems/verTotem/<?php echo $cod->id?>" target="_blank">
                       <img src="<?=$this->_conf['base_url']?>public/img/ico-monitor.png" alt="Ver Totem" style="width: 27px"/>
                    </a>

                    <?php if($this->_sess->get('level')==1):?>

                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/totems/editar/<?php echo $cod->id?>">
                          <img src="<?=$this->_conf['base_url']?>public/img/ico-pencil.png" alt="editar" style="width: 27px"/>
                    </a>
                    <a href="javascript:void(0);" class="_borrar_<?php echo $cod->id?>" title="Borrar">
                        <img src="<?=$this->_conf['base_url']?>public/img/ico-cruz.png" alt="eliminar"/>
                    </a> 

                    <?php endif?>    
                </span>
                <?php if($this->_sess->get('level')==1):?>
                
                <script>
                  $(document).ready(function () {
                        $('._borrar_<?php echo $cod->id?>').click(function () {
                            swal({
                                title: "Estas seguro de borrar este contenido?",
                                text: "Los datos se perderán permanentemente!",
                                type: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Si, que se borre!",
                                cancelButtonText: "No, mejor no!",
                                closeOnConfirm: false,
                                closeOnCancel: false },
                            function (isConfirm) {
                                if (isConfirm) {
                                    var url= _root_ + "administrador/totems/borrar";
                                    var dataString = '_id=<?=$cod->id?>&_csrf=<?=$this->_sess->get('_csrf')?>';
                                    $.ajax({
                                            type: "POST",
                                            url: url,
                                            data: dataString,
                                            success: function(data){
                                              if(data=='ok'){
                                                swal("Borrado!", "El contenido se borró con exito.", "success");
                                                setTimeout(function() {
                                                    location.reload();
                                                }, 200);
                                              }else{
                                                swal("Cancelado", "No se puede borrar porque el contenido esta en uso", "error");
                                              }
                                                
                                                
                                            }
                                    });
                                } else {
                                    swal("Cancelado", "El contenido esta guardado", "error");
                                }
                            });
                        });
                    });
                </script>
                
                <?php endif?>
            </li>
            
            <?php endforeach?>
        </ul>
    </div>
        <!-- <div class="btn-nuevo-contenido">
            <a class="btn btn-warning" href="<?php echo $this->_conf['url_enlace']?>administrador/totems/cargar">
                          Crear Totem
                        </a>
        </div> -->
</div>
<?php //echo $this->paginacion?>
<!--<div id="cargadorAbout" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <h2><strong>Guardando orden...</strong></h2>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>-->