<?php if(isset($this->_fondo)):?>
<body style="background: url(<?=$this->_fondo?>);">
<?php else:?>
<body style="background: url(<?=$_params['ruta_img']?>contenidos_default/<?=$this->super?>/fondos/wep6l6kuxewaz9p.jpg);">
<?php endif?>


<div id="inactive">
	<div class="copy">
		<video id="video" style="width: 100%;" muted="muted" autoplay="">
			<?php if(isset($this->_inact)):?>			
			<source src="<?=$this->_inact?>" type='video/mp4' />
			<?php else:?>
			<source src="<?=$_params['ruta_img']?>contenidos_default/<?=$this->super?>/inactivas/inac_5341050129/nit3n1h5bij6z4r.mp4" type='video/mp4' />
			<?php endif?>			
		</video>
	</div>
</div>

<div class="wpContent">
	
	<div class="wpCarousel">
		<div class="owl-carousel owl-theme">
			<?php if(isset($this->thumb) && !empty($this->thumb)):?>
			<?php for($i=0; $i < count($this->thumb); $i++):?>
			<div>
				<a class="boton" href="javascript:void(0);" rel="<?=$this->tipo_thumb[$i]?>">
					<img src="<?=$this->thumb[$i]?>"/>
				</a>
			</div>
			<?php endfor?>	 
			<?php endif?>	
		</div>
	</div>
	
	<div id="wpFlipping">
		<div class="flip-nav">
			<div id="prev" class="btnNavFlip">‹</div>
			<div id="next" class="btnNavFlip">›</div>
		</div>
		<div class="flipbook-viewport">
			<div class="container">
			
				<?php if(isset($this->_data_img) && !empty($this->_data_img)):?>
				<div class="flipbook">
				<?php foreach($this->_data_img as $img):?>
				<div style="background-image:url('<?=$img?>')"></div>
				<?php endforeach?>   
				</div>
				
				<?php elseif(isset($this->_data_vid) && !empty($this->_data_vid)):?>
				<video width="800" autoplay="">
					<source src="<?=$this->_data_vid[0]?>" type="video/mp4">	
				</video>
				
				<?php else:?>
				<div class="flipbook">
					<div style="background-image:url('<?=$_params['ruta_img']?>contenidos_default/<?=$this->super?>/catalogos/cat_2827483108/01.jpg')"></div>
				</div>
				<script>
				$(document).ready(function(e) {
					var oTurn = $('.flipbook').turn({
						display: 'single',						
						width:800,			
						height:1052,							
						elevation: 50,
						gradients: true,
						autoCenter: true,
						next: true,
						when: {
						    turned: function(event, page, pageObj) {
						      //return self.activate(event, page, pageObj);
						      if(page != 1){
						      	$('#prev').removeClass('disabled');
						      }else{
						      	$('#prev').addClass('disabled');
						      }
						    },
						    last: function() {
						      //return $("body").toggleClass("last");
						      console.log('TURNJS last')
						      	$('#next').addClass('disabled');
						    }
						}
					});
					$("#prev").click(function(e){
					    e.preventDefault();
					    oTurn.turn("previous");
					    $('#next').removeClass('disabled');
					});
					$("#next").click(function(e){
					    e.preventDefault();
					    oTurn.turn("next");
					});
				});
				</script>
				<?php endif?>
			
			</div>
		</div>
	</div>	
	
	<div class="flexslider">
		<ul class="slides">
			<?php if(isset($this->_footer)):?>
			<?php foreach($this->_footer as $footers):?>
			<li><img src="<?=$footers?>"/></li>
			<?php endforeach?>
			<?php else:?>
			<li><img src="<?=$_params['ruta_img']?>contenidos_default/<?=$this->super?>/footers/m9duj1v8hab3p6b.jpg"/></li>	
			<?php endif?>
		</ul>
	</div>
	
</div>

<script>
$(document).ready(function(e) {
	
	$('.flexslider').flexslider({
		animation: "fade",
		slideshow: true, 
		animationLoop: true,
		slideshowSpeed: 7000,
		animationSpeed: 600
	});
	
	
	
	<?php if(isset($this->_data_img) && !empty($this->_data_img)):?>
	var oTurn = $('.flipbook').turn({
		display: 'single',
		<?php if($this->_size[0]<$this->_size[1]):?>
		width:800,			
		height:1052,
		<?php elseif($this->_size[0]>$this->_size[1]):?>
		width:1052,			
		height:800,
		<?php else:?>
		width:800,			
		height:800,
		<?php endif?>		
		elevation: 50,
		gradients: true,
		autoCenter: true,
		next: true,
		when: {
		    turned: function(event, page, pageObj) {
		      //return self.activate(event, page, pageObj);
		      if(page != 1){
		      	$('#prev').removeClass('disabled');
		      }else{
		      	$('#prev').addClass('disabled');
		      }
		    },
		    last: function() {
		      //return $("body").toggleClass("last");
		      console.log('TURNJS last')
		      	$('#next').addClass('disabled');
		    }
		}
	});
	$("#prev").click(function(e){
	    e.preventDefault();
	    oTurn.turn("previous");
	    $('#next').removeClass('disabled');
	});
	$("#next").click(function(e){
	    e.preventDefault();
	    oTurn.turn("next");
	});
	<?php endif?>
});
$(window).on("load", function() { 
   
	$('.owl-carousel').children().each(function(index){
	  $(this).attr('data-position', index); // NB: .attr() instead of .data()
	});
	$('.owl-carousel').owlCarousel({
	    center: true,
	    items:5,
	    nav:true,
	    loop:true,
	    margin:20,
	    dots:false	    
	});
	
   <?php if(!isset($this->nada)):?>
	//carga catalogos
	$(document).on('click', '.boton', function(e) {
		//alert(e);
		//e.preventDefault();
		//$(this).addClass('activo');
		

		var _root_ = '<?= $this->_conf['base_url']?>';
		var _totem = <?=$this->totem?>;
		// console.log(_array);
		var rel = $(this).attr('rel');
		
		if(rel != 'cat_2827483108'){
			$('.owl-carousel').trigger('to.owl.carousel', $(this).parent().data('position'));
			//alert(rel);
			$.ajax({
				type: 'POST',
				cache: false,
				//async: false,
				dataType: "json",
				url: _root_+"administrador/totems/traerContenido",
				data: {"valor":'cargar_catalogo',"totem":_totem,"id":rel,"_csrf":'<?=$this->_sess->get('_csrf')?>'},
				beforeSend: function(){
					$('.flipbook-viewport .container').html('');
					$('.flip-nav').html('');
					$('.flipbook-viewport').hide();
				},
				error: function(data, textStatus){
					console.log( "error: " +  textStatus);
				},
				success: function(data){

					if(data.error!=''){
		              $('.flipbook-viewport .container').html('').append('<h4 style="text-align:center;">'+data.error+'</h4>');
		            
		            }else{
						$('.flipbook-viewport .container').html(data.catalogo);
						$('.flipbook-viewport').delay(500).fadeIn('slow');				
						
						if(data.tipo=='cat'){
							// $('body').css('overflow','auto');
							$('.flip-nav').html('<div id="prev" class="btnNavFlip">‹</div><div id="next" class="btnNavFlip">›</div>');
							if(data.orientacion =='vertical'){
								var oTurn =$('.flipbook').turn({
									display: 'single',							
									width:800,			
									height:1052,
									elevation: 50,
									gradients: true,
									autoCenter: true,
									next: true,
									when: {
									    turned: function(event, page, pageObj) {
									      //return self.activate(event, page, pageObj);
									      if(page != 1){
									      	$('#prev').removeClass('disabled');
									      }else{
									      	$('#prev').addClass('disabled');
									      }
									    },
									    last: function() {
									      //return $("body").toggleClass("last");
									      console.log('TURNJS last')
									      	$('#next').addClass('disabled');
									    }
									}
								});
							}else if(data.orientacion =='horizontal'){
								var oTurn =$('.flipbook').turn({
									display: 'single',
									width:1052,			
									height:800,							
									elevation: 50,
									gradients: true,
									autoCenter: true,
									next: true,
									when: {
									    turned: function(event, page, pageObj) {
									      //return self.activate(event, page, pageObj);
									      if(page != 1){
									      	$('#prev').removeClass('disabled');
									      }else{
									      	$('#prev').addClass('disabled');
									      }
									    },
									    last: function() {
									      //return $("body").toggleClass("last");
									      console.log('TURNJS last')
									      	$('#next').addClass('disabled');
									    }
									}
								});
							}else{
								var oTurn =$('.flipbook').turn({
									display: 'single',
									width:800,			
									height:800,
									elevation: 50,
									gradients: true,
									autoCenter: true,
									next: true,
									when: {
									    turned: function(event, page, pageObj) {
									      //return self.activate(event, page, pageObj);
									      if(page != 1){
									      	$('#prev').removeClass('disabled');
									      }else{
									      	$('#prev').addClass('disabled');
									      }
									    },
									    last: function() {
									      //return $("body").toggleClass("last");
									      console.log('TURNJS last')
									      	$('#next').addClass('disabled');
									    }
									}
								});
							}
							$("#prev").click(function(e){
							    e.preventDefault();
							    oTurn.turn("previous");
							    $('#next').removeClass('disabled');
							});
							$("#next").click(function(e){
							    e.preventDefault();
							    oTurn.turn("next");
							});
						}else{
							setTimeout(function(){ $('.flipbook-viewport .container video')[0].play(); }, 1000);
							// $('body').css('overflow','hidden');
							//window.clearTimeout(timeoutID);
						}
					}
					
					
					
				}
			});
		}
		
	})
	<?php endif?>
});
</script>

</body>


