<div class="row">
  	<div class="col-lg-12 contenido">
        <div class="panel">
          	<div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                    	<h3>Catálogos de Baja</h3>
                        <!--<small><em>(Arrastrar los items para ordenarlos)</em></small>-->
                   	</div>
                   
             	</div>
          	</div>
        </div>
        
        <div class="panel">
          	<div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <input class="form-control" id="buscador" name="buscador" placeholder="Buscar..." type="text" />
                        </div>
                        <div class="col-lg-1">
                            <input type="hidden" id="estado" name="estado" value="baja" />
                            <input type="button" class="btn btn-primary" id="btBuscador" name="buscar" value="Buscar" />
                        </div>
                    </div>
                    <!--<div class="col-lg-2">
                    	<div class="btn-group"  style="margin-top:16px;">
                        <a class="btn btn-warning dropdown-toggle" href="<?php echo $this->_conf['url_enlace']?>administrador/catalogos/cargar">
                        	Cargar Catálogo
                        </a>
                        </div>
                    </div>-->
                    
             	</div>
          	</div>
        </div>
        
       <div id="contenedor"> 
		<ul id="lista" class="list-group listar">
        
			<?php foreach($this->catalogos as $catalogos):?>
            
            <li id="elemento-<?php echo $catalogos->id?>" class="list-group-item">
                <p>
					<?php echo admin::convertirCaracteres($catalogos->titulo)?> 
                </p>
                <span class="flotar_derecha" style="margin-right:15px">

                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/catalogos/cambiarEstado/<?php echo $catalogos->id?>/alta" class="btn btn-info btn-sm">
                       Activar
                    </a> 
                    
                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/catalogos/ver/<?php echo $catalogos->id?>" class="btn btn-primary btn-sm">
                       ver
                    </a>
                    
                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/catalogos/editar/<?php echo $catalogos->id?>" class="btn btn-success btn-sm">
                       editar
                    </a>
                   
                    <a href="<?php echo $this->_conf['url_enlace']?>administrador/catalogos/borrar/<?php echo $catalogos->id?>" class="btn btn-danger btn-sm">
                       borrar
                    </a>                    
                     
                </span>
            </li>
            
            <?php endforeach?>
        </ul>
         </div>
        <div class="loader"></div>         
        
    </div>

</div>
<?php //echo $this->paginacion?>

<script>
$(document).ready(function() {

	
	$("#btBuscador").click(function(){	
	
	
		if ($("#buscador").val() == "") {
			return false;        
		}	
		
		var valor = $("#buscador").val();
		var estado = $("#estado").val();
		
		var dataString = 'valor='+valor+'&estado='+estado;
		$.ajax({           	
            type: 'POST',
            url: _root_+"administrador/catalogos/buscador", 
			data: dataString,
            beforeSend: function(){
				//$('.pagination').hide();
				$('#contenedor').fadeOut('fast', function(){
					$('.loader').fadeIn('fast');				
				});
            },
            success: function(data){
				$('#contenedor').html(data);
				//$('.pagination').hide();
				$('.loader').fadeOut('fast', function(){
					$('#contenedor').fadeIn('fast');	
					$('.loader').fadeOut('fast');			
				});
				
            },
            error: function(){
                 alert('error!!');
            }
        });
		
		
	})
});	
</script>